@model CmsWeb.Models.OrgChildrenModel
@using UtilityExtensions
@foreach(var o in Model.FetchOrgList())
{ 
	<tr @(o.isOther? "style=background-color:#fcc" : o.isParent? "style=background-color:#ccf" : "")>
		<td>
@if (o.isChecked)
{
            <input type="checkbox" oid="@o.Id" checked="checked" class="orgcheck" />
}
else if (o.isOther)
{
            <input type="checkbox" oid="@o.Id" checked="checked" disabled="disabled" />
}
else
{
            <input type="checkbox" oid="@o.Id" class="orgcheck" />
}
        </td>
		<td class="tip" title="@o.ToolTip">
@if (o.isOther)
{
            <a href="/OrgChildren/Index/@o.ParentId">@o.Name</a>
}
else
{
            <a href="/OrgChildren/Index/@o.Id">@o.Name</a>
}
        </td>
        <td>@o.Leader</td>
        <td>@o.Location</td>
	</tr>
}
