@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.AddressInfo
<div class="tab-pane@(Model.Preferred ? " active" : "")" id="tab-@Model.Name">
    <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-map-marker"></i>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="http://www.google.com/maps?q=@Model.MapAddrCityStateZip()" target="_blank">Google Map</a></li>
            <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@Model.MapAddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
            <li><a href="http://www.bing.com/maps/?q=@Model.MapAddrCityStateZip()" target="_blank">Bing Map</a></li>
            <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@Model.MapAddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
        </ul>
    </div>
    <p>
        <a href="/Person2/AddressEdit/@Model.Name/@Model.PeopleId" class="editaddr editable-click">@Model.Address1 <i class="icon-pencil pull-right"></i>
            <br />
            @if (Model.Address2.HasValue())
            {
                @Model.Address2<br />
            }
            @Model.CityStateZip()</a>
    </p>
    <p>
        <i class="icon-phone"></i>@Model.person.HomePhone.FmtFone("H ")<br />
        <i class="icon-phone"></i>@Model.person.CellPhone.FmtFone("C ")
    </p>
</div>
