@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.AddressInfo
@if (Model.Name == "PrimaryAddr")
{
    @Model.Address1<br/>
    if (Model.Address2.HasValue())
    {
        @Model.Address2<br/>
    }
    @Model.CityStateZip()
}
else
{
    <span class="street">@Model.Address1</span>
    if (Model.Address2.HasValue())
    {
        <span class="street">@Model.Address2</span>
    }
    <span class="city">@Model.CityStateZip()</span>
}
