@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
@FormAction()
<div class="row-fluid">
    <fieldset class="span12 display">
        @Html.DisplayFor(m => m.Title)
        @Html.DisplayFor(m => m.First)
        @Html.DisplayFor(m => m.NickName)
        @Html.DisplayFor(m => m.Middle)
        @Html.DisplayFor(m => m.Last)
        @Html.DisplayFor(m => m.AltName)
        @Html.DisplayFor(m => m.Maiden)
        @Html.DisplayFor(m => m.Suffix)
        @Html.DisplayFor(m => m.Gender)
        @Html.DisplayFor(m => m.Birthday)
        @Html.DisplayFor(m => m.MaritalStatus)
        @Html.DisplayFor(m => m.WeddingDate)
        @Html.DisplayFor(m => m.Occupation)
        @Html.DisplayFor(m => m.Employer)
        @Html.DisplayFor(m => m.School)
        @Html.DisplayFor(m => m.Grade)
    </fieldset>
</div>
<div class="row-fluid">
    <fieldset class="span12 display">
        @if (Model.DoNotContactAny)
        {
            @Html.DisplayFor(m => m.DoNotContactBy)
        }
        @Html.DisplayFor(m => m.Email1)
        @Html.DisplayFor(m => m.CellPhone)
        @Html.DisplayFor(m => m.Email2)
        @Html.DisplayFor(m => m.WorkPhone)
    </fieldset>
</div>
@FormAction()

@helper FormAction()
{
    <div class="form-actions">
        @Html.ActionLink("Edit", "BasicEdit", "Person", Model.RouteVals, Model.Classes("btn btn-neutral pull-right displayedit"))
    </div>
}