@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
<div class="submit-row">
    <button class="btn btn-neutral">Edit</button>
</div>
@*  
ViewData.ModelMetadata.AdditionalValues["Tooltip"]
*@
<fieldset class="display">
    <div class="control-group">
        <label for="">Title</label>
        <div class="controls">
            <p>@Model.Title</p>
        </div>
    </div>
    @Html.DisplayFor(m => m.First)
    @Html.DisplayFor(m => m.NickName)
    @Html.DisplayFor(m => m.Middle)
    <div class="control-group half">
        <label for="">Last Name</label>
        <div class="controls">
            <p>@Model.Last</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Alt Name</label>
        <div class="controls">
            <p>@Model.AltName</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Former</label>
        <div class="controls">
            <p>@Model.Maiden</p>
        </div>
    </div>
    @Html.DisplayFor(m => m.Suffix)
    <div class="control-group half">
        <label for="">Gender</label>
        <div class="controls">
            <p>@Model.Gender</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Birthdate</label>
        <div class="controls">
            <p>@Model.Birthday</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Marital Status</label>
        <div class="controls">
            <p>@Model.MaritalStatus</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Wedding Date</label>
        <div class="controls">
            <p>@Model.WeddingDate.FormatDate()</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Occupation</label>
        <div class="controls">
            <p>@Model.Occupation</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Employer</label>
        <div class="controls">
            <p>@Model.Employer</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">School</label>
        <div class="controls">
            <p>@Model.School</p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Grade</label>
        <div class="controls">@Model.Grade</div>
    </div>
</fieldset>
<fieldset class="display">
    <div class="control-group em">
        <label for="" class="lg">
            @if (Model.DoNotContactAny)
            {
                @:Do Not Contact
                        }
        </label>
        <div class="controls">
            <p>
                @string.Join(", ", Model.DoNotContactBy)
            </p>
        </div>
    </div>
    <div class="control-group half halfsy">
        <label for="">Primary Email</label>
        <div class="controls">
            <p>
                @Model.EmailAddress
                @if (Model.SendEmailAddress1)
                {
                    <i class="icon-check"></i>
                }
                else
                {
                    <i class="icon-check-empty"></i>
                }
            </p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Mobile</label>
        <div class="controls">
            <p>
                @Model.CellPhone.FmtFone()
            </p>
        </div>
    </div>
    <div class="control-group half halfsy">
        <label for="">Alt Email</label>
        <div class="controls">
            <p>
                @Model.EmailAddress2
                @if (Model.SendEmailAddress2)
                {
                    <i class="icon-check"></i>
                }
                else
                {
                    <i class="icon-check-empty"></i>
                }
            </p>
        </div>
    </div>
    <div class="control-group half">
        <label for="">Work</label>
        <div class="controls">
            <p>
                @Model.WorkPhone.FmtFone()
            </p>
        </div>
    </div>
</fieldset>
<div class="submit-row">
    <button class="btn btn-neutral">Edit</button>
</div>
