@using CmsData
@model CmsWeb.Code.CodeInfo
@if (User.IsInRole("Edit"))
{
    <span id="@Model.ListName" class="edit-inline-label label label-info" data-value="@Model.Value" data-pk="@Util2.CurrentPeopleId" title="Campus">@Model</span>
}
else
{
    <span class="label label-info" title="Campus">@Model</span>
}