@model CmsWeb.Models.ApiTestInfo
@using CmsWeb
@using UtilityExtensions
<form action="/APITest/Test" class="iform">
<ul>
    <li class="iheader">@Model.name</li>
    @if(Model.description.Value.HasValue())
    {
    <li>@Html.Raw(Model.description.Value)</li>
    }
@{ var i = 0; }
@foreach(var m in Model.args)
{
    <li><label>@m</label>
        <input type="hidden" name="args[@i].Key" value="@m" />
        <input type="text" name="args[@i].Value" class="itext" autocomplete="off" />
    </li>
    i++;
}
    <li><label>script</label>
<textarea class="itextarea" spellcheck="false" name="script" rows="@Model.LineCount">
@Model.script.Value.TrimEnd()</textarea>
    </li>
    <li><label><p><button class="ibutton" name="test">Test</button></p>
               <p><button class="ibutton" name="clear">Clear</button></p></label>
        <div class="xml"><pre></pre></div>
    </li>
</ul>
</form>
<div class="clear"></div>