@using UtilityExtensions
@using CmsData
@model CmsData.Organization
    @{var isedit = User.IsInRole("Edit");}
    @foreach (var c in Model.OrganizationExtras.OrderBy(pp => pp.Field))
    {
    <tr>
        <td>@c.Field</td>
        @if (isedit)
        {
        <td><span id="s-@c.Field.@c.OrganizationId" class="@(c.DataType == "text" ? "editarea" : "editline")">@c.Data</span></td>
        <td><a href="#" class="deleteextra" field="@c.Field"><img src="/images/delete.gif" /></a></td>
        }
        else
        {
        <td>@c.Data</td>
        <td></td>
        }
    </tr>
    }
