@using CmsWeb
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Organization";
}
@section head {
@Html.Raw(SquishIt.Framework.Bundle.Css()
            .Add("/Content/jquery.multiSelect.css")
            .Add("/Content/jquery-ui-timepicker.css")
            .Add("/Content/organization.css")
    .Render("/Content/Organization_#.css")
    )
}
@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
                .Add("/Scripts/Pager.js")
                .Add("/Content/js/jquery.multiSelect.js")
                .Add("/Content/js/jquery.validate.js")
                .Add("/Content/js/jquery.ui.timepicker.js")
                .Add("/Content/js/jquery.textarea.js")
                .Add("/Content/js/jquery-ui-dialog-patch.js")
                .Add("/Content/js/jquery.jeditable.js")
                .Add("/Scripts/Organization.js")
                .Add("/Scripts/RegSetting.js")
    .Render("/Content/Organization_#.js")
    )
    @{ CmsData.Organization o = Model.org; }
    @Html.Hidden("refreshed", "no")
    @Html.Hidden("OrganizationId")
<div class="roundbox floatleft">
<form id="orginfoform" action="/Organization/OrgInfoUpdate/@Model.OrganizationId" class="DisplayEdit" method="post">
    @Html.Partial("OrgInfo", Model) 
</form>
</div>
<div id="buttondiv" class="dropdown" style="margin-top:2em;margin-left: 2em;float:left;font-size:1.2em;">
<div><a href="#">Other Management</a></div>
<div class="sublinks">
@if (User.IsInRole("ManageGroups"))
{ 
    <a href="/OrgGroups/Index/@Model.OrganizationId">Group Member Management</a>
} 
    <a id="RecentAttendRpt" href="/Reports/PastAttendee/@o.OrganizationId" target="_blank">Recent Attendance Report</a>
    <a id="AttendanceRpt" href="/Reports/Attendance/@o.OrganizationId">Attendance Percentages</a>
    <a href="/OrgContent/Index/@o.OrganizationId" target="_blank">Members Only Page</a>
    <a id="VolunteerCalendar" href="/Volunteers/Calendar/@o.OrganizationId">Volunteer Calendar</a>
    <a href="/RegSetting/Index/@o.OrganizationId">View Registration Document</a>
    <a href="/OnlineReg/Index/@o.OrganizationId" target="_blank">Try Registration</a>
    <a href="/Organization/VoteTag/@o.OrganizationId" target="_blank">View VoteTags</a>
@if (User.IsInRole("Edit"))
{ 
    <a class="CreateAndGo" href="/Organization/Clone/@o.OrganizationId" confirm="This will make a copy of the org. Are you sure?"> Copy this Organization</a>
}
@if (User.IsInRole("Admin"))
{ 
    <a href="/OrgChildren/Index/@Model.OrganizationId">Child Organization Management</a>
    <a href="/Organization/CopySettings/@o.OrganizationId">Copy Settings</a>
    <a id="deleteorg" href="/Organization/Delete/@o.OrganizationId">Delete Organization</a>
} 
@if (User.IsInRole("Developer"))
{ 
    <a href="/Organization/RepairTransactions/@o.OrganizationId">Repair Transactions</a>
}
</div>
<div style="border-bottom: 4px solid #ddd"></div>
</div>
<div class="floatclear"></div>
    <div id="main-tab" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li><a href="#Members-tab"><span>Members</span></a></li>
            <li><a id="inactive-link" href="#Inactive-tab"><span>Inactive</span></a></li>
            <li><a id="pending-link" href="#Pending-tab"><span>Pending</span></a></li>
            <li><a id="priors-link" href="#Priors-tab"><span>Previous</span></a></li>
            <li><a id="visitors-link" href="#Visitors-tab"><span>Visitors</span></a></li>
            <li><a href="#Settings-tab"><span>Settings</span></a></li>
            <li><a id="meetings-link" href="#Meetings-tab"><span>Meetings</span></a></li>
        </ul>
        <div id="Members-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/CurrMemberGrid/@Model.OrganizationId" method="post">
             @Html.Partial("CurrMemberGrid", Model.MemberModel) 
            </form>
        </div>
        <div id="Inactive-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/InactiveMemberGrid/@Model.OrganizationId" method="post">
            </form>
        </div>
        <div id="Pending-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/PendingMemberGrid/@Model.OrganizationId" method="post">
            </form>
        </div>
        <div id="Priors-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/PrevMemberGrid/@Model.OrganizationId" method="post">
            </form>
        </div>
        <div id="Visitors-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/VisitorGrid/@Model.OrganizationId" method="post">
            </form>
        </div>
        <div id="Settings-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#SettingsOrg"><span>General</span></a></li>
                <li><a href="#SettingsMeetings"><span>Attendance</span></a></li>
                <li><a href="#OnlineRegAdmin"><span>Registration</span></a></li>
                <li><a id="tabfees" href="#OnlineRegFees"><span>Fees</span></a></li>
                <li><a id="tabquestions" href="#OnlineRegQuestions"><span>Questions</span></a></li>
                <li><a href="#OnlineRegMessages"><span>Messages</span></a></li>
                <li><a href="#ExtraValues"><span>Extra Values</span></a></li>
            </ul>
            <div id="SettingsOrg" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                 @Html.Partial("SettingsOrg", Model) 
                </form>
            </div>
            <div id="SettingsMeetings" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                 @Html.Partial("SettingsMeetings", Model) 
                </form>
            </div>
            <div id="OnlineRegAdmin" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegAdmin", Model.RegSettings)
                </form>
            </div>
            <div id="OnlineRegFees" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegFees", Model.RegSettings) 
                </form>
            </div>
            <div id="OnlineRegQuestions" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                 @Html.Partial("OnlineRegQuestions", Model.RegSettings) 
                </form>
            </div>
            <div id="OnlineRegMessages" class="ui-tabs-hide ui-tabs-panel settings">
                <p><i>Hover over the labels to get help</i></p>
                <form class="DisplayEdit" action="">
                 @Html.Partial("OnlineRegMessages", Model.RegSettings) 
                </form>
            </div>
            <div id="ExtraValues" class="ui-tabs-hide ui-tabs-panel settings">
                <table id="extras" class="grid">
                <thead>
                    <tr><td>Field</td><td>Value</td>
                        <td>
                        @if (User.IsInRole("Edit"))
                        {
                        <a id="newextravalue" href="#"><img src="/images/plus1.png" /></a>
                        }
                        </td>
                    </tr>
                </thead>
                <tbody>
                @Html.Partial("ExtrasGrid", Model.org)
                </tbody>
                </table>
            </div>
        </div>
        <div id="Meetings-tab" class="ui-tabs-panel ui-tabs-hide">
            <form action="/Organization/MeetingGrid/@Model.OrganizationId" method="post">
            @Html.Hidden("future", false)
            </form>
        </div>
</div>
    <div id="NewMeetingDialog" class="roundbox" style="display:none">
    <table>
        <tr>
            <th colspan="2">
                <h2>Choose a Schedule</h2>
            </th>
        </tr>
        <tr>
            <th>Schedule:</th>
            <td>@Html.DropDownList("ScheduleList", Model.Schedules())</td>
        </tr>
        <tr>
            <th colspan="2">
                <h2>Or Please select a meeting date and time</h2>
            </th>
        </tr>
        <tr>
            <th>Meeting Date:</th>
            <td>@Html.DatePicker("NewMeetingDate")</td>
        </tr>
        <tr>
            <th>Meeting Time:</th>
            <td>@Html.TextBox("NewMeetingTime", Model.NewMeetingTime, new { title = "Time in Format hh:mm am or pm" })</td>
        </tr>
        <tr>
            <th>Attend Credit:</th>
            <td>@Html.DropDownList("AttendCreditList", Model.AttendCreditList())</td>
        </tr>
        <tr>
            <th id="grouplabel"></th>
            <td>@Html.CheckBox("group")</td>
        </tr>
        <tr>
            <th>Use Alt Names</th>
            <td>@Html.CheckBox("altnames")</td>
        </tr>
    </table>
    </div>
    <div id="AddFromTag" class="modalDiv" style="display:none">
        @Html.DropDownList("addfromtagid", Model.Tags())
    </div>
    <div id="memberDialog">
    <iframe id="memberDialogiframe" style="width:100%;height:99%;border-width:0;"></iframe>
    </div>
    <div id="FilterGroups" class="modalDiv" style="display:none;">
        <form action="">
        <h3>Name Filter</h3>
        <div>First and last name or just last name. You can put just the first few letters of each.</div>
        <input name="namefilter" type="text" />
        <h3>Small Group Filter</h3>
        <div>Select multiple items by holding down the control key (individual) or shift key (range) while you click. Select (not specified) to cancel the filter.</div>
        <select id="smallgrouplist" name="smallgrouplist" multiple="multiple" size="10">
@foreach (var s in Model.MemberModel.SmallGroups())
{ 
            <option @(s.Selected ? "selected='selected'" : "") value="@s.Value">@s.Text</option>
}
        </select>
        </form>
    </div>
<div id="usersDialog">
<iframe style="width:100%;height:99%;border-width:0;"></iframe>
</div>
<div id="divisionsDialog">
<iframe style="width:100%;height:99%;border-width:0;"></iframe>
</div>
<div id="orgsDialog">
<iframe style="width:100%;height:99%;border-width:0;"></iframe>
</div>
<div id="EditorDialog" style="display:none">
    @Html.TextArea("editor", "", new { style="display:none", @class = "editor", rows="16", cols="20" })
</div>
<table id="newvalueform" class="grid roundbox" style="display:none">
<tr><td colspan="2"><h2>New Extra Value</h2></td></tr>
<tr><td>MultiLine:</td><td>@Html.CheckBox("multiline")</td></tr>
<tr><td>Field:</td><td>@Html.TextBox("fieldname")</td></tr>
<tr><td>Value:</td><td>@Html.TextBox("fieldvalue")</td></tr>
</table>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>