@using CmsData.Codes
@using CmsWeb
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Organization";
}
@section head
{
    <link rel="stylesheet" href="@Fingerprint.Tag("/Content/styles/organization.css")"/>
}
@section scripts
{
    @Helper.IncludeOrgJs()
}
@{ CmsData.Organization o = Model.org; }
@Html.Hidden("refreshed", "no")
@Html.Hidden("OrganizationId")
<div class="roundbox floatleft">
    <form id="orginfoform" action="/Organization/OrgInfoUpdate/@Model.OrganizationId" class="DisplayEdit" method="post">
        @Html.Partial("OrgInfo", Model)
    </form>
</div>
<div class="floatleft">
    <div id="buttondiv" class="extrabar" style="margin-top: 2em; margin-left: 2em; font-size: 1.2em;">
        <a href="#" class="trigger-dropdown">Other Management
            <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu">
            <ul>
                @if (User.IsInRole("ManageGroups"))
                { 
                    <li><a href="/OrgGroups/Index/@Model.OrganizationId">Group Member Management
                    </a></li>
                }
                <li><a id="RecentAbsents" href="/Reports/RecentAbsents/@o.OrganizationId" target="_blank">Recent Absents Report
                </a></li>
                <li><a id="RecentAttendRpt" href="/Reports/PastAttendee/@o.OrganizationId" target="_blank">Recent Attendance Report
                </a></li>
                <li><a id="AttendanceRpt" href="/Reports/Attendance/@o.OrganizationId">Attendance Percentages
                </a></li>
                <li><a href="/OrgContent/Index/@o.OrganizationId" target="_blank">Members Only Page
                </a></li>
                <li class="hideAlt"><a href="/RegSetting/Index/@o.OrganizationId">View Registration Document
                </a></li>
                <li><a id="tryreg" href="#">Try Registration</a> </li>
                @if (Model.IsVolunteerLeader && o.RegistrationTypeId == RegistrationTypeCode.ChooseVolunteerTimes)
                {
                    <li><a id="VolunteerCalendar" href="/Volunteers/Calendar/@o.OrganizationId" target="calendar">Volunteer Calendar
                    </a></li>
                }
                @if (User.IsInRole("Edit"))
                {
                    <li><a href="/Organization/CopySettings/@o.OrganizationId">Copy Settings
                    </a></li>
                    if (o.RegistrationTypeId == RegistrationTypeCode.ChooseVolunteerTimes)
                    {
                    <li><a id="sendreminders" href="/Organization/Reminders/@o.OrganizationId">Send Volunteer Reminders
                    </a></li>
                    }
                    else
                    {
                    <li><a id="sendreminders" href="/Organization/Reminders/@o.OrganizationId?emailall=true">Send Event Reminders
                    </a></li>
                    }
                    <li><a href="/OrgChildren/Index/@Model.OrganizationId">Child Organization Management
                    </a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li><a id="deleteorg" href="/Organization/Delete/@o.OrganizationId">Delete Organization
                    </a></li>
                    <li class="hideAlt"><a href="/RepairTransactions/Index/@o.OrganizationId" id="RepairTransactions">Repair Transactions
                    </a></li>
                }
                @if (User.IsInRole("ministrEspace"))
                {
                    <li><a id="addMESEvent" href="#" orgid="@Model.OrganizationId">Add ministrEspace Event</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="floatclear">
</div>
<div id="main-tab" style="display: none">
    <ul class="ui-tabs-nav">
        <li><a href="#Members-tab"><span>Members</span></a></li>
        <li><a id="inactive-link" href="#Inactive-tab"><span>Inactive</span></a></li>
        <li><a id="pending-link" href="#Pending-tab"><span>Pending</span></a></li>
        <li><a id="priors-link" href="#Priors-tab"><span>Previous</span></a></li>
        <li><a id="visitors-link" href="#Visitors-tab"><span>Guests</span></a></li>
        <li><a href="#Settings-tab"><span>Settings</span></a></li>
        <li><a id="meetings-link" href="#Meetings-tab"><span>Meetings</span></a></li>
    </ul>
    <div id="Members-tab">
        <form action="/Organization/CurrMemberGrid/@Model.OrganizationId" method="post">
            @Html.Partial("CurrMemberGrid", Model.MemberModel)
        </form>
    </div>
    <div id="Inactive-tab">
        <form action="/Organization/InactiveMemberGrid/@Model.OrganizationId" method="post">
        </form>
    </div>
    <div id="Pending-tab">
        <form action="/Organization/PendingMemberGrid/@Model.OrganizationId" method="post">
        </form>
    </div>
    <div id="Priors-tab">
        <form action="/Organization/PrevMemberGrid/@Model.OrganizationId" method="post">
        </form>
    </div>
    <div id="Visitors-tab">
        <form action="/Organization/VisitorGrid/@Model.OrganizationId" method="post">
        </form>
    </div>
    <div id="Meetings-tab">
        <form action="/Organization/MeetingGrid/@Model.OrganizationId" method="post">
            @Html.Hidden("future", false)
        </form>
    </div>
    <div id="Settings-tab" style="display: none">
        <ul>
            <li><a href="#SettingsOrg"><span>General</span></a></li>
            <li><a href="#SettingsMeetings"><span>Attendance</span></a></li>
            <li><a href="#OnlineRegAdmin"><span>Registration</span></a></li>
            <li><a href="#OnlineRegFees"><span>Fees</span></a></li>
            <li><a href="#OnlineRegQuestions"><span>Questions</span></a></li>
            <li><a href="#OnlineRegMessages"><span>Messages</span></a></li>
            <li><a href="#ExtraValues"><span>Extra Values</span></a></li>
        </ul>
        <div id="SettingsOrg" class="settings">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("SettingsOrg", Model)
            </form>
        </div>
        <div id="SettingsMeetings" class="settings">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("SettingsMeetings", Model)
            </form>
        </div>
        <div id="OnlineRegAdmin" class="settings">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegAdmin", Model.RegSettings)
            </form>
        </div>
        <div id="OnlineRegFees" class="settings">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegFees", Model.RegSettings)
            </form>
        </div>
        <div id="OnlineRegQuestions" class="settings">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegQuestions", Model.RegSettings)
            </form>
        </div>
        <div id="OnlineRegMessages" class="settings no0">
            <p>
                <i>Hover over the labels to get help</i>
            </p>
            <form class="DisplayEdit" action="">
                @Html.Partial("OnlineRegMessages", Model.RegSettings)
            </form>
        </div>
        <div id="ExtraValues" class="settings">
            <table id="extras" class="grid">
                <thead>
                    <tr>
                        <td>Field
                        </td>
                        <td>Value
                        </td>
                        <td>
                            @if (User.IsInRole("Edit"))
                            {
                                <a id="newextravalue" href="#">
                                    <img src="/images/plus1.png" /></a>
                            }
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("ExtrasGrid", Model.org)
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialogHolder"></div>
@section PopupsPlaceholder
{
    <div id="NewMeetingDialog" class="roundbox" style="display: none">
        <table>
            <tr>
                <th colspan="2">
                    <h2>Choose a Schedule</h2>
                </th>
            </tr>
            <tr>
                <th>Schedule:
                </th>
                <td>@Html.DropDownList("ScheduleList", Model.Schedules())
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <h2>Or Please select a meeting date and time</h2>
                </th>
            </tr>
            <tr>
                <th>Meeting Date:
                </th>
                <td>@Html.DatePicker("NewMeetingDate")
                </td>
            </tr>
            <tr>
                <th>Meeting Time:
                </th>
                <td>@Html.TextBox("NewMeetingTime", Model.NewMeetingTime, new { title = "Time in Format hh:mm am or pm", @class = "timepicker" })
                </td>
            </tr>
            <tr>
                <th>Attend Credit:
                </th>
                <td>@Html.DropDownList("AttendCreditList", Model.AttendCreditList())
                </td>
            </tr>
            <tr>
                <th id="grouplabel"></th>
                <td>@Html.CheckBox("group")
                </td>
            </tr>
            <tr>
                <th>Use Alt Names
                </th>
                <td>@Html.CheckBox("altnames")
                </td>
            </tr>
        </table>
    </div>
    <div id="TryRegDialog" class="roundbox" style="display: none">
        <table>
            <tr>
                <td>
                    <h2>Try Registration</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Copy the following URL for the public registration link.
					If you want to see exactly what the user sees,
					You should use the link below in a different browser.
                    Or log out first, then use the link.
                    </p>
                    <blockquote>
                        <a href="/OnlineReg/Index/@o.OrganizationId" target="blank">@UtilityExtensions.Util.ServerLink("/OnlineReg/Index/" + o.OrganizationId)</a>
                    </blockquote>
                </td>
            </tr>
        </table>
    </div>
    <div id="memberDialog">
        <iframe id="memberDialogiframe" style="width: 100%; height: 99%; border-width: 0;"></iframe>
    </div>
    <div id="FilterGroups" class="modalDiv" style="display: none;">
        <form action="">
            <div>
                <b>Name Filter</b>
            </div>
            <div>
                First and last name or just last name. You can put just the first few letters of
            each. <i class="blue">(the name filter does not work with green toolbar functions)</i>
            </div>
            <input id="namefilter" name="namefilter" type="text" />
            <hr />
            <div>
                <b>Small Group Prefix</b>
            </div>
            <div>
                Match on the first few letters of a small group. Lead with - to eliminate. Comma separate for more.
            </div>
            <input id="sgprefix" name="sgprefix" type="text" />
            <hr />
            <div>
                <b>Small Group Filter</b>
            </div>
            <div>
                <label>@Html.RadioButton("selectmode", "0") Match Any</label>
                <label>@Html.RadioButton("selectmode", "1") Match All</label></div>
            <div>
                Select multiple items by holding down the control key (individual) or shift key
            (range) while you click. Select (not specified) to cancel the filter.
            </div>
            <select id="smallgrouplist" name="smallgrouplist" multiple="multiple" size="10">
                @foreach (var s in Model.MemberModel.SmallGroups())
                { 
                    <option @(s.Selected ? "selected='selected'" : "") value="@s.Value">@s.Text</option>
                }
            </select>
        </form>
    </div>
    <div id="AddFromTag">
        <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
    </div>
    <div id="LongRunOp">
        <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
    </div>
    <div id="divisionsDialog">
@*        <iframe id="searchdivisions" style="width: 100%; height: 99%; border-width: 0;"></iframe>*@
    </div>
    <div id="orgsDialog">
        <iframe style="width: 100%; height: 99%; border-width: 0;"></iframe>
    </div>
    <div id="EditorDialog" style="display: none; position: absolute; z-index: 1005">
        @Html.TextArea("editor", "", new { style ="height=450px;", @class = "editor", rows = "16", cols = "20" })
        <div style="text-align: right">
            <a id="canceledit" href="#" class="bt">Cancel</a>
            <a id="saveedit" href="#" class="bt blue">Save</a>
        </div>
    </div>
    <table id="newvalueform" class="grid roundbox" style="display: none">
        <tr>
            <td colspan="2">
                <h2>New Extra Value</h2>
            </td>
        </tr>
        <tr>
            <td>MultiLine: </td>
            <td>@Html.CheckBox("multiline") </td>
        </tr>
        <tr>
            <td>Field: </td>
            <td>@Html.TextBox("fieldname") </td>
        </tr>
        <tr>
            <td>Value: </td>
            <td>@Html.TextBox("fieldvalue") </td>
        </tr>
    </table>
}
