@model CmsWeb.Models.OrganizationPage.OrganizationModel
<h2>@Model.org.OrganizationName@(Model.org.LeaderId.HasValue ? "," : "") <span style="font-size:12px">@Model.org.LeaderName</span></h2>
<table id="orginfoedit" style="margin-bottom: 10px" cellspacing="5" width="100%">
    <tr>
        <th align="right">Name:</th>
        <td>@Html.TextBox("org.OrganizationName", Model.org.OrganizationName, new { style = "width:100%" })</td>
    </tr>
    <tr>
        <th align="right">Location:</th>
        <td>@Html.TextBox("org.Location")</td>
    </tr>
    <tr>
        <th align="right">Campus:</th>
        <td>@Html.DropDownList("org.CampusId", Model.CampusList())</td>
    </tr>
    <tr>
        <th align="right">Security Type:</th>
        <td>@Html.DropDownList("org.SecurityTypeId", Model.SecurityTypeList())</td>
    </tr>
    <tr>
        <th align="right">Status:</th>
        <td>@Html.DropDownList("org.OrganizationStatusId", Model.OrgStatusList())</td>
    </tr>
    <tr>
		<th align="right">Organization Type:</th>
		<td><span class="helptip" title="What is this?|an upcoming new feature for classifying your organizations|in progress, stay tuned">
			@Html.DropDownList("org.OrganizationTypeId", Model.OrganizationTypes()) 
            </span>
		</td>
    </tr>
    <tr>
        <th align="right">Leader Type:</th>
        <td>@Html.DropDownList("org.LeaderMemberTypeId", Model.LeaderTypeList())</td>
    </tr>
    <tr>
        <th align="right">Main Fellowship:</th>
        <td>@Html.CheckBox("org.IsBibleFellowshipOrg")</td>
    </tr>
    <tr><td colspan="2" align="right">
        <a class="displayedit2 bt" href="/Organization/OrgInfo/@Model.OrganizationId">Cancel</a>
        <a href="/Organization/OrgInfoUpdate/@Model.OrganizationId" class="submitbutton bt blue">Save Changes</a>
        </td></tr>
</table>

