@using UtilityExtensions
@using CmsWeb
@using CmsData
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@{ CmsData.Organization o = Model.org; }
<table cellspacing="5" width="100%">
    <tr>
        <th align="right">Name:</th>
        <td>@o.OrganizationName</td> 
    </tr>
    <tr>
        <th align="right">Schedule:</th>
        <td>@Model.Schedule</td>
    </tr>
    <tr>
        <th align="right">Divisions:</th>
        <td><a id="divisionlist" href="/SearchDivisions/Index/@Model.OrganizationId?ordered=true">
            @Html.Partial("DivisionList", Model.Divisions())</a></td>
    </tr>
    <tr>
        <th align="right">Campus:</th>
        <td>@Html.CodeDesc("org.CampusId", Model.CampusList())</td>
    </tr>
    <tr>
        <th align="right">Security Type:</th>
        <td>@Html.CodeDesc("org.SecurityTypeId", Model.SecurityTypeList())</td>
    </tr>
    <tr>
        <th align="right">Status:</th>
        <td>@Html.CodeDesc("org.OrganizationStatusId", Model.OrgStatusList())</td>
    </tr>
    <tr>
        <th align="right">Leader Type:</th>
        <td>@Html.CodeDesc("org.LeaderMemberTypeId", Model.LeaderTypeList())</td>
    </tr>
    <tr>
        <th align="right">Main Fellowship:</th>
        <td>@Html.CheckBoxReadonly(o.IsBibleFellowshipOrg)
@if (User.IsInRole("Edit"))
{ 
        <a class="displayedit2 bt edit2" href="/Organization/OrgInfoEdit/@Model.OrganizationId">Edit</a>
}       </td>
    </tr>
</table>

