@using UtilityExtensions
@using CmsWeb
@using CmsData
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@{ CmsData.Organization o = Model.org; }
<table cellspacing="5" width="100%">
    <tr>
        <th align="right">Name:</th>
        <td>@o.OrganizationName</td> 
    </tr>
    <tr>
        <th align="right">Schedule:</th>
        <td>@Model.Schedule</td>
    </tr>
    <tr>
        <th align="right">Main Division:</th>
        <td>@Html.Raw(o.DivisionName)</td>
    </tr>
    <tr>
        <th align="right">Other Divisions:</th>
        <td>@string.Join(", ", o.DivOrgs.Where(d => d.DivId != o.DivisionId).Select(d => (d.Division.Program != null ? d.Division.Program.Name : "null") + ":" + d.Division.Name).ToArray())</td>
    </tr>
    <tr>
        <th align="right">Location:</th>
        <td>@o.Location</td>
    </tr>
    <tr>
        <th align="right">Campus:</th>
        <td>@Html.CodeDesc("org.CampusId", Model.CampusList())</td>
    </tr>
    <tr>
        <th align="right">Status:</th>
        <td>@Html.CodeDesc("org.OrganizationStatusId", Model.OrgStatusList())</td>
    </tr>
    <tr>
        <th align="right">Leader Type:</th>
        <td>@Html.CodeDesc("org.LeaderMemberTypeId", Model.LeaderTypeList())</td>
    </tr>
    <tr>
        <th align="right">Main Fellowship:</th>
        <td>@Html.CheckBoxReadonly(o.IsBibleFellowshipOrg)</td>
    </tr>
@if (User.IsInRole("Edit"))
{ 
    <tr><td colspan="2" align="right">
        <a class="displayedit2 bt" href="/Organization/OrgInfoEdit/@Model.OrganizationId">Edit</a></td></tr>
}
</table>

