@using CmsWeb
@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.OrganizationPage.OrganizationModel
<table class="Design2">
    <tr>
        <td colspan="2" align="right">
            <a href="/Organization/SettingsUpdate/@Model.OrganizationId" class="submitbutton bt">Save Changes</a>
            <a class="displayedit bt" href="/Organization/Settings/@Model.OrganizationId">Cancel</a>
            <div>@Html.ValidationSummary()</div></td>
        </tr>
    <tr>
        <th>Schedule:</th>
        <td>
            <table> 
            <tr> <td>
            <div id="schedulehead">
                <span style="margin-left:22px;width: 55px" >Day</span> 
                <span style="width: 68px">Time</span> 
                <span>Attendance Credit</span>
            </div>
            <ul id="schedules">
            @foreach (var sc in Model.schedules.OrderBy(cc => cc.Id))
            {
                Html.RenderPartial("ScheduleEditor", sc);
            }
            </ul> </td></tr>
            <tr><td align="right">
            <a id="addsch" href="#" class="bt"><img src="/images/plus1.png" /> Add Schedule</a>
            </td></tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>Allow Attendance Overlap:</th>
        <td>@Html.CheckBox("org.AllowAttendOverlap")</td>
    </tr>
    <tr>
        <th>Class Filled:</th>
        <td>@Html.CheckBox("org.ClassFilled")</td>
    </tr>
    <tr>
        <th>Registration Closed:</th>
        <td>@Html.CheckBox("org.RegistrationClosed")</td>
    </tr>
    <tr>
        <th>Organization Phone Number:</th>
        <td>@Html.TextBox("org.PhoneNumber")</td>
    </tr>
    <tr>
        <th>Organization Description:</th>
        <td>@Html.TextBox("org.Description")</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Allow Self Check-In:</th>
        <td>@Html.CheckBox("org.CanSelfCheckin")</td>
    </tr>
    <tr>
        <th>Allow Kiosk Registration:</th>
        <td>@Html.CheckBox("org.AllowKioskRegister")</td>
    </tr>
    <tr>
        <th>Allow Non-Campus Check-In:</th>
        <td>@Html.CheckBox("org.AllowNonCampusCheckin")</td>
    </tr>
    <tr>
        <th>No security label required:</th>
        <td>@Html.CheckBox("org.NoSecurityLabel")</td>
    </tr>
    <tr>
        <th>Number of CheckIn Labels:</th>
        <td>@Html.TextBox("org.NumCheckInLabels")</td>
    </tr>
    <tr>
        <th>Number of Worker CheckIn Labels:</th>
        <td>@Html.TextBox("org.NumWorkerCheckInLabels")</td>
    </tr>
    <tr>
        <th>First Meeting Date:</th>
        <td>@Html.DatePicker("org.FirstMeetingDate")</td>
    </tr>
    <tr>
        <th>Last Meeting Date:</th>
        <td>@Html.DatePicker("org.LastMeetingDate")</td>
    </tr>
<tr><td></td></tr>
    <tr>
        <th>Attendance Classification:</th>
        <td>@Html.DropDownList("org.AttendClassificationId", Model.AttendClassificationList())</td>
    </tr>
    <tr>
        <th>Entry Point:</th>
        <td>@Html.DropDownList("org.EntryPointId", Model.EntryPointList())</td>
    </tr>
    <tr>
        <th>Security Type:</th>
        <td>@Html.DropDownList("org.SecurityTypeId", Model.SecurityTypeList())</td>
    </tr>
    <tr>
        <th>Pending Location:</th>
        <td>@Html.TextBox("org.PendingLoc")</td>
    </tr>
    <tr>
        <th>Rollsheet Visitor Weeks:</th>
        <td>@Html.TextBox("org.RollSheetVisitorWks")</td>
    </tr>
    <tr>
        <th>Days to ignore history on drop:</th>
        <td>@Html.TextBox("org.DaysToIgnoreHistory")</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Online Catalog Sort:</th>
        <td>@Html.TextBox("org.OnLineCatalogSort")</td>
    </tr>
    <tr>
        <th>Max Limit:</th>
        <td>@Html.TextBox("org.Limit")</td>
    </tr>
    <tr>
        <th>Online Notify Persons:</th>
        <td><a id="notifylist" href="/Organization/NotifyIds">
            @Html.Partial("NotifyList", DbUtil.Db.PeopleFromPidString(Model.org.NotifyIds))
            </a>
        </td>
    </tr>
    <tr>
        <th>Start Grade/Age:</th>
        <td>@Html.TextBox("org.GradeAgeStart")</td>
    </tr>
    <tr>
        <th>End Grade/Age:</th>
        <td>@Html.TextBox("org.GradeAgeEnd")</td>
    </tr>
    <tr>
        <th>Start Birthday:</th>
        <td>@Html.DatePicker("org.BirthDayStart")</td>
    </tr>
    <tr>
        <th>End Birthday:</th>
        <td>@Html.DatePicker("org.BirthDayEnd")</td>
    </tr>
    <tr>
        <th>Gender:</th>
        <td>@Html.DropDownList("org.GenderId", Model.GenderList())</td>
    </tr>
    <tr>
        <th>Last Day Before Extra:</th>
        <td>@Html.DatePicker("org.LastDayBeforeExtra")</td>
    </tr>
    <tr>
        <th>Registration Type:</th>
        <td>@Html.DropDownList("org.RegistrationTypeId", Model.RegistrationTypes())</td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <a href="/Organization/SettingsUpdate/@Model.OrganizationId" class="submitbutton bt">Save Changes</a>
            <a class="displayedit bt" href="/Organization/Settings/@Model.OrganizationId">Cancel</a>
            <div>@Html.ValidationSummary()</div></td>
    </tr>
</table>

