@using CmsWeb
@using UtilityExtensions
@using CmsData
@using CmsWeb.Models.OrganizationPage
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit" href="/Organization/SettingsEdit/@Model.OrganizationId">Edit</a>
}
<table class="Design2">
    <tr>
        <th>Schedule:</th>
        <td>
            <div id="schedulehead">
                <span style="margin-left:22px;width: 55px" >Day</span> 
                <span style="width: 68px">Time</span> 
                <span>Attendance Credit</span>
            </div>
            <ul id="schedules">
            @foreach (var ci in Model.schedules.OrderBy(cc => cc.Id))
            {
<li><span style="margin-left:22px;width: 55px" >@ci.DisplayDay</span> 
    <span style="width: 68px">@ci.Time</span> 
    <span>@ci.DisplayAttendCredit</span>
</li>
            }
            </ul>
        </td>
    </tr>
    <tr>
        <th>Allow Attendance Overlap:</th>
        <td>@Html.CheckBoxReadonly(Model.org.AllowAttendOverlap)</td>
    </tr>
    <tr>
        <th>Class Filled:</th>
        <td>@Html.CheckBoxReadonly(Model.org.ClassFilled)</td>
    </tr>
    <tr>
        <th>Registration is Closed:</th>
        <td>@Html.CheckBoxReadonly(Model.org.RegistrationClosed)</td>
    </tr>
    <tr>
        <th>Organization Phone Number:</th>
        <td>@Model.org.PhoneNumber.FmtFone()</td>
    </tr>
    <tr>
        <th valign="top">Organization Description</th>
        <td>@Model.org.Description</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Allow Self Check-In:</th>
        <td>@Html.CheckBoxReadonly(Model.org.CanSelfCheckin)</td>
    </tr>
    <tr>
        <th>Allow Kiosk Registration:</th>
        <td>@Html.CheckBoxReadonly(Model.org.AllowKioskRegister)</td>
    </tr>
    <tr>
        <th>Allow Non-Campus Check-In:</th>
        <td>@Html.CheckBoxReadonly(Model.org.AllowNonCampusCheckIn)</td>
    </tr>
    <tr>
        <th>No security label required:</th>
        <td>@Html.CheckBoxReadonly(Model.org.NoSecurityLabel)</td>
    </tr>
    <tr>
        <th>Number of CheckIn Labels:</th>
        <td>@Model.org.NumCheckInLabels</td>
    </tr>
    <tr>
        <th>Number of Worker CheckIn Labels:</th>
        <td>@Model.org.NumWorkerCheckInLabels</td>
    </tr>
    <tr>
        <th>First Meeting Date:</th>
        <td>@Model.org.FirstMeetingDate.FormatDate2()</td>
    </tr>
    <tr>
        <th>Last Meeting Date:</th>
        <td>@Model.org.LastMeetingDate.FormatDate2()</td>
    </tr>
    <tr>
        <th>Attendance Classification:</th>
        <td>@Html.CodeDesc("org.AttendClassificationId", Model.AttendClassificationList())</td>
    </tr>
    <tr>
        <th>Entry Point:</th>
        <td>@Html.CodeDesc("org.EntryPointId", Model.EntryPointList())</td>
    </tr>
    <tr>
        <th>Security Type:</th>
        <td>@Html.CodeDesc("org.SecurityTypeId", Model.SecurityTypeList())</td>
    </tr>
    <tr>
        <th>Pending Location:</th>
        <td>@Model.org.PendingLoc</td>
    </tr>
    <tr>
        <th>Rollsheet Visitor Weeks:</th>
        <td>@Model.org.RollSheetVisitorWks</td>
    </tr>
    <tr>
        <th>Days to ignore history on drop:</th>
        <td>@Model.org.DaysToIgnoreHistory</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <th>Online Catalog Sort:</th>
        <td>@Model.org.OnLineCatalogSort</td>
    </tr>
    <tr>
        <th>Max Limit:</th>
        <td>@Model.org.Limit</td>
    </tr>
    <tr>
        <th>Online Notify Persons:</th>
        <td><a id="notifylist" href="/Organization/NotifyIds">
            @Html.Partial("NotifyList", DbUtil.Db.PeopleFromPidString(Model.org.NotifyIds))
            </a>
        </td>
    </tr>
    <tr>
        <th>Start Grade/Age:</th>
        <td>@Model.org.GradeAgeStart</td>
    </tr>
    <tr>
        <th>End Grade/Age:</th>
        <td>@Model.org.GradeAgeEnd</td>
    </tr>
    <tr>
        <th>Start Birthday:</th>
        <td>@Model.org.BirthDayStart.FormatDate()</td>
    </tr>
    <tr>
        <th>End Birthday:</th>
        <td>@Model.org.BirthDayEnd.FormatDate()</td>
    </tr>
    <tr>
        <th>Gender:</th>
        <td>@Html.CodeDesc("org.GenderId", Model.GenderList())</td>
    </tr>
    <tr>
        <th>Last Day Before Extra:</th>
        <td>@Model.org.LastDayBeforeExtra.FormatDate2()</td>
    </tr>
    <tr>
        <th>Registration Type:</th>
        <td>@Html.CodeDesc("org.RegistrationTypeId", Model.RegistrationTypes())</td>
    </tr>
@if (User.IsInRole("Admin"))
{ 
    <tr>
        <td colspan="2"><br />Edit Online Reg Messages For Division type Registrations<br />
        (specifics in registration settings when present, override these)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="/Display/OrgContent/@Model.OrganizationId?what=message&div=true">
               Confirmation for division</a><br />
            <a href="/Display/OrgContent/@Model.OrganizationId?what=instructions&div=true">
               Instructions</a><br />
            <a href="/Display/OrgContent/@Model.OrganizationId?what=terms&div=true">
               Terms</a>
        </td>
    </tr>
} 
</table>

