@model CmsWeb.Models.SavedQueryModel
@{
    var pager = Html.Partial("Pager2", Model.Pager);
}
Only Mine: @Html.CheckBoxFor(m => m.onlyMine)
Search: @Html.TextBoxFor(m => m.search)<br/>
Status Flags: @Html.CheckBoxFor(m => m.statusFlags)
<button id="filter" class="bt" value="Filter">Filter</button>
<table cellpadding="4" class="grid">
<thead>
<tr><td>@pager</td></tr>
<tr>
<td><a href="#" class="sortable">Description</a></td>
<td><a href="#" class="sortable">Owner</a></td>
<td><a href="#" class="sortable">Public</a></td>
<td></td>
<td></td>
</tr>
</thead>
<tbody>
@foreach (var r in Model.FetchQueries())
{
    Html.RenderPartial("Row", r);
}
</tbody>
<tfoot><tr><td>@pager</td></tr></tfoot>
</table>
