@model CmsWeb.Areas.Search.Models.AdvancedModel
@{
    var codeData = Model.GetCodeData();
}
@if (Model.SelectMultiple)
{
    <select id="CodeValues" name="CodeValues" multiple="multiple">
    @foreach (var o in codeData)
    {
        <option value="@o.Value" @(o.Selected? "selected='selected'" : "")>@o.Text</option>
    }
    </select>
}
else
{
    <select id="CodeValue" name="CodeValue">
    @foreach (var o in codeData)
    {
        <option value="@o.Value" @(o.Selected? "selected='selected'" : "")>@o.Text</option>
    }
    </select>
}