@using System.Web.UI.WebControls
@using CmsWeb.Areas.Search.Models
@model CmsWeb.Areas.Search.Models.AdvancedModel

@{
    var editing = false;
}
<div id="conditions" style="width: 300px">
    <input type="hidden" id="SelectedId" name="SelectedId" value="@Model.SelectedId"/>
    <table id="conditionlist" class="table-striped">
        @foreach (var c in Model.ConditionList())
        {
            <tr qid="@c.Clause.QueryId" class="condition">
                <td class="clausetext" style="padding-left: @(4 + c.Level * 13)px">
                    <a href='#' class="editconditionlink tip" title="Click to edit">
                        @if (Model.SelectedId == c.Clause.QueryId)
                        {
                            editing = true;
                            Model.EditCondition();
                            <div id="editconditionplaceholder" class="clausetext">@c.Clause</div>
                        }
                        else
                        {
                            <div class="clausetext">
                                @if (c.Clause.IsGroup)
                                {
                                    <b>@c.Clause</b>
                                }
                                else
                                {
                                    @c.Clause
                                }
                            </div>
                        }
                    </a>
                </td>
                <td>
                    <a href='#' class="editconditionlink tip" title="Click to edit condition">
                        <i class="icon-edit icon-large"></i>
                    </a>
                </td>
                <td>
                    <a href="#" class="tip trigger-dropdown" title="Menu to Add a Condition"><i class="icon-plus icon-large"></i></a>
                    <div class="dropdown-menu">
                        <ul>
                            @if (c.Clause.IsGroup)
                            {
                                <li><a href="#" class="addnewclause">Add a new Group and Starting Condition to this Group</a></li>
                            }
                            else
                            {
                                <li><a href="#" class="addnewclause">Add a New Condition after this one</a></li>
                            }
                            @if (!c.Clause.IsFirst)
                            {
                                <li><a href="#" class="duplicateclause">@(c.Clause.IsGroup ? "Add a Group at the same level as this group" : "Duplicate This Condition")</a></li>
                            }
                        </ul>
                    </div>
                </td>
                @*                <td>
                    @if (c.Clause.CanRemove)
                    {
                        <a href="#" class="tip trigger-dropdown" title="Delete Condition"><i class="icon-trash icon-large"></i></a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a qid="@c.Clause.QueryId" href="#" class="removeclause">Delete this @(c.Clause.IsGroup ? "Entire Group" : "Condition")</a></li>
                            </ul>
                        </div>
                    }
                </td>*@
            </tr>
        }
    </table>
    <div style="margin-top: 5px">
        <div style="float: left">
            <a href="/Search/Advanced/NewQuery" class="bt green">New Search</a>
        </div>
        <div style="float: right;">
            <a id="Run@(editing ? "1" : "")"class="bt blue">Run Search <i class="icon-play"></i></a>
        </div>
        <br style="clear: both" />
    </div>
    @if (editing)
    {
        @Html.Partial("EditCondition", Model)
    }
</div>
