@using CmsWeb
@model CmsWeb.Areas.Search.Models.AdvancedModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Advanced Search";
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("advancedsearch");
}
@section head 
{
    <link href="/Content/styles/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/search.css" rel="stylesheet" type="text/css" />
}

@Html.Hidden("AutoRun")
<form id="conditionForm">
    <div id="Description"><b>@Model.Description</b></div>
    <div class="roundbox floatleft" style="display:table;margin-right:1em">
        <h2>Advanced Search </h2>
        @Html.Partial("Conditions", Model)
    </div>
    <div class="floatleft" style="margin-top:1em">
        <div id="toolbar" style='@(Model.ShowResults ? "" : "display:none")'>
            @Html.Partial("ExportToolBar")
        </div>
        <div id="Results" style="clear: both; margin-top: 6px; max-width: 870px">
            @if (Model.ShowResults)
            {
                @Html.Partial("Results", Model) 
            }
        </div>
    </div>
</form>
@section PopupsPlaceholder
{
    <div id="QueryConditionSelect" class="modalPopup" title="Select a Condition" style="display: none">
        <div id="tabber" class="ui-tabs">
            <ul class="ui-tabs-nav">
                @foreach (var c in Model.FieldCategories())
                { 
                    <li><a href='#@c.Name'><span>@c.Title</span></a></li>
                }
            </ul>
            @foreach (var c in Model.FieldCategories())
            { 
                <div id="@c.Name" style="margin:4px;height:450px;overflow:auto" class="ui-tabs-panel ui-tabs-hide">
                    @foreach (var p in c.Fields)
                    { 
                        <div class="FieldLink"><a id='@p.Name' href="#">@p.Title</a></div>
                        <div class="moreinfo">
                            <a class="help" href="https://www.bvcms.com/DocDialog/QB-@p.Name"
                title="Get SearchBuilder Help|Click this link to get help on this condition.">@p.Description</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div id="QueryConditionHelp" class="modalPopup" title="Condition Help" style="display: none">
        <iframe style="width: 100%; height: 99%; border-width: 0px;"></iframe>
    </div>
    <div id="OpenQueryDiv" title="Open Query" class="modalDiv" style="display: none">
        <select id="ExistingQueries"></select>
        <div style="text-align: right; vertical-align: bottom">
            <input id="OpenQuery" type="button" value="Open" />
        </div>
    </div>
    <div id="SaveQueryDiv" class="modalDiv" style="display: none">
        <div style="text-align: left">
            Search Description:
        @Html.TextBox("SaveQueryDesc")
            &nbsp;
        <input id="IsPublic" type="checkbox" />
            Is Public
        <span class="footer">
            <a id="SaveQuery" href="#">Save</a>
        </span>
            <br />
        </div>
    </div>
}

