@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Models.TaskInfo
    <td>@if(Model.IsAnOwner) 
        {<input type="checkbox" value= "@Model.Id" class = "actionitem" />}</td>
    <td>@Model.Priority</td>
    <td>@Model.DueOrCompleted.FormatDate()</td>
    <td><a href="javascript:ShowDetail(@Model.Id)">@Model.Description</a></td>
    <td>@if (Model.WhoId.HasValue)
        {<a href="/Person/Index/@Model.WhoId">@Model.Who</a>}</td>
    <td>@Model.Status</td>
    <td>@Model.DispOwner</td>
