@model CmsWeb.Models.TaskModel
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Tasks";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.Reference("task");
}

    <form id="form" action="/Task/List" method="get">
    @Html.Hidden("SortTask")
    <div class="roundbox floatleft">
    <h2>Tasks</h2>
    <table>
@if (User.IsInRole("AdvancedTask"))
{ 
        <tr>
            <th> Project: </th>
            <td> @Html.DropDownList("Project", Model.Projects()) </td>
        </tr>
        <tr>
            <th> Location: </th>
            <td> @Html.DropDownList("Location", Model.Locations()) </td>
        </tr>
} 
        <tr>
            <th> Status: </th>
            <td> @Html.DropDownList("StatusId", Model.TaskStatusCodes()) </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="OnwerOnly" class="Bold">
                    Owned Tasks Only:</label>
                @Html.CheckBox("OwnerOnly")
            </td>
        </tr>
    </table>
    </div>
    <div class="floatclear"></div>
    @Html.Hidden("CurTab", Model.MyListId())
    <div id="tabs">
        <ul>
             @Html.Partial("Tabs", Model) 
        </ul>
@foreach (var list in Model.FetchTaskLists())
{ 
        <div id='@list.Id' style="display:none"></div>
}
    </div>
        <table>
            <tr>
                <td>
                    @Html.DropDownList("actions", ViewData.Model.ActionItems())
                </td>
                <td>
                    New Task:
                    <input type="text" id="TaskDesc" maxlength="100" style="width: 217px" />
                    <a id="AddTask" href="#">Add Task</a>
                </td>
            </tr>
        </table>
        <table id="tasks">
            <thead>
                <tr>
                    <th> </th>
                    <th> <a href="#" class="sortable">Due/Completed</a> </th>
                    <th> <a href="#" class="sortable">Task</a> </th>
                    <th> <a href="#" class="sortable">About</a> </th>
                    <th> Status </th>
                    <th> <a href="#" class="sortable">Assigned</a> </th>
                </tr>
            </thead>
            <tbody>
                 @Html.Partial("Rows", Model) 
            </tbody>
        </table>
         @Html.Partial("Pager", Model.pagerModel()) 
        <div>
            New List(tab):
            <input type="text" id="ListName" maxlength="50" style="width: 217px" />
            <a id="AddList" href="#">Add List</a>
        </div>
<input type="hidden" id="Count" value='@Model.Count' />
@Html.Hidden("Sort",Model.Sort)
    </form>
    <div id="dialogbox">
    <iframe id="searchDialogiframe" style="width:100%;height:99%;border-width:0px;"></iframe>
    </div>
