@using CmsWeb.Models
@model CmsData.ContributionFund
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Fund";
	 var QBActive = QuickbooksModel.hasActiveConnection(); 
}
@section head 
{
<style type="text/css">
    label
    {
        width: 150px;
        display: inline-block;
    }
</style>
}
<h2>Edit</h2>
@using (Html.BeginForm("Update", "Fund"))
{
    <fieldset>
        <legend>Fields</legend>
        <p>
            <label for="FundId">FundId:</label>
            @Model.FundId
        </p>
        <p>
            <label for="FundName">FundName:</label>
            @Html.TextBox("FundName")
        </p>
        <p>
            <label for="FundDescription">FundDescription:</label>
            @Html.TextBox("FundDescription")
        </p>
        <p>
            <label for="FundStatusId">FundStatusId:</label>
            @Html.DropDownList("FundStatusId", CmsWeb.Areas.Finance.Controllers.FundController.GetFundStatusList())
        </p>
        <p>
            <label for="FundPledgeFlag">FundPledgeFlag:</label>
            @Html.CheckBox("FundPledgeFlag")
        </p>
        <p>
            <label for="">NonTaxDeductible:</label>
            @Html.CheckBox("NonTaxDeductible")
        </p>
        <p>
            <label for="FundAccountCode">FundAccountCode:</label>
				@if (false && QBActive)
				{
					@Html.DropDownList("FundAccountCode", new SelectList(QuickbooksModel.ListAllAccounts(), "Id.Value", "Name", Model.FundAccountCode)) 
				}
				else
				{  
					@Html.TextBox("FundAccountCode")
				}
        </p>
        <p>
            <label for="FundIncomeDept">FundIncomeDept:</label>
            @Html.TextBox("FundIncomeDept")
        </p>
        <p>
            <label for="FundIncomeAccount">FundIncomeAccount:</label>
            @Html.TextBox("FundIncomeAccount")
        </p>
        <p>
            <label for="FundIncomeFund">FundIncomeFund:</label>
            @Html.TextBox("FundIncomeFund")
        </p>
        <p>
            <label for="FundCashDept">FundCashDept:</label>
            @Html.TextBox("FundCashDept")
        </p>
        <p>
            <label for="FundCashAccount">FundCashAccount:</label>
				@if (false && QBActive)
				{
					@Html.DropDownList("FundCashAccount", new SelectList(QuickbooksModel.ListAllAccounts(), "Id.Value", "Name", Model.FundCashAccount)) 
				}
				else
				{  
					@Html.TextBox("FundCashAccount")
				}
        </p>
        <p>
            <label for="FundCashFund">FundCashFund:</label>
            @Html.TextBox("FundCashFund")
        </p>
        <p>
            @Html.Hidden("FundId")
            <input type="submit" class="bt" value="Save" />
        </p>
    </fieldset>
} 
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>