@model IEnumerable<CmsData.SaleTransaction>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Sale Items";
}
<h2>Registrations</h2>
<table>
    <tr>
        <th> Name </th>
        <th> Quantity </th>
        <th> Amount </th>
        <th> Description </th>
        <th> TransactionId </th>
        <th> RegisteredOn </th>
        <th> Username </th>
        <th> Password </th>
    </tr>
@foreach (var item in Model)
{ 
    <tr>
        <td>
            <a href="/Person/Index/@item.Person.PeopleId">@item.Person.Name</a>
        </td>
        <td> @item.Quantity </td>
        <td> @item.Amount.ToString("C") </td>
        <td> @item.ItemDescription </td>
        <td> @item.TransactionId </td>
        <td> @item.SaleDate.ToString("ddd MMM d hh:mm") </td>
        <td> @item.Username </td>
        <td> @item.Password </td>
    </tr>
}
</table>