@model CmsData.DuplicatesRun
@using CmsWeb
@using UtilityExtensions
@{
    CassetteConfiguration.BundleRefJs();
}
<html>
<head>
    <title>Duplicates Finder</title>
    @Bundles.RenderScripts()
</head>
<body>
    <h2>
        Duplicates Finder</h2>
        <a href="/">Home</a>
    <table>
        <tr> <td> Started </td> <td> @Model.Started </td> </tr>
        <tr> <td> Total Records </td> <td> <span id="count">@Model.Count</span> </td> </tr>
        <tr> <td> Processed </td> <td> <span id="processed">@Model.Processed</span> </td> </tr>
        <tr> <td> Found </td> <td> <span id="found">@Model.Found</span> </td> </tr>
        <tr> <td> Completed </td> <td> <span id="completed">@Model.Completed</span> </td> </tr>
        <tr> <td> Error </td> <td> <span id="error">@Model.Error</span> </td> </tr>
    </table>
    @if (Model.Running == 1)
    {
<script type="text/javascript">
    $(function () {
        var intervalId = window.setInterval(function () {
            $.post('/Duplicates/Progress2', null, function (json) {
                $("#count").text(json.Count);
                $("#processed").text(json.Processed);
                $("#found").text(json.Found);
                $("#completed").text(json.Completed);
                $("#error").text(json.Error);
                if (!json.Running) {
                    window.clearInterval(intervalId);
                }
            }, "json");
        }, 5000);
    });
</script>
    }
</body>
</html>
