@model CmsWeb.Areas.People.Models.SearchAddModel
@{ 
    var n = Model.List.Count - 1;
    var np = Model.List[n];
    np.index = n;
}
<h1>Add Person To New Family</h1>
<a class="helplink pull-right" target="_blank" href='@Model.HelpLink("NewFamily")'>help</a>
<form id="formfull" class="form-horizontal onecol ajax" action="/SearchAdd2/AddNewFamily" method="POST">
    <fieldset class="display">
        @Html.Partial("HiddenMeta", Model)
        @Html.Partial("HiddenSearch", Model)
        @Html.Partial("HiddenPeople", Model)
        @Html.Partial("EditPerson", np)
        @Html.Partial("EditAddress", np)
        <input type="hidden" name="List.Index" value="@n" />
        <input type="hidden" name="List[@n].FamilyId" value="@np.FamilyId" />

        @Html.EditorFor(m => m.Name)
        <span class="help-inline">Starting letters of First <span class="label">space</span> Last or just Last</span>

        @Html.EditorFor(m => m.Phone)
        <span class="help-inline">Any part of any phone or email</span>

        @Html.EditorFor(m => m.Address)
        <span class="help-inline">Any part of the address, city or zip</span>

        @Html.EditorFor(m => m.dob)
        <span class="help-inline">YYYY or MM or MM/DD or MM/DD/YY</span>

    </fieldset>
    <div class="form-actions">
        <a href="#" class="btn close-dialog">Close</a>
        <input type="submit" class="btn" value="@(Model.List.Count > 0 ? "Back to List" : "Back to Search")" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>
