@model CmsWeb.Areas.People.Models.SearchAddModel
<h1>Individual Search Results (top 20)</h1>
<a class="helplink pull-right" target="_blank" href='@Model.HelpLink("Results")'>help</a>
<p>
    Showing @Model.Showcount of @Model.Count
</p>
@if (Model.Count == 0)
{
    <div class="alert">
        <h5>No Matching Records</h5>
    </div>
}
else
{
    <form class="ajax" action="/SearchAdd2/ResultsNext" method="POST">
        <table id="people" class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.PeopleList())
                {
                    <tr>
                        <td><a href="/SearchAdd2/Select/@c.PeopleId" class="submit-post">@c.Name</a></td>
                        <td class="addrcol" title="@c.ToolTip">@c.Address</td>
                        <td>@c.Email</td>
                        <td>@c.Age</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("HiddenSearch", Model)
        @Html.Partial("HiddenPeople", Model)
        <div class="form-actions">
            @if (!Model.OnlyOne)
            {
                @:Click a link above to select that person or
                <input type="submit" name="submit" class="btn" value="Go Back to Search" />
                if (Model.type == "family")
                {
                    <input type="submit" name="submit" class="btn btn-primary" value="Add New Person" />
                }
                else
                {
                    <input type="submit" name="submit" class="btn btn-primary" value="Search For Family" />
                }
            }
        </div>
    </form>
}
