@model IEnumerable<CmsData.CheckInTime>
    <h2>CheckInList</h2>
    <table>
        <tr>
            <th> Id </th>
            <th> PeopleId </th>
            <th> Name </th>
            <th> CheckInDay </th>
            <th> CheckInTimeX </th>
        </tr>

@foreach (var item in Model)
{ 
        <tr>
            <td> @item.Id </td>
            <td> @item.PeopleId </td>
            <td> @item.Person.Name </td>
            <td> @item.CheckInTimeX.Value.Date.ToString("D") </td>
            <td> @item.CheckInTimeX.Value.ToShortTimeString() </td>
        </tr>
}
    </table>


