@using CmsData.Classes.Twilio
@{ 
    var admin = User.IsInRole("Admin");
    var innewlook = User.IsInRole("Newlook") || User.IsInRole("Developer");
    var manageemails = User.IsInRole("ManageEmails");
    var managetrans = User.IsInRole("ManageTransactions");
	var edit = User.IsInRole("Edit"); 
	var design = User.IsInRole("Design"); 
	var finance = User.IsInRole("Finance");
    var onqb = (string) ViewData["OnQueryBuilder"] == "true";
}

<div class="navbar">
    <ul>
        <li> <a href="/"> Home </a> </li>
        <li>
            <a href="#" class="trigger-dropdown">
                People <img src="/images/dnarrowt.png" />
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li>@Html.ActionLink("Search", "Index", "PeopleSearch", new { Area = "Main" }, null)</li>
                    @if (DbUtil.Db.Setting("MenuAddPeople", "true") == "true")
                    {
                    <li>@Helper.JQueryIdLink("Add People", "addpeople")</li>
                    }
                    else
                    {
                    <li>@Helper.AnchorLink("Add People", "http://www.bvcms.com/doc/AddPeopleContext", "_blank")</li>
                    }
                    <li>@Html.ActionLink("Manage Tags", "Index", "Tags", new { Area = "Main" }, null)</li>
                    <li>@Html.ActionLink("Tasks", "List", "Task", new { Area = "Main" }, null)</li>
                    <li>@Html.ActionLink("Contacts", "Index", "ContactSearch", new { Area = "Main" }, null)</li>
                    <li class="header"><span>Most Recent People</span></li>
                    @foreach (var p in Util2.MostRecentPeople)
                    {
                        <li>@Html.ActionLink(p.Name ?? "unknown", "Index", "Person", new { Id = p.Id, Area = "Main" }, null)</li>
                    }
                    <li class="divider"></li>
                    <li>@Html.ActionLink(Util.UserFullName, "Index", "Person", new { Id = Util.UserPeopleId, Area = "Main" }, null)</li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="trigger-dropdown">
                Organization <img src="/images/dnarrowt.png" />
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li>@Html.ActionLink("Search", "Index", "OrgSearch", new { Area = "Main" }, null)</li>
                    @if (User.IsInRole("Edit"))
                    {
                        <li>@Helper.JQueryIdLink("Add Organization", "addorg")</li>
                        <li>@Html.ActionLink("Org Members Management", "Index", "OrgMembers", new { Area = "Manage" }, null)</li>
                    }
                    @if (User.IsInRole("Coupon"))
                    {
                        <li>@Html.ActionLink("Coupons", "Index", "Coupon", new { Area = "Main" }, null)</li>
                    }
                    <li><a href="/OrgSearch"> Enrollment Control Report (moved to OrgSearch) </a></li>
                    <li class="header"><span>Most Recent Orgs</span></li>
                    @foreach (var o in Util2.MostRecentOrgs)
                    {
                        <li>@Html.ActionLink(o.Name, "Index", "Organization", new { Id = o.Id, Area = "Main" }, null)</li>
                    }
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="trigger-dropdown">
                Reports <img src="/images/dnarrowt.png" />
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li>@Html.ActionLink("Vital Stats", "VitalStats", "Reports", new { Area = "Main" }, null)</li>
                    <li>@Html.ActionLink("Week at a Glance", "ChurchAttendance", "Reports", new { Area = "Main" }, null)</li>
                    <li>@Html.ActionLink("Average Week at a Glance", "ChurchAttendance2", "Reports", new { Area = "Main" }, null)</li>
                    @if (DbUtil.Db.Setting("Bellevue", "false") == "true")
                    {
                        <li>@Helper.AnchorLink("Church Attendance Summary", "/Report/ChurchAttendanceSummaryRpt.aspx", "_blank")</li>
                    }
                    <li>@Html.ActionLink("Weekly Decisions", "WeeklyDecisions", "Reports", new { Area = "Main" }, new { target = "_blank" })</li>
                    <li>@Helper.AnchorLink("Decision Summary", "/Report/DecisionSummary.aspx", "_blank")</li>
                    <li>@Html.ActionLink("First Time Attenders", "NthTimeAttenders", "Home", new { Area="", Id=1 }, null)</li>
                    <li>@Html.ActionLink("Second Time Attenders", "NthTimeAttenders", "Home", new { Area="", Id=2 }, null)</li>
                    <li>@Html.ActionLink("Third Time Attenders", "NthTimeAttenders", "Home", new { Area="", Id=3 }, null)</li>
                    <li>@Html.ActionLink("Extra Value Codes", "ExtraValues", "Reports", new { Area = "Main" }, null)</li>
                    <li>@Html.ActionLink("Extra Value Data", "ExtraValueData", "Reports", new { Area = "Main" }, null)</li>
                </ul>
            </div>
        </li>
            <li>
                <a href="#" class="trigger-dropdown">
                    SearchBuilder <img src="/images/dnarrowt.png" />
                </a>
            @Helper.SearchBuilderDropdown(onqb, newlook: false)
            </li>
        @if (User.IsInRole("Finance"))
        {
            <li>
                <a href="#" class="trigger-dropdown">
                    Contributions <img src="/images/dnarrowt.png" />
                </a>
                <div class="dropdown-menu">
                    <ul>
                        <li>@Html.ActionLink("Bundles", "Index", "Bundles", new { Area = "Finance" }, null)</li>
                        <li>@Html.ActionLink("All", "Index", "Contributions", new { Area = "Finance" }, null)</li>
                        <li class="header"><span>Reports</span></li>
                        <li>@Html.ActionLink("Statements (All)", "Index", "Statements", new { Area = "Finance" }, new { target="_blank" })</li>
                        <li>@Helper.AnchorLink("GL Extract", "/Contributions/GLExtract.aspx")</li>
                        <li>@Html.ActionLink("Totals by Fund", "TotalsByFund", "FinanceReports", new { Area = "Finance" }, null)</li>
                        <li>@Html.ActionLink("Donor Totals by Range", "DonorTotalsByRange", "FinanceReports", new { Area = "Finance" }, null)</li>
                        <li>@Helper.AnchorLink("Totals by Fund Age Range", "/Contributions/Reports/TotalsByFundAgeRange.aspx", "_blank")</li>
                        <li>@Helper.AnchorLink("Totals by Fund Age Range (pledges included)", "/Contributions/Reports/TotalsByFundAgeRange.aspx?pledged=both", "_blank")</li>
                        <li>@Helper.AnchorLink("Totals by Fund Range", "/Contributions/Reports/TotalsByFundRange.aspx", "_blank")</li>
                        <li>@Helper.AnchorLink("Pledge Totals by Fund Range", "/Contributions/Reports/TotalsByFundRange.aspx?pledged=true", "_blank")</li>
                        <li>@Html.ActionLink("Pledge Report", "PledgeReport", "FinanceReports", new { Area = "Finance" }, new { target="_blank" })</li>
                        <li>@Html.ActionLink("Managed Giving", "ManagedGiving", "FinanceReports", new { Area = "Finance" }, new { target="_blank" })</li>
                        @if (DbUtil.Db.Setting("ShowQuickBooksMenu", "false") == "true")
                        {
                            <li>@Html.ActionLink("QuickBooks", "Index", "QuickBooks", new { Area = "Finance" }, null)</li>
                        }	
                    </ul>
                </div>
            </li>
        }
        @if (admin || manageemails || managetrans || edit || design || finance)
        {
            <li>
                <a href="#" class="trigger-dropdown">
                    Admin <img src="/images/dnarrowt.png" />
                </a>
                <div class="dropdown-menu">
                    <ul>
                        @if (admin)
                        {
                            <li>@Html.ActionLink("Users", "Index", "Users", new { Area = "Manage" }, null)</li>
                            <li>@Html.ActionLink("Programs", "Index", "Program", new { Area = "Setup" }, null)</li>
                            <li>@Html.ActionLink("Divisions", "Index", "Division", new { Area = "Setup" }, null)</li>
                            <li>@Html.ActionLink("Settings", "Index", "Setting", new { Area = "Setup" }, null)</li>
                            <li>@Html.ActionLink("Metro Zips", "Index", "MetroZip", new { Area = "Setup" }, null)</li>
                        }
                        @if (admin && TwilioHelper.getSID().Length > 0 && TwilioHelper.getToken().Length > 0 )
                        {
                            <li><a href="/Setup/Twilio/">
                                    Twilio Management
                                </a> </li>
                        }
                        @if (admin || design)
                        {
                            <li>@Html.ActionLink("Special Content", "Index", "Display", new { Area = "Manage" }, null)</li>
                        }
                        @if (admin || managetrans)
                        {
                            <li>@Html.ActionLink("Transactions", "Index", "Transactions", new { Area = "Manage" }, null)</li>
                        }
                        @if (admin || edit)
                        {
                            <li>@Html.ActionLink("Check-in Activity", "Index", "CheckinTime", new { Area = "Manage" }, null)</li>
                        }			
                        @if (admin || manageemails)
                        {
                            <li>@Html.ActionLink("Emails", "Index", "Emails", new { Area = "Manage" }, null)</li>
                        }
                        @if (admin)
                        {
                            <li>@Html.ActionLink("SMS Messages", "Index", "SMS", new { Area = "Manage" }, null)</li>
                        }
                        @if (admin || finance)
                        {
                            <li>@Html.ActionLink("Lookups", "Index", "Lookup", new { Area = "Setup", id = "" }, null)</li>
                        }
                        @if (admin)
                        {
                            <li>@Html.ActionLink("Update for a Tag", "UpdateFields", "Batch", new { Area = "Manage" }, null)</li>
                            <li>@Helper.AnchorLink(Util2.OrgMembersOnly ? "OrgMembersOnly is on" : "OrgMembersOnly is off", "/Admin/ToggleOrgMembersOnly.ashx")</li>
                            <li>@Helper.AnchorLink(Util2.OrgLeadersOnly ? "OrgLeadersOnly is on" : "OrgLeadersOnly is off", "/Admin/ToggleOrgMembersOnly.ashx")</li>
                            <li>@Html.ActionLink("Update Status Flags", "UpdateStatusFlags", "Batch", new { Area = "Manage" }, null)</li>
                            <li>@Html.ActionLink("Tag PeopleIds", "TagPeopleIds", "Batch", new { Area = "Manage" }, null)</li>
                        }
                    </ul>
                </div>
            </li>
        }
        <li>
            <a href="#" class="trigger-dropdown">
                Help <img src="/images/dnarrowt.png" />
            </a>
            <div class="dropdown-menu anchor-right">
                <ul>
                    <li>@Helper.AnchorLink("Help Documentation", @Util.HelpLink(Util.Helpfile), "_blank")</li>
                    <li>@Helper.AnchorLink("Email Support", "mailto:support@bvcms.com?Subject=Support request from {0} at {1}".Fmt(Util.UserFullName, @Util.CmsHost2), "_blank")</li>
                    @if (innewlook)
                    {
                        <li>@Html.ActionLink("Use New Look (under construction)", "UseNewLook", "Home", new { Area = "" }, null)</li>
                        if (DbUtil.Db.UserPreference("advancedsearch", "false").ToBool())
                         {
                            <li>@Html.ActionLink("Use Search Builder", "UseSearchBuilder", "Home", new { Area = "" }, null)</li>
                         }
                         else
                         {
                            <li>@Html.ActionLink("Use Advanced Search", "UseAdvancedSearch", "Home", new { Area = "" }, null)</li>
                         }
                    }
                    <li>@Html.ActionLink("About", "About", "Home", new { Area = "" }, null)</li>
@*                    <li class="header">
                        <span>Tutorials</span>
                    </li>
                    @{
                        var tutorialMenu = Server.MapPath(".") + "/Content/Tutorials/" + Util.Helpfile + "_Menu.cshtml";
                        if (File.Exists(tutorialMenu)) {
                            Html.RenderPartial("/Content/Tutorials/" + Util.Helpfile + "_Menu.cshtml");
                        }
                    }			  *@
                </ul>
            </div>
        </li>
    </ul>
</div>