@if ((bool)ViewData["hasshell"])
{
@Html.Raw((string)ViewData["top"])
@RenderSection("head", false)
@RenderBody()
@Html.Raw((string)ViewData["bottom"])
@Html.Partial("CombinedOnlineRegJs")
@RenderSection("scripts", false)
}
else
{
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Online Registration</title>
@Html.Raw(Util.PickFirst((string)ViewData["header"], @"
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
<link href='/Content/jquery-ui-1.8.13.custom.css' rel='stylesheet' type='text/css' />
<link href='/Content/onlinereg.css?v=7' rel='stylesheet' type='text/css' />
"))
@RenderSection("head", false)
</head>
<body>
@Html.Raw((string)ViewData["top"])
@RenderBody()
@Html.Raw((string)ViewData["bottom"])
@Html.Partial("CombinedOnlineRegJs")
@RenderSection("scripts", false)
</body>
</html>
}