@{
    Bundles.Reference("OnlineRegister");
}
@if ((bool?)ViewData["hasshell"] == true)
{
@Html.Raw((string)ViewData["top"])
@RenderSection("head", false)
@RenderBody()
@Html.Raw((string)ViewData["bottom"])
@Bundles.RenderScripts()
}
else
{
@:<!DOCTYPE html>
<html>
<head>
<title>Online Registration</title>
@Html.Raw(Util.PickFirst((string)ViewData["header"], @"
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
<link href='/Content/styles/jquery-ui-1.10.0.custom.css' rel='stylesheet' type='text/css' />
<link href='/Content/styles/onlinereg.css?v=7' rel='stylesheet' type='text/css' />
"))
@RenderSection("head", false)
</head>
<body>
@Html.Raw((string)ViewData["top"])
@RenderBody()
@Html.Raw((string)ViewData["bottom"])
@Bundles.RenderScripts()
</body>
</html>
}