@using CmsWeb
@{
    CassetteConfiguration.BundleRefCss();
    CassetteConfiguration.BundleRefJs();
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    @Bundles.RenderStylesheets()
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
    @RenderSection("head", required: false)
    @Bundles.RenderScripts()
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>

