@using CmsWeb
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <link href="/Content/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
    @Html.Partial("CombinedCss")
    <style type="text/css" media="print">
       input.noPrint { display: none; }
       span.noPrint { display:none; }
    </style>
@RenderSection("head", required: false)
</head>
<body>
@RenderBody()
@Html.Script("/Content/js/jquery-1.7.2.js")
@Html.Script("/Content/js/jquery-ui-1.8.21.custom.js")
@RenderSection("scripts", required: false)
</body>
</html>

