@{
    var newlook = DbUtil.Db.UserPreference("newlook3", "false") == "true";
    CassetteBundleConfiguration.BundleRefCss();
    CassetteBundleConfiguration.BundleRefJs();
    var bkcolor = DbUtil.Db.Setting("HeaderBackground", "#e4e2d5");
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Bundles.RenderStylesheets()
    @RenderSection("head", required: false)
    @if (bkcolor.HasValue())
    {
    <style type="text/css">
        #header { background-color: @bkcolor; }
    </style>
    }
    @Bundles.RenderScripts()
    @Html.Partial("DatePickerDefaults")
</head>
<body>
    @Html.Partial("Notices")
    @if (newlook)
    {
        Html.RenderPartial("NewHeader");
        <section id="main" class="container">
            <section class="sixteen columns">
                @RenderBody()
            </section>
        </section>
        @Html.Partial("Footer")
    }
    else
    {
        <div id="container">
            @Html.Partial("OldHeader")
            <div id="main">
                @RenderBody()
            </div>
        </div>
    }
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
</body>
</html>
