@{
    var newlook = DbUtil.Db.UserPreference("newlook3", "false") == "true";
    var bkcolor = DbUtil.Db.Setting("HeaderBackground", "#e4e2d5");
    var uservoice = DbUtil.Db.Setting("UseUserVoice", "false") == "true";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Helper.IncludeCss()
    @RenderSection("head", required: false)
    @if (bkcolor.HasValue())
    {
    <style type="text/css">
        #header { background-color: @bkcolor; }
    </style>
    }
    @Helper.IncludeJs()
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("Notices")
    @if (newlook)
    {
        Html.RenderPartial("NewHeader");
        <section id="main" class="container">
            <section class="sixteen columns">
                @RenderBody()
            </section>
        </section>
        @Html.Partial("Footer")
    }
    else
    {
        <div id="container">
            @Html.Partial("OldHeader")
            <div id="main">
                @RenderBody()
            </div>
        </div>
    }
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
@if (Uservoice.Generator.CanUserVoice)
{
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function () { var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true; uv.src = '//widget.uservoice.com/1slVhIv9xjVxx7oj966Fw.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s) })()</script>

<!-- A tab to launch the Classic Widget -->
    <script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['setSSO', '@Uservoice.Generator.CreateSSO(DbUtil.Db.CurrentUserPerson)']);
        UserVoice.push(['showTab', 'classic_widget', {
            mode: 'full',
            primary_color: '#cc6d00',
            link_color: '#007dbf',
            default_mode: 'support',
            forum_id: 214158,
            tab_label: 'Feedback and Support',
            tab_color: '#cc6d00',
            tab_position: 'middle-right',
            tab_inverted: false
        }]);
    </script>
}
</body>
</html>
