<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Fingerprint.Tag("/content/new2css.css")" />
    @RenderSection("head", required: false)
    <style type="text/css">
        @{ var bkcolor = DbUtil.Db.Setting("HeaderBackground", ""); }
        @if (bkcolor.HasValue())
        {
            @:#header { background-color: @bkcolor; }
        }
    </style>
    <script src="@Fingerprint.Tag("/Scripts/main2.js")"></script>
    @RenderSection("scripts", required: false)
    @Html.Partial("DatePickerDefaults2")
</head>
<body>
    @Html.Partial("Notices")
    @Html.Partial("NewHeader2")
    <section id="main" class="container">
        <section class="sixteen columns">
            @RenderBody()
        </section>
    </section>
    @Html.Partial("Footer")
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
</body>
</html>
