@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @{
        var newlook = DbUtil.Db.UserPreference("newlook3", "false") == "true";
    }
    @if (newlook)
    {
        @Styles.Render("~/Content/styles/new/css")
        <link href="~/Content/font/font-awesome.min.css" rel="stylesheet" />
        @RenderSection("head", required: false)
        <style type="text/css">
            #header { background-color: @DbUtil.Db.Setting("HeaderBackground", "#e4e2d5"); }
        </style>
        @Scripts.Render("~/bundles/main-js")
        @Html.Partial("DatePickerDefaults")
    }
    else
    {
        @Styles.Render("~/Content/styles/css")
        @RenderSection("head", required: false)
        @Scripts.Render("~/bundles/js")
        @Html.Partial("DatePickerDefaults")
    }
    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.Partial("Notices")
    @if (newlook)
    {
        Html.RenderPartial("NewHeader");
        <section id="main" class="container">
            <section class="sixteen columns">
                @RenderBody()
            </section>
        </section>
        @Html.Partial("Footer")
    }
    else
    {
        <div id="container">
            @Html.Partial("OldHeader")
            <div id="main">
                @RenderBody()
            </div>
        </div>
    }
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
</body>
</html>
