<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Fingerprint.Css("/content/css/new2css.css")
    @RenderSection("head", required: false)
    <style type="text/css">
        @{ var bkcolor = DbUtil.Db.Setting("HeaderBackground", ""); }
        @if (bkcolor.HasValue())
        {
            @:#header { background-color: @bkcolor; }
        }
    </style>
    @Helper.IncludeJs2()
    @RenderSection("scripts", required: false)
    @Html.Partial("DatePickerDefaults2")
</head>
<body>
    @Html.Partial("Notices")
    @Html.Partial("NewHeader2")
    <section id="main" class="container">
        <section class="sixteen columns">
            @RenderBody()
        </section>
    </section>
    @Html.Partial("Footer")
    @Html.Partial("Dialogs")
    @RenderSection("PopupsPlaceholder", required: false)
    <img src="/images/ajax-loader.gif" id="loading-indicator" style="display:none" />
</body>
</html>
