@using System.Web.Optimization
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/Content/styles/Site2.css?v=3" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false)
</head>
<body>
    <div class="page">
        <div id="main">
            <div>@RenderSection("edit", required: false)</div>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/onlineregister-js")
    @RenderSection("scripts", required:false)
    @Scripts.Render("~/bundles/single/onlinereg-js")
</body>
</html>

