@using System.Web.Optimization
@{
    var newlook = DbUtil.Db.UserPreference("newlook", "false").ToBool();
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @if (newlook)
    {
        @Styles.Render("~/Content/styles/css2")
        <link href="~/Content/styles/Main.css" rel="stylesheet" />
        <link href="~/Content/styles/Menu.css" rel="stylesheet" />
        <link href="~/Content/styles/pager.css" rel="stylesheet" />
    }
    else
    {
        @Styles.Render("~/Content/styles/css")
    }
<!--[if gte IE 8]>
<style type="text/css">
    /* div.navbar > ul > li { float: left; } */
</style>
<![endif]-->
    @RenderSection("head", required: false)
    @if (newlook)
    {
        @Scripts.Render("~/bundles/main-js")
        <script src="~/Scripts/dropdown.js"></script>
        <script src="~/Scripts/ExportToolBar.js"></script>
        <script src="~/Scripts/Pager.js"></script>
        <script src="~/Scripts/headermenu.js"></script>
    }
    else
    {
        @Scripts.Render("~/bundles/js")
    }
    @Html.Partial("DatePickerDefaults")
    @RenderSection("scripts", required: false)
</head>
<body>
@if (Util.UrgentMessage.HasValue())
{
        <div id='urgentNotice'>@Util.UrgentMessage</div>
}
@if (DbUtil.TopNotice().HasValue())
{
        <div id='TopNotice'>@Html.Raw(DbUtil.TopNotice())</div>
}
@if (Request.Browser.Type == "IE7")
{
        <div id="urgentNotice">You are running IE7. This application requires IE8+, Firefox, Chrome or Safari</div>
}
@if (newlook)
{
    Html.RenderPartial("NewHeader");
    <div id="container">
        <div id="main">
            @RenderBody()
            @if (DbUtil.Db.Setting("ShowTutorialFileNames", "false") == "true")
            {
                <br />
                <b>Menus:</b>
                @(Util.Helpfile)@:_Menu.cshtml<br />
                <b>Tutorials:</b>
                @(Util.Helpfile)@:.cshtml
            }		  
            @{
                var tutorialFile = Server.MapPath(".") + "/Content/Tutorials/" + Util.Helpfile + ".cshtml";
                if (File.Exists(tutorialFile))
                {
                    Html.RenderPartial("/Content/Tutorials/" + Util.Helpfile + ".cshtml");
                }
            }	
        </div>
        
        @if (Util.IsHosted)
        {
            <div style="float: right"><a href="http://www.bvcms.com"><img src="~/images/bvcms-provided.png" /></a></div>
            <div style="clear: both"></div>
        }
    </div>
}
else
{
<div id="container">
    @Html.Partial("OldHeader")
    <div id="main">
        @RenderBody()
        @if (DbUtil.Db.Setting("ShowTutorialFileNames", "false") == "true")
        {
            <br />
            <b>Menus:</b>
            @(Util.Helpfile)@:_Menu.cshtml<br />
            <b>Tutorials:</b>
            @(Util.Helpfile)@:.cshtml
        }		  
        @{
            var tutorialFile = Server.MapPath(".") + "/Content/Tutorials/" + Util.Helpfile + ".cshtml";
            if (File.Exists(tutorialFile))
            {
                Html.RenderPartial("/Content/Tutorials/" + Util.Helpfile + ".cshtml");
            }
        }	
    </div>
</div>
}
   <div id="ChooseLabelType" class="modalPopup" style="display: none; width: 400px;
        padding: 10px">
        <table>
            <tr>
                <td style="margin: 3px; border: solid thin black" nowrap="nowrap">
                    <input type="radio" id="addressedto1" name="addressedto" value="Individual" checked="checked"
                        title="Addressed to individuals" />
                    Individual<br />
                    <input type="radio" id="addressedto2" name="addressedto" value="Family" title="Addressed as a family when there are children" />
                    Family<br />
                    <input type="radio" id="addressedto6" name="addressedto" value="FamilyMembers" title="Includes entire Family as individuals" />
                    Family Members<br />
                    <input type="radio" id="addressedto3" name="addressedto" value="CouplesBoth" title="Addressed to a couple, if both are in selection" />
                    Couples (both)<br />
                    <input type="radio" id="addressedto4" name="addressedto" value="CouplesEither" title="Addressed to a couple, if one or both are in selection" />
                    Couples (either)<br />
                    <input type="radio" id="addressedto5" name="addressedto" value="ParentsOf" title="Addressed to parents or parent" />
                    Parents Of<br />
                </td>
                <td>
                    <input type="checkbox" id="UseTitle" name="UseTitle" />
                    Use Titles<br />
                    <input type="checkbox" id="SortZip" name="SortZip" />
                    Sort by Zip<br />
                    <input type="checkbox" id="UsePhone" name="UsePhone" />
                    Include Phone<br />
						  <br />
						  Skip: <input id="SkipNum" name="SkipNum" size="3" value="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input id="cmdOK" type="button" value="OK" />
                </td>
            </tr>
        </table>
    </div>
    <div id="ExportStartEnd" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a date range</th></tr>
        <tr><th>Start Date</th><td><input id="startdt" type="text"  class='datepicker' /></td></tr>
        <tr><th>End Date</th><td><input id="enddt" type="text" class='datepicker' /></td></tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="ExportStartEndRun" href="#"> run </a></td>
        </tr>
        </table>
    </div>
    <div id="SetExtraValues" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th>Field</th><td><input id="field" type="text" /></td></tr>
        <tr><th>Value</th><td><input id="value" type="text" /></td></tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="SetExtraValuesRun" href="#"> OK </a></td>
        </tr>
        </table>
    </div>
    <div id="AddDialog">
    <iframe id="AddDialogiframe" style="width:99%;height:99%;border-width:0px"></iframe>
    </div>
@RenderSection("PopupsPlaceholder", required: false)
</body>
</html>