<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @Html.Raw(SquishIt.Framework.Bundle.Css()
                .Add("/Content/jquery-ui-1.8.13.custom.css")
                .Add("/Content/site.css")
                .Add("/Content/Style2.css")
                .Add("/Content/cmenu.css")
                .Add("/Content/pager.css")
                .Add("/Content/jquery.jscrollpane.css")
                .Add("/Content/jquery.tooltip.css")
                .Add("/Content/jquery.autocomplete.css")
        .Render("/Content/AllMVC3_#.css"))
    @RenderSection("head", required: false)
</head>
<body>
    @Html.Raw(SquishIt.Framework.Bundle.JavaScript()
    .Add("/Content/js/jquery-1.5.2.js")
    .Add("/Content/js/jquery-ui-1.8.13.custom.js")
    .Add("/Content/js/jquery.bgiframe-2.1.2.js")
    .Add("/Content/js/hoverIntent.js")
    .Add("/Content/js/jquery-cookie.js")
    .Add("/Content/js/jquery.blockUI.js")
    .Add("/Content/js/jquery.tooltip.js")
    .Add("/Content/js/jquery.mousewheel.js")
    .Add("/Content/js/jquery.jscrollpane.js")
    .Add("/Scripts/ExportToolBar.js")
    .Add("/Scripts/menu.js")
    .Render("/Content/combined3_#.js"))
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SearchText').keypress(function (e) {
                if ((e.keyCode || e.which) == 13) {
                    e.preventDefault();
                    var s = $('#SearchText').val();
                    if (s != "")
                        window.location = '/QuickSearch?name=' + escape(s);
                }
                return true;
            });
            $('#AddDialog').dialog({
                title: 'Add People Dialog',
                bgiframe: true,
                autoOpen: false,
                width: 712,
                height: 650,
                modal: true,
                overlay: {
                    opacity: 0.5,
                    background: "black"
                }, close: function () {
                    $('iframe', this).attr("src", "");
                }
            });
            $('#addpeople').click(function (e) {
                e.preventDefault();
                var d = $('#AddDialog');
                $('iframe', d).attr("src", "/SearchAdd?type=addpeople");
                d.dialog("open");
            });
        });
function CloseAddDialog() {
    $("#AddDialog").dialog("close");
    window.location = "/Person/Current"
}
    </script>
@if (((string)AppState["getoff"]).HasValue())
{
        <div id='urgentNotice'>@AppState["getoff"]</div>
}
@if (DbUtil.TopNotice().HasValue())
{
        <div id='TopNotice'>@Html.Raw(DbUtil.TopNotice())</div>
}
    <div id="container">
        <div class="header">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td class="left">
                        <a href="/">
                            @Html.Raw(DbUtil.HeaderImage(@"<img src=""/Content/bvcms132x55.png"" width=""132"" height=""55"" />"))</a>
                    </td>
                    <td class="center">
                        @Html.Raw(DbUtil.Header())
                    </td>
                    <td class="right">
                        <div id="userarea">
                            <div id="welcome" class="dropdown left">
                                <div>
                                    <a href="#">Welcome,
                                        @DbUtil.Db.CurrentUserPerson.PreferredName!
                                        <img src="/Content/Welcome.png" width="11" height="16"></a></div>
                                <div class="sublinks">
                                    <a href="/Account/LogOff/" title="@Util.UserName">Logout</a>
                                    <a href="/ChangePassword.aspx">Change Password</a>
@if (User.IsInRole("Admin"))
{
                                        <a href="/Admin/Users.aspx">Manage Users</a>
                                        <a href="/Admin/Activity.aspx">Activity Log</a>
                                        <a href="/Admin/LastActivity.aspx">Last Activity</a>
                                        <a href="/Admin/UrgentMessage.aspx">Urgent Message</a>
}
                                </div>
                            </div>
@if (User.IsInRole("Access"))
{
                                <strong>Active Tag:</strong> <a id="activetag" href="/Tags">
                                    @Util2.CurrentTagName</a><br />
                                <form method="post">
                                <input id="SearchText" type="text" />
                                </form>
}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
@if (User.IsInRole("Access"))
{
                <table id="cmenu">
                    <tr>
                        <td class="dropdown">
                            <div>
                                <a href="/">Home</a></div>
                        </td>
                        <td class="dropdown">
                            <div>
                                <a href="/QuickSearch">People</a></div>
                            <div class="sublinks">
                                <a href="/QuickSearch">Quick Search</a>
                                <a id="addpeople" href="#">Add People</a> 
                                <a href="/Tags">Manage Tags</a>
                                <a href="/Task/List/">Tasks</a> <a href="/ContactSearch.aspx">Contact Search</a>
    @if (Util2.CurrentPeopleId != 0)
    {
                                    <a href="/Person/Index/@Util2.CurrentPeopleId">
                                        @Session["ActivePerson"]</a>
    }
                            </div>
                        </td>
                        <td class="dropdown">
                            <div>
                                <a href="/OrgSearch">Organization</a></div>
                            <div class="sublinks">
                                <a href="/OrgSearch">Search</a> <a href="/EmailAttendanceNotices.aspx">Email Attendance
                                    Notices</a> <a href="/EnrollmentControlReport.aspx">Enrollment Control Report</a>
    @if (User.IsInRole("Edit"))
    {
                                <a href="/OrgMembers">Org Members Management</a>
    }
    @if (User.IsInRole("Coupon"))
    {
                                <a href="/Coupon/">Coupons</a>
    }
    @if (((string)Session["ActiveOrganization"]).HasValue())
    {
                                <a href="/Organization/Index/@Util2.CurrentOrgId">
                                        @Session["ActiveOrganization"]</a>
    }
                            </div>
                        </td>
                        <td class="dropdown">
                            <div>
                                <a href="/Reports/ChurchAttendance" target="_blank">Reports</a></div>
                            <div class="sublinks">
                                <a href="/Reports/ChurchAttendance" target="_blank">Week at a Glance</a> <a href="/Reports/ChurchAttendance2"
                                    target="_blank">Average Week at a Glance</a> <a href="/Report/ChurchAttendanceSummaryRpt.aspx"
                                        target="_blank">Church Attendance Summary</a> <a href="/Report/ChurchAttendanceRpt.aspx"
                                            target="_blank">Weekly Decisions</a> <a href="/Report/DecisionSummary.aspx" target="_blank">
                                                Decision Summary</a>
                            </div>
                        </td>
                        <td class="dropdown">
                            <div>
                                <a href="/QueryBuilder/Main">QueryBuilder</a></div>
                            <div class="sublinks">
                                <a href="/QueryBuilder/Main">Last Query</a>
                                @Html.ActionLink("New Query", "NewQuery", "QueryBuilder")
                                <a href="/SavedQueries.aspx">Saved Queries</a>
    @if ((string)ViewData["OnQueryBuilder"] == "true")
    {
                                    <a id="ShowOpenQuery" href="#">Open Saved Query</a>
                                    <a id="ShowSaveQuery" href="#">Save Query As</a>
    }
                            </div>
                        </td>
    @if (User.IsInRole("Finance"))
    {
                            <td class="dropdown">
                                <div>
                                    <a href="/Contributions/Bundles.aspx">Contributions</a></div>
                                <div class="sublinks">
                                    <a href="/Contributions/Bundles.aspx">Bundles</a> <a href="/Contributions/All.aspx">
                                        All</a> <a href="#" class="heading">&mdash; Reports &mdash;</a> <a href="/Reports/ContributionStatements"
                                            target="_blank">Statements (All)</a> <a href="/Contributions/GLExtract.aspx">GL Extract</a>
                                    <a href="/Contributions/Reports/TotalsByFund2.aspx" target="_blank">Totals by Fund</a>
                                    <a href="/Contributions/Reports/TotalsByFundAgeRange.aspx" target="_blank">Totals by
                                        Fund Age Range</a> <a href="/Contributions/Reports/TotalsByFundAgeRange.aspx?pledged=both"
                                            target="_blank">Totals by Fund Age Range (pledges included)</a> <a href="/Contributions/Reports/TotalsByFundRange.aspx"
                                                target="_blank">Totals by Fund Range</a> <a href="/Contributions/Reports/TotalsByFund2.aspx?pledged=true"
                                                    target="_blank">Pledge Totals by Fund</a> <a href="/Contributions/Reports/TotalsByFundRange.aspx?pledged=true"
                                                        target="_blank">Pledge Totals by Fund Range</a> <a href="/Contributions/Reports/PledgeReport.aspx"
                                                            target="_blank">Pledge Report</a>
                                </div>
                            </td>
    }
    @if (User.IsInRole("Admin"))
    {
                            <td class="dropdown">
                                <div>
                                    <a href="/Admin/Users.aspx">Admin</a></div>
                                <div class="sublinks" class="last">
                                    <a href="/Setup/Program/">Programs</a> <a href="/Setup/Division/">Divisions</a>
                                    <a href="/Setup/Setting">Settings</a> <a href="/Display/Index/">Special Content</a>
                                    <a href="/Setup/MetroZip/">Metro Zips</a> <a href="/Manage/Transactions">Transactions</a>
                                    <a href="/Manage/Emails">Emails</a> <a href="/Setup/Lookup/">Lookups</a>
                                    <a href="/Batch/UpdateFields/"> Update for a Tag</a> 
                                    <a href="/Admin/ToggleOrgMembersOnly.ashx">@(Util2.OrgMembersOnly ? "Turn OrgMembersOnly Off" : "Turn OrgMembersOnly On")</a>
                                    <a href="/Batch/UpdateQueryBits">Update QueryBits</a>
                                    <a href="/Batch/FindTagPeople">Find Tag People</a>
                                    <a href="/Batch/TagPeopleIds">Tag PeopleIds</a>
                                    <a href="/Admin/ClearCache.aspx">Clear Cache</a>
                                </div>
                            </td>
    }
                        <td class="dropdown left">
                            <div>
                                <a href="@Util.HelpLink(Util.Helpfile)" target="_blank">Help</a></div>
                            <div class="sublinks">
                                <a href="@Util.HelpLink(Util.Helpfile)" target="_blank">Wiki Documentation</a>
    @if (User.IsInRole("Admin"))
    {
                                    <a href="http://bvcms.com/Page/Bug/">Bug Report</a>
    }
    @if (Request.Url.Authority == "bvcms.com" || Request.Url.Authority == "bellevue.org")
    {
                                    <a href="http://bvcms.com/Page/OnlineReg/" target="_blank">Online Registration Request
                                        Form</a>
    }
                            </div>
                        </td>
                    </tr>
                </table>
}
            <div style="clear: both; border-bottom: 4px solid #ddd">
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div id="ChooseLabelType" class="modalPopup" style="display: none; width: 400px;
        padding: 10px">
        <table>
            <tr>
                <td style="margin: 3px; border: solid thin black" nowrap="nowrap">
                    <input type="radio" id="addressedto1" name="addressedto" value="Individual" checked="checked"
                        title="Addressed to individuals" />
                    Individual<br />
                    <input type="radio" id="addressedto2" name="addressedto" value="Family" title="Addressed as a family when there are children" />
                    Family<br />
                    <input type="radio" id="addressedto6" name="addressedto" value="FamilyMembers" title="Includes entire Family as individuals" />
                    Family Members<br />
                    <input type="radio" id="addressedto3" name="addressedto" value="CouplesBoth" title="Addressed to a couple, if both are in selection" />
                    Couples (both)<br />
                    <input type="radio" id="addressedto4" name="addressedto" value="CouplesEither" title="Addressed to a couple, if one or both are in selection" />
                    Couples (either)<br />
                    <input type="radio" id="addressedto5" name="addressedto" value="ParentsOf" title="Addressed to parents or parent" />
                    Parents Of<br />
                </td>
                <td>
                    <input type="checkbox" id="UseTitle" name="UseTitle" />
                    Use Titles<br />
                    <input type="checkbox" id="UsePhone" name="UsePhone" />
                    Include Phone
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input id="cmdOK" type="button" value="OK" />
                </td>
            </tr>
        </table>
    </div>
    <div id="AddDialog">
    <iframe id="AddDialogiframe" style="width:99%;height:99%"></iframe>
    </div>
    @RenderSection("PopupsPlaceholder", required: false)
</body>
</html>
