@model CmsWeb.Models.TotalsByFundModel
@using UtilityExtensions
<table class="grid">
    <tr>
        <th> Range </th>
        <th> Total </th>
        <th> Donors </th>
    </tr>
    @{ var r = 0; }
    @foreach (var t in Model.TotalsByRange())
    {
        <tr>
            <td>
                @if (r == 100000)
                {
                    @:> @r.ToString("n0")
                }
                else
                {
                    @((r + 1).ToString("n0")) @:- @t.Range.ToString("n0")
                }
            </td>
            <td align="right">@t.Total.ToString2("c")</td>
            <td align="right">@t.Count.ToString2("n0")</td>
        </tr>
        r = t.Range;
    }
    <tr style="border-top: 2px solid black">
        <th> Total </th>
        <th align="right">@Model.RangeTotal.Total.ToString2("c") </th>
        <th align="right">@Model.RangeTotal.Count.ToString2("n0") </th>
    </tr>
</table>