@model CmsWeb.Models.ManageGivingModel
<table cellpadding="4" style="font-family: Sans-Serif">
<tr>
	<td align="right">Name:</td>
	<td><a href="/Person/Index/@Model.person.PeopleId">@Model.person.Name</a></td>
</tr>
<tr>
    <td align="right">Give to Funds:</td>
    <td>
        <table class="grid" cellpadding="2">
@{ var funds = CmsWeb.Models.OnlineRegPersonModel.Funds(); }
@for (var n = 0; n < funds.Length; n++)
{
    var i = funds[n];
    var amt = Model.FundItemValue(UtilityExtensions.Util.ToInt(i.Value)) ?? 0;
    if (amt > 0)
    {
            <tr>
                <td>@i.Text</td>
                <td align="right">@amt.ToString("n2")</td>
            </tr>
    }
}
            <tr class="alt">
                <td>Total</td>
                <td align="right">$@Model.total.ToString("n2")</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="right">Frequency:</td>
    <td>
            @if (Model.SemiEvery == "S")
            {
                @:Twice monthly on day @Model.Day1 and @Model.Day2
            }
            else
            {
                @:Every @Model.EveryN @(Model.Period == "M" ? "Months" : "Weeks")
            }
    </td>
</tr>
<tr>
    <td align="right">First Payment:</td>
    <td>
        On or after @UtilityExtensions.Util.FormatDate(Model.StartWhen)
    </td>
</tr>
<tr>
    <td align="right">Next Payment:</td>
    <td>
        @UtilityExtensions.Util.FormatDate(Model.NextDate)
    </td>
</tr>
<tr>
    <td align="right">Pay From:</td>
    <td>
    @if (Model.Type == "C")
    {
        @:Debit/Credit Card # @Model.Cardnumber<br />
        @:Expires @Model.Expires
    }
    else
    {
		@:Bank Routing # @Model.Routing<br >
        @:Bank Account # @Model.Account
    }
    </td>
</tr>
</table>