@using UtilityExtensions
@model IEnumerable<CmsData.View.PledgeReport>
@{
    ViewBag.Title = "PledgeReport";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>PledgeReport</h2>
<table class="grid" cellpadding="5">
	<thead>
	    <td>FundId</td>
	    <td>FundName</td>
		<td class="right">Pledged</td>
		<td class="right">To Pledge</td>
	    <td class="right">Not To a Pledge</td>
	    <td class="right">Total To Fund</td>
	</thead>	
	<tbody>
		@foreach (var r in Model)
		{
			<tr>
				<td>@r.FundId</td>
				<td>@r.FundName</td>
        		<td class="right">@r.Plg.ToString2("N2")</td>
        		<td class="right">@r.ToPledge.ToString2("N2")</td>
        		<td class="right">@r.NotToPledge.ToString2("N2")</td>
        		<td class="right">@r.ToFund.ToString2("N2")</td>
			</tr>
		}
	</tbody>
</table>
