@model CmsWeb.Models.TotalsByFundModel
@using System.Web.Optimization
@using UtilityExtensions
@using CmsWeb
@using CmsData
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Totals By Fund";
    var qbh = new QuickBooksHelper();
}
@section head
{
    <style type="text/css" media="print">
        input.noPrint { display: none; }
        span.noPrint { display: none; }
    </style>
}
@section scripts
{
@Scripts.Render("~/bundles/single/TotalsByFund-js")
}

<h1>Totals By Fund</h1>
<form id="totals">
Campus: @Html.DropDownList("CampusId", Model.Campuses())
Start Date: @Html.TextBox("Dt1", Model.Dt1.ToString2("d"), new { style = "width: 100px; font-size: 110%", @class = "datepicker" })
End Date: @Html.TextBox("Dt2", Model.Dt2.ToString2("d"), new { style = "width: 100px; font-size: 110%", @class = "datepicker" })
<div style="color: Red">@Html.ValidationMessage("dates")</div>
Non Tax Deductible:@Html.CheckBox("NonTaxDeductible")
Pledges:@Html.CheckBox("Pledges")
Include Unclosed Bundles:@Html.CheckBox("IncUnclosedBundles")
	<p>
		<input id="run" type="submit" value="Run Report" class="bt" />
		<input id="export" type="submit" value="Export Contributions" class="bt" />
		<input id="exporttotals" type="submit" value="Export Contribution Totals" class="bt" />
		@if (qbh.hasActiveConnection())
        {
	 	    <input id="toquickbooks" type="submit" value="To QuickBooks" class="bt" />
		}
	</p>
    <hr />
</form>
<div id="results">
	
</div>