@using System.Web.Optimization
@using CmsWeb.Models
@using CmsWeb
@model SearchDivisionsModel
<html>
<head>
<title>Index</title>
    @Styles.Render("~/Content/styles/css")
    <link href="/Content/styles/style2.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/single/SearchDivisions-js")
</head>
<body>
<form name="form1">
@Html.Hidden("ordered", Model.ordered)
@Html.Hidden("singlemode", Model.singlemode)
@Html.Hidden("id", Model.singlemode)
@Html.Hidden("topid")
  <table id="searchvalues" class="roundbox" cellspacing="5">
      <tr>
        <th class="right"> Name/ID#: </th>
        <td><input id="name" name="name" title="Partial Program / Division Name" type="text" value="" /></td>
      </tr>
      <tr>
        <td>
            <a id="close" href="#" class="bt">Close</a>
        </td>
        <td class="right">
            <a id="clear" href="#" class="bt">Clear</a>
            <a href="/SearchDivisions/Results" id="search" class="bt default formlink blue">Search</a>
        </td>
      </tr>
  </table>
@Html.Partial("Results", Model)
</form>
</body>
</html>