@using CmsWeb.Models
@using CmsWeb
@model SearchDivisionsModel
<html>
<head>
<title>Index</title>
    <link href="/Content/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.tooltip.css" rel="stylesheet" type="text/css" />
    <link href="/Content/style2.css" rel="stylesheet" type="text/css" />
@Html.Partial("CombinedJs");
@Html.Script("/Scripts/SearchDivisions.js")
</head>
<body>
<form name="form1">
@Html.Hidden("ordered", Model.ordered)
@Html.Hidden("singlemode", Model.singlemode)
@Html.Hidden("id", Model.singlemode)
@Html.Hidden("topid")
  <table id="searchvalues" class="roundbox" cellspacing="5">
      <tr>
        <th align="right"> Name/ID#: </th>
        <td><input id="name" name="name" title="Partial Program / Division Name" type="text" value="" /></td>
      </tr>
      <tr>
        <td>
            <a id="close" href="#" class="bt">Close</a>
        </td>
        <td align="right">
            <a href="/SearchDivisions/Results" id="search" class="bt default formlink">Search</a>
            <a id="clear" href="#" class="bt">Clear</a>
        </td>
      </tr>
  </table>
@Html.Partial("Results", Model)
</form>
</body>
</html>