@using CmsWeb.Models
@using CmsData
@using UtilityExtensions
@model SearchDivisionsModel
@{
    var list = Model.DivisionList();
}
<table id="results">
<thead>
    <tr><td colspan="3">
        <b>showing top @Model.listcount of @Model.count.ToString("N0")</b>
        </td></tr>
	<tr>
        <th></th>
		<th>Program</th>
		<th>Division</th>
        <th></th>
	</tr>
</thead>
<tbody>
@foreach (var d in list)
{ 
    <tr>
        <td><input type="checkbox" @(d.IsChecked ? "checked='checked'" : "") value="@d.DivId" @(d.DivId == Model.topid? "disabled=disabled" : "") /> </td>
        <td title="Other Programs|@d.Programs" class="tooltip">@d.Program</td>
        <td title="@d.DivId" class="tooltip">@d.Name</td>
        <th id="a@d.DivId">
        <span class="move">
        @if (d.IsChecked && d.DivId != Model.topid)
        {
            <a href="#" class="move" value="@d.DivId">move to top</a>
        }
        </span>
        </th>
    </tr>
}
</tbody>
</table>