@using CmsData
@using CmsWeb.Models
@using CmsWeb
@using UtilityExtensions
@model PeopleSearchModel
@{
	ViewBag.Title = "People Search";
	Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section head 
{
    <link href="/Content/styles/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
    <style>
        #statusflags {
            width: 275px;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Search/PeopleSearch.js")"></script>
}
<form id="peoplesearch" method="post" action="/PeopleSearch/Index">
<table id="searchvalues" cellspacing="5" class="roundbox">
<tr><td colspan="4"><h2>People Search</h2></td></tr>
	<tr>
		<th class="right"> Name/ID#: </th>
		<td> @Html.TextBox("name", Model.m.name, new { title = "Starting letters of First<space>Last or just Last" })</td>
		<th class="right"> Campus: </th>
		<td style="min-width:10em">
			@Html.DropDownList("campus", Model.Campuses())
		</td>
	</tr>
	<tr>
		<th class="right"> Email/Phone: </th>
		<td> @Html.TextBox("communication", Model.m.communication, new { title = "Any part of any phone or email" })</td>
		<th class="right"> Member: </th>
		<td>
			@Html.DropDownList("memberstatus", Model.MemberStatusCodes())
		</td>
	</tr>
	<tr>
		<th class="right"> Address: </th>
	    <td> @Html.TextBox("address", Model.m.address, new { title = "Any part of the address, city or zip" })</td>
		<th class="right"> Gender: </th>
		<td> @Html.DropDownList("gender", Model.GenderCodes()) </td>


	</tr>
    <tr>
        <th class="right"> Date of Birth: </th>
        <td> @Html.TextBox("birthdate", Model.m.birthdate, new { title = "YYYY or MM or MM/DD or MM/DD/YY" })</td>
        <th class="right"> Married: </th>
        <td> @Html.DropDownList("marital", Model.MaritalCodes())</td>
    </tr>
    @if (DbUtil.Db.Setting("UseStatusFlags", "false").ToBool())
    {
    <tr>
@*        <th class="right"> </th>
        <td></td>*@
        <th class="right" colspan="3"> Status Flags: </th>
        <td>
            @Html.DropDownList("statusflags", new SelectList(QueryBuilderClause.StatusFlags(DbUtil.Db), "Value", "Text"), new { multiple="multiple" })
        </td>
    </tr>
    }
	<tr>
	  <td colspan="2" class="bottom"><b>Total Count: <span id="totalcount">@Model.Count().ToString("N0")</span></b></td>
	  <td nowrap colspan="2"><br>
		  <a id="convert" href="/PeopleSearch/ConvertToQuery">Convert to Search Builder</a>
		  <a id="clear" href="#" class="bt">Clear</a>
		  <a href="/PeopleSearch/Results" id="search" class="bt blue default formlink">Search</a>
	  </td>
	</tr>
</table>
@Html.Partial("Results", Model)
</form>
<p> <a id="targetpeople" href="#">toggle link target</a> </p>