@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("#ishtml").click(function () {
            window.location = "/Display/EditPage/" + $('#id').val() + "?ishtml=" + $('#ishtml').attr('checked');
        });
        $(".bt").button();
    });
</script>
@using (Html.BeginForm("UpdatePage", "Display", FormMethod.Post))
{ 
    <div class="blogbody">
    <h2 class="title">@ViewData["title"]</h2>
    <a href="/Display/Index">Menu of Content</a>
    <hr />
    @Html.Hidden("id")
    <div>Title: @Html.TextBox("title") @Html.CheckBox("ishtml") Show HTML Only</div>
    <div>@Html.TextArea("html", new { @class = "editor", rows = "26", style = "width:90%" })
    </div>
    <input type="submit" class="bt" value="Post" />
    </div>
} 
@if((bool)ViewData["ishtml"])
{ 
    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
    <script src="/scripts/edit.js", type="text/javascript"></script>
} 


