@using CmsWeb
@model CmsData.Content
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
@<script type="text/javascript">
    $(function () {
        $(".bt").button();
        $("#delete").click(function (ev) {
            ev.preventDefault();
            if (confirm("Are you sure you want to delete this entry?")) {
                $.post("/Display/ContentDelete", { id: "@Model.Id" }, function () {
                    window.location = "/Manage/Display/";
                });
            }
        });
        $("textarea").tabby();
    });
</script>);
}
@using (Html.BeginForm("ContentUpdate", "Display", FormMethod.Post))
{ 
    <div class="blogbody">
    <h2 class="title">@Model.Name</h2>
    <a href="/Display/Index">Menu of Content</a>
    <hr />
    @Html.Hidden("id")
	 @Html.Hidden("name")
	 @Html.Hidden("title")
    <div>
    <textarea name="body" cols="80" rows="40" wrap='off' spellcheck="false" style="width:99%">@Html.Raw(@Model.Body)</textarea>
    </div>
	 <br />
		<input type="submit" class="bt" value="Save" /> &nbsp;&nbsp; 
        <a id="cancel" href='/Manage/Display' class="bt">Cancel</a>
        <a id="delete" href='#'><img src="/images/delete.gif"/></a>
    </div>
}