@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="/ckeditor/adapters/jquery.js" type="text/javascript"></script>
@Html.Script("/scripts/edit.js")
<script type="text/javascript">
    $(function () {
        $(".bt").button();
        $("#delete").click(function (ev) {
            ev.preventDefault();
            if (confirm("are you sure?"))
                window.location = $(this).attr("href");
        });
    });
</script>
}
@using (Html.BeginForm("UpdatePage", "Display", FormMethod.Post))
{ 
    <div class="blogbody">
    <h2 class="title">@ViewData["title"]</h2>
    <a href="/Display/Index">Menu of Content</a>
    <hr />
    @Html.Hidden("page")
    <div>Title: @Html.TextBox("title")</div>
    <div>@Html.TextArea("html", new { @class = "editor", rows = "26", style = "width:90%" })
    </div>
    <input type="submit" class="bt" value="Post" />
    <a id="delete" class="bt" href="/Display/DeletePage/@ViewData["page"]">delete</a>
    </div>
} 


