@using System.Web.Optimization
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
}
@using (Html.BeginForm("UpdateOrgContent", "Display", FormMethod.Post))
{
    <div class="blogbody">
    <h2 class="title">@ViewData["title"]</h2>
    <a href="/Organization/Index/@ViewData["id"]">organization</a>
    <hr />
    @Html.Hidden("id")
    @Html.Hidden("what")
    @Html.Hidden("div")
    <div>Title: @Html.TextBox("title")</div>
    <div>@Html.TextArea("html", new { style = "width:90%" })
    </div>
    <input type="submit" class="bt" value="Post" />
    </div>
} 
@section scripts
{
    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            CKEDITOR.replace('html', {
                height: 400,
                fullPage: true,
                filebrowserUploadUrl: '/Account/CKEditorUpload/',
                filebrowserImageUploadUrl: '/Account/CKEditorUpload/'
            });
        });
    </script>
    }