@using System.Web.Optimization
@using CmsWeb;
@using CmsData;
@using UtilityExtensions;
@model CmsWeb.Models.CheckinTimeModel
@{
	ViewBag.Title = "Check-in Activity";
	Layout = "/Views/Shared/SiteLayout.cshtml";

    var at = Model.AccessTypes();
    var atd = Model.AccessTypes(true);
}
@section head {
	<style type="text/css">
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
		tr.host { font-weight: bold; }
	</style>
}
@section scripts
{
    @Scripts.Render("~/bundles/single/checkinactivity-js")
}
<form id="form" method="post" action="/Manage/CheckinTime/Index">
@Html.Hidden("peopleid")
<div class="roundbox floatleft">
	<h2>
		Check-in Activity</h2>
	<table cellspacing="7">
		<tr>
			<td class="right">Start Date: </td>
			<td>@Html.DatePicker("dateStart")</td>
            <td class="right">Activity: </td>
			<td>
                @Html.DropDownList( "activity", new SelectList( Model.Activities()))
			</td>
		</tr>
		<tr>
			<td class="right">End Date: </td>
			<td>@Html.DatePicker("dateEnd")</td>
            <td class="right">Access Type: </td>
			<td>
                <select name="accesstype" id="accesstype">
                    @for (var iX = 0; iX < atd.Count(); iX++)
                    {
                        <option value="@iX" @(Model.accesstype == iX ? "selected=selected" : "" )>@atd[iX]</option>
                    }
                </select>
            </td>
		</tr>
		<tr>
			<td class="right">Locations: </td>
			<td>@Html.DropDownList( "location", new SelectList(Model.Locations()) )</td>
			<td colspan="2" class="center">
				Members: <span class="membercount">@Model.counts.members</span> - 
                Guests: <span class="guestcount">@Model.counts.guests</span>
			</td>
		</tr>
		<tr>
			<td class="right" colspan="4"><a id="filter" href="#" class="submitbutton bt">Filter</a> <a id="clear" href="#" class="submitbutton bt">Clear</a></td>
		</tr>
	</table>
</div>
<div class="roundbox floatleft" style="margin-left:10px;">
	<h2>Check-in Totals</h2>
	<table cellspacing="7">
		@foreach (var t in Model.FetchActivityCount())
		{
		<tr>
			<td class="right">@t.name:</td>
			<td>@t.count</td>
		</tr>
		} 
	</table>
</div>
<div class="floatclear">
</div>
<table id="Checkins" class="grid" cellpadding="5">
	<thead>
		<tr><td colspan="3"><hr /></td></tr>
		<tr>
			<th class="left"><a href="#" class="sortable">Host</a> / <a href="#" class="sortable">Person</a></th>
			<th><a href="#" class="sortable">Date/Time</a></th>
			<th><a href="#" class="sortable">Activity</a></th>
            <th>Access Type</th>
		</tr>
	</thead>
    <tbody>
        @foreach (var t in Model.FetchTimes()) 
        {
	    <tr>
		    <td><b>@t.name</b></td>
		    <td><b>@t.ctime.CheckInTimeX.FormatDateTm()</b></td>
		    <td><b>@t.activities</b></td>
            <td><b>@at[t.accesstype]</b></td>
	    </tr>
            if (t.guestcount > 0)
            {
                foreach( var g in t.guests )
                {
                <tr>
		            <td><a href="#" person id="@g.PeopleId"> --- @g.Person.Name</a></td>
		            <td>@g.CheckInTimeX.FormatDateTm()</td>
		            <td>@string.Join( ",", g.CheckInActivities.Select( e => e.Activity ) )</td>
                    <td>@at[g.AccessTypeID ?? 0]</td>
	            </tr>
                }
            }
         }
    </tbody>
</table>
@Html.Hidden("membercount", Model.counts.members)
@Html.Hidden("guestcount", Model.counts.guests)
@{ Html.RenderPartial("Pager2", Model.Pager); }
</form>
