@using CmsWeb;
@model CmsWeb.Models.CheckinTimeModel
@{
	ViewBag.Title = "Check-in Activity";
	Layout = "/Views/Shared/SiteLayout.cshtml";
}
@section head {
	<style type="text/css">
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
		tr.host { font-weight: bold; }
	</style>
}
@section scripts
{
    <script src="/Scripts/CheckinActivity.js" type="text/javascript"></script>
}
<form id="form" method="post" action="/Manage/CheckinTime/List">
@Html.Hidden("peopleid")
<div class="roundbox floatleft">
	<h2>
		Check-in Activity</h2>
	<table cellspacing="7">
		<tr>
			<td align="right">Start Date: </td>
			<td>@Html.DatePicker("dateStart")</td>
			<td align="right">@Html.CheckBox("withGuest", Model.withGuest )</td>
			<td>Show With Guest</td>
		</tr>
		<tr>
			<td align="right">End Date: </td>
			<td>@Html.DatePicker("dateEnd")</td>
			<td align="right">Name:</td>
            <td>
				<span class="name">@Model.counts.name</span>
                <a id="clearname" href="#">clear</a>
			</td>
		</tr>
		<tr>
			<td align="right">Locations: </td>
			<td>@Html.DropDownList( "location", new SelectList(Model.Locations()) )</td>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td align="right">Activity: </td>
			<td>@Html.DropDownList( "activity", new SelectList( Model.Activities()))</td>
			<td colspan="2" align="center">
				Members: <span class="membercount">@Model.counts.members</span> - 
                Guests: <span class="guestcount">@Model.counts.guests</span>
			</td>
		</tr>
		<tr>
			<td align="right" colspan="4"><a id="filter" href="#" class="submitbutton bt">Filter</a> <a id="clear" href="#" class="submitbutton bt">Clear</a></td>
		</tr>
	</table>
</div>
<div class="floatclear">
</div>
<table id="Checkins" class="grid" cellpadding="5">
	<thead>
		<tr><td colspan="3"><hr /></td></tr>
		<tr>
			<th align="left"><a href="#" class="sortable">Host</a> /<br/>&nbsp;
				<a href="#" class="sortable">Person</a>
            </th>
			<th><a href="#" class="sortable">Date/Time</a></th>
			<th><a href="#" class="sortable">Activity</a></th>
		</tr>
	</thead>
    <tbody>
    	@{ Html.RenderPartial("List", Model); }
    </tbody>
</table>
</form>
