@model CmsWeb.Areas.Search.Models.SearchPersonModel
<tr>
    <td>@Model.First @Model.Last</td>
    <td class="addrcol">@Model.AddressInfo.Address1</td>
    <td>@Model.CityStateZip</td>
    <td>@Model.age</td>
    <td class="right"><a href="/SearchAdd2/CancelPerson/@Model.index" class="ajax" title="remove this person from the list"><i class="icon-remove"></i></a></td>
</tr>

