@model IEnumerable<CmsWeb.Areas.Setup.Controllers.MemberTypeController.MemberTypeInfo>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "MemberType";
}
@section scripts
{
<script type="text/javascript">
        //id=elements_id&value=user_edited_content
    $(function () {
        $(".clickEdit").editable("/Setup/MemberType/Edit/", {
            indicator: "<img src='/images/loading.gif'>",
            tooltip: "Click to edit...",
            style: 'display: inline',
            width: '200px',
            height: 25
        });
        $(".clickSelect").editable("/Setup/MemberType/EditAttendType/", {
            indicator: '<img src="/images/loading.gif">',
            loadurl: "/Setup/MemberType/AttendTypeCodes/",
            loadtype: "POST",
            type: "select",
            submit: "OK",
            style: 'display: inline'
        });
        $("a.delete").click(function (ev) {
            ev.preventDefault();
            if (confirm("are you sure?"))
                $.post("/Setup/MemberType/Delete/" + $(this).attr("id"), null, function (ret) {
                    if (ret == "used")
                        alert("that member type is being used");
                    else
                        window.location = "/Setup/MemberType/";
                });
            return false;
        });
        $(".bt").button();
    });
</script>
}
<h2>Member Types</h2>
<table>
    <tr>
        <th> Id </th>
        <th> Code </th>
        <th> Description </th>
        <th> AttendType </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{ 
    <tr>
        <td>@item.Id</td>
        <td>
            <span id='c@(item.Id)' 
                class='clickEdit'>@item.Code</span>
        </td>
        <td>
            <span id='v@(item.Id)'
                class='clickEdit'>@item.Description</span>
        </td>
        <td>
            <span id='a@(item.Id)' 
                class='clickSelect'>@(item.AttendTypeId == null ? "" : item.AttendType)</span>
        </td>
        <td>
            <a id='d@(item.Id)' href="#" class="delete"><img border="0" src="/images/delete.gif" /></a>
        </td>
    </tr>
}
</table>
@using (Html.BeginForm("Create", "MemberType"))
{ 
    <p>
        New MemberTypeId: @Html.TextBox("id")
        <input type="submit" class="bt" value="Create" />
    </p>
} 