@model CmsWeb.Models.OrgGroupsModel
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Group Management";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            var lastChecked = null;
            $(document).on("click", "input[name='groups']", function (e) {
                if (e.shiftKey && lastChecked != null) {
                    var start = $("input[name='groups']").index(this);
                    var end = $("input[name='groups']").index(lastChecked);
                    $("input[name='groups']").slice(Math.min(start, end), Math.max(start, end) + 1).attr('checked', lastChecked.checked);
                }

                lastChecked = this;

                var checked = $("input[name='groups']:checked");

                if (checked.length > 0) {
                    $("#deleteGroups").button("option", "disabled", false).val("Delete " + checked.length + " Groups");
                }
                else {
                    $("#deleteGroups").button("option", "disabled", true).val("Delete 0 Groups");
                }

            });

            $(document).on("click", "#deleteGroups", function (e) {
                var acceptDelete = confirm("Are you sure you want to delete these groups?");
                if (!acceptDelete) e.preventDefault();
            });

            $(".bt").button();
        });
    </script>
}
<a href="/OrgGroups/Index/@Model.orgid">Return to Group Member Management</a><br />
<br />
<b>@Model.OrgName</b><br />
<br />
<form id="groupForm" action="/OrgGroups/DeleteGroups/@Model.orgid" method="post">
    <table class="grid">
        <thead>
        <tr>
            <td>Select</td>
            <td>Name</td>
            <td>Members</td>
            @if( Model.isRecreationTeam ) {
            <td>Score Total</td>
            <td>Score Average</td>
            }
        </tr>
        </thead>
    @foreach (var g in Model.GroupsList())
    {
        var d = Model.GetGroupDetails(g.Id);
        <tr>
            <td class="center">
                <input id="@g.Id" name="groups" type="checkbox" value="@g.Id" />
            </td>
             <td>
                @g.Name
            </td>
             <td class="center">
                @( d != null ? d.members : 0 )
            </td>
            @if( Model.isRecreationTeam ) {
             <td class="center">
                @( d != null ? d.total : 0 )
            </td>
             <td class="right">
                @( d != null ? d.average : 0 )
            </td>
            }
        </tr>
    }
    </table>
    <br />
    <input id="deleteGroups" type="submit" class="bt" disabled value="Delete 0 Groups" />
</form>