@using CmsData
@{
    ViewBag.Title = "ChangePassword";
}
<html>
<head>
    <link href="/Content/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Style2.css" rel="stylesheet" type="text/css" />
    <link href="/Content/cmenu.css" rel="stylesheet" type="text/css" />
    <link href="/Content/pager.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.tooltip.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
</head>
<body>
@using (Html.BeginForm("SetPassword", "Account")) 
{
    <br /><br />
    <table class="roundbox" align="center" cellspacing="5" style="width:400px">
    <tr><td colspan="2">
        <h2>Set Your Password</h2>
        <h4>Your username is: @ViewBag.user</h4>
        </td>
    </tr>
    <tr><td colspan="2">
			<p>Use the form below to change your password.</p>
			<p>New passwords must include:</p>
		<ul>
			<li>A minimum of @MembershipService.MinPasswordLength characters</li>
    @if(MembershipService.RequireSpecialCharacter)
    {
	        <li>At least 1 special character, like a $, ! or period</li>
    }
    @if(MembershipService.RequireOneNumber)
    {
	        <li>At least 1 number</li>
    }
    @if(MembershipService.RequireOneUpper)
    {
	        <li>At least 1 uppercase letter</li>
    }
        </ul>
        <div>@Html.ValidationMessage("form")</div>
    </td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td align="right">New password:</td>
        <td>@Html.Password("newPassword")
            <div>@Html.ValidationMessage("newPassword")</div>
        </td>
    </tr>
    <tr>
        <td align="right">Confirm new password:</td>
        <td>@Html.Password("confirmPassword")
            <div>@Html.ValidationMessage("confirmPassword")</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right"><input type="submit" class="bt" value="Change Password" /></td>
    </tr>
    </table>
} 
</body>
</html>