@{
    ViewBag.Title = "ChangePassword";
}
<html>
<head>
    @Html.Raw(SquishIt.Framework.Bundle.Css()
                .Add("/Content/jquery-ui-1.8.13.custom.css")
                .Add("/Content/site.css")
                .Add("/Content/Style2.css")
                .Add("/Content/cmenu.css")
                .Add("/Content/pager.css")
                .Add("/Content/jquery.jscrollpane.css")
                .Add("/Content/jquery.tooltip.css")
                .Add("/Content/jquery.autocomplete.css")
        .Render("/Content/AllMVC3_#.css"))
</head>
<body>
@using (Html.BeginForm("SetPassword", "Account")) 
{
    <br /><br />
    <table class="roundbox" align="center" cellspacing="5" style="width:400px">
    <tr><td colspan="2">
        <h2>Set Your Password</h2>
        <h4>Your username is: @ViewData["user"]</h4>
        </td>
    </tr>
    <tr><td colspan="2">
Use the form below to change your password.
New passwords are required to be a minimum of @ViewData["PasswordLength"] characters in length
and have at least 1 non-alphanumeric character.
<div>@Html.ValidationMessage("form")</div>
    </td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td align="right">New password:</td>
        <td>@Html.Password("newPassword")
            <div>@Html.ValidationMessage("newPassword")</div>
        </td>
    </tr>
    <tr>
        <td align="right">Confirm new password:</td>
        <td>@Html.Password("confirmPassword")
            <div>@Html.ValidationMessage("confirmPassword")</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="right"><input type="submit" class="bt" value="Change Password" /></td>
    </tr>
    </table>
} 
</body>
</html>