@{
    ViewBag.Title = "ChangePassword";
}
<html>
<head>
    <link href="/Content/styles/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/Style2.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/pager.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/jquery.tooltip.css" rel="stylesheet" type="text/css" />
</head>
<body>
@using (Html.BeginForm("SetPassword", "Account")) 
{
    <br /><br />
    <table class="roundbox" class="center" cellspacing="5" style="width:400px">
    <tr><td colspan="2">
        <h2>Set Your Password</h2>
        <h4>Your username is: @ViewBag.user</h4>
        </td>
    </tr>
    <tr><td colspan="2">
			<p>Use the form below to change your password.</p>
			<p>New passwords must include:</p>
		<ul>
			<li>A minimum of @ViewBag.MinPasswordLength characters</li>
    @if((bool?)ViewBag.RequireSpecialCharacter == true)
    {
	        <li>At least 1 special character, like a $, ! or period</li>
    }
    @if((bool?)ViewBag.RequireOneNumber == true)
    {
	        <li>At least 1 number</li>
    }
    @if((bool?)ViewBag.RequireOneUpper == true)
    {
	        <li>At least 1 uppercase letter</li>
    }
        </ul>
        <div>@Html.ValidationMessage("form")</div>
    </td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td class="right">New password:</td>
        <td>@Html.Password("newPassword")
            <div>@Html.ValidationMessage("newPassword")</div>
        </td>
    </tr>
    <tr>
        <td class="right">Confirm new password:</td>
        <td>@Html.Password("confirmPassword")
            <div>@Html.ValidationMessage("confirmPassword")</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="right"><input type="submit" class="bt" value="Change Password" /></td>
    </tr>
    </table>
} 
</body>
</html>