@using CmsData;
@using CmsData.Classes.ProtectMyMinistry
@model CmsData.Person
@{
    int type = ViewBag.dialogType;

    var labels = from e in DbUtil.Db.BackgroundCheckLabels
                 orderby e.Description
                 select e;

    var labelEnabled = DbUtil.Db.Setting("EnableBackgroundLabels", "false") == "true";
}
<!DOCTYPE html>
<html>
<head>
    <title>DialogType</title>
</head>
<body>
    @switch( type )
    {
        case ProtectMyMinistryHelper.TYPE_BACKGROUND:
        {
            <form action="/Volunteering/CreateCheck/@Model.PeopleId" method="post">
                <input type="hidden" name="type" value="@type" />
                <table>
                    <tr>
                        <td class="right top"><b>Person:</b></td>
                        <td class="top">@Model.Name</td>
                    </tr>
                    <tr>
                        <td align="right top"><b>Type:</b></td>
                        <td class="top">@Html.DropDownList("code",  new SelectList( ProtectMyMinistryHelper.getCheckTypes( ProtectMyMinistryHelper.TYPE_BACKGROUND ), "code", "label" ) )</td>
                    </tr>
                    @if( labelEnabled ) {
                    <tr>
                        <td class="right top"><b>Label:</b></td>
                        <td class="top">@Html.DropDownList("label",  new SelectList( labels, "ID", "Description" ) )</td>
                    </tr>
                    }
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="2" class="center"><input class="bt" type="submit" value="Submit" /> &nbsp;&nbsp; <input class="bt" id="closeSubmitDialog" type="button" value="Cancel" /></td>
                    </tr>
                </table>
            </form>
            break;
        }

        case ProtectMyMinistryHelper.TYPE_CREDIT:
        {
            <form action="/Volunteering/CreateCheck/@Model.PeopleId" method="post">
                <input type="hidden" name="type" value="@type" />
                <table>
                    <tr>
                        <td class="right top"><b>Person:</b></td>
                        <td class="top">@Model.Name</td>
                    </tr>
                    <tr>
                        <td class="right top"><b>Type:</b></td>
                        <td class="top">@Html.DropDownList("code",  new SelectList( ProtectMyMinistryHelper.getCheckTypes( ProtectMyMinistryHelper.TYPE_CREDIT ), "code", "label" ) )</td>
                    </tr>
                    @if( labelEnabled ) {
                    <tr>
                        <td class="right top"><b>Label:</b></td>
                        <td class="top">@Html.DropDownList("label",  new SelectList( labels, "ID", "Description" ) )</td>
                    </tr>
                    }
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="2" class="center"><input class="bt" type="submit" value="Submit" /> &nbsp;&nbsp; <input class="bt" id="closeSubmitDialog" type="button" value="Cancel" /></td>
                    </tr>
                </table>
            </form>
            break;
        }
    }
</body>
</html>
