@using CmsData;
@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel
@{
    ViewBag.Title = "Edit Volunteer";
    Layout = "/Views/Shared/SiteLayout.cshtml";
    var s = from e in DbUtil.Db.VolApplicationStatuses
            select e;
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
@<script type="text/javascript">
    $(function () {
        $(".bt").button();
        $(".datepicker").datepicker();
    });
    function redirect() {
        window.location = "/Volunteering/Index/@Model.V.PeopleId";
    }
</script>);
}
<a href="/Person/Index/@Model.V.PeopleId">@Model.V.Person.Name</a><br />
<br />
<form action="/Volunteering/Update" method="post">
    @Html.Hidden("Id", Model.V.PeopleId)
    <table width="100%" style="border:thin solid #777777;">
        <tr>
            <td class="right top" style="background-color:#EFF3FB;"><b>Approvals:</b></td>
            <td class="top" width="30%">
            @foreach (var ck in Model.ApprovalList)
            {
                <input type="checkbox" name="approvals" @(ck.Approved ? "checked='checked'" : "") value="@ck.Id"/>
                @ck.Description<br />
            }
            </td>
            <td class="right top" style="background-color:#EFF3FB;"><b>Comments:</b></td>
            <td class="top" width="50%">
                <textarea name="comments" rows="4" cols="50">@Model.V.Comments</textarea>
            </td>
        </tr>
        <tr>
            <td class="right top" style="background-color:#EFF3FB;" nowrap="nowrap"><b>Last Background Check:</b></td>
            <td class="top">@Html.TextBox("processDate", Model.V.ProcessedDate.FormatDate(), new { @class = "datepicker" })</td>
            <td class="right top" style="background-color:#EFF3FB;" nowrap="nowrap"><b>Status Code:</b></td>
            <td class="top">@Html.DropDownList("statusId", new SelectList( s, "Id", "Description", Model.V.StatusId))</td>
        </tr>
    </table>
    <br />
    <input class="bt" type="submit" value="Save" /> <input class="bt" type="button" value="Cancel" onclick="redirect();" />
</form>