@using CmsData;
@using CmsData.Classes.ProtectMyMinistry
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel
@{
    ViewBag.Title = "Volunteer";
    Layout = "/Views/Shared/SiteLayout.cshtml";

    IQueryable<BackgroundCheck> bg = null;
    IQueryable<BackgroundCheck> credit = null;
    IQueryable<BackgroundCheckLabel> labels = null;

    var labelEnabled = DbUtil.Db.Setting("EnableBackgroundLabels", "false") == "true";
    var checkEnabled = DbUtil.Db.Setting("EnableBackgroundChecks", "false") == "true";

    var i = from e in DbUtil.Db.VolunteerForms
            where e.PeopleId == Model.V.PeopleId
            select e;

    if (checkEnabled)
    {
        bg = from e in DbUtil.Db.BackgroundChecks
             where e.PeopleID == Model.V.PeopleId
             where e.ReportTypeID == ProtectMyMinistryHelper.TYPE_BACKGROUND
             select e;

        credit = from e in DbUtil.Db.BackgroundChecks
                 where e.PeopleID == Model.V.PeopleId
                 where e.ReportTypeID == ProtectMyMinistryHelper.TYPE_CREDIT
                 select e;

        if (labelEnabled)
        {
            labels = from e in DbUtil.Db.BackgroundCheckLabels
                     select e;
        }
    }    
}
@section scripts
{
    <script src="/Scripts/volunteering.js"></script>
}
@section head
{
    <style>
        div.name {
            padding: 1em;
        }
    </style>
}
<a href="/Person/Index/@Model.V.PeopleId">@Model.V.Person.Name</a><br />
<br />
<b>Volunteer Application Information</b>
<table width="100%" style="border: thin solid #777777;">
    <tr>
        <td class="right top" style="background-color: #EFF3FB;"><b>Approvals:</b></td>
        <td class="top" width="30%">
            @foreach (var ck in Model.ApprovalList)
            {
                <input type="checkbox" @(ck.Approved ? "checked='checked'" : "") disabled="disabled"/>
                @ck.Description<br />
            }
        </td>
        <td class="right top" style="background-color: #EFF3FB;"><b>Comments:</b></td>
        <td class="top" width="50%">
            <textarea rows="4" cols="50" readonly="readonly">@Model.V.Comments</textarea>
        </td>
    </tr>
    <tr>
        <td class="right top" style="background-color: #EFF3FB;" nowrap="nowrap"><b>Last Background Check:</b></td>
        <td class="top">@( Model.V.ProcessedDate != null ? Model.V.ProcessedDate.Value.ToString("d") : "")</td>
        <td class="right top" style="background-color: #EFF3FB;" nowrap="nowrap"><b>Status Code:</b></td>
        <td class="top">@(Model.V.VolApplicationStatus == null ? "Unknown" : Model.V.VolApplicationStatus.Description)</td>
    </tr>
</table>
<br />
<form action="/Volunteering/Edit/@Model.V.PeopleId">
    <input type="submit" class="bt" value="Edit" /></form>
<br />
<br />
@if (DbUtil.Db.Setting("EnableBackgroundChecks", "false") == "true" && User.IsInRole("BackgroundCheck"))
{
    <b>Volunteer Background Checks</b> @:(<a href="#" id="newcheck" class="showCreateDialog" pid="@Model.V.PeopleId" ctype="@ProtectMyMinistryHelper.TYPE_BACKGROUND" />Create New</a>)<br />
    <table width="100%" style="border: thin solid #777777;">
        @if (bg != null && !bg.Any())
        {
            <tr>
                <td>No Background Checks</td>
            </tr>
        }
        else
        {
            <tr>
                <th width="8%" style="background-color: #EFF3FB;"><b>Updated</b></th>
                @if (labelEnabled)
                {
                    <th width="25%" style="background-color: #EFF3FB;"><b>Label</b></th>
                }
                <th width="10%" style="background-color: #EFF3FB;"><b>Service</b></th>
                <th width="10%" style="background-color: #EFF3FB;"><b>Status</b></th>
                <th width="8%" style="background-color: #EFF3FB;"><b>Report ID</b></th>
                <th width="6%" style="background-color: #EFF3FB;"><b>Issues</b></th>
                <th style="background-color: #EFF3FB; white-space: nowrap;"><b>Report Link/Error</b></th>
                <th width="8%" style="background-color: #EFF3FB;"><b>Action</b></th>
            </tr>
        }
        @foreach (var check in bg)
        {
            <tr>
                <td class="center" style="white-space: nowrap;">@check.Updated.ToString("d")</td>
                @if (labelEnabled)
                {
                    <td class="center" style="white-space: nowrap;">
                        @if (check.ReportLabelID > 0)
                        {
                            <a href="#" class="showEditDialog" cid="@check.Id">
                                @(labels.Where(e => e.Id == check.ReportLabelID).Select(e => e.Description).SingleOrDefault() ?? check.ReportLabelID.ToString())
                            </a>
                        }
                        else
                        {
                            <a href="#" id="showEditDialog" cid="@check.Id">Assign Label
                            </a>
                        }
                    </td>
                }
                <td class="center">@check.ServiceCode</td>
                <td class="center" style="white-space: nowrap;">@ProtectMyMinistryHelper.getStatus(check.StatusID)</td>
                <td class="center">@( check.ReportID > 0 ? check.ReportID.ToString() : "")</td>
                <td class="center">@( check.IssueCount > 0 ? "Yes" : "No")</td>
                <td class="center">
                    @switch (check.StatusID)
                    {
                        case 0:
                        <span style="color: red;">@Html.Raw(check.ErrorMessages)</span>
                            break;

                        case 3:
                        <a href="@check.ReportLink" target="_blank">Click here for the report</a>
                            break;
                    }
                </td>
                <td class="center" nowrap="nowrap">
                    @switch (check.StatusID)
                    {
                        case 0:
                        <input type="button" value="Resubmit" style="width:75px;" class="showSubmitDialog" cid="@check.Id"/>
                            break;

                        case 1:
                        <input type="button" value="Submit" style="width:75px;" class="showSubmitDialog" cid="@check.Id" />
                        <input type="button" value="Delete" style="width:75px;" class="showDeleteDialog" cid="@check.Id" />
                            break;

                        case 2:
                        <input type="button" value="Waiting" disabled="disabled" style="width: 75px;" />
                            break;

                        case 3:
                            if (check.IssueCount > 0)
                            {
                                <input type="button" value="Delete" style="width:75px;" class="showDeleteDialog" cid="@check.Id" />
                            }
                            else
                            {
                                <input type="button" value="Complete" disabled="disabled" style="width: 75px;" />
                            }
                            break;
                    }
                </td>
            </tr>
        }

    </table>
    <br />
    <br />
}
@if (DbUtil.Db.Setting("EnableBackgroundChecks", "false") == "true" && User.IsInRole("CreditCheck"))
{
    <b>Volunteer Credit Checks</b> @:(<a href="#" id="newcheck" class="showCreateDialog" pid="@Model.V.PeopleId" ctype="@ProtectMyMinistryHelper.TYPE_CREDIT" />Create New</a>)<br />
    <table width="100%" style="border: thin solid #777777;">
        @if (credit != null && credit.Count() == 0)
        {
            <tr>
                <td>No Credit Checks</td>
            </tr>
        }
        else
        {
            <tr>
                <th width="8%" style="background-color: #EFF3FB;"><b>Created</b></th>
                @if (labelEnabled)
                {
                    <th width="25%" style="background-color: #EFF3FB;"><b>Label</b></th>
                }
                <th width="10%" style="background-color: #EFF3FB;"><b>Service</b></th>
                <th width="10%" style="background-color: #EFF3FB;"><b>Status</b></th>
                <th width="8%" style="background-color: #EFF3FB;"><b>Report ID</b></th>
                <th width="6%" style="background-color: #EFF3FB;"><b>Issues</b></th>
                <th style="background-color: #EFF3FB; white-space: nowrap;"><b>Report Link/Error</b></th>
                <th width="8%" style="background-color: #EFF3FB;"><b>Action</b></th>
            </tr>
        }
        @foreach (var check in credit)
        {
            <tr>
                <td class="center" style="white-space: nowrap;">@check.Created.ToString("d")</td>
                @if (labelEnabled)
                {
                    <td class="center" style="white-space: nowrap;">
                        @if (check.ReportLabelID > 0)
                        {
                            <a href="#" class="showEditDialog" cid="@check.Id">
                                @labels.Where(e => e.Id == check.ReportLabelID).SingleOrDefault().Description
                            </a>
                        }
                        else
                        {
                            <a href="#" class="showEditDialog" cid="@check.Id">Assign Label
                            </a>
                        }
                    </td>
                }
                <td class="center">@check.ServiceCode</td>
                <td class="center" style="white-space: nowrap;">@ProtectMyMinistryHelper.getStatus(check.StatusID)</td>
                <td class="center">@( check.ReportID > 0 ? check.ReportID.ToString() : "")</td>
                <td class="center">@( check.IssueCount > 0 ? "Yes" : "No")</td>
                <td class="center">
                    @switch (check.StatusID)
                    {
                        case 0:
                        <span style="color: red;">@Html.Raw(check.ErrorMessages)</span>
                            break;

                        case 3:
                        <a href="@check.ReportLink" target="_blank">Click here for the report</a>
                            break;
                    }
                </td>
                <td class="center" nowrap="nowrap">
                    @switch (check.StatusID)
                    {
                        case 0:
                        <input type="button" value="Resubmit" style="width:75px;" class="showSubmitDialog" cid="@check.Id" />
                            break;

                        case 1:
                        <input type="button" value="Submit" style="width:75px;" class="showSubmitDialog" cid="@check.Id" />
                        <input type="button" value="Delete" style="width:75px;" class="showDeleteDialog" cid="@check.Id" />
                            break;

                        case 2:
                        <input type="button" value="Waiting" disabled="disabled" style="width: 75px;" />
                            break;

                        case 3:
                            if (check.IssueCount > 0)
                            {
                                <input type="button" value="Delete" style="width:75px;" class="showDeleteDialog" cid="@check.Id" />
                            }
                            else
                            {
                                <input type="button" value="Complete" disabled="disabled" style="width: 75px;" />
                            }
                            break;
                    }
                </td>
            </tr>
        }

    </table>
    <br />
    <br />
}
<b>Volunteer Documents</b>
<table style="border: thin solid #777777;">
    <tr>
        @foreach (var form in i)
        {
            <td class="center" style="padding: 7px;">
                <a href="/Image.aspx?id=@form.MediumId">
                    <img src="/images/adobe.png" style="border: thin solid #000000;">
                </a>
                <div class="name">
                    <span id="n.@form.Id" class="editable">@form.Name</span>
                </div>
                <form action="/Volunteering/Delete" method="post" onsubmit="return confirmDelete();">
                    <input type="hidden" name="id" value="@form.Id" />
                    <input type="hidden" name="PeopleID" value="@Model.V.PeopleId" />
                    <input type="submit" class="bt" value="Delete" />
                </form>
            </td>
        }
        @if (i.Count() == 0)
        {
            <td class="center">No Documents Uploaded</td>
        }
    </tr>
</table>
<br />
<form action="/Volunteering/Upload/@Model.V.PeopleId" method="post" enctype="multipart/form-data">
    @Html.Hidden("PeopleID", @Model.V.PeopleId)
    <input type="file" name="file" id="file" />
    <input type="submit" class="bt" value="Upload" />
</form>
<div id="dialogHolder"></div>
