@model CmsWeb.Areas.Search.Models.SearchAddModel
<form class="ajax">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Pending Selection List</h3>
    </div>
    <div class="modal-body">
        <a class="helplink" target="_blank" href='@Model.HelpLink("List")'>help</a>
        @Html.EditorFor(m => m, "HiddenSearch")
        @Html.EditorFor(m => m, "HiddenMeta")
        @Html.EditorFor(m => m, "HiddenPeople")
        @Html.DisplayFor(m => m, "DisplayPeople")
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        @if (!Model.OnlyOne)
        {
            <a href="/SearchAdd2/SearchPerson" class="btn ajax">Another Search</a> @:or 
            if (Model.CanAdd)
            { 
            <a href="/SearchAdd2/AddToLastFamily" class="btn ajax">Add to Last Family</a> @:or 
            }
        }
        <a href="/SearchAdd2/CommitAdd" class="btn btn-primary commit">Commit and Add</a>
    </div>
</form>
