@model CmsWeb.Areas.Search.Models.SearchAddModel
<form class="form-horizontal onecol ajax" action="/SearchAdd2/ResultsFamily" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Search for Family</h3>
    </div>
    <div class="modal-body">
        <fieldset class="display">
            @Html.EditorFor(m => m, "HiddenMeta")
            @Html.EditorFor(m => m, "HiddenPeople")
            @Html.EditorFor(m => m.Name, new { help = "<i>Starting letters of Last Name" })
            @Html.EditorFor(m => m.Phone, new { help = "<i>Any part of any Phone or Email</i>" })
            @Html.EditorFor(m => m.Address, new { help = "<i>Any part of the Street Address, City or Zip</i>" })
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="/SearchAdd2/SearchPerson" class="btn ajax">Go Back to Individual Search</a>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>