@model CmsWeb.Areas.Search.Models.SearchAddModel
@* Dave: note the onecol class, I had to put that in because basic forms from bootstrap seem to have been globally changed *@
<form class="form-horizontal onecol ajax" action="/SearchAdd2/Results" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Search for Person</h3>
    </div>
    <div class="modal-body">
        <fieldset class="display">
            @Html.EditorFor(m => m.Name, new { help = "<i>Starting letters of First &amp; Last or just Last, e.g. <u>Pe Smi</u></i>" })
            @Html.EditorFor(m => m.Phone, new { help = "<i>Any part of any Phone or Email</i>" })
            @Html.EditorFor(m => m.Address, new { help = "<i>Any part of the Street Address, City or Zip</i>" })
            @Html.EditorFor(m => m.dob, new { help = "<i>YYYY or MM or MM/DD or MM/DD/YY</i>" })
            @Html.EditorFor(m => m, "HiddenMeta")
            @Html.EditorFor(m => m, "HiddenPeople")
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>
