@using UtilityExtensions
@model CmsWeb.Models.OnlineRegModel
    <div style="background-color:Yellow">@Util.UrgentMessage</div>
@Html.Raw(Model.Instructions)
@Html.Partial("Flow/ModelHidden", Model)

@if (Model.DisplayLogin())
{ //nobody registered yet
        @Html.Partial("Flow/Login", Model)
}
else
{ 
<table width="100%">
    @if (!Model.OnlyOneAllowed() && Model.List.Count > 1)
    { // label is necessary if more than one
    <tr>
        <td>
            <div class="instruct">
                Pending Registrations</div>
        </td>
    </tr>
    }
    @for (var i = 0; i < Model.List.Count; i++)
    { // show each registrant, including the one being worked on
            Model.current = Model.List[i];
            Model.current.index = i;
            Model.current.LastItem = (i == (Model.List.Count - 1));
            @Html.Partial("Flow/Registrant", Model)
	}     
</table>
    if (Model.last != null && Model.last.OtherOK && Model.last.ShowDisplay())
    {
            @Html.Partial("Flow/Buttons", Model)
    }
}