@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Models.OnlineRegPersonModel
@if (Model.AnyOtherInfo())
{
    if (Model.index > 0 && Model.NeedsCopyFromPrevious())
    { 
        <tr>
            <td colspan="2" align="right"><a href="#" id="copy">copy from previous</a></td>
        </tr>
    }
}
@if (Model.setting.AskShirtSize == true)
{
    <tr>
        <td><label for="shirtsize">ShirtSize</label></td>
        <td>@Html.DropDownList3("", Model.inputname("shirtsize"), Model.ShirtSizes(), Model.shirtsize)
            <div>@Html.ValidationMessage(Model.inputname("shirtsize"))</div></td>
    </tr>
} 
@if (Model.setting.AskRequest == true)
{ 
    <tr>
        <td><label for="request">@Model.setting.RequestLabel</label></td>
        <td>@Html.TextBox(Model.inputname("request"), Model.request, new { maxlength = "100", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("request"))</div></td>
    </tr>
} 
@if (Model.setting.AskEmContact == true)
{ 
    <tr>
        <td><label for="emcontact">Emergency Contact</label></td>
        <td>@Html.TextBox(Model.inputname("emcontact"), Model.emcontact, new { maxlength = "100", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("emcontact"))</div></td>
    </tr>
    <tr>
        <td><label for="emphone">Emergency Phone</label></td>
        <td>@Html.TextBox(Model.inputname("emphone"), Model.emphone, new { maxlength = "15", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("emphone"))</div></td>
    </tr>
} 
@if (Model.setting.AskInsurance == true)
{ 
    <tr>
        <td><label for="insurance">Health Insurance Carrier</label></td>
        <td>@Html.TextBox(Model.inputname("insurance"), Model.insurance, new { maxlength = "100", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("insurance"))</div></td>
    </tr>
    <tr>
        <td><label for="policy">Policy #</label></td>
        <td>@Html.TextBox(Model.inputname("policy"), Model.policy, new { maxlength = "100", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("policy"))</div></td>
    </tr>
} 
@if (Model.setting.AskDoctor == true)
{ 
    <tr>
        <td><label for="doctor">Family Physician Name</label></td>
        <td>@Html.TextBox(Model.inputname("doctor"), Model.doctor, new { maxlength = "100", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("doctor"))</div></td>
    </tr>
    <tr>
        <td><label for="docphone">Family Physician Phone</label></td>
        <td>@Html.TextBox(Model.inputname("docphone"), Model.docphone, new { maxlength = "15", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("docphone"))</div></td>
    </tr>
 } 
@if (Model.setting.AskAllergies == true)
{ 
    <tr>
        <td><label for="medical">Allergies or<br />
               Medical Problems</label></td>
        <td>@Html.TextArea(Model.inputname("medical"), Model.medical)
            <div class="red"> Leave blank if none</div></td>
    </tr>
 }
@if (Model.setting.AskTylenolEtc == true)
{
    <tr>
        <td><label for="medical">May we give your child</label></td>
        <td>
            <table>
            <tr>
                <td>Tylenol?:</td>
                <td>
                    @Html.RadioButton(Model.inputname("tylenol"), true, Model.tylenol == true) Yes
                    @Html.RadioButton(Model.inputname("tylenol"), false, Model.tylenol == false) No
                    <div>@Html.ValidationMessage(Model.inputname("tylenol"))</div>
                </td>
            </tr>
            <tr>
                <td>Advil?:</td>
                <td>
                    @Html.RadioButton(Model.inputname("advil"), true, Model.advil == true) Yes
                    @Html.RadioButton(Model.inputname("advil"), false, Model.advil == false) No
                    <div>@Html.ValidationMessage(Model.inputname("advil"))</div>
                </td>
            </tr>
            <tr>
                <td>Maalox?:</td>
                <td>
                    @Html.RadioButton(Model.inputname("maalox"), true, Model.maalox == true) Yes
                    @Html.RadioButton(Model.inputname("maalox"), false, Model.maalox == false) No
                    <div>@Html.ValidationMessage(Model.inputname("maalox"))</div>
                </td>
            </tr>
            <tr>
                <td>Robitussin?:</td>
                <td>
                    @Html.RadioButton(Model.inputname("robitussin"), true, Model.robitussin == true) Yes
                    @Html.RadioButton(Model.inputname("robitussin"), false, Model.robitussin == false) No
                    <div>@Html.ValidationMessage(Model.inputname("robitussin"))</div>
                </td>
            </tr>
            </table>
        </td>
    </tr>
}
@if (Model.setting.AskParents == true)
{ 
    <tr>
        <td><label for="mname">Mother's Name (first last)</label></td>
        <td>@Html.TextBox(Model.inputname("mname"), Model.mname, new { maxlength = "80", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("mname"))</div></td>
    </tr>
    <tr>
        <td><label for="fname">Father's Name (first last)</label></td>
        <td>@Html.TextBox(Model.inputname("fname"), Model.fname, new { maxlength = "80", @class="wide" })
            <div>@Html.ValidationMessage(Model.inputname("fname"))</div></td>
    </tr>
}
@if (Model.setting.AskCoaching == true)
{ 
     <tr>
        <td><label for="coaching">Interested in Coaching?</label></td>
        <td>
            @Html.RadioButton(Model.inputname("coaching"), true, Model.coaching == true) Yes
            @Html.RadioButton(Model.inputname("coaching"), false, Model.coaching == false) No
            <div>@Html.ValidationMessage(Model.inputname("coaching"))</div>
        </td>
    </tr>
}
@if (Model.setting.AskChurch == true)
{ 
    <tr>
        <td><label for="church">@(Model.setting.AskParents == true ? "Parent's Church" : "Church")</label></td>
        <td>@Html.CheckBox(Model.inputname("memberus"), Model.memberus) Member of this Church<br />
            @Html.CheckBox(Model.inputname("otherchurch"), Model.otherchurch) Active in another Local Church
            <div>@Html.ValidationMessage("member")</div></td>
    </tr>
}
@if (Model.setting.AskTickets == true)
{ 
    <tr>
        <td><label for="ntickets">@Model.setting.NumItemsLabel</label></td>
        <td>@Html.TextBox(Model.inputname("ntickets"), Model.ntickets, new { @class = "short" })
            <div>@Html.ValidationMessage(Model.inputname("ntickets"))</div></td>
    </tr>
}
@if (Model.setting.SuggestedFee == true)
{ 
    <tr>
        <td><label for="suggestedfee">Suggested Fee</label></td>
        <td>@Html.TextBox(Model.inputname("suggestedfee"), (Model.suggestedfee ?? Model.setting.Fee).ToString2("N2"), new { @class = "short" })
            <div>@Html.ValidationMessage(Model.inputname("suggestedfee"))</div></td>
    </tr>
}
@if(Model.setting.Dropdown1.Count > 0)
{ 
    <tr>
        <td><div class="wraparound">@Model.setting.Dropdown1Label</div></td>
        <td>@Html.DropDownList4("", Model.inputname("option"), Model.DropdownList1(), Model.option)
            <div>@Html.ValidationMessage(Model.inputname("option"))</div></td>
    </tr>
}
@if(Model.setting.Dropdown2.Count > 0)
{ 
    <tr>
        <td><div class="wraparound">@Model.setting.Dropdown2Label</div></td>
        <td>@Html.DropDownList4("", Model.inputname("option2"), Model.DropdownList2(), Model.option2)
            <div>@Html.ValidationMessage(Model.inputname("option2"))</div></td>
    </tr>
}
@if(Model.setting.Dropdown3.Count > 0)
{ 
    <tr>
        <td><div class="wraparound">@Model.setting.Dropdown3Label</div></td>
        <td>@Html.DropDownList4("", Model.inputname("option3"), Model.DropdownList3(), Model.option3)
            <div>@Html.ValidationMessage(Model.inputname("option3"))</div></td>
    </tr>
}
@if(Model.setting.GradeOptions.Count > 0)
{ 
    <tr>
        <td>@Model.setting.GradeOptionsLabel</td>
        <td>@Html.DropDownList3("", Model.inputname("gradeoption"), Model.GradeOptions(), Model.gradeoption)
            <div>@Html.ValidationMessage(Model.inputname("gradeoption"))</div></td>
    </tr>
}
@for(int n = 0; n < Model.setting.ExtraQuestions.Count; n++)
{
    var a = Model.setting.ExtraQuestions[n];
    <tr>
        <td><div class="wraparound">@a.Question</div></td>
        <td>
            @Html.Hidden(Model.inputname("ExtraQuestion[" + n + "].Key"), a.Question)
            @Html.TextBox(Model.inputname("ExtraQuestion[" + n + "].Value"), Model.ExtraQuestionValue(a.Question), new { @class = "wide" })
            <div>@Html.ValidationMessage(Model.inputname("ExtraQuestion[" + n + "].Value"))</div></td>
    </tr>
}
@for(int n = 0; n < Model.setting.YesNoQuestions.Count; n++)
{ 
    var a = Model.setting.YesNoQuestions[n];
    <tr>
        <td><div class="wraparound">@a.Question</div></td>
        <td>
            @Html.Hidden(Model.inputname("YesNoQuestion[" + n + "].Key"), a.SmallGroup)
            @Html.RadioButton(Model.inputname("YesNoQuestion[" + n + "].Value"), true, Model.YesNoChecked(a.SmallGroup, true)) Yes
            @Html.RadioButton(Model.inputname("YesNoQuestion[" + n + "].Value"), false, Model.YesNoChecked(a.SmallGroup, false)) No
            <div>@Html.ValidationMessage(Model.inputname("YesNoQuestion[" + n + "].Value"))</div></td>
    </tr>
}
@if (Model.setting.Checkboxes.Count > 0)
{ 
   <tr>
       <td valign="top"><div class="wraparound">@Model.setting.CheckBoxLabel</div></td>
       <td style="padding:3px">
            <table>
    @foreach (var a in Model.setting.Checkboxes)
    { 
            <tr><td valign="top">
                <input type="checkbox" value="@a.SmallGroup" name='@Model.inputname("Checkbox")' @(Model.IsSmallGroupFilled(Model.setting.Checkboxes, a.SmallGroup) ? "disabled='disabled'" : "") @(Model.CheckboxChecked(a.SmallGroup) ? "checked='checked'" : "") /></td>
                <td>@a.Description
        @if (a.Fee > 0) 
        { 
            @:&nbsp;($@a.Fee.ToString2("N2")) 
        }
            </td>
            </tr>
    }
            </table>
            <div>@Html.ValidationMessage("checkboxes")</div>
       </td>
   </tr>
}
@if (Model.setting.Checkboxes2.Count > 0)
{ 
   <tr>
       <td valign="top"><div class="wraparound">@Model.setting.CheckBox2Label</div></td>
       <td style="padding:3px">
            <table>
    @foreach (var a in Model.setting.Checkboxes2)
    {
        var filled = Model.IsSmallGroupFilled(Model.setting.Checkboxes2, a.SmallGroup);
            <tr><td valign="top">
                <input type="checkbox" value="@a.SmallGroup" name='@Model.inputname("Checkbox2")' @(filled ? "disabled='disabled'" : "") @(Model.CheckboxChecked(a.SmallGroup) ? "checked='checked'" : "") /></td>
                <td>
                <span@(filled? " class=strike" : "")>@a.Description</span>
        @if (a.Fee > 0) 
        { 
            @:&nbsp;($@a.Fee.ToString2("N2")) 
        }
            </td>
            </tr>
    }
            </table>
            <div>@Html.ValidationMessage("checkboxes2")</div>
       </td>
   </tr>
}
@if (Model.setting.MenuItems.Count > 0)
{
    <tr>
        <td><strong>@Model.setting.MenuItemsLabel</strong></td>
        <td><strong># Items</strong></td>
    </tr>
}
@for (var n = 0; n < Model.setting.MenuItems.Count; n++ )
{
    var i = Model.setting.MenuItems[n];
    <tr>
        <td>@i.Description </td>
        <td>@Html.Hidden(Model.inputname("MenuItem[" + n + "].Key"), i.SmallGroup)
            @Html.TextBox(Model.inputname("MenuItem[" + n + "].Value"), Model.MenuItemValue(i.SmallGroup), new { @class = "short" })
            @if (i.Fee > 0) { <text> at $@i.Fee.ToString2("N2")</text> }
            <div>@Html.ValidationMessage(Model.inputname("MenuItem[" + n + "].Value"))</div></td>
    </tr>
}
@if (Model.setting.Deposit > 0)
{ 
    <tr>
        <td><label for="deposit">Payment</label></td>
        <td>@Html.RadioButton(Model.inputname("paydeposit"), true, Model.paydeposit == true) Pay Deposit Only<br />
            @Html.RadioButton(Model.inputname("paydeposit"), false, Model.paydeposit == false) Pay Full Amount
            <div>@Html.ValidationMessage(Model.inputname("paydeposit"))</div></td>
    </tr>
}
@if ((Model.age >= 16 || !Model.birthday.HasValue) && !Model.IsCreateAccount())
{ 
   <tr>
        <td></td>
        <td>@Html.CheckBox(Model.inputname("CreatingAccount"), Model.CreatingAccount)
             Create Account (optional)</td>
   </tr>
}
@if (Model.OnlineGiving())
{
    var funds = CmsWeb.Models.OnlineRegPersonModel.Funds();
    <tr><td colspan="2" align="center"><table class="grid" cellpadding="2">
    @for (var n = 0; n < funds.Length; n++)
    {
        var i = funds[n];
        <tr>
            <td>@i.Text</td>
            <td>@Html.TextBox(Model.inputname("FundItem[" + n + "].Value"), Model.FundItemValue(i.Value.ToInt()), new { @class = "short sum" })
                @Html.Hidden(Model.inputname("FundItem[" + n + "].Key"), i.Value)
                <div>@Html.ValidationMessage(Model.inputname("FundItem[" + n + "].Value"))</div></td>
        </tr>
    }
        <tr class="alt">
            <td>Total</td>
            <td><span id="total"></span></td>
        </tr>
    </table></td>
    </tr>
}
    <tr><td align="right" colspan="2">
			<input type="button" id="otheredit" href="/OnlineReg/SubmitOtherInfo/@Model.index" class="submitbutton ajax" 
				   value="Submit" />
            <div>@Html.ValidationMessage("form")</div>
        </td>
    </tr>

