@model CmsWeb.Models.OnlineRegPersonModel
@using UtilityExtensions
@using CmsWeb
@if ((Model.classid ?? 0) > 0)
{ 
    <tr>
        <td>Chosen Class:</td>
        <td>@Model.org.OrganizationName</td>
    </tr>
}
@* name gets displayed elsewhere when finished *@
@if (!Model.Finished()) 
{ 
    <tr>
        <td width="30%"><label for="first">First Name</label></td>
        <td>@Model.first</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.last @Html.ValidationMessage("find")</td>
    </tr>
}
    <tr>
        <td>Date of Birth</td>
        <td>@Model.birthday.FormatDate("not given") <span>@Model.age</span>
            <div>@Html.ValidationMessageFor(m => m.dob)</div></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>@Model.phone.FmtFone()</td>
    </tr>
@if (Model.email.HasValue())
{ 
    <tr>
        <td>Contact Email</td>
        <td>@Model.email</td>
    </tr>
}
@if (Model.ShowAddress)
{
       @Html.Partial("Flow/AddressDisplay", Model)
}
