@using CmsWeb.Models
@model SearchOrgsModel
<html>
<head>
<title>Index</title>
    @Helper.IncludeCss()
    <link href="/Content/styles/style2.css" rel="stylesheet" type="text/css" />
    @Helper.IncludeJs()
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Search/SearchOrgs.js")"></script>
</head>
<body>
    <form name="form1">
        @Html.Hidden("ordered", Model.ordered)
        @Html.Hidden("singlemode", Model.singlemode)
        @Html.Hidden("id", Model.id)
        <table id="searchvalues" class="roundbox" cellspacing="5">
            <tr>
                <th class="right"> Name/ID#: </th>
                <td><input id="name" name="name" title="Partial Division / Organization Name" type="text" value="" /></td>
            </tr>
            <tr>
                <td>
                    <input type="button" class="bt" value="Update Selected" id="UpdateSelected" />
                </td>
                <td class="right">
                    <a id="clear" href="#" class="bt">Clear</a>
                    <a href="/SearchOrgs/Results" id="search" class="bt default formlink blue">Search</a>
                </td>
            </tr>
        </table>
        @Html.Partial("Results", Model)
    </form>
</body>
</html>