@using CmsWeb.Models
@using CmsWeb
@model SearchOrgsModel
<html>
<head>
<title>Index</title>
    <link href="/Content/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.tooltip.css" rel="stylesheet" type="text/css" />
    <link href="/Content/style2.css" rel="stylesheet" type="text/css" />

@Html.Partial("CombinedJs")
@Html.Script("/Scripts/SearchOrgs.js")
</head>
<body>
<form name="form1">
@Html.Hidden("ordered", Model.ordered)
@Html.Hidden("singlemode", Model.singlemode)
@Html.Hidden("id", Model.id)
  <table id="searchvalues" class="roundbox" cellspacing="5">
      <tr>
        <th align="right"> Name/ID#: </th>
        <td><input id="name" name="name" title="Partial Division / Organization Name" type="text" value="" /></td>
      </tr>
      <tr>
        <td>
            <input type="button" class="bt" value="Update Selected" id="UpdateSelected" />
        </td>
        <td align="right">
            <a href="/SearchOrgs/Results" id="search" class="bt default formlink">Search</a>
            <a id="clear" href="#" class="bt">Clear</a>
        </td>
      </tr>
  </table>
@Html.Partial("Results", Model)
</form>
</body>
</html>