@using CmsWeb
@model CmsWeb.Models.CouponModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Coupon";
    CassetteConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
@<script>
    $(function () {
        $(".bt").button();
    });
</script>
    );
}
    <h2>Coupons</h2>
    <form action="/Coupon/Create" method="post">
        <div>
            <fieldset>
                <table style="empty-cells:show" cellpadding="5">
                 <tr>
                    <td>Registration Type</td>
                    <td>@Html.DropDownList("regid", Model.OnlineRegs())</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Html.TextBox("name")</td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>@Html.TextBox("amount")</td>
                </tr>
            @if (User.IsInRole("Admin") || User.IsInRole("Coupon2"))
            {
                <tr>
                    <td>Coupon Code</td>
                    <td>@Html.TextBox("couponcode")</td>
                </tr>
            }
                <tr>
                    <td></td><td><input type="submit" class="bt" value="Create Coupon" /></td>
                </tr>
                </table>
            </fieldset>
        </div>
        @Html.ActionLink("List", "List")
    </form>