@using CmsWeb
@model CmsWeb.Models.QueryModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "SearchBuilder";
}
@section head 
{
    <link href="/Content/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
@Html.Script("/Content/js/jquery.multiSelect.js")
@Html.Script("/Content/js/jquery.contextMenu.js")
@Html.Script("/Scripts/QueryBuilder.js")
}
<form id="conditionForm" action="/QueryBuilder/Main" method="get">
<div id="Description"><b>@Model.Description</b></div>
<div class="roundbox floatleft">
<h2 class="helptip" title="Next Step|After selecting a condition and configuring it|then update or add it to the Conditions below">Configure a search condition</h2>
<table id="selectconditions" cellspacing="5">
    <tr>
        <td>
            <table style="border: 1px dashed #999" cellspacing="5">
                <tr id="CategoryDiv2">
                    <td nowrap colspan="2">
						<a id="SelectCondition" href="#" class="bt helptip"
                            title="Select a Condition|To build a query, you should select a condition.">Select Condition</a>
						<a class="help" href="https://www.bvcms.com/DocDialog/QB-"
						   title="Get SearchBuilder Help|Click this link to get help on this condition.">
							<span id='ConditionText'>Group</span>
						</a>
                      @Html.Hidden("ConditionName", "Group")
                    </td>
                </tr>
                <tr id="DaysDiv" style="display:none">
                    <td align="right">Days:</td>
                    <td>
                        @Html.TextBoxClass("Days", "validate")
                    </td>
                </tr>
                <tr id="AgeDiv" style="display:none">
                    <td align="right">Age Less or Equal:</td>
                    <td>
                        @Html.TextBoxClass("Age", "validate")
                    </td>
                </tr>
                <tr id="QuartersDiv" style="display:none">
                    <td align="right"><span id="QuartersLabel">Quarters</span>:</td>
                    <td>
                        @Html.TextBoxClass("Quarters", "validate")
                    </td>
                </tr>
                <tr id="ViewDiv" style="display:none">
                    <td align="right">Volunteer Views:</td>
                    <td>
                        @Html.DropDownList("View", Model.Views())
                    </td>
                </tr>
                <tr id="TagsDiv" style="display:none">
                    <td align="right">Tags:</td>
                    <td>
                        <span id="tagvalues" class="validate" style="display:none"></span>
                    </td>
                </tr>
                <tr id="SavedQueryDiv" style="display:none">
                    <td align="right">Saved Search:</td>
                    <td>
                        @Html.DropDownList("SavedQueryDesc", Model.SavedQueries())
                    </td>
                </tr>
                <tr id="MinistryDiv" style="display:none">
                    <td align="right">Ministry:</td>
                    <td>
                        @Html.DropDownList("Ministry", Model.Ministries())
                    </td>
                </tr>
                <tr id="StartDiv" style="display:none">
                    <td align="right">Start Date:</td>
                    <td>
                        @Html.TextBoxClass("StartDate", "datepicker validate")
                    </td>
                </tr>
                <tr id="EndDiv" style="display:none">
                    <td align="right">End Date:</td>
                    <td>
                        @Html.TextBoxClass("EndDate", "datepicker validate")
                    </td>
                </tr>
                <tr id="ProgDiv" style="display:none">
                    <td align="right">Program:</td>
                    <td>
                        @Html.DropDownList("Program", Model.Programs())
                    </td>
                </tr>
                <tr id="DivDiv" style="display:none">
                    <td align="right">Division:</td>
                    <td>
                        <select id="Division" ></select>
                    </td>
                </tr>
                <tr id="OrgDiv" style="display:none">
                    <td align="right">Organization:</td>
                    <td>
                        <select id="Organization" ></select>
                    </td>
                </tr>
                <tr id="OrgTypeDiv" style="display:none">
                    <td align="right">Org Type:</td>
                    <td>
                        @Html.DropDownList("OrgType", Model.OrgTypes())
                    </td>
                </tr>
                <tr id="SchedDiv" style="display:none">
                    <td align="right">Schedule:</td>
                    <td>
                        @Html.DropDownList("Schedule", Model.Schedules())
                    </td>
                </tr>
                <tr id="CampusDiv" style="display:none">
                    <td align="right">Campus:</td>
                    <td>
                        @Html.DropDownList("Campus", Model.Campuses())
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
			<b style="color:#999" class="helptip"
			   title="Comparison|Choose how the Condition on the left 
               |should compare with the value(s)">Comparison</b><hr />
            @Html.DropDownList("Comparison", Model.Comparisons())
        </td>
        <td valign="top" id="RightPanel" style="display:none">
			<b style="color:#999" class="helptip"
			   title="To Value|This is what you are comparing 
               |to the result of the Condition on the left
               |using the comparison operator">To Value</b><hr />
                <span id="values" style="display:none"></span>
                @Html.TextBoxClass("TextValue", "validate")
                @Html.TextBoxClass("NumberValue", "validate")
                @Html.TextBoxClass("IntegerValue", "validate")
                @Html.TextBoxClass("DateValue", "validate")
        </td>
    </tr>
    <tr>
        <td nowrap align="right" colspan="2">
            <a id="Update" class="conditionButton bt disabled helptip"
                title="Update Button|Copies the above condition into the selected condition below">Update</a>
            <a id="Add" class="conditionButton bt disabled helptip"
                title="Add Button|Adds the above condition after the selected condition below">Add</a>
            <a id="AddToGroup" href="#" class="conditionButton bt helptip" 
                title="Add To Group Button|Adds the above condition to the group">Add To Group</a>
            <a id="Remove" class="conditionButton bt disabled helptip"
                title="Remove Button|Removes the selected condition below">Remove</a>
        </td>
        <td></td>
    </tr>
</table>
@Html.Hidden("SelectedId")
<h2>Conditions</h2>
<table cellspacing="5">
    <tr>
        <td>
			<ul id="ConditionGrid" class="helptip" 
                title="Condition|Click this condition to edit it in the area above
                |Right click to insert a group or copy a condition">
             @Html.Partial("Conditions", Model) 
            </ul>
        </td>
		<td align="center" valign="bottom" class="helptip"
            title="Run Button|This will run the Search, giving you results for the Conditions">
            <div>
                <input id="Run" type="image" src="/images/Run.png" alt="Run Query" />
            </div>
            <div>Run</div>
        </td>
    </tr>
</table>
</div>
<div class="floatclear"></div>
<ul id="InsCopyMenu" class="popupMenu">
    <li><a href="#ins">Insert Group Above</a></li>
    <li><a href="#copy">Copy As New</a></li>
</ul>
<div id="toolbar" style='@(Model.ShowResults? "" : "display:none")'>
 @Html.Partial("ExportToolBar")
</div>
<div id="Results" style="clear:both; margin-top: 6px">
    @if (Model.ShowResults)
    {
       @Html.Partial("Results", Model) 
    }
</div>
</form>
@section PopupsPlaceholder
{
<div id="QueryConditionSelect" class="modalPopup" title="Select a Condition" style="display:none">
    <div id="tabber" class="ui-tabs">
        <ul class="ui-tabs-nav">
    @foreach(var c in Model.FieldCategories())
    { 
        <li><a href='#@c.Name'><span>@c.Title</span></a></li>
    }
        </ul>
    @foreach (var c in Model.FieldCategories()) 
    { 
        <div id="@c.Name" style="margin:4px;height:450px;overflow:auto" class="ui-tabs-panel ui-tabs-hide">
        @foreach (var p in c.Fields)
        { 
            <div class="FieldLink"><a id='@p.Name' href="#">@p.Title</a></div>
			<div class="moreinfo"><a class="help" href="https://www.bvcms.com/DocDialog/QB-@p.Name"
                title="Get SearchBuilder Help|Click this link to get help on this condition.">@p.Description</a></div>
        } 
        </div>
    }
    </div>
</div>
<div id="QueryConditionHelp" class="modalPopup" title="Condition Help" style="display:none">
    <iframe style="width:100%;height:99%;border-width:0px;"></iframe>
</div>
<div id="OpenQueryDiv" title="Open Query" class="modalDiv" style="display:none">
    <select id="ExistingQueries"></select>
    <div style="text-align:right; vertical-align:bottom">
        <input id="OpenQuery" type="button" value="Open" />
    </div>
</div>
<div id="SaveQueryDiv" class="modalDiv" style="display:none">
    <div style="text-align: left">
        Search Description:
        @Html.TextBox("SaveQueryDesc")
        &nbsp;
        <input id="IsPublic" type="checkbox"/> Is Public
        <span class="footer">
            <a id="SaveQuery" href="#">Save</a>
        </span>
        <br />
    </div>
</div>
}

