@using System.Web.Optimization
@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.ContactSearchModel
@{
    ViewBag.Title = "ContactSearch";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
@Scripts.Render("~/bundles/single/ContactSearch-js")
}
<form action="" id="form">
<div class="roundbox floatleft">
    <table cellspacing="5">
        <tbody>
        <tr><td colspan="2"><h2>Contacts</h2></td></tr>
        <tr>
            <th class="right">Contactee Name:</th>
            <td>@Html.TextBoxFor(vv => vv.ContacteeName, new { title="Part of the Contactees Name" })</td>
        </tr>
        <tr>
            <th class="right">Contactor Name:</th>
            <td>@Html.TextBoxFor(vv => vv.ContactorName, new { title="Part of the Contactors Name" })</td>
        </tr>
        <tr>
            <th class="right">Contact Start Date:</th>
            <td>@Html.TextBoxFor(vv => vv.StartDate, new { @class = "datepicker"})</td>
        </tr>
        <tr>
            <th class="right">Contact End Date:</th>
            <td>@Html.TextBoxFor(vv => vv.EndDate, new { @class = "datepicker"})</td>
        </tr>
        <tr>
            <th class="right">Contact Type:</th>
            <td>@Html.DropDownListFor(vv => vv.ContactType, Model.ContactTypes())</td>
        </tr>
        <tr>
            <th class="right">Contact Reason:</th>
            <td>@Html.DropDownListFor(vv => vv.ContactReason, Model.ContactReasons())</td>
        </tr>
        <tr>
            <th class="right">Ministry:</th>
            <td>@Html.DropDownListFor(vv => vv.Ministry, Model.Ministries())</td>
        </tr>
        <tr>
            <th class="right">Results:</th>
            <td>@Html.DropDownListFor(vv => vv.Result, Model.Results())</td>
        </tr>
        <tr>
            <th class="right">Created By:</th>
            <td>@Html.TextBoxFor(vv => vv.CreatedBy, new { title="UserName or PeopleId" })</td>
        </tr>
        <tr>
            <td colspan="2" class="right">
                <a id="NewSearch" class="bt">Clear</a>
                <a id="search" class="blue bt">Search</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div id="buttondiv" class="extrabar" style="margin-top:2em;margin-left: 2em;float:left;font-size:1.2em;">
    <a href="#" class="trigger-dropdown">
        Contacts Management <img src="/images/dnarrow.png" />
    </a>
    <div class="dropdown-menu has-tip">
        <ul>
            <li><a id="ConvertToQuery" href="/ContactSearch/ConvertToQuery/">Convert To Search (Contactors)</a></li>
            <li><a id="ContactorSummary" href="/ContactSearch/ContactorSummary">Contactor Summary Report</a></li>
            <li><a id="ContactTypeTotals" href="/ContactSearch/ContactTypeTotals">Contact Type Totals</a></li>
        </ul>
    </div>
</div>
<div class="floatclear"></div>
<hr />
@Html.Partial("Results", Model)
</form>