@using UtilityExtensions
@model CmsWeb.Models.ContactSearchModel
<table id="results" class="grid">
<thead>
    <tr><td colspan="4">
<div>Count: @Model.Count().ToString("n0")</div>
 @Html.Partial("Pager2", Model) 
    </td></tr>
    <tr>
        <th>Date</th>
        <th>Reason</th>
        <th>Type</th>
        <th>Contactors</th>
        <th>Contactees</th>
        <th>Ministry</th>
        <th>Results</th>
    </tr>
</thead>
<tbody>
@foreach (var c in Model.ContactList())
{
    <tr>
        <td><a href="/Contact.aspx?id=@c.ContactId">@c.ContactDate.ToString("d")</a></td>
        <td>@c.ContactReason</td>
        <td>@c.TypeOfContact</td>
        <td>@c.ContactorList</td>
        <td>@c.ContacteeList</td>
        <td>@c.Ministry</td>
        <td><pre>@c.Results</pre></td>
    </tr>
}
</tbody>
<tfoot>
    <tr><td colspan="4">
 @Html.Partial("Pager2", Model) 
    </td></tr>
</tfoot>
</table>
