@using System.Web.Optimization
@using CmsData
@using CmsWeb.Models
@using CmsWeb
@using UtilityExtensions
@model QuickSearchModel
@{
	ViewBag.Title = "Quick Search";
	Layout = "~/Views/Shared/SiteLayout.cshtml";
    var target = Util2.TargetLinkPeople ? "target='people'" : "";
}
@section scripts
{
@Scripts.Render("~/bundles/single/QuickSearch-js")
}
<form id="quicksearch" method="post" action="/QuickSearch/Index">
<input id='q' name='q' value="@Model.text"/>
<input id="qsearch" type="submit" value="Search" name="qsearch" />
</form>
<h2>People</h2>
<table id="presults" class="grid">
@if(Model.people.Count == 0)
{ 
	<tr><td colspan="5">No matching records.</td></tr>
} 
else
{
<thead>
	<tr>
		<th> <a href="#" class="sortable">Name</a> </th>
		<th> <a href="#" class="sortable">Status</a>/Age - <a href="#" class="sortable">DOB</a> </th>
		<th> <a href="#" class="sortable">Address</a> </th>
		<th> <a href="#" class="sortable">Communication</a> </th>
		<th> <a href="#" class="sortable">Fellowship Leader</a> </th>
	</tr>
</thead>
}
<tbody>
@foreach (var p in Model.people)
{ 
	<tr>
		<td><img src="/images/individual.gif" width="10px" height="12px" />
			<a href='/Person/Index/@p.PeopleId' class="target" @target>@p.Name</a>
		</td>
		<td>
			@p.MemberStatus<br />
			@p.Age - @p.BirthDate
		</td>
		<td>
			<a href='http://www.google.com/maps?q=@p.Address,+@p.CityStateZip'>@p.Address</a>
			<br />
			@p.CityStateZip
		</td>
		<td>
	@foreach (var ph in p.Phones)
	{ 
			@ph<br />
	} 
			<a href='mailto:@p.Email'>@p.Email</a>
		</td>
		<td>
			<a href='/Person/Index/@p.BFTeacherId'>@p.BFTeacher</a>
		</td>
	</tr>
}
</tbody>
</table>
<h2>Organizations</h2>
<table id="oresults" class="grid">
<thead>
    <tr>
        <th><a href="#" class="sortable">ID</a></th>
        <th class="left"><a href="#" class="sortable">Name</a></th>
        <th class="left"><a href="#" class="sortable">Leader</a></th>
        <th class="right"><a href="#" class="sortable">Members</a></th>
        <th class="left"><a href="#" class="sortable">Schedule</a></th>
        <th><a href="#" class="sortable">Self CheckIn</a></th>
        <th><a href="#" class="sortable">BDay Start</a></th>
        <th><a href="#" class="sortable">BDay End</a></th>
    </tr>
</thead>
<tbody>
@if(Model.orgs.Count == 0)
{ 
	<tr><td colspan="8">No matching records.</td></tr>
} 
@foreach (var o in Model.orgs)
{ 
    <tr>
        <td class="tip" title="@o.ToolTip"><img src="/images/group.png" /></td>
        <td><a href="/Organization/Index/@o.Id">@o.OrganizationName</a></td>
        <td><a href="/Person/Index/@o.LeaderId">@o.LeaderName</a></td>
        <td class="right">@o.MemberCount</td>
        <td>@o.Schedule</td>
        <td><span id='ck-@o.Id' class='yesno'>@(o.AllowSelfCheckIn ? "yes" : "no")</span></td>
        <td><span id='bs-@o.Id' class='bday'>@o.BDayStart</span></td>
        <td><span id='be-@o.Id' class='bday'>@o.BDayEnd</span></td>
    </tr>
}
</tbody>
</table>
