@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Areas.Org.Models.VolunteerCommitmentsModel
@{ 
    var weeks = Model.FetchSlotWeeks2();
    var weekstoshow = 6;
}

@Html.Hidden("page", 1)
@Html.Hidden("weekstoshow", weekstoshow)
@Html.Hidden("OrgId", Model.OrgId)
@Html.Hidden("SortByWeek", Model.SortByWeek)
<div class="roundbox floatleft">
    <h2>Volunteer Calendar for @Html.ActionLink(Model.OrgName, "Index", "Organization", new { area = "Main", id = Model.OrgId }, null)</h2>
    @if (Model.IsLeader)
    {
        <p>
            @if (User.IsInRole("Edit"))
            {
                @Html.ActionLink("Email Reminders", "Reminders", "Organization", new { area = "Main", id = Model.OrgId }, new { id = "sendreminders", @class = "bt" })
            }
            else
            {
                <a enabled="false">Email Reminders</a>
            }
            @Html.CheckBox("emailall") Email All (default next 7 days)
        </p>
    }
</div>
<div class="floatclear"></div>
<table width="100%">
    <tr>
        <td class="center">
            <div class="selectbar">
                <ul id="swk">
                    <li><a data-week="0" class="selected" href='#'>All Weeks </a></li>
                    <li><a data-week="1" href='#'>Week 1 </a></li>
                    <li><a data-week="2" href='#'>Week 2 </a></li>
                    <li><a data-week="3" href='#'>Week 3 </a></li>
                    <li><a data-week="4" href='#'>Week 4 </a></li>
                    <li><a data-week="5" href='#'>Week 5 </a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<br />
<table id="month" class="center">
    <thead>
        <tr>
            <td class="noborder right">
                <a href="#" id="goleft" style="text-decoration: none"><i class="icon-arrow-left icon-2x red"></i></a>
            </td>
            @for (var i = 0; i < weeks.Count; i++)
            {
                var wki = weeks[i];
                var wkn = wki.Time.WeekOfMonth();
                <th data-item="@i" class="wki wki@(i) wkn@(wkn) @(i >= weekstoshow ? "hidewki" : "")">@wki.Time.ToString("MMM d") (Week @wkn)</th>
            }
            <td class="noborder">
                <a href="#" id="goright" style="text-decoration: none"><i class="icon-arrow-right icon-2x red"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.times)
        {
            weeks = Model.FetchSlotWeeks2(t.TimeOfDay);
            <tr>
                <th class="date center">
                    @t.ToString("ddd")<br />
                    @t.ToString("H:mm tt")
                </th>
                @for (var i = 0; i < weeks.Count; i++)
                {
                    var wki = weeks[i];
                    var wkn = wki.Time.WeekOfMonth();
                    <td class="wki wki@(i) wkn@(wkn) date @(i >= weekstoshow ? "hidewki" : "")">
                        @Html.Partial("Slot", wki)
                    </td> 
                }
            </tr>
        }
    </tbody>
</table>
<p>
    Small Group Filters<br />
    @Html.DropDownList("sg1", Model.SmallGroups(), new { @class = "smallgroup" })<br />
    @Html.DropDownList("sg2", Model.SmallGroups(), new { @class = "smallgroup" })
</p>
<div class="drop day" target="clear" week="0" time="1-1-1000" style="padding: 5px; height: 2em; border: 2px solid black;">target here to remove commitments</div>
<h4><em>Select header items in blue below, or a person, then click a target</em></h4>
@{ var vlist = Model.Volunteers().ToList(); }
<div class="volunteers">
    <div class="selectable" source="all">
        <h3>All Volunteers</h3>
    </div>
    <div class="selectable" source="commits">
        <h3>With Commitments</h3>
    </div>
    @foreach (var v in vlist.Where(vv => vv.commits > 0))
    {
        <div class="selectable" source="person" pid="@v.PeopleId">@v.Name (@v.commits) 
                @Html.ActionLink("registration page", "ManageVolunteer", "OnlineReg", new { area = "OnlineReg", id = v.OrgId, pid = v.PeopleId }, new { target = "committments" })
        </div> 
    }
    <div class="selectable" source="nocommits">
        <h3>With No Commitments</h3>
    </div>
    @foreach (var v in vlist.Where(vv => vv.commits == 0))
    {
        <div class="selectable" source="person" pid="@v.PeopleId">@v.Name (@v.commits) 
                @Html.ActionLink("registration page", "ManageVolunteer", "OnlineReg", new { area = "OnlineReg", id = v.OrgId, pid = v.PeopleId }, new { target = "committments" })
        </div> 
    }
</div>
