@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Areas.Org.Models.VolunteerCommitmentsModel
@{ 
    const string DayHourFmt = "ddd h:mm tt"; 
}

@Html.Hidden("OrgId", Model.OrgId)
@Html.Hidden("SortByWeek", Model.SortByWeek)
<h2>Volunteer Calendar for @Html.ActionLink(Model.OrgName, "Index", "Organization", new { area = "Main", id = Model.OrgId }, null)</h2>
<table>
    <tr>
		<td class="top">
			<table id="month">
				<thead>
					<tr>
						<th>Week</th>
						@foreach (var t in Model.times)
						{ 
							<th>@t.ToString(DayHourFmt)</th>
						}
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="middle" class="center">All Weeks</td>
							@foreach (var t in Model.times)
							{
								<td><div class="drop day" target="week" week="0" time="@t">target</div></td>
							}
						</tr>
					@for (var wk = 1; wk <= 5; wk++)
					{
						<tr>
							<td class="middle" class="center">Week @wk</td>
							@foreach (var t in Model.times)
							{
								<td><div class="drop day" target="week" week="@wk" time="@t">target</div></td>
							}
						</tr>
					}
					<thead>
						<tr>
							<th> <a id="SortIt" href="#">@(Model.SortByWeek ? "Sort by Date" : "Sort by Week #")</a> </th>
							@foreach (var t in Model.times)
							{ 
								<th>@t.ToString(DayHourFmt)</th>
							}
						</tr>
					</thead>
					@foreach (var w in Model.FetchSlotWeeks())
					{ 
						<tr class="wk-@w[0].Week">
							<td class="top" class="center">
								<p><span class="date">@w[0].Sunday.ToShortDateString()<br />
									   Week @w[0].Week</span>
								</p><div class="day"></div></td>
							@foreach (var t in w)
							{
								<td>
									<p class="date">
										@if (t.MeetingId > 0)
										{
											@Html.ActionLink("Rollsheet ({0}/{1})".Fmt(t.Count, t.Limit), "Rollsheet", "Reports", new { area = "Main", meetingid = t.MeetingId }, new { target = "_blank" })<br/>
											@Html.ActionLink("Email", "EmailSlot", "Volunteers", new { id = t.MeetingId }, new { target = "meeting" })<br/>
											@Html.ActionLink("Meeting", "Index", "Meeting", new { area = "Main", id = t.MeetingId }, new { target = "meeting" })<br/>
											@Html.ActionLink("Request Volunteers", "Request", "Volunteers", new { mid = t.MeetingId, limit = t.Limit }, new { tClass = "volreq", target="_blank" })
										}
										else
										{
											@Html.ActionLink("Request Volunteers", "Request0", "Volunteers", new { ticks = t.ticks, oid = Model.OrgId, limit = t.Limit }, new { @class = "volreq", target="_blank" })
										}
									</p>
									@foreach (var p in t.OrderedPersons())
									{
										if (Model.IsLeader)
										{
											<div pid="@p.PeopleId" mid="@t.MeetingId" class="selectable commit-@p.Commitment" source="registered" title="@p.CommitmentText">@p.Name</div>
										}
										else
										{
											<div>@Html.ActionLink(p.Name, "Index", "Person", new { area = "Main", id = p.PeopleId }, null)</div>
										}
									}
									<div class="drop day" target="meeting" time="@t.Time">target</div>
								</td>
							} 
						</tr>
					}
				</tbody>
			</table>
		</td>
        <td>&nbsp;</td>
		<td class="top">
        @if (Model.IsLeader)
        {
            <p>
                @if (User.IsInRole("Edit"))
                {
                    @Html.ActionLink("Email Reminders", "Reminders", "Organization", new {area = "Main", id = Model.OrgId}, new {id = "sendreminders", @class = "bt"})
                }
                else
                {
                    <a enabled="false">Email Reminders</a>
                }
                @Html.CheckBox("emailall") Email All (default next 7 days)
            </p>
            <p>Small Group Filters<br />
                @Html.DropDownList("sg1", Model.SmallGroups(), new { @class="smallgroup" })<br />
                @Html.DropDownList("sg2", Model.SmallGroups(), new { @class="smallgroup" })
            </p>
            <div class="drop day" target="clear" week="0" time="1-1-1000" style="padding:5px;height:2em;border:2px solid black;">target here to remove commitments</div>
            <h4><em>Select header items in blue below, or a person, then click a target</em></h4>
            var vlist = Model.Volunteers().ToList();
            <div class="volunteers">
            <div class="selectable" source="all"><h3>All Volunteers</h3></div>
            <div class="selectable" source="commits"><h3>With Commitments</h3></div>
            @foreach (var v in vlist.Where(vv => vv.commits > 0))
            {
        	<div class="selectable" source="person" pid="@v.PeopleId">@v.Name (@v.commits) 
                @Html.ActionLink("registration page", "ManageVolunteer", "OnlineReg", new { area = "OnlineReg", id = v.OrgId, pid = v.PeopleId }, new { target = "committments" })</div> 
            }
            <div class="selectable" source="nocommits"><h3>With No Commitments</h3></div>
            @foreach (var v in vlist.Where(vv => vv.commits == 0))
            {
        	<div class="selectable" source="person" pid="@v.PeopleId">@v.Name (@v.commits) 
                @Html.ActionLink("registration page", "ManageVolunteer", "OnlineReg", new { area = "OnlineReg", id = v.OrgId, pid = v.PeopleId }, new { target = "committments" })</div> 
            }
            </div>
        }
		</td>
    </tr>
</table>