@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.VolunteerCommitmentsModel.Slot
@{ var wki = Model; }

(@("{0}/{1}".Fmt(wki.Count, wki.Limit)))
@if (wki.IsLeader)
{
    <a href="#" class="trigger-dropdown floatright" title="Menu to Add a Condition">
        <i class="icon-cog icon-large"></i>&nbsp;
    </a>
    <div class="dropdown-menu">
        <ul>
            @if (wki.MeetingId > 0)
            {
                <li>@Html.ActionLink("Rollsheet", "Rollsheet", "Reports", new { area = "Main", meetingid = wki.MeetingId }, new { target = "_blank" })</li>
                <li>@Html.ActionLink("Email", "EmailSlot", "Volunteers", new { id = wki.MeetingId }, new { target = "meeting" })</li>
                <li>@Html.ActionLink("Meeting", "Index", "Meeting", new { area = "Main", id = wki.MeetingId }, new { target = "meeting" })</li>
                <li>@Helper.JQueryIdLink("Add To Meeting", "AddToMeeting", wki.MeetingId.ToString())</li>
                <li>@Helper.JQueryIdLink("Add To Week", "AddToWeek", wki.MeetingId.ToString())</li>
                <li>@Html.ActionLink("Request Volunteers", "Request", "Volunteers", new { mid = wki.MeetingId, limit = wki.Limit }, new { @class = "volreq", target = "_blank" })</li>
            }
            else
            {
                <li>@Helper.JQueryIdLink("Recreate Meeting", "CreateMeeting", @"{{ ""ticks"":{0}, ""oid"":{1}, ""limit"":{2} }}".Fmt(wki.ticks, wki.OrgId, wki.Limit))</li>
                <li>@Html.ActionLink("Request Volunteers", "Request0", "Volunteers", new { ticks = wki.ticks, oid = wki.OrgId, limit = wki.Limit }, new { @class = "volreq", target = "_blank" })</li>
            }
        </ul>
    </div>
    <div class="floatclear"></div>
}
@if (wki.MeetingId == 0)
{
   <div style="text-align: center"><img src="~/images/cross.gif" /></div>
}
@foreach (var p in wki.OrderedPersons())
{
    if (wki.IsLeader)
    {
    <div pid="@p.PeopleId" mid="@wki.MeetingId" class="selectable commit-@p.Commitment" source="registered" title="@p.CommitmentText">@p.Name</div>
    }
    else
    {
    <div>@Html.ActionLink(p.Name, "Index", "Person", new { area = "Main", id = p.PeopleId }, null)</div>
    }
}