@model CmsWeb.Models.UpdateModel
@{
    ViewBag.Title = "Update Fields for Tag";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Update Fields for Tag</h2>
<h4>@ViewData["success"]</h4>
<form method="post" action="/Setup/Update/Run">
<table>
<tr><td><b>Tag:</b></td><td><b>Field:</b></td></tr>
<tr><td>@Html.DropDownList("Tag", Model.Tags())</td>
    <td>@Html.DropDownList("Field", Model.Fields())</td></tr>
<tr><td align="right"><b>New Value:</b>@Html.TextBox("NewValue")</td><td></td></tr>
<tr><td></td><td><input type="submit" value="Run" /></td></tr>
</table>
</form>
<blockquote>
<hr />
<table>
<tr><th colspan="2" align="left">Member Status Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.MemberStatusCodes())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
<hr />
<table>
<tr><th colspan="2" align="left">Campus Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.AllCampuses())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
<hr />
<table>
<tr><th colspan="2" align="left">Marital Status Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.MaritalStatusCodes())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
<hr />
<table>
<tr><th colspan="2" align="left">Gender Status Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.GenderCodes())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
<hr />
<table>
<tr><th colspan="2" align="left">Position In Family Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.FamilyPositionCodes())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
<hr />
<table>
<tr><th colspan="2" align="left">Marital Status Codes</th></tr>
<tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.cv.MaritalStatusCodes())
{
<tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
</blockquote>