@model CmsData.NewContact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>NewContact</legend>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">@Model.CreatedBy</div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedDate)</div>

    <div class="display-label">ContactTypeId</div>
    <div class="display-field">@Model.ContactTypeId</div>

    <div class="display-label">ContactDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ContactDate)</div>

    <div class="display-label">ContactReasonId</div>
    <div class="display-field">@Model.ContactReasonId</div>

    <div class="display-label">MinistryId</div>
    <div class="display-field">@Model.MinistryId</div>

    <div class="display-label">NotAtHome</div>
    <div class="display-field">@Model.NotAtHome</div>

    <div class="display-label">LeftDoorHanger</div>
    <div class="display-field">@Model.LeftDoorHanger</div>

    <div class="display-label">LeftMessage</div>
    <div class="display-field">@Model.LeftMessage</div>

    <div class="display-label">GospelShared</div>
    <div class="display-field">@Model.GospelShared</div>

    <div class="display-label">PrayerRequest</div>
    <div class="display-field">@Model.PrayerRequest</div>

    <div class="display-label">ContactMade</div>
    <div class="display-field">@Model.ContactMade</div>

    <div class="display-label">GiftBagGiven</div>
    <div class="display-field">@Model.GiftBagGiven</div>

    <div class="display-label">Comments</div>
    <div class="display-field">@Html.Raw(Model.Comments)</div>

    <div class="display-label">ModifiedBy</div>
    <div class="display-field">@Model.ModifiedBy</div>

    <div class="display-label">ModifiedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModifiedDate)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="bt" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


