@model CmsWeb.Models.ContactModel
@using UtilityExtensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

@Html.Hidden("Id")
<div class="roundbox floatleft">
<h2>Contact</h2>
<table cellpadding="5">
  <tbody>
    <tr>
      <th align="right">Contact Date:</th>
      <td>@Model.contact.ContactDate.ToShortDateString()</td>
    </tr>
    <tr>
      <th align="right">Ministry:</th>
      <td><span>@Model.Ministry</span></td>
    </tr>
    <tr>
      <th align="right">Type:</th>
      <td><span>@Model.ContactType</span></td>
    </tr>
    <tr>
      <th align="right">Reason:</th>
      <td><span>@Model.Reason</span></td>
    </tr>
  </tbody>
</table>
<table cellpadding="5">
  <tbody>
    <tr>
      <td><table>
        <tbody>
          <tr>
            <td><span title="NotAtHome">
              <input type="checkbox" checked="checked" disabled="disabled" />
              <label>Attempted/Not Available</label>
              </span><br />
              <span title="LeftDoorHanger">
                <input type="checkbox" disabled="disabled" />
                <label>Left Note Card</label>
                </span><br />
              <span title="LeftMessage">
                <input type="checkbox" disabled="disabled" />
                <label>Left Message</label>
              </span><br /></td>
            <td><span title="ContactMade">
              <input type="checkbox" disabled="disabled" />
              <label>Contact Made</label>
              </span><br />
              <span title="GospelShared">
                <input type="checkbox" disabled="disabled" />
                <label>Gospel Shared</label>
                </span><br />
              <br /></td>
            <td><span title="PrayerRequest">
              <input type="checkbox" disabled="disabled" />
              <label>Prayer Request Received</label>
              </span><br />
              <span title="GiftBagGiven">
                <input type="checkbox" disabled="disabled" />
                <label>Gift Bag Given</label>
                </span><br />
              <br /></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td><table>
        <tbody>
          <tr>
            <td height="100%" width="100%"><span><strong>Comments:</strong> <br />
              attempted hospital visit. discharged.</span></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
    <tr>
      <td><br />
        </td>
      <td><a id="DeleteButton" href="#">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>
<div class="floatclear"></div>
<br />
<table>
  <tbody>
    <tr>
      <td valign="top"><strong>Ministry Team:</strong>
        <table>
          <tbody>
            <tr>
              <td><div>
                <table cellspacing="0" cellpadding="3" border="0" id="ctl00_ContentPlaceHolder1_ContactorGrid">
                  <tbody>
                    <tr>
                      <th align="left" valign="middle" scope="col">Name</th>
                      <th scope="col"> </th>
                    </tr>
                    <tr>
                      <td align="left" valign="middle"><a id="ctl00_ContentPlaceHolder1_ContactorGrid_ctl03_namelink" href="http://localhost:58724/Person/Index/33631">Joe Jernigan</a></td>
                      <td><a onclick="javascript:return confirm('Are you sure you want to remove contactor from the list?')" id="ctl00_ContentPlaceHolder1_ContactorGrid_ctl03_btnRemoveContactor" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ContactorGrid$ctl03$btnRemoveContactor','')">Remove</a></td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
            </tr>
            <tr>
              <td><a id="AddContactorLink" href="http://localhost:58724/SearchAdd/Index/221321?type=contactor" title="AddContactor">Add Contactor</a>
                <p><a id="ctl00_ContentPlaceHolder1_AddTeamContact" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$AddTeamContact','')">Add another Contact for this team</a></p></td>
            </tr>
          </tbody>
        </table></td>
      <td>&nbsp;</td>
      <td valign="top"><strong>Persons ministered to:</strong>
        <table>
          <tbody>
            <tr>
              <td><div>
                <table cellspacing="0" cellpadding="3" border="0">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td><a class="sortable" href="#">Profession Of Faith</a></th>
                      <td><a class="sortable" href="#">Prayed For Person</a></th>
                      <td> </td>
                      <td>AddTask</td>
                    </tr>
                    <tr>
                      <td><a href="/Person/Index/16690">Marge Lenow</a></td>
                      <td align="center"><span disabled="disabled">
                        <input id="ctl00_ContentPlaceHolder1_ContacteeGrid_ctl03_ctl00" type="checkbox" name="ctl00$ContentPlaceHolder1$ContacteeGrid$ctl03$ctl00" disabled="disabled" />
                      </span></td>
                      <td align="center"><span disabled="disabled">
                        <input id="ctl00_ContentPlaceHolder1_ContacteeGrid_ctl03_ctl01" type="checkbox" name="ctl00$ContentPlaceHolder1$ContacteeGrid$ctl03$ctl01" disabled="disabled" />
                      </span></td>
                      <td><a onclick="javascript:return confirm('Are you sure you want to remove contactee from the list?')" id="ctl00_ContentPlaceHolder1_ContacteeGrid_ctl03_btnRemoveContactee" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ContacteeGrid$ctl03$btnRemoveContactee','')">Remove</a></td>
                      <td><a id="ctl00_ContentPlaceHolder1_ContacteeGrid_ctl03_AddTask" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$ContacteeGrid$ctl03$AddTask','')">Add task</a></td>
                    </tr>
                  </tbody>
                </table>
              </div></td>
            </tr>
            <tr>
              <td><a id="AddContacteeLink" href="http://localhost:58724/SearchAdd/Index/221321?type=contactee" title="Add Contactee">Add Contactee</a></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
