@model CmsWeb.Areas.Search.Models.SearchPersonModel
<div class="control-group">
    <label class="control-label">For</label>
    <div class="controls">
        <p>@Model.First @Model.Last</p>
    </div>
</div>
@Html.EditorFor(m => m.HomePhone)
@Html.EditorFor(m => m.AddressInfo.Address1)
@Html.EditorFor(m => m.AddressInfo.Address2)
@Html.EditorFor(m => m.AddressInfo.City)
@Html.EditorFor(m => m.AddressInfo.State)
@Html.EditorFor(m => m.AddressInfo.Zip)
@Html.EditorFor(m => m.AddressInfo.Country)