@model CmsWeb.Models.OrgSearchModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgSearch";
}

@(Html.Raw(SquishIt.Framework.Bundle.JavaScript()
        .Add("/Content/js/jquery.jeditable.js")
        .Add("/Scripts/OrgSearch.js")
        .Render("/Content/OrgSearch_#.js")))

<form method="post">
  <table id="searchvalues" cellspacing="5" class="roundbox floatleft">
  <tr><td colspan="4"> <h2>Organization Search</h2> </td></tr>
      <tr>
        <td align="right">Name:</td>
        <td>@Html.TextBox("Name", Model.Name, new { title = "OrganizationId, Location or part of Name (organization, leader, division)" })</td>
        <td align="right">Campus:</td>
        <td style="min-width:10em">@Html.DropDownList("CampusId", Model.CampusIds())</td>
      </tr>
      <tr>
        <td align="right">Program:</td>
        <td>@Html.DropDownList("ProgramId", Model.ProgramIds())</td>
        <td align="right">Schedule:</td>
        <td>@Html.DropDownList("ScheduleId", Model.ScheduleIds())</td>
      </tr>
      <tr>
        <td align="right">Division:</td>
        <td>@Html.DropDownList("DivisionId", Model.DivisionIds())</td>
        <td align="right">Online Reg:</td>
        <td>@Html.DropDownList("OnlineReg", Model.RegistrationTypeIds())</td>
      </tr>
      <tr>
          <td valign="top" align="right">Status:</td>
          <td valign="top">@Html.DropDownList("StatusId", Model.StatusIds())</td>
          <td colspan="2" align="center">
          <a href="/OrgSearch/Results" id="search" class="bt default formlink">Search</a>
          <a href="/OrgSearch/Results" id="clear" class="bt">Clear</a>
@if (User.IsInRole("OrgTagger"))
{ 
          <a href="#" id="hideshow">Manager</a>
}
          </td>
      </tr>
    </table>
@if (User.IsInRole("OrgTagger"))
{ 
<div style="margin-left:1%;float:left;">&nbsp;</div>
<table id="managedivisions" class="roundbox floatleft">
<tr><td><h2>Manage Divisions</h2></td><td></td></tr>
  <tr>
    <td>Target Program:<br />
        @Html.DropDownList("TagProgramId", Model.ProgramIds())</td>
  </tr>
  <tr>
    <td><br />Target Divsion:<br />
        @Html.DropDownList("TagDiv", Model.DivisionIds())</td>
  </tr>
  <tr>
    <td><br />New Divsion:<br />
        @Html.TextBox("NewDiv") 
        <a id="MakeNewDiv" href="/OrgSearch/MakeNewDiv" class="bt">New</a>
        <a id="RenameDiv" href="/OrgSearch/RenameDiv" class="bt">Rename</a>
        </td>
  </tr>
</table>
}
<div class="floatclear"></div>
<hr />
     @Html.Partial("Results", Model) 
    </form>
    <div>
        <a id="ExportExcel" href="#">Export to Excel</a> | 
        <a id="rollsheet1" href='#'>Create Roll Sheet(s)</a> | 
        <a id="Meetings" href="#">Meetings</a> | 
        <a id="Roster" href="#">Roster</a> | 
        <a class="ViewReport" href="/Reports/OrgLeaders/">Leaders</a> | 
        <a class="ViewReport" href="/Reports/ClassList/">Class List</a> | 
        <a class="ViewReport" href="/Reports/ShirtSizes">Shirt Sizes</a> |
        <a id="attdetail1" href='#'>Meetings Attendance</a>
@if (Session["OrgCopySettings"] != null)
{ 
        @:| <a id="PasteSettings" href="/OrgSearch/PasteSettings">Paste Settings</a>
 } 
    </div>
    <div id="PanelRollsheet" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a meeting date and time</th></tr>
        <tr><th>Meeting Date</th><td><input id="MeetingDate" type="text" class='datepicker' /></td></tr>
        <tr><th>Meeting Time</th><td><input id="MeetingTime" title="Time in Format hh:mm am or pm" type="text" /></td></tr>
        <tr>
            <th id="altnames">Use Alt Names</th>
            <td>@Html.CheckBox("altnames")</td>
        </tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="rollsheet2" href="#">create</a></td>
        </tr>
        </table>
    </div>
    <div id="PanelAttDetail" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a date range</th></tr>
        <tr><th>Meetings Start Date</th><td><input id="MeetingDate1" type="text"  class='datepicker' /></td></tr>
        <tr><th>Meetings End Date</th><td><input id="MeetingDate2" type="text" class='datepicker' /></td></tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="attdetail2" href="#"> run </a></td>
        </tr>
        </table>
    </div>


