@model CmsWeb.Models.OrgSearchModel
@using System.Web.Optimization
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgSearch";
}
@section scripts
{
@Scripts.Render("~/bundles/single/OrgSearch-js")
}
<form id="orgsearchform" method="post">
  <table id="searchvalues" cellspacing="5" class="roundbox floatleft">
  <tr><td colspan="4"> <h2>Organization Search</h2> </td></tr>
      <tr>
        <td align="right">Name:</td>
        <td>@Html.TextBox("Name", Model.Name, new { title = "OrganizationId, Location or part of Name (organization, leader, division)" })</td>
          <td valign="top" align="right">Status: </td>
          <td valign="top">@Html.DropDownList("StatusId", Model.StatusIds()) </td>
      </tr>
      <tr>
        <td align="right">Org Type:</td>
        <td>@Html.DropDownList("TypeId", Model.OrgTypes())</td>
        <td align="right">Campus:</td>
        <td style="min-width:10em">@Html.DropDownList("CampusId", Model.CampusIds())</td>
      </tr>
      <tr>
        <td align="right">Program:</td>
        <td>@Html.DropDownList("ProgramId", Model.ProgramIds())</td>
        <td align="right">Schedule:</td>
        <td>@Html.DropDownList("ScheduleId", Model.ScheduleIds())</td>
      </tr>
      <tr>
        <td align="right">Division:</td>
        <td>@Html.DropDownList("DivisionId", Model.DivisionIds())</td>
	  	<td align="right"><span style="padding-left: 1em;">Online Reg:</span></td>
          <td>@Html.DropDownList("OnlineReg", Model.RegistrationTypeIds())</td>
      </tr>
  	<tr>
	      <td align="right" valign="top" colspan="2" nowrap="nowrap">
	          MainFellowship @Html.CheckBox("MainFellowship") |
	          ParentOrg @Html.CheckBox("ParentOrg")
	      </td>
          <td align="right" colspan="2">
@if (User.IsInRole("OrgTagger"))
{ 
            <a href="#" id="hideshow" class="bt">Manager</a>
}
          <a href="/OrgSearch/Results" id="clear" class="bt">Clear</a>
          <a href="/OrgSearch/Results" id="search" class="blue bt default formlink">Search</a>
		</td>
	</tr>

@if (User.IsInRole("OrgTagger"))
{ 
      <tr class="managedivisions" style="display:none">
        <td colspan="4"> <h2>Manage Organization Structure</h2> </td></tr>
      <tr class="managedivisions" style="display:none">
	  	<td align="right">Target<br />Program</td>
        <td>@Html.DropDownList("TagProgramId", Model.ProgramIds())</td>
	  	<td align="right">Target<br />Division</td>
        <td>@Html.DropDownList("TagDiv", Model.DivisionIds())</td>
      </tr>
      <tr class="managedivisions" style="display:none">
          <td align="right">New<br />Divsion</td>
          <td>@Html.TextBox("NewDiv", "", new { style = "width:95%" }) </td>
          <td colspan="2"><a id="MakeNewDiv" href="/OrgSearch/MakeNewDiv" class="bt">New</a>
            <a id="RenameDiv" href="/OrgSearch/RenameDiv" class="bt">Rename</a></td>
      </tr>
      <tr class="managedivisions" style="display:none">
          <td align="right">Target<br />Type</td>
          <td>@Html.DropDownList("TargetType", Model.OrgTypes())</td>
          <td colspan="2"><a id="ApplyType" href="#" class="bt">Apply to Filtered List</a></td>
      </tr>
}
    </table>
<div id="buttondiv" class="dropdown" style="margin-top:2em;margin-left: 1em;float:left;font-size:1.2em;">
    <a href="#" class="trigger-dropdown">
        Exports/Reports <img src="/images/dnarrow.png" />
    </a>
    <div class="dropdown-menu has-tip">
        <ul>
            <li><a id="ExportExcel" href="#">Export to Excel</a></li>
            @if (User.IsInRole("Attendance"))
            {
            <li><a id="AttNotices" href="#">Email Attendance Notices</a></li>
            }
            <li><a id="rollsheet1" href='#'>Roll Sheet(s)</a></li>
            <li><a id="Meetings" href="#">Meetings</a></li>
            <li><a id="RecentAbsents" href="/Reports/RecentAbsents/">Recent Absents</a></li>
            <li><a id="Roster" href="#">Roster</a></li>
            <li><a class="ViewReport" href="/Reports/OrgLeaders/">Leaders</a></li>
            <li><a class="ViewReport" href="/Reports/ClassList/">Class List</a></li>
            <li><a class="ViewReport" href="/Reports/ShirtSizes">Shirt Sizes</a></li>
            <li><a id="attdetail1" href='#'>Meetings/Attendance</a></li>
            @if (Session["OrgCopySettings"] != null)
            { 
                <li><a id="PasteSettings" href="/OrgSearch/PasteSettings">Paste Settings</a></li>
            } 
            @if (User.IsInRole("Admin"))
            { 
                <li><a id="RepairTransactions" href="/OrgSearch/RepairTransactions">Repair Transactions</a></li>
            } 
        </ul>
    </div>
</div>
<div class="floatclear"></div>
<hr />
     @Html.Partial("Results", Model) 
    </form>
    <div id="PanelAttendanceNotices" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a meeting date</th></tr>
        <tr><th>Meeting Date</th><td><input id="MeetingDateAttNotices" type="text" class='datepicker' /></td></tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="AttendanceNotices" href="#">Run</a></td>
        </tr>
        </table>
    </div>
    <div id="PanelRollsheet" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a meeting date and time</th></tr>
        <tr><th>Meeting Date</th><td><input id="MeetingDate" type="text" class='datepicker' /></td></tr>
        <tr><th>Meeting Time</th><td><input id="MeetingTime" title="Time in Format hh:mm am or pm" type="text" /></td></tr>
        <tr>
            <th id="altnames">Use Alt Names</th>
            <td>@Html.CheckBox("altnames")</td>
        </tr>
        <tr>
            <th id="altnames">Parents (rally mode)</th>
            <td>@Html.CheckBox("rallymode")</td>
        </tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="rollsheet2" href="#">create</a></td>
        </tr>
        </table>
    </div>
    <div id="PanelAttDetail" class="modalDiv dialog" style="display: none">
        <table>
        <tr><th colspan="2">Select a date range</th></tr>
        <tr><th>Meetings Start Date</th><td><input id="MeetingDate1" type="text"  class='datepicker' /></td></tr>
        <tr><th>Meetings End Date</th><td><input id="MeetingDate2" type="text" class='datepicker' /></td></tr>
        <tr><td align="right" colspan="2">
            <a class="bt" id="attdetail2" href="#"> run </a></td>
        </tr>
        </table>
    </div>


