@model IEnumerable<CmsData.View.RecentAbsent>
@using UtilityExtensions
@{
    var item = Model.FirstOrDefault();
}
@if (item != null)
{
    <h2>Recent Absents</h2>
    <hr/>
    <a href="@Util.ResolveServerUrl("/Organization/Index/" + item.OrganizationId)">@item.OrganizationName</a> @:(@item.LeaderName)<br/>
    <span>Members with @item.ConsecutiveAbsentsThreshold or more consecutive absents on and before</span> @item.Lastmeeting.Value.ToShortDateString()
    <hr/>
    foreach (var p in Model)
    {
    <p>
        <a href="@Util.ResolveServerUrl("/Person/Index/" + p.PeopleId)" target="person">@p.Name2</a> <span>(@p.Consecutive times absent)</span>
        @if (p.HomePhone.HasValue())
        {
            <br/>
            @p.HomePhone.FmtFone(prefix: "H")
        }
        @if (p.CellPhone.HasValue())
        {
            <br/>
            @p.CellPhone.FmtFone(prefix: "C")
        }
        @if (p.EmailAddress.HasValue())
        {
            <br />
            <a href="mailto:@p.EmailAddress">@p.EmailAddress</a>
        }
    </p>
    }
}