@using UtilityExtensions
@model CmsWeb.Models.OrgSearchModel
@section scripts
{
    @if (User.IsInRole("edit"))
    {
    <script type="text/javascript">
        $(function () {
            $("#results").addClass("edit2");
        });
    </script>
    }
}

<table id="results" class="grid">
<thead>
    <tr><td colspan="10">
<div>Count: @Model.Count()</div>
 @Html.Partial("Pager2", Model) 
    </td></tr>
@if ((Model.OnlineReg ?? -1) <= 0)
{
    <tr>
        <th><a href="#" class="sortable">ID</a></th>
        <th align="left"><a href="#" class="sortable">Name</a></th>
        <th align="left"><a href="#" class="sortable">Leader</a></th>
        <th align="right"><a href="#" class="sortable">Members</a></th>
        <th align="left"><a href="#" class="sortable">Schedule</a></th>
        <th><a href="#" class="sortable">Self CheckIn</a></th>
        <th><a href="#" class="sortable">BDay Start</a></th>
        <th><a href="#" class="sortable">BDay End</a></th>
        <th><a href="#" class="sortable">TargetDiv</a></th>
        <th><a href="#" class="sortable">MainDiv</a></th>
    </tr>
}
else
{
    <tr>
        <th><a href="#" class="sortable">ID</a></th>
        <th><a href="#" class="sortable">Program/Division</a></th>
        <th><a href="#" class="sortable">Name</a></th>
        <th><a href="#" class="sortable">Filled</a></th>
        <th><a href="#" class="sortable">Closed</a></th>
        <th><a href="#" class="sortable">Members</a></th>
        <th><a href="#" class="sortable">Type</a></th>
        <th><a href="#" class="sortable">FirstDate</a></th>
    </tr>
}
</thead>
<tbody>
@foreach (var o in Model.OrganizationList())
{ 
    if ((Model.OnlineReg ?? -1) <= 0)
    {
        Html.RenderPartial("Row", o);
    }
    else
    {
    <tr>
        <td class="tip" title="@o.ToolTip"><img src="/Content/css/images/group.png" /></td>
        <td>@o.ProgramName:@o.DivisionName</td>
        <td><a href="/Organization/Index/@o.Id" target="reg">@o.OrganizationName</a></td>
        <td>@o.ClassFilled</td>
        <td>@o.RegClosed</td>
        <td align="right">@o.MemberCount</td>
        <td>@o.RegType</td>
        <td>@o.FirstMeetingDate</td>
    </tr>
    }
}
</tbody>
    <tr><td colspan="10">
 @Html.Partial("Pager2", Model) 
    </td></tr>
</table>

