@using UtilityExtensions
@model CmsWeb.Models.OrgSearchModel.OrganizationInfo
@{ var o = Model; }
    <tr>
        <td class="tip" title="@o.ToolTip"><img src="/content/css/images/group.png" /></td>
        <td><a href="/Organization/Index/@o.Id">@o.OrganizationName</a></td>
        <td><a href="/Person/Index/@o.LeaderId">@o.LeaderName</a></td>
        <td align="right">@o.MemberCount</td>
        <td>@o.Schedule</td>
        <td><span id='ck-@o.Id' class='yesno'>@(o.AllowSelfCheckIn ? "yes" : "no")</span></td>
        <td><span id='bs-@o.Id' class='bday'>@o.BDayStart</span></td>
        <td><span id='be-@o.Id' class='bday'>@o.BDayEnd</span></td>
        <td><a id='tt-@o.Id' href="/OrgSearch/ToggleTag/@o.Id" class="taguntag" title="Add to/Remove from Target Division">@o.Tag</a></td>
        <td><a id='mm-@o.Id' href="/OrgSearch/MainDiv/@o.Id" class="maindiv" title="Make Target Main Division">@(o.ChangeMain == true ? "Make Main" : "")</a></td>
    </tr>