@model CmsWeb.Models.TestPlan
@using UtilityExtensions
@using CmsWeb
@{
    CassetteConfiguration.BundleRefCss();
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("TestAPI");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>API Tester</title>
    @Bundles.RenderStylesheets()
	<link rel="stylesheet" href="/Content/styles/faary.css?v=1" type="text/css" />
	<style>
	    div.section
	    {
	        cursor: pointer;
            background-color:#777;
            color:#eee;
	    }
	</style>
    @Bundles.RenderScripts()
</head>
<body>

<form action="/APITest/Init" class="iform">
<ul>
    <li class="iheader">Initialize Authentication</li>
    <li><ul>
        <li>To use these APIs, you need to authenticate with you own username and password first.</li>
        <li>Also you must be in the Developer role</li>
        <li>The code below is the initialization script that is run before each call</li>
        <li>You will need to establish the baseurl and Authorization header in your code too.</li>
        </ul>
    </li>
    <li><label>uname</label>
        <input id="uname" name="uname" class="itext" type="text" />
    </li>
    <li><label>pword</label>
        <input id="pword" name="pword" class="itext" type="password" />
    </li>
    <li><label>script</label>
<textarea class="itextarea" spellcheck="false" name="script" rows="7">

webclient = WebClient()
webclient.BaseAddress = '@UtilityExtensions.Util.CmsHost2'
bytes = Encoding.ASCII.GetBytes(uname + ':' + pword);
credentials = Convert.ToBase64String(bytes)
webclient.Headers.Add('Authorization: Basic ' + credentials)
</textarea>
    </li>
    <li><label><p><button id="init" class="ibutton">Init</button></p></label>
        <div id="imessageOK">Authorization Initialized</div>
    </li>
</ul>
</form>
<div class="clear"></div>

@foreach(var m in Model.Sections)
{
    <div class="section" title="Click the title to expand this section"><h2>&nbsp;<text>API</text>@m.name</h2></div>
    <div style="display:none">
    @foreach (var t in m.Tests)
    {
    @Html.EditorFor(mm => t)
    }
    </div>
}

</body>
</html>