@model CmsWeb.Models.HomeModel
@using System.Drawing
@using CmsData;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.jscroll').each(function () {
                $(this).jScrollPane({
                    showArrows: true,
                    verticalGutter: 5
                });
                var api = $(this).data('jsp');
                var throttleTimeout;
                $(window).bind('resize', function () {
                    if ($.browser.msie) {
                        if (!throttleTimeout) {
                            throttleTimeout = setTimeout(function () {
                                api.reinitialise();
                                throttleTimeout = null;
                            }, 50);
                        }
                    } else {
                        api.reinitialise();
                    }
                });
            });
            $('div.jscroll div.drow:even').addClass('alt');
        });
    </script>
}
@section tutorials
{
    <a href="#homeTut" class="tutorial">Home Page Layout</a>
    <a href="#attendanceTut" class="tutorial">Attendance</a>
}
    <div class="homebox roundbox">
        <h2 id="bdays"><a href="Tags?tag=TrackBirthdays">Birthdays</a></h2>
        <div class="jscroll" style="height:10em">
@foreach (var bi in Model.Birthdays())
{
            <div class="drow"><a href="/Person/Index/@bi.PeopleId">@bi.Name (@bi.Birthday.ToString("M/d"))</a></div>
}
        </div>
        <h2><a href="/Person/Index/@Util.UserPeopleId">My Involvement</a></h2>
        <div class="jscroll" style="height:10em">
@{ var pOrgType = "Other"; }
@foreach (var my in Model.MyInvolvements())
{
    if(my.OrgType != pOrgType)
    {
        pOrgType = my.OrgType;
            <div class="drow section">@my.OrgType</div>
    }
            <div class="drow indent"><a href="/Organization/Index/@my.OrgId">@my.Name</a></div>
}
        </div>
        <h2><a href="/QueryBuilder/Main">My Queries</a></h2>
        <div class="jscroll" style="height:10em">
@foreach (var q in Model.MyQueries())
{
            <div class="drow"><a href="/QueryBuilder/Main/@q.QueryId">@q.Name</a></div>
}
        </div>
    </div>
    <div style="margin-left:1%;float:left;">&nbsp;</div>
    <div class="homebox roundbox">
        <h2><a href="@DbUtil.Db.Setting("BlogAppUrl", "#")">BVCMS News</a></h2>
        <div class="jscroll" style="height:17em">
@foreach (var ni in Model.BVCMSNews())
{
            var days = (int)Math.Ceiling(DateTime.Now.Subtract(ni.Published).TotalDays);
            <div class="drow @(days < 8 ? "isnew" + days:"")" >
            <a href="@ni.Url" target="news">@ni.Title</a></div>
}
        </div>
        <h2><a href="@DbUtil.Db.Setting("ChurchBlogUrl", "#")">Church News</a></h2>
        <div class="jscroll" style="height:17em">
@foreach (var ni in Model.ChurchNews())
{
            var days = (int)Math.Ceiling(DateTime.Now.Subtract(ni.Published).TotalDays);
            <div class="drow @(days < 8 ? "isnew" + days:"")" >
            <a href="@ni.Url" target="news">@ni.Title</a></div>
}
        </div>
    </div>
    <div style="margin-left:1%;float:left;">&nbsp;</div>
    <div class="homebox roundbox">
        <h2 id="tags"><a href="/Tags">My Tags</a></h2>
        <div class="jscroll" style="height:10em">
@foreach (var t in Model.Tags())
{
            <div class="drow"><a href="/Tags?tag=@t.Value">@t.Value</a></div>
}
        </div>
        <h2 id="tasks"><a href="/Task/List">My Tasks</a></h2>
        <div class="jscroll" style="height:25em">
@foreach (var t in Model.Tasks())
{
            <div class="drow"><a href="/Task/List/@t.TaskId#Detail">@t.Description</a> (<a href="/Person/Index/@t.PeopleId">@t.Who</a>)</div>
}
        </div>
    </div>
    <div style="clear:both"></div>
<ol id="homeTut" style="display:none">
  <li data-id="bdays">This is experimental feature coming soon.</li>
  <li data-id="bdays">Upcoming birthdays here</li>
  <li data-id="tags" data-options="tipAnimation:fade">This is where your tags are.</li>
  <li data-id="tasks" data-options="tipAnimation:fade">This is where your tasks are.</li>
  <li data-id="helplink" data-options="tipLocation:left">This is how you get help</li>
</ol>
<ol id="attendanceTut" style="display:none">
  <li data-id="OrgSearchLink">
  <p>This is experimental feature coming soon.<br />
  Hover over Organization,<br />
  Then click the Search item.</p>
  </li>
</ol>