@using CmsData.Registration
@using UtilityExtensions
@using CmsData
@model CmsData.OrganizationMember
@{ 
    string comboid = "-" + Model.OrganizationId + "-" + Model.PeopleId;
    Settings setting = new Settings(Model.Organization.RegSetting, DbUtil.Db, Model.OrganizationId);
}
<table class="Design2" cellspacing="5">
    <tr>
        <th align='right'>Member Type:</th>
        <td>@Model.MemberType.Description</td>
    </tr>
    <tr>
        <th align='right'>Inactive Date:</th>
        <td>@Model.InactiveDate.FormatDate()</td>
    </tr>
    <tr>
        <th align='right'>Enrollment Date:</th>
        <td>@Model.EnrollmentDate.FormatDate()</td>
    </tr>
    <tr>
        <th align='right'>Pending:</th>
        <td><input type="checkbox" disabled="disabled" @((Model.Pending ?? false) == true ? "checked='checked'" : "") /></td>
    </tr>
@if (Model.RegisterEmail.HasValue())
{     
    <tr>
        <th align='right'>RegisterEmail:</th>
        <td>@Model.RegisterEmail</td>
    </tr>
 }
 @if (setting.AskVisible("AskRequest"))
 {     
    <tr>
        <th align='right'>Request:</th>
        <td>@Model.Request</td>
    </tr>
 }
 @if(Model.Grade.HasValue)
 {     
    <tr>
        <th align='right'>Grade:</th>
        <td>@Model.Grade</td>
    </tr>
 }    
 @if(setting.AskVisible("AskTickets"))
 {     
    <tr>
        <th align='right'>No. Items:</th>
        <td>@Model.Tickets</td>
    </tr>
 }    
 @if (Model.Amount.HasValue)
 {
     var amtdue = @Model.AmountDue(DbUtil.Db);
    <tr>
        <th align='right'>Amount:</th>
        <td>@Model.Amount.ToString2("N")</td>
    </tr>
    <tr>
        <th align="right" valign="top">AmountDue:</th>
        <td>@amtdue.ToString2("N")
        @if (amtdue > 0)
        { 
            <div><a href="@Model.PayLink" target="_blank">PayLink</a></div>
        } 
        </td>
    </tr>
 }
 @if(setting.AskVisible("AskSize"))
 {     
    <tr>
        <th align='right'>ShirtSize:</th>
        <td>@Model.ShirtSize</td>
    </tr>
 }    
    <tr>
        <th valign="top" align='right'>Extra Member Info:</th>
        <td>@Html.Raw(Util.SafeFormat(Model.UserData))</td>
    </tr>
    @if (User.IsInRole("Edit"))
    {
    <tr>
        <td colspan="2" align="right">
            <a class="bt display" href="/OrgMemberDialog/Edit/@Model.OrganizationId?pid=@Model.PeopleId">Edit</a>
            <a class="bt display" href="/OrgMemberDialog/Move/@Model.OrganizationId?pid=@Model.PeopleId">Move</a>
            <a class="bt delete" href="/OrgMemberDialog/Drop/d@(comboid)">Drop</a></td>
    </tr>
    }
</table>

