@using UtilityExtensions
@using CmsData
@model CmsData.OrganizationMember
@{ 
    string comboid = "-" + Model.OrganizationId + "-" + Model.PeopleId;
    RegSettings setting = new RegSettings(Model.Organization.RegSetting, DbUtil.Db, Model.OrganizationId);
}
<table class="Design2" cellspacing="5">
    <tr>
        <th align='right'>Member Type:</th>
        <td>@Model.MemberType.Description</td>
    </tr>
    <tr>
        <th align='right'>Inactive Date:</th>
        <td>@Model.InactiveDate.FormatDate()</td>
    </tr>
    <tr>
        <th align='right'>Enrollment Date:</th>
        <td>@Model.EnrollmentDate.FormatDate()</td>
    </tr>
    <tr>
        <th align='right'>Pending:</th>
        <td><input type="checkbox" disabled="disabled" @((Model.Pending ?? false) == true ? "checked='checked'" : "") /></td>
    </tr>
@if (Model.RegisterEmail.HasValue())
{     
    <tr>
        <th align='right'>RegisterEmail:</th>
        <td>@Model.RegisterEmail</td>
    </tr>
 }
 @if (setting.AskRequest == true)
 {     
    <tr>
        <th align='right'>Request:</th>
        <td>@Model.Request</td>
    </tr>
 }
 @if(Model.Grade.HasValue)
 {     
    <tr>
        <th align='right'>Grade:</th>
        <td>@Model.Grade</td>
    </tr>
 }    
 @if(setting.AskTickets == true) 
 {     
    <tr>
        <th align='right'>No. Items:</th>
        <td>@Model.Tickets</td>
    </tr>
 }    
 @if (Model.Amount.HasValue)
 {     
    <tr>
        <th align='right'>Amount:</th>
        <td>@(Model.Amount.HasValue ? Model.Amount.Value.ToString("N") : "")</td>
    </tr>
    <tr>
        <th>AmountPaid:</th>
        <td>@(Model.AmountPaid.HasValue ? Model.AmountPaid.Value.ToString("N") : "")
    @if (Model.PayLink.HasValue())
    { 
        <a href="@Model.PayLink" target="_blank">paylink</a>
    } 
        </td>
    </tr>
 }
 @if(setting.AskShirtSize == true) 
 {     
    <tr>
        <th align='right'>ShirtSize:</th>
        <td>@Model.ShirtSize</td>
    </tr>
 }    
    <tr>
        <th valign="top" align='right'>Extra Member Info:</th>
        <td>@Html.Raw(Util.SafeFormat(Model.UserData))</td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <a class="bt display" href="/OrgMemberDialog/Edit/@Model.OrganizationId?pid=@Model.PeopleId">Edit</a>
            <a class="bt display" href="/OrgMemberDialog/Move/@Model.OrganizationId?pid=@Model.PeopleId">Move</a>
            <a class="bt delete" href="/OrgMemberDialog/Drop/d@(comboid)">Drop</a></td>
    </tr>
</table>

