@using UtilityExtensions
@using CmsWeb
@model CmsData.OrganizationMember

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
    <link href="/Content/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.tooltip.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.bt { font-size: 8pt; }
body { margin: 1px; }
</style>
</head>

<body>
@Html.Partial("CombinedJs")
@Html.Partial("DatePickerDefaults")
@Html.Script("/Scripts/OrgMemberDialog.js")

@{ string comboid = "-" + Model.OrganizationId + "-" + Model.PeopleId; }
@Html.Hidden("from")
<div class="roundbox">
<h2>@Model.Person.Name</h2>
<a class="helplink" target="_blank" href='@Util.HelpLink("UpdateOrgMember")'>help</a>
<table cellspacing="5">
    <tr>
    <td colspan="3"><a href="/TransactionHistory/Index/@Model.PeopleId?oid=@Model.OrganizationId" 
            target="_blank" style="font-family: Courier New">Attendance</a>: @Model.AttendStr
        </td>
    </tr>
    <tr>
    <td valign="top">
    <form class="DisplayEdit" action="/OrgMemberDialog/Update/@Model.OrganizationId&pid=@Model.PeopleId" method="post">
     @Html.Partial("Display", Model) 
    </form>
    </td>
    <td></td>
    <td valign="top">
        <div style="border: solid 1px #555; padding:1em">
        <strong>Groups:</strong><br />
        <table>
        @foreach (var mt in Model.Organization.MemberTags.OrderBy(t => t.Name))
        { 
           <tr><td><input id="smallgroup@(comboid)-@mt.Id" class="ckbox" type="checkbox" @(Model.OrgMemMemTags.Any(omt => omt.MemberTagId == mt.Id) ? "checked='checked'" : "") /></td>
           <td>@mt.Name</td></tr>
        }
        </table>
        </div>
    </td>
    </tr>
</table>
</div>
</body>
</html>

