@using UtilityExtensions
@model CmsData.OrganizationMember

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
@Html.Raw(SquishIt.Framework.Bundle.Css()
        .Add("/Content/jquery-ui-1.8.13.custom.css")
        .Add("/Content/site.css")
        .Add("/Content/jquery.tooltip.css")
    .Render("/Content/OrgMember_#.css")
)
<style type="text/css">
.bt { font-size: 8pt; }
body { margin: 1px; }
</style>
</head>

<body>
@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
                .Add("/Content/js/jquery-1.5.2.js")
                .Add("/Content/js/jquery-ui-1.8.13.custom.js")
                .Add("/Content/js/jquery.tooltip.js")
                .Add("/Scripts/OrgMemberDialog.js")
        .Render("/Content/OrgMemberDialog_#.js")
)        

@{ string comboid = "-" + Model.OrganizationId + "-" + Model.PeopleId; }
@Html.Hidden("from")
<div class="roundbox">
<h2>@Model.Person.Name</h2>
<a class="helplink" target="_blank" href='@Util.HelpLink("UpdateOrgMember")'>help</a>
<table cellspacing="5">
    <tr>
    <td colspan="3">Attendance:
            <a href="/AttendStrDetail.aspx?id=@Model.PeopleId&oid=@Model.OrganizationId" 
            target="_blank" style="font-family: Courier New">@Model.AttendStr</a>
        </td>
    </tr>
    <tr>
    <td valign="top">
    <form class="DisplayEdit" action="/OrgMemberDialog/Update/@Model.OrganizationId&pid=@Model.PeopleId" method="post">
     @Html.Partial("Display", Model) 
    </form>
    </td>
    <td></td>
    <td valign="top">
        <div style="border: solid 1px #555; padding:1em">
        <strong>Groups:</strong><br />
        <table>
        @foreach (var mt in Model.Organization.MemberTags.OrderBy(t => t.Name))
        { 
           <tr><td><input id="smallgroup@(comboid)-@mt.Id" class="ckbox" type="checkbox" @(Model.OrgMemMemTags.Any(omt => omt.MemberTagId == mt.Id) ? "checked='checked'" : "") /></td>
           <td>@mt.Name</td></tr>
        }
        </table>
        </div>
    </td>
    </tr>
</table>
</div>
</body>
</html>

