@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.Org.Models.OrgMemberModel
<form class="form-horizontal onecol ajax" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h4>@Model.Name</h4>
        <h4>@Model.OrgName</h4>
    </div>
    <div class="modal-body">
        <a href="/TransactionHistory/Index/@Model.PeopleId?oid=@Model.OrgId" target="_blank" 
            style="font-family: Courier New">Attendance</a>: @Model.AttendStr
        <a class="helplink pull-right" target="_blank" href='@Util.HelpLink("UpdateOrgMember")'>help</a>
        <fieldset class="display">
            @Html.HiddenFor(m => m.OrgId)
            @Html.HiddenFor(m => m.PeopleId)
            @Html.EditorFor(m => m.MemberType)
            @Html.EditorFor(m => m.InactiveDate)
            @Html.EditorFor(m => m.Enrollment)
            @Html.EditorFor(m => m.Pending)
            @if (Model.RegisterEmail.HasValue())
            {
                @Html.EditorFor(m => m.RegisterEmail)
            }
            @if (Model.Setting.AskVisible("AskRequest"))
            {
                @Html.EditorFor(m => m.Request)
            }
            @if (Model.Grade.HasValue)
            {
                @Html.EditorFor(m => m.Grade)
            }
            @if (Model.Setting.AskVisible("AskTickets"))
            {
                @Html.EditorFor(m => m.Tickets)
            }
            @if (Model.Amount.HasValue)
            {
                @Html.EditorFor(m => m.Amount)
                @Html.DisplayFor(m => m.AmountDue)
                if (Model.AmountDue > 0)
                {
                    @Html.DisplayFor(m => m.PayLink)
                }
            }
            @if (Model.Setting.AskVisible("AskSize"))
            {
                @Html.EditorFor(m => m.ShirtSize)
            }
            @Html.EditorFor(m => m.UserData)
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="/OrgMemberDialog2/Display/@Model.OrgId/@Model.PeopleId" class="btn ajax">Cancel Edit</a>
        <a href="/OrgMemberDialog2/Update" class="btn btn-primary ajax">Save</a>
    </div>
</form>

@* Dave: how should I display the groups in the org member dialog?
<div style="border: solid 1px #555; padding: 1em">
    <strong>Groups:</strong><br />
    <table>
        @foreach (var mt in Model.Organization.MemberTags.OrderBy(t => t.Name))
        { 
            <tr>
                <td>
                    <input id="smallgroup@(comboid)-@mt.Id" class="ckbox" type="checkbox" @(Model.OrgMemMemTags.Any(omt => omt.MemberTagId == mt.Id) ? "checked='checked'" : "") /></td>
                <td>@mt.Name</td>
            </tr>
        }
    </table>
</div>
*@