@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    var p = Model.displayperson;
}
@* Dave : need to think through how to present address section
Should we put email address in this section?
Does this whole section change for each person?
In other words do we displahy the home address for each person and their personal if they have one?
May want to change whole data structure, but need to postpone that for now (lots of work)
*@
<div class="sidebar_title group">
    <h2>Family Contact</h2>
    @* Dave : Only showing a way to add the personal address if they do not have one already *@
    @if (!p.PersonalAddr.Address1.HasValue())
    {
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-plus-sign"></i> </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Add Personal Address</a></li>
        </ul>
    </div>
    }
</div>
@* Dave : How do we highlight preferred address, personal vs home *@
@* Dave : where bad address flag, resident code, effective dates, country? *@
<ul id="family_home" class="unstyled">
    <li class="address">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-map-marker"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="http://www.google.com/maps?q=@p.FamilyAddr.AddrCityStateZip()" target="_blank">Google Map</a></li>
                <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.FamilyAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
                <li><a href="http://www.bing.com/maps/?q=@p.FamilyAddr.AddrCityStateZip()" target="_blank">Bing Map</a></li>
                <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.FamilyAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
                <li><a href="#sample-modal" data-toggle="modal">Edit</a></li>
            </ul>
        </div>
        <p>
            <span class="street">@p.FamilyAddr.Address1</span>
            @if (p.FamilyAddr.Address2.HasValue())
            {
                <span class="street">@p.FamilyAddr.Address2</span>
            }
            <span class="city">@p.FamilyAddr.CityStateZip()</span>
        </p>
    </li>
    <li class="phone landline">
        <i class="icon-phone"></i>
        <p>@p.basic.HomePhone.FmtFone()</p>
        <a href="#sample-modal" data-toggle="modal" class="edit"><i class="icon-pencil"></i></a>
    </li>

    @if (p.PersonalAddr.Address1.HasValue())
    {
    <li class="address">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-map-marker"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="http://www.google.com/maps?q=@p.PersonalAddr.AddrCityStateZip()" target="_blank">Google Map</a></li>
                <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.PersonalAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
                <li><a href="http://www.bing.com/maps/?q=@p.PersonalAddr.AddrCityStateZip()" target="_blank">Bing Map</a></li>
                <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.PersonalAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
                <li><a href="#sample-modal" data-toggle="modal">Edit</a></li>
            </ul>
        </div>
        <p>
            <span class="street">@p.PersonalAddr.Address1</span>
            @if (p.PersonalAddr.Address2.HasValue())
            {
                <span class="street">@p.PersonalAddr.Address2</span>
            }
            <span class="city">@p.PersonalAddr.CityStateZip()</span>
        </p>
    </li>
    }
    @if (p.basic.CellPhone.HasValue())
    {
    <li class="phone mobile">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-mobile-phone"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Send SMS</a></li>
            </ul>
        </div>
        <p>@p.basic.CellPhone.FmtFone()</p>
    </li>
    }
</ul>