@using CmsWeb.Areas.People.Models.Person
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel

@helper ListItem(AddressInfo a, string icon)
{
    var id = "tab-" + a.Name;
    <li @(a.Preferred ? "class=active" : "")>
        <a href="#@id" data-toggle="tab">
            @a.Name
        </a>
    </li>
}
<div id="contact" class="tabbable group">
    <div class="sidebar_title">
        <h2>Contact Information</h2>
    </div>
    <ul class="nav nav-tabs">
        @ListItem(Model.displayperson.FamilyAddr, "home")
        @ListItem(Model.displayperson.PersonalAddr, "suitcase")
    </ul>
    <div class="tab-content">
        @Html.Partial("DisplayTemplates/Address", Model.displayperson.FamilyAddr)
        @Html.Partial("DisplayTemplates/Address", Model.displayperson.PersonalAddr)
    </div>
</div>
