@using CmsWeb.Areas.People.Models.Person
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel

@helper ListItem(AddressInfo a, string icon)
{
    var id = "tab-" + a.Name;
    <li @(a.Preferred ? "class=active" : "")>
        <a href="#@id" data-toggle="tab">
            @if (a.Preferred)
            {
                <i class="icon-star"></i>
            }
            <i class="icon-@icon"></i>
        </a>
    </li>
}
<div class="contact tabbable tabs-left">
    <ul class="nav nav-tabs">
        @ListItem(Model.displayperson.FamilyAddr, "home")
        @ListItem(Model.displayperson.PersonalAddr, "suitcase")
    </ul>
    <div class="tab-content">
        @Html.Partial("DisplayTemplates/Address", Model.displayperson.FamilyAddr)
        @Html.Partial("DisplayTemplates/Address", Model.displayperson.PersonalAddr)
    </div>
    <p id="contact-phone-primary"><i class="icon-phone"></i>@Model.Person.CellPhone.FmtFone("C ")</p>
</div>
