@model CmsWeb.Areas.People.Models.Person.AddressInfo
<form id="addressForm" class="form-horizontal onecol ajax" action="/Person2/AddressUpdate" method="POST">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>@Model.Display</h3>
    </div>
    <div class="modal-body">
        <fieldset class="display">
            @Html.HiddenFor(m => m.PeopleId)
            @Html.HiddenFor(m => m.Name)
            @Html.EditorFor(m => m.Address1)
            @Html.EditorFor(m => m.Address2)
            @Html.EditorFor(m => m.City)
            @Html.EditorFor(m => m.State)
            @Html.EditorFor(m => m.Country)
            @Html.EditorFor(m => m.Zip)
            @Html.EditorFor(m => m.ResCode)
            @Html.EditorFor(m => m.FromDt)
            @Html.EditorFor(m => m.ToDt)
            @(Model.Preferred ? Html.DisplayFor(m => m.Preferred) : Html.EditorFor(m => m.Preferred))
        </fieldset>
        @Html.Raw(Model.Error);
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        @if (!Model.IsValid && Model.ResultNotFound)
        {
            <a href="/Person2/AddressUpdate/ForceSave" class="btn btn-danger ajax">Use this Address Anyway</a>
        }
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>
