@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel

@helper ListItem(bool prim, string id, string icon)
{
    <li @(prim ? "class=active" : "")>
        <a href="#@id" data-toggle="tab">
            @if (prim)
            {
                <i class="icon-star"></i>
            }
            <i class="icon-@icon"></i>
        </a>
    </li>
}
<div class="contact tabbable tabs-left">
    <ul class="nav nav-tabs">
        @ListItem(Model.displayperson.FamilyAddr.Preferred, "family-addr", "home")
        @ListItem(Model.displayperson.PersonalAddr.Preferred, "personal-addr", "suitcase")
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="family-addr">
            <!--<div class="btn-group">
                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-map-marker"></i>
                                            <span class="caret"></span>
                                        </a>
                                        
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Google Map</a></li>
                                            <li><a href='http://www.google.com/maps?f=d&saddr=2000+Appling+Rd,+Cordova,+Tennessee+38016&pw=2&daddr=511 Amsterdam Ave New York, NY 10024-3939' target="_blank">Driving Directions (Google)</a></li>
                                            <li><a href="http://www.bing.com/maps/?q=511 Amsterdam Ave New York, NY 10024-3939" target="_blank">Bing Map</a></li>
                                            <li><a href='http://www.bing.com/maps/?rtp=adr.2000+Appling+Rd,+Cordova,+Tennessee+38016~adr.511 Amsterdam Ave New York, NY 10024-3939' target="_blank">Driving Directions (Bing)</a></li>
                                        </ul>
                                    </div>-->
            <h3>Family Address</h3>
            @Html.Partial("DisplayTemplates/Address", Model.displayperson.FamilyAddr)
        </div>
        <div class="tab-pane" id="personal-addr">
            <!--<div class="btn-group">
                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-map-marker"></i>
                                            <span class="caret"></span>
                                        </a>
                                        
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Google Map</a></li>
                                            <li><a href='http://www.google.com/maps?f=d&saddr=2000+Appling+Rd,+Cordova,+Tennessee+38016&pw=2&daddr=511 Amsterdam Ave New York, NY 10024-3939' target="_blank">Driving Directions (Google)</a></li>
                                            <li><a href="http://www.bing.com/maps/?q=511 Amsterdam Ave New York, NY 10024-3939" target="_blank">Bing Map</a></li>
                                            <li><a href='http://www.bing.com/maps/?rtp=adr.2000+Appling+Rd,+Cordova,+Tennessee+38016~adr.511 Amsterdam Ave New York, NY 10024-3939' target="_blank">Driving Directions (Bing)</a></li>
                                        </ul>
                                    </div>-->

            <h3>Personal Address</h3>
            @Html.Partial("DisplayTemplates/Address", Model.displayperson.PersonalAddr)
        </div>
    </div>
    <p id="contact-phone-primary"><i class="icon-phone"></i>@Model.Person.CellPhone.FmtFone("C ")</p>
</div>
