@model CmsWeb.Areas.People.Models.Person.PersonAttendHistoryModel
@using UtilityExtensions
<div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model.Pager)
</div>
<table class="expanding table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>@Model.Pager.SortLink("Meeting")</th>
            <th>@Model.Pager.SortLink("Organization")</th>
            <th>@Model.Pager.SortLink("MemberType")</th>
            <th>@Model.Pager.SortLink("AttendType")</th>
            <th>OtherAttends</th>
        </tr>
    </thead>
    <tbody>
        <tr class="section">
            <td></td>
            @if (Model.Future)
            {
                <td colspan="5"><span>Showing Future Meetings <a class="btn btn-small btn-success ajax" href="/Person2/AttendanceGrid/@Model.PeopleId">show past</a></span></td>
            }
            else
            {
                <td colspan="5"><span>Showing Past Meetings <a class="btn btn-small btn-success ajax" href="/Person2/AttendanceGridFuture/@Model.PeopleId">show future</a></span></td>
            }
        </tr>
        @if (User.IsInRole("Access"))
        {
            foreach (var a in Model.Attendances())
            { 
            <tr>
                <td>
                    <input type="checkbox" mid="@a.MeetingId" pid="@a.PeopleId" @(a.AttendFlag ? "checked=checked" : "") class="atck" @(User.IsInRole("Admin") ? "" : "disabled=disabled") /></td>
                <td nowrap="nowrap"><a href="/Meeting/Index/@a.MeetingId">@a.MeetingDate.GetWeekNumber() @a.MeetingDate.Value.ToString("g") (@a.MeetingDate.Value.ToString("ddd"))</a></td>
                <td><a href="/Organization/Index/@a.OrganizationId">@a.OrganizationName</a></td>
                <td>@a.MemberType</td>
                <td>@a.AttendType</td>
                <td>@a.OtherAttends</td>
            </tr>
            }
        }
        else
        {
            foreach (var a in Model.Attendances())
            { 
            <tr>
                <td>
                    <input type="checkbox" @(a.AttendFlag ? "checked=checked" : "") disabled=disabled /></td>
                <td>@a.MeetingDate.Value.ToString("g")</td>
                <td>@a.OrganizationName</td>
                <td>@a.MemberType</td>
                <td>@a.AttendType</td>
            </tr>
            }
        }
    </tbody>
</table>
<div class="pagination pagination-mini">
    @Html.Partial("Pager3", Model.Pager)
</div>
