@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
@FormAction()
<div class="row-fluid">
    <fieldset id="fieldset1" class="span12 display form-columns">
        @if (Model.DoNotContactAny)
        {
            @Html.DisplayFor(m => m.DoNotContact)
        }
        @Html.DisplayFor(m => m.PrimaryEmail)
        @Html.DisplayFor(m => m.Mobile)
        @Html.DisplayFor(m => m.AltEmail)
        @Html.DisplayFor(m => m.Work)
    </fieldset>
</div>
<div class="row-fluid">
    <fieldset class="span12 display form-columns">
        @Html.DisplayFor(m => m.Title)
        @Html.DisplayFor(m => m.FirstName)
        @Html.DisplayFor(m => m.GoesBy)
        @Html.DisplayFor(m => m.MiddleName)
        @Html.DisplayFor(m => m.LastName)
        @Html.DisplayFor(m => m.AltName)
        @Html.DisplayFor(m => m.FormerName)
        @Html.DisplayFor(m => m.Suffix)
        @Html.DisplayFor(m => m.Gender)
        @Html.DisplayFor(m => m.Birthday)
        @Html.DisplayFor(m => m.Marital)
        @Html.DisplayFor(m => m.WeddingDate)
        @Html.DisplayFor(m => m.Occupation)
        @Html.DisplayFor(m => m.Employer)
        @Html.DisplayFor(m => m.School)
        @Html.DisplayFor(m => m.Grade)
    </fieldset>
</div>
@FormAction()

@helper FormAction()
{
    <div class="form-actions">
        <a href="/Person2/BasicEdit/@Model.PeopleId" class="edit-basic btn pull-right ajax">Edit</a>
    </div>
}