@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
@FormAction()
<div class="row-fluid">
    <fieldset id="fieldset1" class="display">
        @Html.EditorFor(m => m.Title)
        @Html.EditorFor(m => m.FirstName)
        @Html.EditorFor(m => m.GoesBy)
        @Html.EditorFor(m => m.MiddleName)
        @Html.EditorFor(m => m.LastName)
        @Html.EditorFor(m => m.AltName)
        @Html.EditorFor(m => m.FormerName)
        @Html.EditorFor(m => m.Suffix)
        @Html.EditorFor(m => m.Gender)
        @Html.EditorFor(m => m.Birthday)
        @Html.EditorFor(m => m.Marital)
        @Html.EditorFor(m => m.WeddingDate)
        @Html.EditorFor(m => m.Occupation, "Typeahead", new { link="/Person2/Occupations" })
        @Html.EditorFor(m => m.Employer, "Typeahead", new { link="/Person2/Employers" })
        @Html.EditorFor(m => m.School, "Typeahead", new { link="/Person2/Schools" })
        @Html.EditorFor(m => m.Grade)
    </fieldset>
</div>
<div class="row-fluid">
    <fieldset class="display">
        @if (Model.DoNotContactAny)
        {
            @Html.EditorFor(m => m.DoNotContact)
        }
        @Html.EditorFor(m => m.PrimaryEmail)
        @Html.EditorFor(m => m.Mobile)
        @Html.EditorFor(m => m.AltEmail)
        @Html.EditorFor(m => m.Work)
    </fieldset>
</div>
@FormAction()

@helper FormAction()
{
    <div class="form-actions">
        <span class="pull-right">
            <a href="/Person2/BasicDisplay/@Model.PeopleId" class="btn ajax">Cancel</a>
            <a href="/Person2/BasicUpdate/@Model.PeopleId" class="btn btn-primary ajax">Save Changes</a>
        </span>
    </div>
}