@using UtilityExtensions
@using CmsData
@model CmsWeb.Models.PersonPage.PersonModel
<table class="grid">
<thead>
    <tr>
        <th>Time</th>
        <th>User</th>
        <th>Field</th>
        <th>Before</th>
        <th>After</th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var c in Model.GetChangeLogs())
{ 
    <tr>
        <td title="@c.FieldSet">@c.Time.ToString2("g")</td>
        <td>@c.User</td>
        <td>@c.Field</td>
        <td>@c.Before</td>
        <td>@c.After</td>
    @if (c.Reversable)
    {
        <td><a class="reverse" href="/Person/Reverse/@Model.Person.PeopleId" field="@c.Field" value="@c.Before" pf="@c.pf">reverse</a></td>
    }
    else
    {
        <td></td>
    }
    </tr>
} 
</tbody>
</table>

