@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.CurrentEnrollments
@{
    var pOrgType = "---";
    var rownum = 0;
}
@Html.Partial("Pager3", Model.Pager)
<table class="expanding table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>@Model.Pager.SortLink("Organization")</th>
            <th>Leader</th>
            <th>@Model.Pager.SortLink("Enroll Date")</th>
            <th>MemberType</th>
            <th>AttendPct</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var om in Model.Enrollments())
        {
            rownum++;
            var oddrow = rownum % 2 == 0 ? "oddrow" : "";
            if (om.OrgType != pOrgType)
            {
                pOrgType = om.OrgType;
                <tr class="section notshown">
                    <td><a rel="reveal" title="More Information" href="#" class="reveal"><i class="icon-info-sign"></i></a></td>
                    <td colspan="4"><span>@om.OrgType</span></td>
                </tr>
            }
            if (User.IsInRole("Access"))
            {
                <tr class="master @oddrow">
                    <td> <a rel="reveal" title="More Information" href="#" class="reveal"><i class="icon-info-sign"></i> </a> </td>
                    <td class="indent"><a href="/Organization/Index/@om.OrgId">@om.Name</a></td>
                    <td><a href="/Person/Index/@om.LeaderId">@om.LeaderName</a></td>
                    <td>@om.EnrollDate.FormatDate()</td>
                    <td><a class="membertype" href="/OrgMemberDialog2/Display/@om.OrgId/@om.PeopleId">
                            @om.MemberType
                        </a>
                    </td>
                    <td>@(om.AttendPct > 0 ? om.AttendPct.Value.ToString("N1") : "")</td>
                </tr>
            <tr class="details @oddrow">
                <td colspan="5">
                    <div class="collapse indent">
                        <strong>Program:</strong> <span>@om.ProgramName,</span>
                        <strong>Division:</strong> <span>@om.DivisionName</span>
                        @if (om.Location.HasValue())
                        {
                            @om.LocComma<strong>Location:</strong> <span>@om.Location</span>
                        }
                        @if (om.Schedule.HasValue())
                        {
                            @om.SchComma<strong>Schedule:</strong> <span>@om.Schedule</span>
                        }
                        <div><a href="/OrgContent/Index/@om.OrgId">Members Page</a></div>
                    </div>
                </td>
            </tr>
            }
            else
            {
            <tr>
                <td class="indent">
                    <a title="@om.DivisionName" href="/OrgContent/Index/@om.OrgId">@om.Name</a>
                </td>
                <td>@om.LeaderName</td>
                <td>@om.EnrollDate.FormatDate()</td>
                <td>@om.MemberType</td>
                <td>@om.AttendPct.ToString2("N1")</td>
            </tr>
            }
        }
    </tbody>
</table>
@Html.Partial("Pager3", Model.Pager)


