@using CmsWeb.Areas.People.Models.Person
@model PersonModel
@{
    var fm = new PersonFamilyModel(Model.displayperson.PeopleId);
}
<div class="group">
    <h2>Family Members
        <a href="#" class="add"><i class="icon-plus-sign"></i></a>
    </h2>
    <ul class="members">
        @foreach (var m in fm.Members())
        {
            if (m.Id == fm.person.PeopleId)
            {
                <li class="active">@PersonPictureAndLink(m)</li>
            }
            else
            {
                <li>@PersonPictureAndLink(m)</li>
            }
        }
    </ul>
</div>

@helper PersonPictureAndLink(FamilyMemberInfo m)
{
    <a href="/People/Person/Index/@m.Id"><img src="/Image.aspx?portrait=1&id=@m.SmallPicId" alt="" /><span style='color: @m.Color'>@m.Name</span>@Html.Raw(m.SpouseIndicator) @Age(@m.Age)</a>
    <div>@m.Email</div>
}
@helper Age(int? age)
{
    if (age.HasValue)
    {
        @:(@age)
    }
}