@using CmsWeb.Areas.People.Models.Person
@model PersonModel
@{
    var fm = new FamilyModel(Model.displayperson.PeopleId);
}
<div class="sidebar_title group">
    <h2>Family Members</h2>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-plus-sign"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/SearchAdd2/Dialog/Family/@Model.displayperson.PeopleId" class="searchadd">Add Family Member</a></li>
        </ul>
    </div>
</div>
<div class="sidebar_content">
    <ul id="family_members" class="nav nav-stacked nav-tabs">
        @foreach (var m in fm.Members())
        {
            var active = m.Id == Model.displayperson.PeopleId ? "class=active" : "";
            <li @active>
                <a href="/Person2/Index/@m.Id">
                    <img src="@m.Pictures.ThumbUrl" class="headshot"/>
                    <span class="name">@m.Name @Html.Raw(m.SpouseIndicator)</span>
                    <div class="meta">
                        <span class="age">@m.Age</span> 
                        &bull; <span class="role">@m.PositionInFamily</span>
                        &bull; <span class="status">@m.MemberStatus</span>
                    </div>
                    <span class="email email_display">@m.Email</span>
                </a>
            </li>
        }
    </ul>
</div>
