@using CmsWeb.Areas.People.Models.Person
@model PersonModel
@{
    var fm = new FamilyModel(Model.displayperson.PeopleId);
}
<div class="group">
    <h2>Family Members
        <a href="#" class="add"><i class="icon-plus-sign"></i></a>
    </h2>
    <ul class="members">
        @foreach (var m in fm.Members())
        {
            if (m.Id == fm.Person.PeopleId)
            {
                <li class="active">@PersonPictureAndLink(m)</li>
            }
            else
            {
                <li>@PersonPictureAndLink(m)</li>
            }
        }
    </ul>
</div>

@helper PersonPictureAndLink(FamilyMemberInfo m)
{
    <a href="/People/Person/Index/@m.Id">
        <img src="@m.Pictures.ThumbUrl" alt="" />
        <span>@m.Name @Html.Raw(m.SpouseIndicator) @Age(@m.Age)<br/>
        @m.Email</span>
    </a>
}
@helper Age(int? age)
{
    if (age.HasValue)
    {
        @:(@age)
    }
}