@model CmsWeb.Models.PersonPage.PersonFamilyModel
<table class="grid">
    <thead>
    <tr>
        <th class="left" colspan="4">
        @if (User.IsInRole("Access"))
        { 
            <a href="/Family/Index/@Model.person.FamilyId"><strong>Family Members</strong></a>
        }
        else
        { 
           <strong>Family Members</strong>
        } 
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var m in Model.Members())
{ 
    <tr>
        <td><a href="/Person/Index/@m.Id"><span style='color: @m.Color'>@m.Name</span></a></td>
        <td>@Html.Raw(m.SpouseIndicator)</td>
        <td>@m.Age</td>
        <td>@m.Email</td>
    </tr>
}
    </tbody>
</table>
@if (Model.Count() > 10)
{
@Html.Partial("Pager2", Model.Pager) 
}
