@using System.Web.Optimization
@using CmsWeb
@using CmsWeb.Models
@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout2.cshtml";
    ViewBag.Title = "Person";
}
@section head
{
    <link href="~/Content/styles/person.css" rel="stylesheet" />
}
@section scripts
{
    @Scripts.Render("~/bundles/person-js")
}
@Html.Hidden("newlook", "true")
@Html.Hidden("PeopleId", Model.displayperson.PeopleId)

<nav id="nav-family" class="four columns alpha">
    @Html.Partial("FamilyGrid", Model)
    @Html.Partial("Addresses", Model)
    @Html.Partial("RelatedFamiliesGrid", Model)
</nav>

<section id="person" class="twelve columns omega">
    <header class="container">
        @Html.Partial("Snapshot", Model)
        @Html.Partial("Toolbar", Model)
        <ul id="badges">
            <li>Do Not Visit</li>
            <li>Do Not Call</li>
        </ul>
    </header>
    <nav id="nav-tabs">
        <ul class="nav nav-tabs">
            <li><a href="#personal">Personal</a></li>
            <li><a href="#involvement">Involvement</a></li>
            <li><a href="#member-profile">Member Profile</a></li>
            <li><a href="#giving">Giving</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#comments" class="omega">Comments</a></li>
        </ul>
    </nav>
    <div id="personal" class="pane">
        <form method="post" class="DisplayEdit">
            @Html.DisplayFor(m => m.displayperson.basic)
        </form>
    </div>
    <div id="involvement" class="pane">
        <ul class="nav nav-tabs">
            <li><a href="#current-tab"><span>Current</span></a></li>
            <li><a id="previous-link" href="#previous-tab"><span>Previous</span></a></li>
            <li><a id="pending-link" href="#pending-tab"><span>Pending</span></a></li>
            <li><a id="attendance-link" href="#attendance-tab"><span>Attendance History</span></a></li>
            <li><a id="recreg-link" href="#recreg-tab"><span>Registration</span></a></li>
        </ul>
        <div id="current-tab">
            <form action="/People/Person/EnrollGrid/@Model.displayperson.PeopleId">
            </form>
        </div>
    </div>
    <div id="member-profile" class="pane">
        <form method="post" class="DisplayEdit">
            @Html.Partial("MemberProfile")
        </form>
    </div>
</section>

@section PopupsPlaceholder
{
    @Html.Partial("Dialogs")
}

