@using System.Web.Optimization
@using CmsWeb
@using CmsWeb.Models
@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Person";
}
@section head
{
    <link href="~/Content/styles/person.css" rel="stylesheet" />
}
@section scripts
{
    @Scripts.Render("~/bundles/single/person-js")
    @Scripts.Render("~/bundles/single/person2-js")
}
@Html.Hidden("newlook", "true")
@Html.Hidden("PeopleId", Model.displayperson.PeopleId)

<nav id="nav-family" class="four columns alpha">
    @Html.Partial("FamilyGrid", Model)
    @Html.Partial("Addresses", Model)
    @Html.Partial("RelatedFamiliesGrid", Model)
</nav>

<section id="person" class="twelve columns omega">
    <header class="container">
        @Html.Partial("Snapshot", Model)
        @Html.Partial("Toolbar", Model)
        <ul id="badges">
            <li>Do Not Visit</li>
            <li>Do Not Call</li>
        </ul>
    </header>
    <nav id="nav-tabs">
        <ul>
            <li><a href="#personal">Personal</a></li>
            <li><a href="#involvement">Involvement</a></li>
            <li><a href="#member-profile">Member Profile</a></li>
            <li><a href="#giving">Giving</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#comments" class="omega">Comments</a></li>
        </ul>
    </nav>

    <div id="personal" class="pane">
        <form method="post" class="DisplayEdit">
            @Html.DisplayFor(m => m.displayperson.basic)
        </form>
    </div>

    @Html.Partial("Involvement")
    @Html.Partial("MemberProfile")

</section>

@section PopupsPlaceholder
{
    @Html.Partial("Dialogs")
}

