@using System.Web.Optimization
@using CmsWeb
@using CmsWeb.Models
@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Person";
}
@{ 
    var p = Model.displayperson;
    var isaccess = User.IsInRole("Access");
    var isadmin = User.IsInRole("Admin");
    var isedit = User.IsInRole("Edit");
    var isfinance = User.IsInRole("Finance");
    var ismanager = User.IsInRole("Manager");
    var memberedit = isadmin || User.IsInRole("Membership");
}
@section head
{
    <link href="~/Content/styles/person.css" rel="stylesheet" />
}
@section scripts
{
    @Scripts.Render("~/bundles/single/person-js")
    @Scripts.Render("~/bundles/single/person2-js")
}
@Html.Hidden("PeopleId", p.PeopleId)

<nav id="nav-family" class="four columns alpha">
    @Html.Partial("FamilyGrid", Model)
    @Html.Partial("Addresses", Model)
    @Html.Partial("RelatedFamiliesGrid", Model)
</nav>

<section id="person" class="twelve columns omega">
    <header class="container">
        <div id="snapshot" class="nine columns alpha">
            <img alt="portrait" border="0" src="/Image.aspx?portrait=1&id=@p.SmallPicId" />
            <h1>@p.Name</h1>
            <span class="role">@Model.Person.FamilyPosition.Description</span>
            <ul class="attributes">
                <li>
                    <span class="attribute">Membership Status:</span>
                    <span class="value">@p.member.MemberStatus</span>
                </li>
                <li>
                    <span class="attribute">Campus Affiliation:</span>
                    <span class="value">@p.basic.Campus</span>
                </li>
            </ul>
        </div>
        <div class="three columns action">
            <p class="meta">Record added @p.basic.Created.FormatDate()</p>
            <div class="btn-group">
                <button class="btn">
                    <i class="icon-envelope"></i>
                </button>
                <button class="btn">
                    <i class="icon-cloud-download"></i>
                </button>
                <button class="btn trigger-dropdown">
                    <i class="icon-cog"></i>
                    <i class="icon-caret-down"></i>
                </button>
                <div class="dropdown-menu anchor-right">
                    <ul>
                        <li><a href="#">Add New User</a></li>
                        <li><a href="#">Impersonate</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add New Address</a></li>
                        <li><a href="#">Mark As Deceased</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Split</a></li>
                        <li><a href="#">Merge</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul id="badges">
            <li>Do Not Visit</li>
            <li>Do Not Call</li>
        </ul>
    </header>
    <nav id="nav-tabs">
        <ul>
            <li><a href="#personal">Personal</a></li>
            <li><a href="#involvement">Involvement</a></li>
            <li><a href="#member-profile">Member Profile</a></li>
            <li><a href="#giving">Giving</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#comments" class="omega">Comments</a></li>
        </ul>
    </nav>

    <!--  Personal pane -->
    <div id="personal" class="pane">
        <form action="" method="post">
            @Html.DisplayFor(m => m.displayperson.basic)
        </form>
    </div>
    <!-- end personal pane -->


    <!-- involvement pane -->

    <div id="involvement" class="pane">
        <ul class="nav nav-tabs">
            <li><a href="">Current</a></li>
            <li><a href="">Pending</a></li>
            <li><a href="">Previous</a></li>
            <li class="active"><a href="">Attendance History</a></li>
            <li><a href="">Registration</a></li>
        </ul>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active asc"><a href="">Meeting</a></th>
                    <th><a href="">Organization</a></th>
                    <th><a href="">Member Type</a></th>
                    <th><a href="">Attend Type</a></th>
                    <th><a href="">Other</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/24/2012</td>
                    <td>Community Group</td>
                    <td>Member</td>
                    <td>In Person</td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/17/2012</td>
                    <td>Mailing List</td>
                    <td>Member</td>
                    <td>Virtual</td>
                    <td></td>
                </tr>
                <tr>
                    <td>07/09/2012</td>
                    <td>Community Group</td>
                    <td>Member</td>
                    <td>In Person</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- end involvement pane -->


    <!-- member profile pane -->
    <div id="member-profile" class="pane">
        <div class="submit-row">
            <button class="btn">Add Growth Request</button>
            <button class="btn">Add Group</button>
        </div>
        <div class="accordion">
            <h3>Membership</h3>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Joined</th>
                            <th>Attends</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Member</td>
                            <td>01/13/2008</td>
                            <td>West Side</td>
                            <td><a href="" class="edit"><i class="icon-pencil"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Volunteer &amp; Leadership Status</h3>
            <div></div>
            <h3>Entry</h3>
            <div></div>
            <h3>Joined</h3>
            <div></div>
            <h3>New Member Class</h3>
            <div></div>
            <h3>Baptism</h3>
            <div></div>
        </div>
    </div>
    <!-- end member profile pane -->
    \

</section>


<div id="dialogbox" title="Search People" style="width: 560px; overflow: scroll">
    <iframe style="width: 100%; height: 99%; border-width: 0px;"></iframe>
</div>
<div id="memberDialog">
    <iframe style="width: 100%; height: 99%; border-width: 0px;"></iframe>
</div>

<div id="newvalueform" style="display: none" class="roundbox">
    <table>
        <tr>
            <th colspan="2">
                <h2>New Extra Value</h2>
            </th>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <table>
                    <tr>
                        <td>
                            <input type="radio" id="typestring" name="typeval" value="string" checked="checked" /><label for="typestring">Code</label></td>
                        <td>
                            <input type="radio" id="typetext" name="typeval" value="text" /><label for="typetext">Text</label></td>
                        <td>
                            <input type="radio" id="typedate" name="typeval" value="date" /><label for="typedate">Date</label></td>
                        <td>
                            <input type="radio" id="typeint" name="typeval" value="int" /><label for="typeint">Integer</label></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Field:</th>
            <td>@Html.TextBox("fieldname")</td>
        </tr>
        <tr>
            <th>Value:</th>
            <td>@Html.TextBox("fieldvalue")</td>
        </tr>
    </table>
</div>
