@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
<img src="@Model.Picture.SmallUrl" alt="" />
<h2>@Model.Name</h2>
<ul class="meta unstyled">
    <li class="role">
        @Model.PrimaryAddr.AddrCityStateZipLine()<br/>
        @Model.Email &bull; @Model.Cell &bull; @Model.HomePhone
    </li>
    <li class="badges">
        <span id="campus" class="edit-inline-label label label-info" data-value="@Model.basic.Campus.Value" data-pk="@Model.PeopleId" title="Campus">@Html.DisplayFor(m => m.basic.Campus)</span>
        <span id="position" class="edit-inline-label label label-info" data-value="@Model.basic.FamilyPosition.Value" data-pk="@Model.PeopleId" title="Family Position">@Html.DisplayFor(m => m.basic.FamilyPosition)</span>
        <span class="label label-success">@Model.member.MemberStatus</span>
        @foreach (var status in Model.StatusFlags)
        {
            if (Model.member.MemberStatus != status)
            {
                <span class="label label-success">@status</span>
            }
        }
        @if (Model.basic.DoNotVisitFlag)
        {
            <span class="label label-important">Do Not Visit</span>
        }
        @if (Model.basic.DoNotCallFlag)
        {
            <span class="label label-important">Do Not Call</span>
        }
        @if (Model.basic.DoNotMailFlag)
        {
            <span class="label label-important">Do Not Mail</span>
        }
    </li>
</ul>
