@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonInfo
<img src="@Model.Picture.SmallUrl" alt="" />
<h2>@Model.Name</h2>
<ul class="meta unstyled">
    <li class="role"><i class="icon-user"></i><a class="edit-inline" id="position" data-value="@Model.basic.person.PositionInFamilyId" data-pk="@Model.PeopleId" title="Family Position">
                         @Html.DisplayFor(m => m.basic.FamilyPosition)
                     </a></li>
@*    <li class="status"><strong>Member Status:</strong> @Model.member.MemberStatus</li>*@
@*    <li class="affiliation"><strong>Campus Affiliation:</strong> @Model.basic.Campus</li>*@
    <li class="badges">
        @foreach (var status in Model.StatusFlags)
        {
            <span class="label label-success">@status</span>
        }
        @if (Model.basic.DoNotVisitFlag)
        {
            <span class="label label-important">Do Not Visit</span>
        }
        @if (Model.basic.DoNotCallFlag)
        {
            <span class="label label-important">Do Not Call</span>
        }
        @if (Model.basic.DoNotMailFlag)
        {
            <span class="label label-important">Do Not Mail</span>
        }
    </li>
</ul>
