@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@* Dave: Need a new design for uploading a picture, or seeing larger version *@
<a id="Picture" href="/UploadPicture.aspx?id=@Model.PeopleId" title="Click to see larger version or upload new">
    <div class="portrait" style="background-image:url(@Model.Picture.SmallUrl);"></div>
</a>
<div class="profile">
    <h2 id="nameline">@Model.Name</h2>
    <ul class="meta unstyled">
        <li class="role">
            <span id="primaryaddressline">@Model.PrimaryAddr.AddrCityStateZipLine()</span><br />
            <span id="contactline">@Model.Email &bull; @Model.Cell &bull; @Model.HomePhone</span>
        </li>
        <li class="badges">
            <span id="campus" class="edit-inline-label label label-info" data-value="@Model.basic.Campus.Value" data-pk="@Model.PeopleId" title="Campus">@Html.DisplayFor(m => m.basic.Campus)</span>
            <span id="position" class="edit-inline-label label label-info" data-value="@Model.basic.FamilyPosition.Value" data-pk="@Model.PeopleId" title="Family Position">@Html.DisplayFor(m => m.basic.FamilyPosition)</span>
            <span class="label label-success">@Model.member.MemberStatus</span>
            @foreach (var status in Model.StatusFlags)
            {
                if (Model.member.MemberStatus != status)
                {
                <span class="label label-success">@status</span>
                }
            }
            @if (Model.basic.DoNotVisitFlag)
            {
                <span class="label label-important">Do Not Visit</span>
            }
            @if (Model.basic.DoNotCallFlag)
            {
                <span class="label label-important">Do Not Call</span>
            }
            @if (Model.basic.DoNotMailFlag)
            {
                <span class="label label-important">Do Not Mail</span>
            }
        </li>
    </ul>
</div>
