@model CmsData.DeleteMeetingRun
@using CmsWeb
@{
    CassetteBundleConfiguration.BundleRefCss();
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.Reference("OrgMembersDialog");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
@if (Model.Running == 1)
{
    <script type="text/javascript">
        $(function() {
            var intervalId = window.setInterval(function() {
                $.post('/DeleteMeeting/Progress2', { id: "@ViewBag.meetingid" }, function(json) {
                    $("#count").text(json.Count);
                    $("#processed").text(json.Processed);
                    $("#completed").text(json.Completed);
                    $("#error").text(json.Error);
                    if (!json.Running) {
                        window.clearInterval(intervalId);
                    }
                }, "json");
            }, 3000);
        });
    </script>
}

</head>
<body>
<div class="roundbox">
@if(ViewBag.meetingdate != null)
{
    <h2>
        Delete Meeting (@ViewBag.meetingdate.ToString("d")) for @ViewBag.orgname</h2>
}
    <table>
        <tr> <td> Started </td> <td> @Model.Started </td> </tr>
        <tr> <td> Total Count</td> <td> <span id="count">@Model.Count</span> </td> </tr>
        <tr> <td> Processed </td> <td> <span id="processed">@Model.Processed</span> </td> </tr>
        <tr> <td> Completed </td> <td> <span id="completed">@Model.Completed</span> </td> </tr>
        <tr> <td colspan="2"> <div id="error" style="color:red">@Model.Error</div></td> </tr>
    </table>
</div>
</body>
</html>