@model CmsWeb.Models.OrgMembersDialogModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
@Html.Raw(SquishIt.Framework.Bundle.Css()
        .Add("/Content/jquery-ui-1.8.13.custom.css")
        .Add("/Content/site.css")
        .Add("/Content/jquery.tooltip.css")
    .Render("/Content/OrgMembers_#.css")
)
</head>
<body>
@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
            .Add("/Content/js/jquery-1.5.2.js")
            .Add("/Content/js/jquery-ui-1.8.13.custom.js")
            .Add("/Content/js/jquery.tooltip.js")
            .Add("/Scripts/OrgMembersDialog.js")
        .Render("/Content/OrgMembersDialog_#.js")
)        
<form action="/OrgMembersDialog/Update" method="post">
@Html.Hidden("orgid")
@Html.Hidden("pendings")
@Html.Hidden("inactives")
<h4>@Model.title()</h4>
<a class="helplink" target="_blank" href='@Model.HelpLink()'>help</a>
<table class="roundbox">
	<tr> <td colspan="2"><h2>Fitler Members</h2></td> </tr>
	<tr>
		<th>Tag: </th>
		<td>@Html.DropDownList("tag", Model.Tags(), new { @class="filter" })</td>
	</tr>
	<tr>
		<th>Member Type:</th>
		<td>@Html.DropDownList("memtype", Model.MemberTypeCodesWithNotSpecified(), new { @class = "filter" })</td>
	</tr>
	<tr>
		<th>Inactive Date: </th>
		<td valign="top">@Html.TextBox("inactivedt", "", new { @class="filter datepicker" })
		&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="ClearFilter" class="bt" href="#">clear</a></td>
	</tr>
	<tr> <td colspan="2"> <h2>New Values</h2></td></tr>
    <tr><td colspan="2">
    Membertype:@Html.DropDownList("MemberType", Model.MemberTypeCodesWithDrop())
    Enrollment:@Html.TextBox("EnrollmentDate", "", new { @class = "datepicker", style = "width:100px" })
    InActive:@Html.TextBox("InactiveDate", "", new { @class = "datepicker", style = "width:100px" })
    Pending:@Html.CheckBox("Pending")
    </td></tr>
</table>
<input id="SelectAll" type="checkbox" /> Select All
<input type="submit" class="bt" name="Update" class="bt" value="Update Selected" />
<div>
<table class="grid">
    <thead>
	<tr>
		<th>Select </th>
		<th>Name </th>
		<th>Age </th>
		<th>Enrollment </th>
		<th>MemberType </th>
		<th>Inactive </th>
	</tr>
	</thead>
	<tbody>
 @Html.Partial("Rows", Model) 
    </tbody>
</table>
</div>
</form>
</body>
</html>

