@model CmsWeb.Models.OrgMembersDialogModel
@using UtilityExtensions
@{ foreach(var om in Model.FetchOrgMemberList())
   { 
	<tr>
		<td><input name="list" type="checkbox" value="@om.PeopleId" @om.Checked() /></td>
		<td class="tip" title="@om.ToolTip">@om.Name</td>
		<td>@om.Age </td>
		<td>@om.JoinDate.ToString2("M/d/yy")</td>
		<td>@om.MemberType</td>
		<td>@om.InactiveDt.ToString2("M/d/yy")</td>
	</tr>
 } }


