@using CmsWeb;
@using UtilityExtensions;
@model CmsWeb.Models.TransactionsModel
<div class="roundbox floatleft">
<h2>Transactions</h2>
<table cellspacing="5">
	<tr><td align="right">Description:</td>
        <td>@Html.TextBox("description")</td>
		<td align="right">Test Transactions:</td>
        <td>@Html.CheckBox("testtransactions")</td>
    </tr>
	<tr><td align="right" colspan="3">Only Approved Transactions:</td>
        <td>@Html.CheckBox("apprtransactions")</td>
    </tr>
	<tr><td align="right" colspan="3">No Coupons:</td>
        <td>@Html.CheckBox("nocoupons")</td>
    </tr>
	<tr><td align="right">Name:</td>
		<td colspan="3">@Html.TextBox("name")</td>
    </tr>
	<tr><td align="right">&gt; Amount:</td>
		<td>@Html.TextBox("gtamount")</td>
		<td align="right">Start Date:</td>
		<td>@Html.DatePicker("startdt")</td>
	</tr>
	<tr>
		<td align="right">&lt;= Amount:</td>
		<td>@Html.TextBox("ltamount")</td>
		<td align="right">End Date:</td>
		<td>@Html.DatePicker("enddt")</td>
	</tr>
<tr><td align="right" colspan="4">
    <a id="filter" href="#" class="submitbutton bt">Filter</a>
    <a id="export" href="#" class="submitbutton bt">Export</a>
    <a href="/Manage/Transactions" class="bt">Clear</a>
    </td></tr>
</table>
</div>
<div class="floatclear"></div>
<table id="Transactions" class="grid" cellpadding="4">
    <thead>
@{
    var tt = Model.TotalTransactions();
}
@if(tt != null)
{
	<tr>
		<td align="right" colspan="6"><strong>Total: </strong></td>
		<td align="right">@((tt.Amt - tt.Donate).ToString("N"))</td>
		@if (Model.finance)
		{
			<td align="right">@tt.Donate.ToString("N")</td>
		}
		<td align="right">@tt.Amtdue.ToString("N")</td>
		<td colspan="2"></td>
	</tr>
	<tr><td colspan="10"><hr/></td></tr>
}
        <tr>
            <th><a href="#" class="sortable">Id</a></th>
            <th><a href="#" class="sortable">Tran Id</a></th>
            <th><a href="#" class="sortable">Appr</a></th>
            <th><a href="#" class="sortable">Date</a></th>
            <th><a href="#" class="sortable">Description</a></th>
            <th><a href="#" class="sortable">Name</a></th>
            <th><a href="#" class="sortable">Amt</a></th>
@if(Model.finance)
{
            <th><a href="#" class="sortable">Donate</a></th>
}
            <th><a href="#" class="sortable">Due</a></th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var t in Model.Transactions())
{
    var noadmin = Model.admin ? "" : "noadmin";
    if (t.Amt > 0 && t.Amt == t.Donate && !Model.finance) { continue; }
        <tr>
            <td nowrap="nowrap" class="tip" 
            title="TranId:@t.TransactionId|ApprovalCode:@(t.ApprovalCode ?? "na")|AuthCode:@(t.AuthCode ?? "na")|Message:@(t.Message ?? "na")|Id:@t.Id">@(t.OriginalId ?? t.Id)</td>
            <td>@t.TransactionId</td>
            <td>@if (t.Approved == true){<img alt="Y" src="/Content/images/checkboxtree/bg-checkbox-checked.gif" />}</td>
            <td>@t.TransactionDate.FormatDateTm()</td>
            <td>@t.Description</td>
            <td><a href='@Util.ResolveServerUrl("/OnlineReg/ConfirmTest/")@t.DatumId'>@t.Name</a></td>
            <td align="right">@((t.Amt ?? 0 - t.Donate ?? 0).ToString("N"))</td>
    @if (Model.finance)
    {
            <td align="right">@t.Donate.ToString2("N")</td>
    }
            <td align="right">@t.Amtdue.ToString2("N")</td>
    @if (t.CanCredit)
    {
            <td><a class="voidcredit bt @noadmin" 
                 href='/Manage/Transactions/CreditVoid/@t.Id?type=Void'>Void</a></td>
            <td><a class="voidcredit bt @noadmin" 
                href='/Manage/Transactions/CreditVoid/@t.Id?type=Credit'>Credit</a></td>
    }
    else if (t.Voided == true || t.Credited == true)
    {
            <td>@(t.Voided == true ? "voided" : "")</td>
            <td>@(t.Credited == true ? "credited" : "")</td>
    }
    else
	{
            <td></td>
            <td>@(t.Amt < 0 ? "credit" : "")</td>
	}
        </tr>
}
    </tbody>
</table>
@{Html.RenderPartial("Pager2", Model.Pager);}

