@using CmsWeb;
@using CmsWeb.Models
@using UtilityExtensions;
@model CmsWeb.Models.TransactionsModel
@{
	var tt = Model.TotalTransactions();
}
    <thead>
@if(tt != null)
{
	<tr>
		<td align="right" colspan="6"><strong>Total: </strong></td>
		<td align="right">@((tt.Amt - tt.Donate).ToString("N"))</td>
		@if (Model.finance)
		{
			<td align="right">@tt.Donate.ToString("N")</td>
		}
		<td align="right">@tt.Amtdue.ToString("N")</td>
		<td colspan="2"></td>
	</tr>
	<tr><td colspan="10"><hr/></td></tr>
}
        <tr>
            <th><a href="#" class="sortable">Id</a></th>
            <th><a href="#" class="sortable">Tran Id</a></th>
            <th><a href="#" class="sortable">Appr</a></th>
			<th><a href="#" class="sortable">Tran Date</a>
        @if(Model.isSage)
        {
    			<br /><a href="#" class="sortable">Batch Date</a>
        }
            </th>
            <th><a href="#" class="sortable">Description</a></th>
            <th><a href="#" class="sortable">Name</a></th>
            <th align="right"><a href="#" class="sortable">Amt</a></th>
        @if(Model.finance)
        {
            <th align="right"><a href="#" class="sortable">Donate</a></th>
        }
            <th align="right"><a href="#" class="sortable">Due</a></th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var t in Model.Transactions())
{
    var noadmin = Model.admin ? "" : "noadmin";
    var bold = t.Id == t.OriginalId;
    if (t.Amt > 0 && t.Amt == t.Donate && !Model.finance) { continue; }
        <tr style="@(bold ? "font-weight: bold" : "")">
			<td nowrap="nowrap" class="tip" 
				title="TranId:@t.TransactionId|ApprovalCode:@(t.ApprovalCode ?? "na")|AuthCode:@(t.AuthCode ?? "na")|Message:@(t.Message ?? "na")|OriginalId:@t.OriginalId|Click to Filter">
				<div class="filtertransaction" originalid="@t.OriginalId">@t.Id</div>
			</td>
            <td>@t.TransactionId</td>
            <td>@if (t.Approved == true){<img alt="Y" src="/Content/styles/images/checkboxtree/bg-checkbox-checked.gif" />}</td>
			<td nowrap="nowrap">@t.TransactionDate.FormatDateTm()
				@if(Model.isSage)
				{
					<div class="tip filterbatch" title="Click to filter|@t.Batchtyp|@t.Batchref">@t.Batch.FormatDate()</div>
				}
			</td>
    @if (t.Fromsage == true)
    {
			<td><i title="from sage">@t.Description</i></td>
    }
    else
	{
			<td>@t.Description</td>
	}
            <td>
            @if (t.DatumId > 0)
            {
                <a href="/OnlineReg/ConfirmTestXml/@t.DatumId">@t.FullName</a>
            }
            else
            {
                @t.FullName
            }
            </td>
            <td align="right" nowrap="nowrap">@((t.Amt ?? 0 - t.Donate ?? 0).ToString("N"))</td>
    @if (Model.finance)
    {
            <td align="right">@t.Donate.ToString2("N")</td>
    }
            <td align="right">@t.Amtdue.ToString2("N")</td>
    @if (t.CanVoid)
    {
            <td><a class="voidcredit bt @noadmin" 
                 href='/Manage/Transactions/CreditVoid/@t.Id?type=Void'>Void</a></td>
    }
    else if (t.Voided == true)
	{
            <td>voided</td>
	}
    else
	{
            <td></td>
	}
    @if (t.CanCredit)
    {
            <td><a class="voidcredit bt @noadmin" 
                href='/Manage/Transactions/CreditVoid/@t.Id?type=Credit'>Credit</a></td>
    }
    else if (t.Credited == true)
    {
            <td>credited</td>
    }
    else
	{
            <td>@(t.Amt < 0 ? "credit" : "")</td>
	}
            <td><a class="adjust bt @noadmin" 
				   href='/Manage/Transactions/Adjust/@t.Id'>Adjust</a></td>
		</tr>
}
	</tbody>
<tfoot>
	<tr>
		<td colspan="11">
        	@{Html.RenderPartial("Pager2", Model.Pager);}
		</td>	
	</tr>
</tfoot>
