@using CmsWeb;
@using UtilityExtensions;
@model CmsWeb.Models.TransactionsModel
<div class="roundbox floatleft">
<h2>Transactions</h2>
<table cellspacing="5">
<tr><td align="right">Description:</td><td>@Html.TextBox("description")</td>
    <td align="right">Test Transactions:</td><td>@Html.CheckBox("testtransactions")</td></tr>
<tr><td align="right">Name:</td><td colspan="3">@Html.TextBox("name")</td></tr>
<tr><td align="right">Start Date:</td><td>@Html.DatePicker("startdt")</td>
    <td align="right">End Date:</td><td>@Html.DatePicker("enddt")</td></tr>
<tr><td align="right">&gt; Amount:</td><td>@Html.TextBox("gtamount")</td>
    <td align="right">&lt;= Amount:</td><td>@Html.TextBox("ltamount")</td></tr>
<tr><td align="right" colspan="4">
    <a id="filter" href="#" class="submitbutton bt">Filter</a>
    <a id="export" href="#" class="submitbutton bt">Export</a>
    <a href="/Manage/Transactions" class="bt">Clear</a>
    </td></tr>
</table>
</div>
<div class="floatclear"></div>
<table id="Transactions" class="grid" cellpadding="4">
    <thead>
    <tr>
        <th><a href="#" class="sortable">Id</a></th>
        <th><a href="#" class="sortable">Tran Id</a></th>
        <th><a href="#" class="sortable">Appr</a></th>
        <th><a href="#" class="sortable">Date</a></th>
        <th><a href="#" class="sortable">Description</a></th>
        <th><a href="#" class="sortable">Name</a></th>
        <th><a href="#" class="sortable">Amt</a></th>
    @if(Model.finance)
    {
        <th><a href="#" class="sortable">Donate</a></th>
    }
        <th><a href="#" class="sortable">Due</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model.Transactions())
    {
    <tr>
        <td nowrap="nowrap" class="tip" title="@t.TransactionId|@t.ApprovalCode|@t.AuthCode|@t.Message">@t.Id</td>
        <td>@t.TransactionId</td>
        <td>@if (t.Approved == true){<img alt="Y" src="/Content/images/checkboxtree/bg-checkbox-checked.gif" />}</td>
        <td>@t.TransactionDate.FormatDateTm()</td>
        <td>@t.Description</td>
        <td><a href='@Util.ResolveServerUrl("/OnlineReg/ConfirmTest/")@t.DatumId'>@t.Name</a></td>
        <td align="right">@((t.Amt ?? 0 - t.Donate ?? 0).ToString("N"))</td>
        @if (Model.finance)
        {
        <td align="right">@t.Donate.ToString2("N")</td>
        }
        <td align="right">@t.Amtdue.ToString2("N")</td>
    </tr>
    }
    </tbody>
</table>
@{Html.RenderPartial("Pager2", Model.Pager);}

