@using CmsData
@using UtilityExtensions
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Transaction";
    var churchWebSite = DbUtil.Db.Setting("ChurchWebSite", "");
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("onlinereg");
    Bundles.AddInlineScript(
        @<script type="text/javascript">
             $(function() {
                 $(document).bind("idle.idleTimer", function() {
                     window.location.href = '@ViewBag.Url';
                 });
                 var tmout = parseInt('@ViewBag.timeout');

                 $(document).bind("keydown", function() {
                     $(document).unbind("keydown");
                     $.idleTimer(tmout);
                 });
                 $.idleTimer(tmout);
             });
         </script>);
}
<div class="confirm">
    <h2>Transaction Completed</h2>
    <p style="color: Black">
        Thank you, your transaction is complete for @ViewData["orgname"].  
        You should receive a confirmation email at @ViewData["email"] shortly.<br /><br />
        @if (churchWebSite.HasValue())
        {
            <a href="@churchWebSite">Return to Church Website</a>
        }
    </p>
	<p style="color: Blue"><a href='@ViewBag.Url'>Start a New Transaction</a></p>
</div>