@using CmsData
@using UtilityExtensions
@model IEnumerable<CmsWeb.Areas.OnlineReg.Controllers.OnlineRegController.ConfirmTestInfo>
<html>
<head><title>Registration History</title></head>
<body>
<h2>Registration History</h2>
@if (Model.Count() > 0)
{
<table border="1" cellpadding="2" cellspacing="0">
<thead><tr><th>Id</th><th>Time</th><th>Header</th><th>User</th></tr></thead>
  @foreach (var i in Model)
  {
   <tr>
       <td>@i.ed.Id</td>
       <td><a href="@(Util.ResolveServerUrl("/OnlineReg/ConfirmTestXml"))/@i.ed.Id">@i.ed.Stamp.Value</a></td>
    @if (i.m.orgid > 0 && i.m.org != null)
    {
           <td><a href='/Organization/Index/@i.m.orgid'>@i.m.org.OrganizationName</a></td>
    }
    else if (i.m.masterorgid > 0)
    {
           <td><a href='/Organization/Index/@i.m.masterorgid'>@i.m.masterorg.OrganizationName</a></td>
    }
    else
    { 
        <td>na</td>
    }
       <td>@i.m.LoginName</td>
   </tr>
      for (var n = 0; n < i.m.List.Count; n++)
      {
          var p = i.m.List[n]; 
    <tr><td></td>
        <td>Item @n</td>
        <td colspan="2">
            <a href="@(DbUtil.Db.CmsHost)Person/Index/@p.PeopleId">@p.first @p.last</a><br />
            <a href="@(DbUtil.Db.CmsHost)Organization/Index/@p.orgid">@(p.org != null ? p.org.OrganizationName : "na")</a><br/>
            @p.dob (@p.age)<br/>
            @p.phone.FmtFone()<br/>
            @p.email<br/>
        @if (p.person != null && p.person.EmailAddress == p.email)
        { 
            @p.person.EmailAddress<br/>
        }
        @if (p.mname.HasValue())
        { 
            @p.mname<br/>
        }
        @if (p.fname.HasValue())
        { 
            @p.fname<br/>
        }
        @if (p.ShowAddress)
        { 
            @(p.address)@:, @p.city<br/>
        }
        </td>
    </tr>
      }
  }
</table>
}
else
{ }


</body>
</html>