@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Transaction";
}
@section scripts
{
<script type="text/javascript">
    $(function() {
        $(document).bind("idle.idleTimer", function() {
            window.location.href = '@ViewData["gobackurl"]';
        });
        var tmout = parseInt('@ViewData["timeout"]');

        $(document).bind("keydown", function() {
            $(document).unbind("keydown");
            $.idleTimer(tmout);
        });
        $.idleTimer(tmout);
    });
</script>
}
<h2>Transaction Completed</h2>
<p style="color: Black">
    Thank you, your transaction is complete for @ViewData["orgname"].  
    You should receive a confirmation email at @ViewData["email"] shortly.
</p>
<p style="color: Blue"><a href='@ViewData["gobackurl"]'>Start a New Transaction</a></p>