@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.OnlineRegModel
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Transaction";
}
<style type="text/css">
    .wider {width:70%;}
    tr.alt { background-color: #eee }
    .strike { text-decoration: line-through; }
</style>
<noscript>
    <style type="text/css">
        .pagecontainer {display:none;}
    </style>
    <div class="noscriptmsg">
    This registration site requires javascript to be enabled on your browser.
    </div>
</noscript>
@section scripts
{
@Html.Script("/Scripts/OnlineReg.js")
    <script type="text/javascript">
        $(function () {
            $.refreshenabled = false; // false until something happens
            $(document).bind("idle.idleTimer", function () {
                if ($.refreshenabled)
                    window.location.href = '/OnlineReg/Timeout?ret=' + encodeURI('@Model.URL');
                else
                    $.idleTimer(tmout);
            });
            var tmout = parseInt('@ViewData["timeout"]');

            if ($('input:text[value!=""]').length == 0)
                $(document).bind("keydown", function () {
                    $(document).unbind("keydown");
                    $.idleTimer(tmout);
                });
            else
                $.idleTimer(tmout);
        });
    </script>
}
<div class="regform pagecontainer">
    <h2>@Model.Header</h2>
@{var msg = Model.Filled();}
@if (Model.NotAvailable())
{ 
    <h4 id="sorry">Sorry, Registration is not available at this time</h4>
        @Html.Raw(Util.PickFirst(Model.Instructions, ""))
}
else if (msg.HasValue())
{ 
    <h4 id="sorry">Sorry, @msg</h4>
        @Html.Raw(Util.PickFirst(Model.Instructions, ""))
}
else
{ 
<form class="DisplayEdit" action="/OnlineReg/@(Model.AskDonation() ? "AskDonation" : "CompleteRegistration")/@Model.qtesting" method="post">
@Html.Partial("Flow/List", Model) 
</form>
}
</div>