@model CmsWeb.Models.ManageSubsModel 
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}

@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
        .Add("/Content/js/jquery-1.5.2.js")
        .Add("/Content/js/jquery-ui-1.8.13.custom.js")
        .Add("/Content/js/jquery.blockUI.js")
        .Add("/Content/js/jquery.tooltip.js")
        .Render("/Content/ManageSubs#.js")
)        
    <h2>@Model.Description()</h2>
    <h4>Email Subscription Options for @Model.person.Name &lt;@Model.person.EmailAddress&gt;</h4>
   <form method="post" action="/OnlineReg/ConfirmSubscriptions">
    @Html.Hidden("pid", Model.pid)
    @Html.Hidden("divid", Model.divid)
    @Html.Hidden("masterorgid", Model.masterorgid)
   <p style="text-align: center">
   <table id="subs">
@foreach (var o in Model.OrderSubs(Model.FetchSubs()))
{ 
        <tr><td valign="top"><input type="checkbox" name="Subscribe" @o.CHECKED value="@o.OrgId"></td>
            <td><h3>@o.Name</h3>
                <h4>@o.Description</h4>
            </td></tr>
}
   </table>
   <input id="submitit" type="submit" class="submitbutton" value='Submit' /></p>
    </form>


