@model CmsWeb.Models.VolunteerModel 
@using UtilityExtensions
@using CmsWeb
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
@Html.Script("/Content/js/jquery.sortElements.js")
@Html.Script("/Scripts/ManageVolunteer.js")
}
<h2>@Model.Org.OrganizationName</h2>
<h4>Volunteer Commitment Times for @Model.Person.Name &lt;@Model.Person.EmailAddress&gt;</h4>
<div>@Html.Raw(Model.Instructions)</div>
@using (Html.BeginForm("ConfirmVolunteerSlots", "OnlineReg"))
{
@Html.HiddenFor(m => m.PeopleId);
@Html.HiddenFor(m => m.OrgId);
<table class="grid">
    <thead>
        <tr>
            <td><br /><a href="#" id="sortday">Sunday</a></td>
			<td><br /><a href="#" id="sortweek">Week #</a></td>
@foreach (var s in Model.Regsettings.TimeSlots)
{ 
            <td class="center">@s.Description<br />@s.Datetime().ToString("ddd h:mm tt")</td>
}
        </tr>
    </thead>
    <tbody>
@foreach (var ts in Model.FetchSlotWeeks())
{
        <tr>
            <td class="day" jday="@ts[0].Sunday.ToString("yyyyMMdd")">@ts[0].Sunday.ToString("MMM d")</td>
            <td class="center week">@ts[0].Week</td>
    @foreach (var si in ts)
    {
		<td class="center">
			@if (si.Full)
			{
				<span>Filled</span>
			}
			else if (si.Time >= DateTime.Today)
			{
				<input type="checkbox" name="Commit" value="@si.Time" @si.CHECKED @si.DISABLED />
			}
		</td>
    } 
        </tr>
}
    </tbody>
	<tfoot>
		<tr><td align="right" colspan="@(Model.Regsettings.TimeSlots.Count + 2)">
		    <input id="submitit" type="submit" class="submitbutton" value='Submit' /></td>
        </tr>
	</tfoot>
</table>
}

