@using System.Web.Optimization
@model CmsWeb.Models.ManageGivingModel 
@using CmsWeb
@using UtilityExtensions
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
@Scripts.Render("~/bundles/single/OnlineReg-js")
<script type="text/javascript">
    $.dateFormat = '@Util.jQueryDateFormat';
    $(function () {
        $.datepicker.setDefaults({
            dateFormat: $.dateFormat,
            changeMonth: true,
            changeYear: true,
            yearRange: "-95:5",
            showOn: "button",
            buttonImage: "/images/calendar.gif",
            buttonImageOnly: true
        });
        $(".datepicker").datepicker();
        $("form").submit(function () {
            $("#submitit").attr("disabled", "disabled");
        });
        $('#findidclick').click(function (ev) {
            ev.preventDefault();
            $("#findid").dialog({ width: 400 });
            return false;
        });
        $('#findacctclick').click(function (ev) {
            ev.preventDefault();
            $("#findacct").dialog({ width: 450 });
            return false;
        });
    });
</script>
}
@section head
{
    <style>
        #namefields th {
            color: #AAA;
            text-align: left;
            font-size: 70%;
        }
        div.section label
        {
            display: inline-block;
            font-weight: bold;
            line-height: 1.8;
            min-height: 30px;
        }
        div.paymentinfo p label
        {
            width: 10em;
            font-weight: normal;
        }
        div.accountinfo p label
        {
            width: 7em;
            font-weight: normal;
            min-height: 0;
            line-height: 1.1;
        }
        div.section div, div.section table
        {
            margin-left: 1em;
        }
        #namefields {
            border-collapse: collapse;
            display: inline-table;
            margin-left: 0; 
            margin-bottom: .5em;
        }
    </style>
}
<div class="regform">
    <h2>@Model.Organization.OrganizationName</h2>
    <div>@Html.Raw(Model.Instructions)</div>
    <h4>for @Model.person.Name &lt;@Model.person.EmailAddress&gt;</h4>
   <form method="post" action="/OnlineReg/ManageGiving">
    @Html.Hidden("specialedit", 0)
    @Html.Hidden("pid", Model.pid)
    @Html.Hidden("orgid", Model.orgid)
        <fieldset>
            <div class="section">
                <label>@Model.HeadingLabel</label>
                <table class="grid" cellpadding="2">
@{ var funds = CmsWeb.Models.OnlineRegPersonModel.Funds(); }
@for (var n = 0; n < funds.Length; n++)
{
    var i = funds[n];
                    <tr>
                        <td>@i.Text</td>
                        <td>@Html.TextBox("FundItem[" + n + "].Value", Model.FundItemValue(i.Value.ToInt()).ToString2("0.00"), new { @class = "short sum" })
                            @Html.Hidden("FundItem[" + n + "].Key", i.Value)
                            <div>@Html.ValidationMessage("FundItem[" + n + "].Value")</div>
                        </td>
                    </tr>
}
                    <tr class="alt">
                        <td>Total</td>
                        <td><span id="total">@Model.total.ToString("n2")</span></td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <label>Payment Frequency</label>
                <div>
                    @Html.RadioButton("SemiEvery", "S")Twice monthly on day
                    @Html.TextBox("Day1", null, new { @class = "shorter" }) 
                    and @Html.TextBox("Day2", null, new { @class = "shorter" })
                    <div>@Html.ValidationMessage("Semi")</div>
                </div>
                <div>
                    @Html.RadioButton("SemiEvery", "E")Every
                    @Html.TextBox("EveryN", null, new { @class = "shorter" })
                    @Html.DropDownList("Period", new SelectList(new Dictionary<string, string>
                { { "M", "Month(s)" },
                  { "W", "Week(s)" },
                }, "Key", "Value"))
                    <div>@Html.ValidationMessage("Every")</div>
                </div>
            </div>
            <div class="section">
                <label>Make first payment on or after</label>
                <div>@Html.DatePicker("StartWhen")</div>
                <div>@Html.ValidationMessage("StartWhen")</div>
            </div>
@*            <div class="section">*@
@*                <label>Stop payments after</label>*@
@*                <div>On @Html.DatePicker("StopWhen")</div>*@
@*                <div>@Html.ValidationMessage("StopWhen")</div>*@
@*            </div>*@
            <div class="section">
                <label>Payment Information</label>
                <div>
                    @if (!Model.NoCreditCardsAllowed && !Model.NoEChecksAllowed)
                    {
                        <div><br />
                            @Html.RadioButton("Type", "C")Debit/Credit Card
                            @Html.RadioButton("Type", "B")Bank Account
                            @Html.Hidden("allowcc", "true")
                            <div>@Html.ValidationMessage("Type")</div><br>
                        </div>
                    }
                    else if (Model.NoCreditCardsAllowed)
                    {
                        @Html.Hidden("Type", "B");
                    }
                    else
                    {
                        @Html.Hidden("Type", "C");
                    }
                    @if (Model.NoCreditCardsAllowed == false)
                    {
                        <div class="Card paymentinfo">
                            <p><label>Credit Card Number</label>
                                @Html.TextBox("Cardnumber", null, Model.Autocomplete)
                                <div>@Html.ValidationMessage("Cardnumber")</div></p>
                            <p><label>Expires</label>
                                @Html.TextBox("Expires", null, new { @class = "short" }) mmyy
                                <div>@Html.ValidationMessage("Expires")</div></p>
                            <p><label>Card Code</label>
                                @Html.TextBox("Cardcode", null, Model.Autocomplete)
                                <div>@Html.ValidationMessage("Cardcode")</div>
                                <div><a id="findidclick" href="#"><span style="font-size: 65%">How to find your card code</span></a></div>
                            </p>
                        </div>
                    }
                    @if (Model.NoEChecksAllowed == false)
                    {
                        <div class="Bank paymentinfo">
                            <p><label>Bank Routing Number</label>
                                @Html.TextBox("Routing", Model.Routing, Model.Autocomplete)
                                <div>@Html.ValidationMessage("Routing")</div></p>
                            <p><label>Checking Account Number</label>
                                @Html.TextBox("Account", Model.Account, Model.Autocomplete)</p>
                                <div>@Html.ValidationMessage("Account")</div>
                                <div><a id="findacctclick" href="#"><span style="font-size: 65%">How to find routing and account #</span></a></div>
                        </div>
                    }
                </div>
                <div class-="section">
                    <label>Name/Billing Address on Account</label>
                    <div class="accountinfo">
                        <p><label>Name</label>
                        <table id="namefields">
                            <tr><th>First</th><th>MI</th><th>Last</th><th>Suffix</th></tr>
                            <tr>
                                <td>@Html.TextBox("firstname", Model.firstname, new { @class = "short"})</td>
                                <td>@Html.TextBox("middleinitial", Model.middleinitial, new { @class = "shorter" })</td>
                                <td>@Html.TextBox("lastname", Model.lastname, new { @class = "short"})</td>
                                <td>@Html.TextBox("suffix", Model.suffix, new { @class = "shorter" })</td>
                            </tr>
                        </table></p>

                        <p><label>Address</label>
                            @Html.TextBox("address")
                            <div>@Html.ValidationMessage("address")</div></p>
                        <p><label>City</label>
                            @Html.TextBox("city")
                            <div>@Html.ValidationMessage("city")</div></p>
                        <p><label>State</label>
                            @Html.TextBox("state")
                            <div>@Html.ValidationMessage("state")</div></p>
                        <p><label>Zip</label>
                            @Html.TextBox("zip")
                            <div>@Html.ValidationMessage("zip")</div></p>
                        <p><label>Phone</label>
                            @Html.TextBox("phone")
                            <div>@Html.ValidationMessage("phone")</div></p>
                    </div>
                </div>
                <div>
                    <input id="submitit" type="submit" class="submitbutton" value='Submit' />
                    <div>@Html.ValidationMessage("form")</div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="findid" style="display:none"> 
<h2>Card Identification #</h2>
<table width="100%">
<tr>
    <td><h3>American Express</h3></td>
    <td><img src="/images/amex.jpg" alt="amex" /></td>
</tr>
<tr>
    <td><h3>Visa</h3></td>
    <td><img src="/images/visa.jpg" alt="visa" /></td>
</tr>
<tr>
    <td><h3>MasterCard</h3></td>
    <td><img src="/images/mastercard.jpg" alt="mastercard" /></td>
</tr>
    <tr>
        <td><h3>Discover</h3></td>
        <td><img src="/images/discovercard.jpg" alt="discover" /></td>
    </tr>
</table>
</div> 
<div id="findacct" style="display:none"> 
<h2>Bank Routing # / Account #</h2>
    <p>Look at the numbers on the bottom of your check</p>
<div>
    <img src="https://a1d932c175f6f84ca65d-434e90644472f15e2ba76cac2f5de424.ssl.cf2.rackcdn.com/check.png" alt="check"/>
</div>
</div> 

