@using System.Web.Optimization
@model CmsWeb.Models.ManageSubsModel 
@using CmsWeb
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
@Scripts.Render("~/bundles/single/OnlineReg-js")
}
<h2>@Model.Description()</h2>
<div>@Html.Raw(Model.Instructions)</div>
<h4>Email Subscription Options for @Model.person.Name &lt;@Model.person.EmailAddress&gt;</h4>
@using(Html.BeginForm("ConfirmSubscriptions", "OnlineReg"))
{
    @Html.Hidden("specialedit", 1)
    @Html.Hidden("pid", Model.pid)
    @Html.Hidden("divid", Model.divid)
    @Html.Hidden("masterorgid", Model.masterorgid)
   <table id="subs">
    @foreach (var o in Model.OrderSubs(Model.FetchSubs()))
    { 
		<tr><td class="top">
			    <input type="checkbox" name="Subscribe" @o.CHECKED value="@o.OrgId" /></td>
			<td><h3>@o.Name</h3>
				<h4>@o.Description</h4></td>
        </tr>
    }
   </table>
   <input id="submitit" type="submit" class="submitbutton" value='Submit' />
}


