@using UtilityExtensions
@using CmsWeb
@using CmsData
@model CmsWeb.Models.PaymentForm
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";

    var ServiceUOrgID = (Model.testing) ? DbUtil.Db.Setting("ServiceUOrgIDTest", "0") : DbUtil.Db.Setting("ServiceUOrgID", "0");
    var ServiceUOrgAccountID = (Model.testing) ? DbUtil.Db.Setting("ServiceUOrgAccountIDTest", "0") : DbUtil.Db.Setting("ServiceUOrgAccountID", "0");
}

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $(document).bind("idle.idleTimer", function() {
                window.location.href = '@ViewBag.Url';
            });
            var tmout = parseInt('@ViewBag.timeout');
            $.idleTimer(tmout);
        });
    </script>
}   
    <h2>Payment Processing</h2>
    
    <form action="https://public.serviceu.com/transaction/pay.asp" method="post">
    @Html.Hidden("OrgID", ServiceUOrgID)
    @Html.Hidden("OrgAccountID", ServiceUOrgAccountID)
    @Html.Hidden("PostbackURL", Util.ServerLink("/OnlineReg/ConfirmDuePaid/" + Model.TranId))
    @Html.Hidden("NameOnAccount", Model.FullName()) 
    @Html.Hidden("Address", Model.Address)
    @Html.Hidden("City", Model.City)
    @Html.Hidden("State", Model.State)
    @Html.Hidden("PostalCode", Model.Zip)
    @Html.Hidden("Phone", Model.Phone)
    @Html.Hidden("Email", Model.Email)
    @Html.Hidden("Misc1", Model.FullName())
    @Html.Hidden("Misc2", Model.Description)
    @Html.Hidden("Misc3")
    @Html.Hidden("Misc4")
    <p>
        When you click the 'Make Payment' button you will be redirected to ServiceU.com to process your credit card payment of $@((Model.AmtToPay ?? 0).ToString("N")).
        After you are finished there, you will be redirected back here to get your confirmation.
        Your information will not be committed until you complete the transaction on the next page.
    </p>
    <p>
    @Html.TextBox("Amount", (Model.AmtToPay ?? 0).ToString("f2"))
    <input type="submit" id="Submit" name="Submit" value="Make Payment" /></p>
    <p>If you have a coupon, please enter that number here and click the button below it:</p>
    <input id="Coupon" name="Coupon" type="password" value="@Model.Coupon" autocomplete="off" /> <br />
    <input type="button" href="/OnlineReg/PayWithCoupon2/@Model.OriginalId" class="submitbutton ajax"
        value="Pay with coupon" />
    <span style="color:Red" id="validatecoupon"></span>
    </form>

