@using CmsWeb
@model CmsWeb.Models.PaymentModel
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}

@section scripts
{
@Html.Script("/Scripts/OnlineRegPayment.js")

    <script type="text/javascript">
        $(function() {
            $(document).bind("idle.idleTimer", function() {
                window.location.href = '@Model._URL';
            });
            var tmout = parseInt('@Model._timeout');
            $.idleTimer(tmout);
        });
    </script>
 }  
    <h2>Payment Processing</h2>
    
    <form action="https://public.serviceu.com/transaction/pay.asp" method="post">
    @Html.Hidden("OrgID")
    @Html.Hidden("OrgAccountID")
    @Html.Hidden("PostbackURL")
    @Html.Hidden("NameOnAccount") 
    @Html.Hidden("Address")
    @Html.Hidden("City")
    @Html.Hidden("State")
    @Html.Hidden("PostalCode")
    @Html.Hidden("Phone")
    @Html.Hidden("Email")
    @Html.Hidden("Misc1")
    @Html.Hidden("Misc2")
    @Html.Hidden("Misc3")
    @Html.Hidden("Misc4")
    <p>
        When you click the 'Make Payment' button button will be redirected to ServiceU.com to process your credit card payment of @Model.Amount.ToString("C").
        After you are finished there, you will be redirected back here to get your confirmation.
        Your information will not be committed until you complete the transaction on the next page.
    </p>
    <p>
    @Html.TextBox("Amount", Model.Amount.ToString("f2"))
    <input type="submit" name="Submit" value="Make Payment" /></p>
    </form>
    <form>
    @Html.Hidden("Amount")
    <p>If you have a coupon, please enter that number here and click the button below it:</p>
    <input id="Coupon" name="Coupon" type="password" value="@ViewData["Coupon"]" autocomplete="off" /> 
    <input type="button" href="/OnlineReg/PayWithCouponOld/@Model._datumid" class="submitbutton ajax" 
        value="Pay with coupon" />
    <span style="color:Red" id="validatecoupon"></span>
    </form>

