@using UtilityExtensions
@model CmsWeb.Models.PaymentForm
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/onlinereg/onlineregpayment.js")"></script>
    <script type="text/javascript">
        $(function() {
            $(document).bind("idle.idleTimer", function() {
                window.location.href = '@ViewBag.Url';
            });
            var tmout = parseInt('@ViewBag.timeout');
            //$.idleTimer(tmout);
        });
    </script>
}
@section head
{
    <style>
        #namefields th {
            color: #AAA;
            text-align: left;
            font-size: 70%;
        }
    </style>
}
<div class="regform" style="width:500px">
    <h2>
        Payment Processing</h2>
@if (ViewData.ContainsKey("Terms"))
{ 
    <a id="displayterms" title="click to display terms" href="#">Display Terms</a>
    <div id="Terms" title="Terms of Agreement" class="modalPopup" style="display: none;
                                                                                                        width: 400px; padding: 10px">
        @Html.Raw(Model.Terms)</div>
    <p>
        @Html.CheckBox("IAgree")
        I agree to the above terms and conditions.</p>
    <p>
        You must agree to the terms above for you or your minor child before you can continue.</p>
} 
    <form action="/onlinereg/ProcessPayment" method="post">
    @Html.Hidden("pf.DatumId", Model.DatumId)
    @Html.Hidden("pf.TranId", Model.TranId)
    @Html.Hidden("pf.Url", Model.Url)
    @Html.Hidden("pf.Description", Model.Description)
    @Html.Hidden("pf.FormId", Model.FormId)
    @Html.Hidden("pf.Email", Model.Email)
    @Html.Hidden("pf.Amtdue", Model.Amtdue)
    @Html.Hidden("pf.testing", Model.testing)
    @Html.Hidden("pf.OrgId", Model.OrgId)
    @Html.Hidden("pf.OriginalId", Model.OriginalId)
    @Html.Hidden("pf.PayBalance", Model.PayBalance)
    @Html.Hidden("pf.AllowCoupon", Model.AllowCoupon)
    @Html.Hidden("pf.IsLoggedIn", Model.IsLoggedIn)
    @Html.Hidden("pf.FinanceOnly", Model.FinanceOnly)
    @Html.Hidden("pf.AskDonation", Model.AskDonation)
    @Html.Hidden("pf.Donate", Model.Donate)
    @Html.Hidden("pf.NoCreditCardsAllowed", Model.NoCreditCardsAllowed)
    @Html.Hidden("pf.Type", Model.Type)
    <table>
    <colgroup>
        <col style="text-align: right;white-space:nowrap;padding-right:10px" />
        <col />
    </colgroup>
    <tr><td>Name</td>
        <td nowrap="nowrap">
            <table id="namefields">
                <tr><th>First</th><th>MI</th><th>Last</th><th>Suffix</th></tr>
                <tr>
                    <td>@Html.TextBox("pf.First", Model.First, new { @class = "short"})</td>
                    <td>@Html.TextBox("pf.MiddleInitial", Model.MiddleInitial, new { @class = "shorter" })</td>
                    <td>@Html.TextBox("pf.Last", Model.Last, new { @class = "short"})</td>
                    <td>@Html.TextBox("pf.Suffix", Model.Suffix, new { @class = "shorter" })</td>
                </tr>
            </table>
            <div id="errorName"></div>
        </td>
    </tr>
    <tr><td>Address</td>
        <td>@Html.TextBox("pf.Address", Model.Address, new { @class = "wide" })</td></tr>
    <tr><td>City</td>
        <td>@Html.TextBox("pf.City", Model.City, new { @class = "wide" })</td></tr>
    <tr><td>State</td>
        <td> @Html.TextBox("pf.State", Model.State, new { @class = "short" })</td></tr>
    <tr><td>Zip</td>
        <td> @Html.TextBox("pf.Zip", Model.Zip, new { @class = "wide" })</td></tr>
    <tr><td>Phone</td>
        <td>@Html.TextBox("pf.Phone", Model.Phone, new { @class = "wide" })</td></tr>
    <tr><td>Email</td>
        <td>@Html.TextBox("pf.Emails", Model.Email, new { @class = "wide" })</td></tr>
@if (Model.PayBalance)
{
    <tr><td>Enter amount to pay</td>
		<td>@Html.TextBox("pf.AmtToPay", Model.AmtToPay.ToString2("N2"), Model.Autocomplete(small: true))</td>
    </tr>
}
else
{
    <tr><td>Total Amount</td>
		<td><span id="amt" class="right">@Model.AmtToPay.ToString2("N2")</span>
			@Html.Hidden("pf.AmtToPay", Model.AmtToPay)
        </td>
    </tr>
}

@if (!Model.NoCreditCardsAllowed && !Model.NoEChecksAllowed)
{
	<tr><td>Payment Type</td>
		<td>@Html.RadioButton("Type", "C", Model.Type == "C")Debit/Credit Card
			@Html.RadioButton("Type", "B", Model.Type == "B")Bank Account
			@Html.Hidden("allowcc", "true")</td>
	</tr>
}
@if(Model.NoCreditCardsAllowed == false)
{
	<tr class="Card">
		<td>Card Number</td>
		<td>@Html.TextBox("pf.CreditCard", Model.CreditCard, Model.Autocomplete())
            <div>@Html.ValidationMessage("Cardnumber")</div>
        </td>
	</tr>
	<tr class="Card">
		<td>Expires</td>
		<td>@Html.TextBox("pf.Expires", Model.Expires, Model.Autocomplete(small: true)) MMYY
            <div>@Html.ValidationMessage("Expires")</div>
        </td>
	</tr>
	<tr class="Card">
		<td>Card Code<br />
			<a id="findidclick" href="#"><span style="font-size: 65%">How to find your card code</span></a></td>
		<td>@Html.TextBox("pf.CCV", Model.MaskedCCV, Model.Autocomplete())
            <div>@Html.ValidationMessage("Cardcode")</div>
        </td>
	</tr>
}
@if (Model.NoEChecksAllowed == false)
{
	<tr class="Bank">
	    <td>Routing Number<br />
			<a id="findacctclick" href="#"><span style="font-size: 65%">Find your bank routing/account?</span></a></td>
		<td>@Html.TextBox("pf.Routing", Model.Routing, Model.Autocomplete())
            <div>@Html.ValidationMessage("Routing")</div>
        </td>
	</tr>
	<tr class="Bank">
		<td>Account Number</td>
		<td>@Html.TextBox("pf.Account", Model.Account, Model.Autocomplete())
            <div>@Html.ValidationMessage("Account")</div>
        </td>
	</tr>
}
@if (Model.IsLoggedIn == true && CmsWeb.Models.OnlineRegModel.GetTransactionGateway() == "sage")
{
	<tr>
		<td></td>
		<td>@Html.CheckBox("pf.SavePayInfo", Model.SavePayInfo == true)Save Payment Information?</td>	
	</tr>
}
    <tr><td></td>
        <td height="40"><input id="Submit" type="submit" name="Submit" class="submitbutton" value="Make Payment" />
            <div class="column">@Html.ValidationMessage("form")</div></td></tr>
    <tr><td colspan="2">&nbsp;</td></tr>
@if (Model.AllowCoupon)
{
    <tr><td>Coupon Code<br/>
        (if you have one)
        </td>
        <td>
            <input id="pf_Coupon" name="pf.Coupon" type="text" autocomplete="off" data-typetoggle='#showpassword' value="@Model.Coupon" />
        </td>
    </tr>
    <tr><td></td>
		<td class="coupon">
			<input id="ApplyCoupon" type="button" href="/OnlineReg/ApplyCoupon" class="submitbutton ajax" value="Apply Coupon" />
			<div class="right red" id="validatecoupon"></div>
        </td>
    </tr>
}
    </table>
    </form>
</div>
<div id="findid" style="display:none"> 
<h2>Card Identification #</h2>
<table width="100%">
<tr>
    <td><h3>American Express</h3></td>
    <td><img src="/images/amex.jpg" alt="amex" /></td>
</tr>
<tr>
    <td><h3>Visa</h3></td>
    <td><img src="/images/visa.jpg" alt="visa" /></td>
</tr>
<tr>
    <td><h3>MasterCard</h3></td>
    <td><img src="/images/mastercard.jpg" alt="mastercard" /></td>
</tr>
    <tr>
        <td><h3>Discover</h3></td>
        <td><img src="/images/discovercard.jpg" alt="discover" /></td>
    </tr>
</table>
</div> 
<div id="findacct" style="display:none"> 
    <h2>Bank Routing # / Account #</h2>
    <p>Look at the numbers on the bottom of your check</p>
    <div>
        <img src="https://a1d932c175f6f84ca65d-434e90644472f15e2ba76cac2f5de424.ssl.cf2.rackcdn.com/check.png" alt="check"/>
    </div>
</div> 