@model CmsWeb.Models.VolunteerRequestModel
@using System.Web.Optimization
@using UtilityExtensions
@using CmsWeb
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Volunteer Request Report";
}
@section head
{
<style type="text/css">
.item
{
    float: left;
    width: 13.3em;
    margin: 0 2em 0 0;
    border-right: 1px solid #eee;
    padding: 0 0 5px 0;
}
</style>
}
@section scripts
{
    @Scripts.Render("~/bundles/ManageVolunteer-js")
    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/edit-js")
}
<h2>@Model.org.OrganizationName</h2>
<h3>@Model.person.Name on @Model.meeting.MeetingDate.ToString2("MMM d, yyyy") at @Model.meeting.MeetingDate.ToString2("h:mm tt")</h3>
<div>
<table class="grid">
<thead>
    <tr>
        <th>Substitute</th>
        <th>Response</th>
        <th>Responded</th>
    </tr>
</thead>
<tbody>
@foreach (var r in Model.VolRequests())
{
    <tr>
        <td>@r.VolName</td>
        <td>@r.Requested.ToString("g")</td>
        <td>@r.Responded.ToString2("g")</td>
        <td>@r.CanVolDisplay</td>
    </tr>
}
</tbody>
</table>
</div>