@model CmsWeb.Models.VolSubModel 
@using UtilityExtensions
@using CmsWeb
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Volunteer Substitute Report";
}
@section head
{
<style type="text/css">
.item
{
    float: left;
    width: 13.3em;
    margin: 0 2em 0 0;
    border-right: 1px solid #eee;
    padding: 0 0 5px 0;
}
</style>
}
@section scripts
{
@Html.Script("/Content/js/jquery.transpose.js")
@Html.Script("/Scripts/ManageVolunteer.js")
<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="/ckeditor/adapters/jquery.js" type="text/javascript"></script>
@Html.Script("/Scripts/Email.js")
@Html.Script("/Scripts/Edit.js")
}
<h2>@Model.org.OrganizationName</h2>
<h3>@Model.person.Name on @Model.attend.MeetingDate.ToString("MMM d, yyyy") at @Model.attend.MeetingDate.ToString("h:mm tt")</h3>
<div>
<table class="grid">
<thead>
    <tr>
        <th>Substitute</th>
        <th>Response</th>
        <th>Responded</th>
    </tr>
</thead>
<tbody>
@foreach (var r in Model.SubRequests())
{
    <tr>
        <td>@r.SubName</td>
        <td>@r.Requested.ToString("M/d/yy h:mm tt")</td>
        <td>@r.Responded.ToString2("M/d/yy h:mm tt")</td>
        <td>@r.CanSubDisplay</td>
    </tr>
}
</tbody>
</table>
</div>