@model CmsWeb.Models.VolunteerModel 
@using UtilityExtensions
@using CmsWeb
@Html.HiddenFor(m => m.PeopleId)
@Html.HiddenFor(m => m.OrgId)
@Html.HiddenFor(m => m.IsLeader)
@Html.Hidden("specialedit", 0)
<input id="submitit" type="submit" class="submitbutton" value='Submit' />
@if(Model.IsLeader)
{
<label>@Html.CheckBox("SendEmail")Send Email Confirmation and Notice</label>
}

<table class="grid">
    <thead>
        <tr>
            <td><br /><a href="#" id="sortday" title="Sort Chronologically">Sunday</a></td>
			<td><br /><a href="#" id="sortweek" title="Sort by Week of Month">Week #</a></td>
@foreach (var s in Model.Regsettings.timeSlots.list)
{ 
            <td class="center">@s.Description<br />@s.Datetime().ToString("ddd h:mm tt")<br /> </td>
}
        </tr>
    </thead>
    <tbody>
@foreach (var ts in Model.FetchSlotWeeks())
{
    var col = 0;
        <tr class="wk-@ts[0].Week">
            <td class="day" jday="@ts[0].Sunday.ToString("yyyyMMdd")">@ts[0].Sunday.ToString("MMM d")</td>
            <td class="center week" jweek="@ts[0].Week@ts[0].Sunday.ToString("yyyyMMdd")">@ts[0].Week</td>
    @foreach (var si in ts)
    {
        col++;
    		<td class="center">
		@if (si.Full && !si.Checked)
		{
				<span>Filled</span>
		}
		else if (si.Time >= DateTime.Today)
		{
            if (si.Time <= Model.dtlock && si.Checked)
            {
				<input type="checkbox" name="Commit" col="@col" value="@si.Time" @si.CHECKED disabled="true" />
				<a class="getsub" href="/OnlineReg/GetVolSub/@si.AttendId/@Model.PeopleId">get sub</a>
            }
            else
            {
				<input type="checkbox" name="Commit" col="@col" value="@si.Time" @si.CHECKED @si.DISABLED />
                <span>(@si.Need)</span>
            }
		}
    		</td>
    } 
        </tr>
}
    </tbody>
</table>

<input id="submitit" type="submit" class="submitbutton" value='Submit' />