@model IEnumerable<CmsData.UserCanEmailFor>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "UsersEmailFor";
}
<h2>Index</h2>

<table>
    <tr>
        <th></th>
        <th> UserId </th>
        <th> CanEmailFor </th>
    </tr>

@foreach (var item in Model)
{ 
    <tr>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId, CanEmailFor = item.CanEmailFor })
        </td>
        <td>
            @item.UserId
        </td>
        <td>
            @item.CanEmailFor
        </td>
    </tr>
}
</table>
@using (Html.BeginForm("Create", "UsersCanEmailFor"))
{
    <fieldset>
        <legend>Fields</legend>
        <p>
            <label for="UserId">UserId:</label>
            @Html.TextBox("UserId")
            @Html.ValidationMessage("UserId", "*")
        </p>
        <p>
            <label for="CanEmailFor">CanEmailFor:</label>
            @Html.TextBox("CanEmailFor")
            @Html.ValidationMessage("CanEmailFor", "*")
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
 } 