@model CmsWeb.Models.PersonPage.PersonAttendHistoryModel
@using UtilityExtensions
Show Future Meetings: @Html.CheckBox("future")
<table class="grid" cellPadding="4">
<thead>
<tr>
    <th></th>
    <th><a href="#" class="sortable">Meeting</a></th>
    <th><a href="#" class="sortable">Organization</a></th>
    <th><a href="#" class="sortable">MemberType</a></th>
    <th><a href="#" class="sortable">AttendType</a></th>
    <th>OtherAttends</th>
</tr>
</thead>
<tbody>
@if (User.IsInRole("Access"))
{
    foreach (var a in Model.Attendances())
    { 
    <tr>
    <td><input type="checkbox" mid="@a.MeetingId" pid="@a.PeopleId" @(a.AttendFlag? "checked=checked" : "") class="atck" @(User.IsInRole("Admin")? "" : "disabled=disabled") /></td>
    <td nowrap="nowrap"><a href="/Meeting/Index/@a.MeetingId">@a.MeetingDate.GetWeekNumber() @a.MeetingDate.Value.ToString("M/d/yy h:mmtt (ddd)")</a></td>
    <td><a href="/Organization/Index/@a.OrganizationId">@a.OrganizationName</a></td>
    <td>@a.MemberType</td>
    <td>@a.AttendType</td>
    <td>@a.OtherAttends</td>
    </tr>
    }
}
else
{
    foreach (var a in Model.Attendances())
    { 
    <tr>
    <td><input type="checkbox" @(a.AttendFlag? "checked=checked" : "") disabled=disabled /></td>
    <td>@a.MeetingDate.Value.ToString("MM/dd/yy h:mmtt")</td>
    <td>@a.OrganizationName</td>
    <td>@a.MemberType</td>
    <td>@a.AttendType</td>
    </tr>
    }
} 
</tbody>
</table>
 @Html.Partial("Pager2", Model.Pager) 

