@using UtilityExtensions
@model CmsWeb.Models.PersonPage.PersonEnrollmentsModel
<table class="grid" cellPadding="4">
<thead>
<tr>
    <th><a href="#" class="sortable">Organization</a></th>
    <th>Location</th>
    <th>Leader</th>
    <th>Schedule</th>
    <th><a href="#" class="sortable">Enroll Date</a></th>
    <th>MemberType</th>
    <th>AttendPct</th>
</tr>
</thead>
<tbody>
@if (User.IsInRole("Access"))
{
    foreach (var om in Model.Enrollments())
    {
    <tr>
    <td><a href="/Organization/Index/@om.OrgId" title="@om.DivisionName">@om.Name</a></td>
    <td>@om.Location</td>
    <td><a href="/Person/Index/@om.LeaderId">@om.LeaderName</a></td>
    <td>@om.Schedule</td>
    <td><a href="/OrgContent/Index/@om.OrgId">@om.EnrollDate.FormatDate()</a></td>
    <td><a class="membertype" pid="@om.PeopleId" oid="@om.OrgId" 
        href="/OrgMemberDialog/Index/@om.OrgId?pid=@om.PeopleId&from=na">
        @om.MemberType</a></td>
    <td>@(om.AttendPct > 0 ? om.AttendPct.Value.ToString("N1") : "")</td>
    </tr>
    }
}
else
{
    foreach (var om in Model.Enrollments())
    { 
    <tr>
    <td><a title="@om.DivisionName" href="/OrgContent/Index/@om.OrgId">@om.Name</a></td>
    <td>@om.Location</td>
    <td>@om.LeaderName</td>
    <td>@om.Schedule</td>
    <td>@om.EnrollDate.FormatDate()</td>
    <td>@om.MemberType</td>
    <td>@(om.AttendPct > 0 ? om.AttendPct.Value.ToString("N1") : "")</td>
    </tr>
    }
} 
</tbody>
</table>
@Html.Partial("Pager2", Model.Pager) 


