@using UtilityExtensions
@using CmsData
@model CmsData.Person
<a id="newextravalue" href="#" class="bt">Add New Field</a>
<table class="grid">
<thead>
    <tr>
        <th colspan="2">Extra Values</th>
    </tr>
    <tr>
        <th>Field</th>
        <th>Value</th>
        <th></th>
    </tr>
</thead>
<tbody>
@{
    var list = Model.PeopleExtras.ToList();
    foreach (var c in list.Where(pp => pp.StrValue.HasValue()).OrderBy(pp => pp.Field))  
    {
    <tr>
        <td>@c.Field</td>
        <td><span id="s-@c.Field.@c.PeopleId" class="clickEdit">@c.StrValue</span></td>
        <td><a href="#" class="deleteextra" field="@c.Field"><img src="/images/delete.gif" /></a></td>
    </tr>
    }
    <tr><td colspan="3">------</td></tr>
    foreach (var c in list.Where(pp => pp.Data.HasValue()).OrderBy(pp => pp.Field))  
    {
    <tr>
        <td valign="top">@c.Field</td>
        <td><pre id="t-@c.Field.@c.PeopleId" class="editarea">@c.Data</pre></td>
        <td><a href="#" class="deleteextra" field="@c.Field"><img src="/images/delete.gif" /></a></td>
    </tr>
    }
    <tr><td colspan="3">------</td></tr>
    foreach (var c in list.Where(pp => pp.DateValue.HasValue).OrderBy(pp => pp.Field))  
    {
    <tr>
        <td>@c.Field</td>
        <td><span id="d-@c.Field.@c.PeopleId" class="clickEdit">@c.DateValue.FormatDate()</span></td>
        <td><a href="#" class="deleteextra" field="@c.Field"><img src="/images/delete.gif" /></a></td>
    </tr>
    }
    <tr><td colspan="3">------</td></tr>
    foreach (var c in list.Where(pp => pp.IntValue.HasValue).OrderBy(pp => pp.Field))  
    {
    <tr>
        <td>@c.Field</td>
        <td><span id="i-@c.Field.@c.PeopleId" class="clickEdit">@c.IntValue @c.IntValue2</span></td>
        <td><a href="#" class="deleteextra" field="@c.Field"><img src="/images/delete.gif" /></a></td>
    </tr>
    }
}
</tbody>
</table>
