@model CmsWeb.Models.PersonPage.GrowthInfo
<table class="Design2">
    <tr>
        <th>How did you hear about our Church?</th>
        <td>@Html.DropDownList("InterestPointId", CmsWeb.Models.PersonPage.GrowthInfo.InterestPoints())</td>
    </tr>
    <tr>
        <th>Origin:</th>
        <td>@Html.DropDownList("OriginId", CmsWeb.Models.PersonPage.GrowthInfo.Origins())</td>
    </tr>
    <tr>
        <th>Entry Point:</th>
        <td>@Html.DropDownList("EntryPointId", CmsWeb.Models.PersonPage.GrowthInfo.EntryPoints())</td>
    </tr>
<tr><td></td></tr>
    <tr>
        <th>Is a member of another Church?</th>
        <td>@Html.CheckBox("MemberAnyChurch")</td>
    </tr>
    <tr>
        <th>Prayed for Christ as Savior</th>
        <td>@Html.CheckBox("ChristAsSavior")</td>
    </tr>
    <tr>
        <th>Would like someone to visit</th>
        <td>@Html.CheckBox("PleaseVisit")</td>
    </tr>
    <tr>
        <th>Interested in joining Church</th>
        <td>@Html.CheckBox("InterestedInJoining")</td>
    </tr>
    <tr>
        <th>Would like to know how to become a Christian</th>
        <td>@Html.CheckBox("SendInfo")</td>
    </tr>
<tr><td></td></tr>
    <tr>
        <th>Comments:</th>
        <td>@Html.TextArea("Comments", new { rows = "16", style = "width:90%" })
        </td>
    </tr>
<tr><td></td></tr>
     <tr><td colspan="2" align="right">
        <a href="/Person/GrowthUpdate/@Model.PeopleId" class="submitbutton bt">Save Changes</a>
        <a class="displayedit bt" href="/Person/GrowthDisplay/@Model.PeopleId">Cancel</a>
     </td></tr>
</table>

