@using System.Web.Optimization
@using CmsWeb
@using CmsWeb.Models
@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.PersonPage.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Person";
}
@section head
{
<style type="text/css">
#family td
{
    padding: 2px;
}
div.pager
{
    padding: 0px;
    margin-bottom:0px;
}
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
}

@{ 
    CmsWeb.Models.PersonPage.PersonInfo p = Model.displayperson;
    var isaccess = User.IsInRole("Access");
    var isadmin = User.IsInRole("Admin");
    var isedit = User.IsInRole("Edit");
    var isfinance = User.IsInRole("Finance");
    var ismanager = User.IsInRole("Manager");
    var memberedit = isadmin || User.IsInRole("Membership");
}
@section scripts
{
    @Scripts.Render("~/bundles/single/person-js")
@if(memberedit)
{
    <script type="text/javascript"> function ShowMemberDocs() { $("#memberdocs").show(); } </script>
}
    <script type="text/javascript">
        function ShowMemberExtras() {
            if (window.ShowMemberDocs)
                ShowMemberDocs();
            $.extraEditable('#memberextras');
        }
    </script>
}
@Html.Hidden("PeopleId", p.PeopleId)
    <table cellspacing="5" class="roundbox floatleft">
        <tr><td colspan="5"> <h2>@Model.Name</h2> </td></tr>
        <tr>
            <td valign="top">
            @if (Model.Person.CanUserEditBasic)
            {
                <a id="Picture" href="/UploadPicture.aspx?id=@p.PeopleId" title="Click to see larger version or upload new">
                <img alt="portrait" border="0" src="/Image.aspx?portrait=1&id=@p.SmallPicId" />
                </a>
            }
            else
            {
                <img alt="portrait" border="0" src="/Image.aspx?portrait=1&id=@p.SmallPicId" />
            }
            </td>
            <td>&nbsp;</td>
            <td valign="top">
                <div id="businesscard" href="/Person/BusinessCard/@p.PeopleId">
                 @Html.Partial("BusinessCard", p) 
                </div>
                <div> @p.basic.DoNotCall </div>
            </td>
            <td>&nbsp;</td>
            <td valign="top">
                <form id="family" action="/Person/FamilyGrid/@p.PeopleId">
                @Html.Partial("FamilyGrid", new CmsWeb.Models.PersonPage.PersonFamilyModel(p.PeopleId))
                </form>
            </td>
       </tr>
    </table>
<div class="floatleft">
    <div id="buttondiv" class="extrabar" style="margin-top:1em;margin-bottom:1em;margin-left: 1em;font-size:1.2em;">
        <a href="#" class="trigger-dropdown">
            Maps and Directions <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
                <li><a href="http://www.google.com/maps?q=@p.PrimaryAddr.AddrCityStateZip()" target="_blank">Google Map</a></li>
                <li><a href="http://www.bing.com/maps/?q=@p.PrimaryAddr.AddrCityStateZip()" target="_blank">Bing Map</a></li>
                <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.PrimaryAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
                <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.PrimaryAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
            </ul>
        </div>
    </div>
@if (isadmin || ismanager)
{
    <div id="buttondiv" class="extrabar" style="margin-bottom:1em;margin-left: 1em;font-size:1.2em;">
        <a href="#" class="trigger-dropdown">
            Other Management <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
                @if (Model.CanCheckIn)
                { 
                    <li><a href="/CheckIn/CheckIn/@Model.ckorg?pid=@p.PeopleId">CheckIn</a></li>
                }
                @if (isadmin || ismanager)
                { 
                    <li><a id="moveperson" href="/SearchAdd/Index/0?type=mergeto">Merge Controller</a></li>
                    if (isadmin)
                    { 
                        <li><a id="deleteperson" href="/Person/Delete/@p.PeopleId">Delete Person</a></li>
                        if (Session["showallmeetings"] == null)
                        {
                            <li><a href="/Person/ShowMeetings/@p.PeopleId?all=true">Show All Meetings</a></li>
                        }
                        else
                        {
                            <li><a href="/Person/ShowMeetings/@p.PeopleId?all=false">Show Only Attends</a></li>
                        }
                    } 
                }
            </ul>
        </div>
    </div>
}
@if (isfinance || Util.UserPeopleId == Model.Person.PeopleId)
{
    var yr = DateTime.Now.Year;
    <div id="buttondiv" class="extrabar" style="margin-bottom:1em;margin-left: 1em;font-size:1.2em;">
        <a href="#" class="trigger-dropdown">
            Contributions <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
                @if (isfinance)
                {
                    <li><a href="/FinanceReports/ContributionYears/@p.PeopleId">History</a></li>
                }
                <li><a href="/Person/ContributionStatement/@p.PeopleId/0101@(yr)/@(DateTime.Now.ToString("MMddyyyy"))">Statement Year to date</a></li>
                <li><a href="/Person/ContributionStatement/@p.PeopleId/0101@(yr-1)/1231@(yr-1)">Last Year's Statement</a></li>
            </ul>
        </div>
    </div>
}
</div>
<div class="floatclear"></div>

    <div id="main-tab" style="display:none">
        <ul class="ui-tabs-nav">
            <li><a href="#basic-tab"><span>Basic</span></a></li>
            <li><a href="#address-tab"><span>Addresses</span></a></li>
            <li><a id="enrollment-link" href="#enrollment-tab"><span>Enrollment</span></a></li>
            <li><a id="member-link" href="#member-tab"><span>Member Profile</span></a></li>
@if (isaccess)
{ 
            <li><a href="#growth-tab"><span>Growth</span></a></li>
}
@if (isedit || isadmin)
{ 
            <li><a id="system-link" href="#system-tab"><span>System</span></a></li>
}

        </ul>
        <div id="basic-tab">
            <form id="basic" class="DisplayEdit" action="">
             @Html.Partial("BasicDisplay", p.basic) 
            </form>
        </div>
        <div id="address-tab">
            <ul class="ui-tabs-nav">
                <li><a href="#PersonalAddr"><span>Personal</span></a></li>
                <li><a href="#FamilyAddr"><span>Family</span></a></li>
            </ul>
            <div id="PersonalAddr">
                <form id="addrp" class="DisplayEdit" action="">
                 @Html.Partial("AddressDisplay", p.PersonalAddr) 
                </form>
            </div>
            <div id="FamilyAddr">
                <form id="addrf" class="DisplayEdit" action="">
                 @Html.Partial("AddressDisplay", p.FamilyAddr) 
                </form>
            </div>
            @Html.Hidden("addrtab")
        </div>
        <div id="enrollment-tab">
            <ul class="ui-tabs-nav">
                <li><a href="#current-tab"><span>Current</span></a></li>
                <li><a id="previous-link" href="#previous-tab"><span>Previous</span></a></li>
                <li><a id="pending-link" href="#pending-tab"><span>Pending</span></a></li>
                <li><a id="attendance-link" href="#attendance-tab"><span>Attendance History</span></a></li>
                <li><a id="recreg-link" href="#recreg-tab"><span>Registration</span></a></li>
            </ul>
            <div id="current-tab">
                <form action="/Person/EnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="previous-tab">
                <form action="/Person/PrevEnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="pending-tab">
                <form action="/Person/PendingEnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="attendance-tab">
                <form action="/Person/AttendanceGrid/@p.PeopleId">
                </form>
            </div>
            <div id="recreg-tab">
                <form class="DisplayEdit" action="/Person/RecRegDisplay/@p.PeopleId">
                </form>
            </div>
        </div>
        <div id="member-tab">
            <ul class="ui-tabs-nav">
                <li><a href="#membersum-tab"><span>Summary</span></a></li>
            @if (isaccess)
            {
                <li><a href="#membernotes-tab"><span>Notes</span></a></li>
                <li><a href="#extras-tab"><span>Extra Values</span></a></li>
                <li><a href="#querybits-tab"><span>QueryBits</span></a></li>
            }
            </ul>
            <div id="membersum-tab">
                <form id="memberdisplay" class="DisplayEdit" action="/Person/MemberDisplay/@p.PeopleId">
                </form>
            </div>
            <div id="membernotes-tab">
                <form class="DisplayEdit" action="">
                 @Html.Partial("MemberNotesDisplay", p.membernotes) 
                </form>
            </div>
            <div id="extras-tab">
                <form action="/Person/ExtrasGrid/@p.PeopleId">
                </form>
            </div>
        @if (isaccess)
        {
            <div id="querybits-tab">
                @foreach (var b in p.member.QueryBits())
                {
                    @b[0] @:- @b[1]<br/>
                }
            </div>
        }
        </div>
@if (isaccess)
{ 
        <div id="growth-tab">
            <ul class="ui-tabs-nav">
                <li><a href="#entry-tab"><span>Entry</span></a></li>
                <li><a id="contacts-link" href="#contacts-tab"><span>Contacts</span></a></li>
                <li><a href="#comments-tab"><span>Comments</span></a></li>
                <li><a id="volunteer-link" href="#volunteer-tab"><span>Volunteer</span></a></li>
            </ul>
            <div id="entry-tab">
                <form class="DisplayEdit" action="">
                 @Html.Partial("GrowthDisplay", p.growth) 
                </form>
            </div>
            <div id="contacts-tab">
                 @Html.Partial("ContactsDisplay", p.PeopleId) 
            </div>
            <div id="comments-tab">
                <form class="DisplayEdit" action="">
                 @Html.Partial("CommentsDisplay") 
                </form>
            </div>
            <div id="volunteer-tab">
                <form action="/Person/VolunteerDisplay/@p.PeopleId">
                </form>
            </div>
        </div>
}
@if (isedit || isadmin)
{ 
        <div id="system-tab">
            <ul class="ui-tabs-nav">
                <li><a id="user-link" href="#user-tab"><span>User</span></a></li>
                <li><a id="changes-link" href="#changes-tab"><span>Changes</span></a></li>
                <li><a id="duplicates-link" href="#duplicates-tab"><span>Duplicates</span></a></li>
                <li><a id="optouts-link" href="#optouts-tab"><span>Email Optouts</span></a></li>
            </ul>
            <div id="user-tab">
                <form action="/Person/UserInfoGrid/@p.PeopleId">
                </form>
            </div>
            <div id="changes-tab">
                <form action="/Person/ChangesGrid/@p.PeopleId">
                </form>
            </div>
            <div id="duplicates-tab">
                <form action="/Person/DuplicatesGrid/@p.PeopleId">
                </form>
            </div>
            <div id="optouts-tab">
                <form action="/Person/OptoutsGrid/@p.PeopleId">
                </form>
            </div>
        </div>
}
    </div>
    <div id="dialogbox" title="Search People" style="width: 560px; overflow: scroll">
    <iframe style="width:100%;height:99%;border-width:0px;"></iframe>
    </div>
    <div id="memberDialog">
    <iframe style="width:100%;height:99%;border-width:0px;"></iframe>
    </div>

<div id="newvalueform" style="display:none" class="roundbox">
    <table>
        <tr>
            <th colspan="2">
                <h2>New Extra Value</h2>
            </th>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <table><tr>
                    <td><input type="radio" id="typestring" name="typeval" value="string" checked="checked" /><label for="typestring">Code</label></td>
                    <td><input type="radio" id="typetext" name="typeval" value="text" /><label for="typetext">Text</label></td>
                    <td><input type="radio" id="typedate" name="typeval" value="date" /><label for="typedate">Date</label></td>
                    <td><input type="radio" id="typeint" name="typeval" value="int" /><label for="typeint">Integer</label></td>
                </tr></table>
            </td>
        </tr>
<tr><th>Field:</th><td>@Html.TextBox("fieldname")</td></tr>
<tr><th>Value:</th><td>@Html.TextBox("fieldvalue")</td></tr>
    </table>
</div>