@using CmsWeb
@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.PersonPage.PersonModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Person";
}
@section head
{
<style type="text/css">
#family td
{
    padding: 2px;
}
div.pager
{
    padding: 0px;
    margin-bottom:0px;
}
</style>
}

@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
            .Add("/Content/js/jquery.pagination.js")
            .Add("/Content/js/jquery.jeditable.js")
            .Add("/Scripts/SearchPeople.js")
            .Add("/Content/js/jquery.autocomplete.js")
            .Add("/Content/js/jquery.validate.js")
            .Add("/Scripts/Pager.js")
            .Add("/Scripts/Person.js")
        .Render("/Content/Person_#.js")
)
@{ CmsWeb.Models.PersonPage.PersonInfo p = Model.displayperson; }
@Html.Hidden("PeopleId", p.PeopleId)
    <table cellspacing="5" class="roundbox floatleft">
        <tr><td colspan="5"> <h2>@Model.Name</h2> </td></tr>
        <tr>
            <td valign="top">
                <a id="Picture" href="/UploadPicture.aspx?id=@p.PeopleId" title="Click to see larger version or upload new">
                <img alt="portrait" border="0" src="/Image.aspx?portrait=1&id=@p.SmallPicId" />
                </a>
            </td>
            <td>&nbsp;</td>
            <td valign="top">
                <div id="businesscard" href="/Person/BusinessCard/@p.PeopleId">
                 @Html.Partial("BusinessCard", p) 
                </div>
                <div> @p.basic.DoNotCall </div>
            </td>
            <td>&nbsp;</td>
            <td valign="top">
                <form id="family" action="/Person/FamilyGrid/@p.PeopleId">
                @Html.Partial("FamilyGrid", new CmsWeb.Models.PersonPage.PersonFamilyModel(p.PeopleId))
                </form>
            </td>
       </tr>
    </table>
<div class="floatleft">
    <div id="buttondiv" class="dropdown" style="margin-top:1em;margin-left: 1em;font-size:1.2em;">
        <div><a>Maps and Directions</a></div>
        <div class="sublinks">
            <a href="http://www.google.com/maps?q=@p.PrimaryAddr.AddrCityStateZip()" target="_blank">Google Map</a>
            <a href="http://www.bing.com/maps/?q=@p.PrimaryAddr.AddrCityStateZip()" target="_blank">Bing Map</a>
            <a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.PrimaryAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a>
            <a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.PrimaryAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a>
        </div>
        <div style="border-bottom: 4px solid #ddd"></div>
    </div>
@if (User.IsInRole("Finance") || User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <div id="buttondiv" class="dropdown" style="margin-bottom:1em;margin-left: 1em;font-size:1.2em;">
        <div><a>Other Management</a></div>
        <div class="sublinks">
    @if (User.IsInRole("Finance"))
    {
            <a href="/Reports/ContributionYears/@p.PeopleId">Contributions</a> 
    }
    @if (Model.CanCheckIn)
    { 
            <a href="/CheckIn/CheckIn/@Model.ckorg?pid=@p.PeopleId">CheckIn</a>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    { 
            <a id="moveperson" href="/Person/Move/@p.PeopleId">Merge Controller</a>
        if (User.IsInRole("Admin"))
        { 
            <a id="deleteperson" href="/Person/Delete/@p.PeopleId">Delete Person</a>
        } 
    }
        </div>
        <div style="border-bottom: 4px solid #ddd"></div>
    </div>
}
</div>
<div class="floatclear"></div>

    <div id="main-tab" class="ui-tabs">
        <ul class="ui-tabs-nav">
            <li><a href="#basic-tab"><span>Basic</span></a></li>
            <li><a href="#address-tab"><span>Addresses</span></a></li>
            <li><a id="enrollment-link" href="#enrollment-tab"><span>Enrollment</span></a></li>
            <li><a href="#member-tab"><span>Member Profile</span></a></li>
@if (User.IsInRole("Access"))
{ 
            <li><a id="growth-link" href="#growth-tab"><span>Growth</span></a></li>
}
@if (User.IsInRole("Edit") || User.IsInRole("Admin"))
{ 
            <li><a id="system-link" href="#system-tab"><span>System</span></a></li>
}
        </ul>
        <div id="basic-tab" class="ui-tabs-panel ui-tabs-hide">
            <form id="basic" class="DisplayEdit" action="">
             @Html.Partial("BasicDisplay", p.basic) 
            </form>
        </div>
        <div id="address-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#PersonalAddr"><span>Personal</span></a></li>
                <li><a href="#FamilyAddr"><span>Family</span></a></li>
            </ul>
            <div id="PersonalAddr" class="ui-tabs-hide ui-tabs-panel">
                <form id="addrp" class="DisplayEdit" action="">
                 @Html.Partial("AddressDisplay", p.PersonalAddr) 
                </form>
            </div>
            <div id="FamilyAddr" class="ui-tabs-hide ui-tabs-panel">
                <form id="addrf" class="DisplayEdit" action="">
                 @Html.Partial("AddressDisplay", p.FamilyAddr) 
                </form>
            </div>
            @Html.Hidden("addrtab")
        </div>
        <div id="enrollment-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#current-tab"><span>Current</span></a></li>
                <li><a id="previous-link" href="#previous-tab"><span>Previous</span></a></li>
                <li><a id="pending-link" href="#pending-tab"><span>Pending</span></a></li>
                <li><a id="attendance-link" href="#attendance-tab"><span>Attendance History</span></a></li>
                <li><a id="recreg-link" href="#recreg-tab"><span>Registration</span></a></li>
            </ul>
            <div id="current-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/EnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="previous-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/PrevEnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="pending-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/PendingEnrollGrid/@p.PeopleId">
                </form>
            </div>
            <div id="attendance-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/AttendanceGrid/@p.PeopleId">
                </form>
            </div>
            <div id="recreg-tab" class="ui-tabs-panel ui-tabs-hide">
                <form class="DisplayEdit" action="/Person/RecRegDisplay/@p.PeopleId">
                </form>
            </div>
        </div>
        <div id="member-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#membersum-tab"><span>Summary</span></a></li>
                <li><a href="#membernotes-tab"><span>Notes</span></a></li>
            </ul>
            <div id="membersum-tab" class="ui-tabs-hide ui-tabs-panel">
                <form class="DisplayEdit" action="">
                 @Html.Partial("MemberDisplay", p.member) 
                </form>
            </div>
            <div id="membernotes-tab" class="ui-tabs-hide ui-tabs-panel">
                <form class="DisplayEdit" action="">
                 @Html.Partial("MemberNotesDisplay", p.membernotes) 
                </form>
            </div>
        </div>
@if (User.IsInRole("Access"))
{ 
        <div id="growth-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#entry-tab"><span>Entry</span></a></li>
                <li><a href="#contacts-tab"><span>Contacts</span></a></li>
                <li><a href="#comments-tab"><span>Comments</span></a></li>
                <li><a href="#volunteer-tab"><span>Volunteer</span></a></li>
            </ul>
            <div id="entry-tab" class="ui-tabs-hide ui-tabs-panel">
                <form class="DisplayEdit" action="">
                 @Html.Partial("GrowthDisplay", p.growth) 
                </form>
            </div>
            <div id="contacts-tab" class="ui-tabs-hide ui-tabs-panel">
                 @Html.Partial("ContactsDisplay", p.PeopleId) 
            </div>
            <div id="comments-tab" class="ui-tabs-hide ui-tabs-panel">
                <form class="DisplayEdit" action="">
                 @Html.Partial("CommentsDisplay") 
                </form>
            </div>
            <div id="volunteer-tab" class="ui-tabs-hide ui-tabs-panel">
                <table class="grid" style="border-style: groove; border-width: thin;" >
                    <tr>
                        <th>Approvals:</th>
                        <td><input type="checkbox" @(Model.vol.Standard ? "checked='checked'" : "") disabled="disabled" />
                            Standard (references only)<br />
                            <input type="checkbox" @(Model.vol.Leader ? "checked='checked'" : "") disabled="disabled" />
                            Leadership (background check)
                        </td>
                        <td>
        @if (User.IsInRole("ApplicationReview"))
        { 
                        <a href="/AppReview/VolunteerApp.aspx?id=@p.PeopleId">
                        Volunteer Application Review</a>
        } 
                        </td>
                    </tr>
                    <tr>
                        <th>Approval Date:</th>
                        <td colspan="2">@Model.vol.ProcessedDate.FormatDate()</td>
                    </tr>
                    <tr>
                        <td valign="top">Volunteer Opportunities</td>
                        <td colspan="2">
        @foreach (var vv in Model.VolOpportunities())
        {
                        <a href='/Volunteer/Picklist2?view=@vv&pid=@Model.Person.PeopleId' target="volunteerop">@vv</a><br />
        }
                    </td></tr>
                </table>
            </div>
        </div>
}
@if (User.IsInRole("Edit") || User.IsInRole("Admin"))
{ 
        <div id="system-tab" class="ui-tabs-hide ui-tabs-panel">
            <ul class="ui-tabs-nav">
                <li><a href="#extras-tab"><span>Extra Values</span></a></li>
                <li><a id="changes-link" href="#changes-tab"><span>Changes</span></a></li>
                <li><a id="duplicates-link" href="#duplicates-tab"><span>Duplicates</span></a></li>
                <li><a id="user-link" href="#user-tab"><span>User</span></a></li>
            </ul>
            <div id="extras-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/ExtrasGrid/@p.PeopleId">
                </form>
            </div>
            <div id="changes-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/ChangesGrid/@p.PeopleId">
                </form>
            </div>
            <div id="duplicates-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/DuplicatesGrid/@p.PeopleId">
                </form>
            </div>
            <div id="user-tab" class="ui-tabs-hide ui-tabs-panel">
                <form action="/Person/UserInfoGrid/@p.PeopleId">
                </form>
            </div>
        </div>
}
    </div>
    <div id="dialogbox" title="Search People" style="width: 560px; overflow: scroll">
    </div>
    <div id="memberDialog">
    <iframe style="width:100%;height:99%;border-width:0px;"></iframe>
    </div>

<div id="newvalueform" style="display:none" class="roundbox">
    <table>
        <tr>
            <th colspan="2">
                <h2>New Extra Value</h2>
            </th>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <table><tr>
                    <td><input type="radio" id="typestring" name="typeval" value="string" checked="checked" /><label for="typestring">String</label></td>
                    <td><input type="radio" id="typetext" name="typeval" value="text" /><label for="typetext">Text</label></td>
                    <td><input type="radio" id="typedate" name="typeval" value="date" /><label for="typedate">Date</label></td>
                    <td><input type="radio" id="typeint" name="typeval" value="int" /><label for="typeint">Integer</label></td>
                </tr></table>
            </td>
        </tr>
<tr><th>Field:</th><td>@Html.TextBox("fieldname")</td></tr>
<tr><th>Value:</th><td>@Html.TextBox("fieldvalue")</td></tr>
    </table>
</div>

