@using UtilityExtensions
@using CmsData
@using CmsWeb
@model CmsData.User

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Index</title>
@Html.Css("/Content/jquery-ui-1.9.1.custom.css")
@Html.Css("/Content/Dialog.css")
@Html.Css("/Content/jquery.tooltip.css")
<style type="text/css">
.item
{
    float: left;
    width: 13.3em;
    margin: 0 2em 0 0;
    border-right: 1px solid #eee;
    padding: 0 0 5px 0;
}
</style>
</head>
<body>
<a class="helplink" target="_blank" href='@Util.HelpLink("UserUpdate")'>help</a>
<form class="DisplayEdit" action="">
<table class="Design2">
    <tr><td>Username:</td><td>@Html.TextBox("Username")</td></tr>
    <tr><td>Password:</td><td>@Html.TextBox("Password2")</td></tr>
    <tr><td>LockedOut:</td><td>@Html.CheckBox("IsLockedOut")</td></tr>
    <tr><td>Created:</td><td>@Model.CreationDate.FormatDateTm()</td></tr>
</table>
<hr />
<div class="wrapper">
@foreach (var r in DbUtil.Db.Roles.Select(ro => ro.RoleName).OrderBy(ro=> ro))
{ 
    <div class="item" >
       <input name="role" value="@r" class="ckbox" type="checkbox" @(Model.Roles.Any(ro => ro == r) ? "checked='checked'" : "") />
       <span>@r</span></div>
}
</div>
<div style="clear:both"></div>
<hr />
<a href="/Person/UserUpdate/@Model.UserId" class="submitbutton save">Save Changes</a>
<a href="/Person/UserWelcome/@Model.UserId" class="submitbutton save">Save Changes, Send Welcome Email</a>
<a id="deluser" href="/Person/UserDelete/@Model.UserId" class="submitbutton">Delete User</a>
</form>
@Html.Partial("CombinedJs")
@Html.Script("/Content/js/jquery.transpose.js")
@Html.Script("/Scripts/UserDialog.js")
</body>
</html>

