@using UtilityExtensions
@model CmsWeb.Areas.Main.Models.Other.VolunteerModel

<table class="grid" style="border-style: groove; border-width: thin;" >
    <tr>
        <th>Approvals:</th>
        <td>
            @foreach (var ck in Model.ApprovalList)
            {
                <input type="checkbox" @(ck.Approved ? "checked='checked'" : "") disabled="disabled"/>
                @ck.Description<br />
            }
        </td>
        <td>
@if (User.IsInRole("ApplicationReview"))
{ 
    @Html.ActionLink("Volunteer Application Review", "Index", "Volunteering", new { Id=Model.V.PeopleId }, null)
} 
        </td>
    </tr>
    <tr>
        <th>Background Check:</th>
        <td colspan="2">@Model.V.ProcessedDate.FormatDate()</td>
    </tr>
    @*
    <tr>
        <td class="top">Volunteer Opportunities</td>
        <td colspan="2">
@foreach (var vv in Model.VolOpportunities())
{
        <a href='/Volunteer/Picklist2?view=@vv&pid=@Model.vol.PeopleId' target="volunteerop">@vv</a><br />
}
     </td></tr>
*@
</table>