@model IEnumerable<CmsWeb.Areas.Setup.Controllers.LookupController.Row>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Lookups";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $(".clickEdit").editable("/Setup/Lookup/Edit/", {
                indicator: "<img src='/images/loading.gif'>",
                tooltip: "Click to edit...",
                style: 'display: inline',
                width: '200px',
                height: 25
            });
            $("a.delete").click(function(ev) {
                ev.preventDefault();
                if (confirm("are you sure?"))
                    $.post("/Setup/Lookup/Delete/" + $(this).attr("id"), { type: $('#type').val() }, function(ret) {
                        if (ret && ret.error)
                            alert(ret.error);
                        else
                            window.location = "/Setup/Lookup/Index/" + $('#type').val();
                    });
            });
            $(".bt").button();
        });
    </script>
}
<h2>@ViewData["type"]</h2>
<blockquote style="max-width:40em"><i>Click to edit the Code or Name. The items that cannot be deleted are expected to be there by the system. The description for those can be edited as long as the meaning is the same.</i></blockquote>
    <table class="grid">
        <tr>
            <th> Id </th>
            <th> Code </th>
            <th> Description </th>
            <th></th>
            <th></th>
        </tr>

@foreach (var item in Model)
{ 
        <tr>
            <td>@item.Id</td>
            <td>
            @if (item.Hardwired == true)
            {
                @item.Code   
            }
            else
            {
                <span id='c@(item.Id).@ViewData["type"]' class='clickEdit'>@item.Code</span>
            }
            </td>
            <td>
                <span id='t@(item.Id).@ViewData["type"]' class='clickEdit'>@item.Description</span>
            </td>
            <td>
            <td>
            @if (item.Hardwired == true)
            {
                <i>hardwired</i>
            }
            else
            {
                <a id='d@(item.Id)' href="#" class="delete"><img border="0" src="/images/delete.gif" /></a>
            }
            </td>
            <td>
                
            </td>
        </tr>
}
    </table>

@using (Html.BeginForm("Create", "Lookup"))
{ 
    @Html.Hidden("type", ViewData["type"])
    <p>
        New Id: <input type="text" name="pk" />
        <input type="submit" class="bt" value="Create" />
    </p>
} 