@model IEnumerable<CmsWeb.Areas.Manage.Controllers.EmailsController.MailFail>
@using UtilityExtensions
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>Failed Emails</h2>
    <table class="grid" cellpadding="5">
    @foreach(var e in Model)
    {
        <tr><td>@e.time.FormatDateTm()</td>
            <td><a href="/Person/Index/@e.peopleid">@e.name</a></td>
            <td><a href="/Manage/Emails/Details/@e.emailid">@e.subject</a></td>
            <td>@e.eventx</td>
            <td>@e.type</td>
            <td>@e.reason</td>
        </tr>
    }
    </table>
