@using CmsWeb;
@using UtilityExtensions;
@model CmsWeb.Models.EmailsModel
<div class="roundbox floatleft">
<h2>Emails</h2>
<table cellspacing="5">
<tr><td align="right">From:</td><td>@Html.TextBox("from")</td>
    <td align="right">SentById:</td><td>@Html.TextBox("senderid")
        @if(Model.senderid.HasValue) { <a href="/Person/Index/@Model.senderid">@Model.sender</a>}</td>
</tr>
<tr><td align="right">Subject:</td><td>@Html.TextBox("subject")</td>
    <td align="right">Body:</td><td>@Html.TextBox("body")</td>
</tr>
<tr><td align="right">Start Date:</td><td>@Html.DatePicker("startdt")</td>
    <td align="right">End Date:</td><td>@Html.DatePicker("enddt")</td>
</tr>
<tr><td align="right">RecipientId:</td><td>@Html.TextBox("peopleid") 
        @if(Model.peopleid.HasValue) { <a href="/Person/Index/@Model.peopleid">@Model.name</a>}</td>
    <td align="right">Transactional</td><td>@Html.CheckBox("transactional")</td></tr>
<tr><td align="right" colspan="4">
    <a href="#" class="submitbutton bt">Filter</a>
    <a href="/Manage/Emails" class="bt">Clear</a></td></tr>
</table>
</div>
<div class="floatclear"></div>
<table id="Emails" class="grid" cellpadding="4">
    <thead>
    <tr>
        <th></th>
        <th><a href="#" class="sortable">Sent/Scheduled</a></th>
        <th><a href="#" class="sortable">From</a></th>
        <th><a href="#" class="sortable">Name</a></th>
        <th><a href="#" class="sortable">Count</a></th>
        <th>Opened</th>
        <th><a href="#" class="sortable">Subject</a></th>
    </tr>
    </thead>
    <tbody>
@foreach (var i in Model.Emails()) {
    <tr>
        <td> </td>
        <td>
            @if(!i.queue.Sent.HasValue) {
                if(i.queue.SendWhen.HasValue) {
                    <span style="color:green" title="scheduled">@i.queue.SendWhen.FormatDate()</span>
                }
                else {
                    <span style="color:red" title="queued">@i.queue.Queued.FormatDateTm()</span>
                }
            }
            else {
                <span title="sent">@i.queue.Sent.FormatDateTm()</span>
            }
        </td>
        <td> <a href="/Manage/Emails/SentBy/@i.queue.QueuedBy">@i.queue.FromName</a> </td>
        <td> @i.queue.FromAddr </td>
        <td> @i.count </td>
        <td> @i.nuopens </td>
        <td>
            <a href="/Manage/Emails/Details/@i.queue.Id">@i.queue.Subject</a>
        </td>
    </tr>
}
    </tbody>
</table>
@{Html.RenderPartial("Pager2", Model.Pager);}
