@using CmsWeb
@using CmsData
@using UtilityExtensions
@helper SearchBuilderDropdown(bool onqb, bool newlook)
{
    <div class="dropdown-menu">
        <ul>
            @if (newlook && DbUtil.Db.UserPreference("advancedsearch", "false").ToBool())
            {
                <li>@AnchorLink("Last Search", "/Search/Advanced/Main")</li>
                <li>@AnchorLink("New Search", "/Search/Advanced/NewQuery")</li>
            }
            else
            {
                <li>@AnchorLink("Last Search", "/QueryBuilder/Main")</li>
                <li>@AnchorLink("New Search", "/QueryBuilder/NewQuery")</li>
                
            }
            <li><a href="/SavedQuery">Saved Searches</a></li>
            @if (onqb)
            {
                <li>@JQueryIdLink("Save Search As", "ShowSaveQuery")</li>
            }
        </ul>
    </div>
}
@helper AnchorLink(string text, string href, string target = null)
{
    if (target.HasValue())
    {
        <a href="@href" target="@target">@text</a>
    }
    else
    {
        <a href="@href">@text</a>
    }
}
@helper JQueryIdLink(string text, string id)
{
    <a id="@id" href="#">@text</a>
}
@helper JQueryIdLink(string text, string id, string data)
{
    <a id="@id" data-item="@data">@text</a>
}
@helper ButtonLink(string text, string href, string target = null)
{
    if (target.HasValue())
    {
        <a href="@href" target="@target">@text</a>
    }
    else
    {
        <a href="@href">@text</a>
    }
}