@using UtilityExtensions
@model IQueryable<CmsWeb.Areas.Main.Controllers.MeetingController.ttt>
@{
    ViewBag.Title = "Attendance By Groups";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<!DOCTYPE html>

<html>
	<head>
		<title>Attendance by Groups</title>
	</head>
	<body>
		<table cellpadding="5" class="grid">
			<thead>
				<tr><td>Attended</td><td>SmallGroup</td><td>Name</td></tr>
			</thead>
			<tbody>
@{
	var prev = "";
	var n = 0;
	foreach (var i in Model)
	{
		var next = i.Attended + i.SmallGroup;
		if (prev.HasValue() && prev != next)
		{
			<tr><td colspan="2" align="right">Total:</td><td>@n.ToString("N0")</td></tr>
            n = 0;
		}
        n++;
    		<tr><td>@i.Attended</td><td>@i.SmallGroup</td><td>@i.Name</td></tr>
		prev = next;
	}
}
			<tr><td colspan="2" align="right">Total:</td><td>@n.ToString("N0")</td></tr>
			</tbody> 
		</table>
	</body>
</html>