@using System.Web.Optimization
@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.MeetingModel
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script src="~/Scripts/meeting-ipad.js"></script>
</head>
<body>
    @Html.Hidden("meetingid", Model.meeting.MeetingId)
    <div data-role="page" id="head">
        <div data-role="header" data-position="fixed" class="ui-bar ui-grid-b">
            <div class="ui-bar" style="width:90%">
                <fieldset data-role="controlgroup" data-type="horizontal" >
                    <input type="radio" name="abcs2" id="all" checked="checked" value="all"  />
                 	<label for="all">all</label>
        @for (var i = 0; i < 26; i++)
        {
            var let = (char)((int)'A' + i);
                    <input type="radio" name="abcs2" id="r.@let" value="@let"  />
                 	<label for="r.@let">@let</label>
        }
                    <input type="radio" name="abcs2" id="back" value="back"  />
                 	<label for="back">back</label>
                    <input type="radio" name="abcs2" id="refresh" value="refresh"  />
                 	<label for="refresh">refresh</label>
                </fieldset>
            </div>
        </div>
        <div data-role="content">
            @{var inAttendanceRole = User.IsInRole("Attendance");}
            @foreach (var a in Model.Attends(true))
            {
            <div class="@(inAttendanceRole ? "ckline" : "na") @a.Name[0]">
                <input type="checkbox" id="a.@a.PeopleId" @(a.Attended ? "checked=checked" : "") />
                <label for="a.@a.PeopleId">
                <div class="ui-grid-a">
                	<div class="ui-block-a">@a.Name</div>
                	<div class="ui-block-b">@a.Email</div>
                </div>
                </label>
            </div>
            }
        </div>
    </div>
    <div data-role="page" id="abcsdialog" data-theme="b" data-content-theme="a">
        <div class="ui-grid-d">
            <div class="ui-block-a">
                <div class="ui-bar">
                    <a href="#" data-roll="button" style="width:90%">All</a>
                </div>
            </div>
        @for (var i = 0; i < 26; i++)
        {
            var let = (char)((int)'A' + i);
            var cell = (char)((int)'a' + i % 5);
        	<div class="ui-block-@cell"><div class="ui-bar"><a href="#" data-roll="button" style="width:90%">@let</a></div></div>
        }
        </div>
    </div>
</body>
</html>
