@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.PostBundleModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "PostBundle";
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("PostBundle");
}
@section head 
{
    <style type="text/css">
        td.PLNT {
            font-style: italic;
            font-weight: bold;
            text-align: center;
        }

        table.roundbox th {
            text-align: right;
            white-space: nowrap;
        }

        table.roundbox td {
            white-space: nowrap;
            padding: .2em .7em;
        }

        #headerrow td {
            font-weight: bold;
            text-align: left;
        }

        td.notes {
            max-width: 25em;
        }
    </style>
}
@Html.Hidden("fundid", Model.bundle.FundId)
@Html.Hidden("fundispledge", Model.FundName)
@{ var b = Model.bundle; }
<form id='pbform' action='/PostBundle/InsertRow' method="post">
    <table>
        <tr>
            <td>

                <table class="roundbox">
                    <thead>
                        <tr>
                            <td colspan="2">
                                <h2>Post Bundle / Edit</h2>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>BundleId:</th>
                            <td><a class="bt" href="/Bundle/Index/@Model.id">@Model.id@Html.Hidden("id")</a></td>
                        </tr>
                        <tr>
                            <th>Contribution Date:</th>
                            <td>@Model.bundle.ContributionDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <th>Default Fund:</th>
                            <td><a target="_blank" href='/PostBundle/FundTotals/@Model.id'>@Model.FundName (@Model.bundle.FundId)</a></td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>@((b.TotalCash + b.TotalChecks + b.TotalEnvelopes).ToString2("N2"))</td>
                        </tr>
                        <tr>
                            <th>Total Items:</th>
                            <td><span id="totalitems">@b.BundleDetails.Sum(bd => bd.Contribution.ContributionAmount).ToString2("N2")</span></td>
                        </tr>
                        <tr>
                            <th>Item Count:</th>
                            <td><span id="itemcount">@b.BundleDetails.Count()</span></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="right">
                                @Html.RadioButton("PLNT", "CN")Tax Deductible 
                    @Html.RadioButton("PLNT", "PL")Pledge 
                    @Html.RadioButton("PLNT", "NT")Non Tax Ded 
                    @Html.RadioButton("PLNT", "GK")Gift In Kind
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <div style="border: 1px dotted red; margin-left: 2em; padding: 1em;font-style: italic;width: 24em">
                    <b>Please note:</b> the name search dropdown has changed to work like the Quick Search box up in the header.
                    You now search by last only, or first[space]last (partial names work), or a 7 digit phone number, or a peopleid.
                    GoesBy and Maiden names work too.
                </div>
            </td>
        </tr>
    </table>
    @Html.Hidden("id")
    @Html.Hidden("editid")
    <table id='bundle'>
        <thead>
            <tr id="headerrow">
                <td>PeopleId</td>
                <td>Name</td>
                <td style="text-align: center">Amount</td>
                <td style="text-align: center" class="tip" title="Indicator|Pledge|Non Tax Deductible">PL/NT</td>
                <td>Fund(s)</td>
                <td>CheckNo</td>
                <td>Notes</td>
                <td colspan="3"></td>
            </tr>
            <tr id="entry">
                <td>
                    <input id="pid" name="pid" type="text" style="width: 5em;" /></td>
                <td>
                    <input id="name" name="name" type="text" style="width: 10em" /></td>
                <td>
                    <input id="amt" name="amt" type="text" style="width: 5em" /></td>
                <td class="PLNT">@Model.PLNT</td>
                <td>@Html.DropDownList("fund", Model.Funds(), new { style = "width:15em" })</td>
                <td>
                    <input id="checkno" name="checkno" type="text" style="width: 4em" /></td>
                <td>
                    <input id="notes" name="notes" type="text" style="width: 98%; min-width: 15em;" /></td>
                <td colspan="3"><a class="update bt blue" href='#'>update</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.FetchContributions())
            { 
                @Html.Partial("Row", c)
            }
        </tbody>
    </table>
</form>
<div id="searchDialog">
    <iframe style="width: 100%; height: 99%; border-width: 0px;"></iframe>
</div>



