@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.PostBundleModel.ContributionInfo
<tr cid="@Model.ContributionId">
	<td><a href="/SearchAdd/Index/@Model.ContributionId?type=contributor" class="pid">
		@(Model.PeopleId == null? "select" : Model.PeopleId.ToString())</a>
    </td>
    <td class="name" title="@Model.tip">@Model.Name</td>
    <td class="amt" val="@Model.Amt" align="right">
        <span id='a@(Model.ContributionId)' class='clickEdit'>@Model.AmtDisplay</span>            
    </td>
    <td class="PLNT">@Model.PLNT</td>
    <td class="fund" val="@Model.FundId">
        <span id='f@(Model.ContributionId)' 
            class='clickSelect'>@Model.FundDisplay</span>
    </td>
    <td class="checkno">@Model.CheckNo</td>
    <td class="notes">@Model.Notes</td>
    <td><small><a class="edit bt" href='#'>edit</a></small></td>
    <td><small><a class="split bt" href='#'>split</a></small></td>
	<td><a class="delete" href='#'><img src="/images/delete.gif"/></a></td>
</tr>
