@using System.Web.Optimization
@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.PersonPage.FamilyModel
@{
    ViewBag.Title = "Family";
    Layout = "/Views/Shared/SiteLayout.cshtml";
}
@section head
{
<style type="text/css">
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
}

@section scripts
{
    @Scripts.Render("~/bundles/single/family-js")
}
@Html.Hidden("FamilyId", Model.familyid)
<table class="roundbox" cellspacing="5">
    <tr><td><h2>The @((Model.Family.HeadOfHousehold ?? Model.Family.People.First()).Name) Family</h2></td></tr>
    <tr><td>
        <table cellspacing="5">
        <tr><td>
            <a href="http://www.google.com/maps?q=@Model.Family.AddrCityStateZip" target="_blank">
                    @Model.Family.AddressLineOne</a>
            <span style="color:Red">@(Model.Family.BadAddressFlag == true ? "bad address" : "")</span>
        </td></tr>
@if (Model.Family.AddressLineTwo.HasValue())
{ 
        <tr><td>
                <a href="http://www.google.com/maps?q=@Model.Family.AddrCityStateZip"
                    target="_blank">@Model.Family.AddressLineTwo</a>
        </td></tr>
}
        <tr><td> @Model.Family.CityStateZip </td></tr>
        <tr><td> @Model.Family.HomePhone.FmtFone() </td></tr>
        </table>
    </td></tr>
    <tr><td>
        <h2>Members</h2>
        <table cellspacing="5">
        <tr><th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Member Status</th>
            <th></th>
        </tr>
@foreach(var m in Model.Members())
{
        <tr>
            <td><a href="/Person/Index/@m.PeopleId">@m.Name</a></td>
            <td><span id="p.@m.PeopleId" class="clickSelect @(m.Deceased?"red":"")">@m.FamilyPosition</span></td>
            <td>@m.Age</td>
            <td>@m.MemberStatus</td>
            <td><a class="split" href="/Family/Split/@m.PeopleId" confirm="Are you sure you want to remove member and create a new Family? Clicking Ok will take you to the new Family.">split</a></td>
        </tr>
}
        </table>
    </td></tr>
    <tr><td class="right">
        <a href="/Family/QuerySearch/@Model.familyid" class="bt">Convert to Search</a>
        <a id="AddMembers2" title="Add Family Member" href="/SearchAdd/Index/@Model.familyid?type=family" class="bt">Add Member(s)</a>
        </td>
    </tr>
    <tr><td colspan="2">
        <h2>Family Relations</h2>
        <table cellspacing="5">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
@foreach (var r in Model.RelatedFamilies())
{
        <tr>
            <td><a href="/Person/Index/@r.PeopleId">@r.Name</a></td>
            <td><span id="e.@r.Id1.@r.Id2" class="clickEdit">@Html.Raw(r.Description)</span></td>
            <td><a id="d.@r.Id1.@r.Id2.@r.Id" href="#" confirm="Are you sure?" class="delete">delete</a></td>
        </tr>
}
        </table>
    </td></tr>
    <tr><td class="right">
        <a id="AddRelatedFamily2" title="Add related family" href="/SearchAdd/Index/@Model.familyid?type=relatedfamily" class="bt">Add Related Family</a>
        </td>
    </tr>
</table>
@Html.Partial("ExtrasGrid", Model.Family)
<div id="memberDialog" style="display:none">
<iframe id="memberDialogiframe" style="width:100%;height:99%;border-size:0px;"></iframe>
</div>
<div id="newvalueform" style="display:none" class="roundbox">
    <table>
        <tr>
            <th colspan="2">
                <h2>New Extra Value</h2>
            </th>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <table><tr>
                    <td><input type="radio" id="typestring" name="typeval" value="string" checked="checked" /><label for="typestring">Code</label></td>
                    <td><input type="radio" id="typetext" name="typeval" value="text" /><label for="typetext">Text</label></td>
                    <td><input type="radio" id="typedate" name="typeval" value="date" /><label for="typedate">Date</label></td>
                    <td><input type="radio" id="typeint" name="typeval" value="int" /><label for="typeint">Integer</label></td>
                </tr></table>
            </td>
        </tr>
<tr><th>Field:</th><td>@Html.TextBox("fieldname")</td></tr>
<tr><th>Value:</th><td>@Html.TextBox("fieldvalue")</td></tr>
    </table>
</div>