@using UtilityExtensions
@model CmsWeb.Models.PersonPage.FamilyModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
    <script src="/Content/js/jquery.jeditable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".clickSelect").editable("/Family/EditPosition/", {
                indicator: '<img src="/images/loading.gif">',
                loadurl: "/Family/PositionCodes/",
                loadtype: "POST",
                type: "select",
                submit: "OK",
                style: 'display: inline'
            });
            $(".clickEdit").editable("/Family/EditRelation/", {
                indicator: "<img src='/images/loading.gif'>",
                tooltip: "Click to edit...",
                style: 'display: inline',
                width: '400px',
                height: 25
            });

            $(".bt").button();
            $('#memberDialog').dialog({
                title: 'Add Members Dialog',
                bgiframe: true,
                autoOpen: false,
                width: 700,
                height: 600,
                modal: true,
                overlay: {
                    opacity: 0.5,
                    background: "black"
                }, close: function () {
                    $('iframe', this).attr("src", "");
                }
            });
            $('#AddMembers2,#AddRelatedFamily2').live("click", function (e) {
                e.preventDefault();
                var d = $('#memberDialog');
                $('iframe', d).attr("src", this.href);
                d.dialog("option", "title", this.title);
                d.dialog("open");
            });
            $("a.delete").click(function (ev) {
                ev.preventDefault();
                if (confirm("are you sure?"))
                    $.post("/Family/DeleteRelation/" + $(this).attr("id"), null, function (ret) {
                        window.location.reload(true);
                    });
                return false;
            });
            $("a.split").click(function (ev) {
                ev.preventDefault();
                if (confirm("are you sure?"))
                    $.post($(this).attr("href"), null, function (ret) {
                        window.location = ret;
                    });
                return false;
            });
        });
       function AddSelected() {
           $('#memberDialog').dialog("close");
           window.location.reload(true);
        }

</script>
<table class="roundbox" cellspacing="5">
    <tr><td><h2>The @Model.Family.HeadOfHousehold.Name Family</h2></td></tr>
    <tr><td>
        <table cellspacing="5">
        <tr><td>
            <a href="http://www.google.com/maps?q=@Model.Family.AddrCityStateZip" target="_blank">
                    @Model.Family.AddressLineOne</a>
            <span style="color:Red">@(Model.Family.BadAddressFlag == true ? "bad address" : "")</span>
        </td></tr>
@if (Model.Family.AddressLineTwo.HasValue())
{ 
        <tr><td>
                <a href="http://www.google.com/maps?q=@Model.Family.AddrCityStateZip"
                    target="_blank">@Model.Family.AddressLineTwo</a>
        </td></tr>
}
        <tr><td> @Model.Family.CityStateZip </td></tr>
        <tr><td> @Model.Family.HomePhone.FmtFone() </td></tr>
        </table>
    </td></tr>
    <tr><td>
        <h2>Members</h2>
        <table cellspacing="5">
        <tr><th>Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Member Status</th>
            <th>Deceased</th>
        </tr>
@foreach(var m in Model.Members())
{
        <tr>
            <td><a href="/Person/Index/@m.PeopleId">@m.Name</a></td>
            <td><span id="p.@m.PeopleId" class="clickSelect">@m.FamilyPosition</span></td>
            <td>@m.Age</td>
            <td>@m.MemberStatus</td>
            <td>@m.Deceased</td>
            <td><a class="split" href="/Family/Split/@m.PeopleId" confirm="Are you sure you want to remove member and create a new Family? Clicking Ok will take you to the new Family.">split</a></td>
        </tr>
}
        </table>
    </td></tr>
    <tr><td align="right">
        <a href="/Family/QuerySearch/@Model.familyid" class="bt">Convert to Query</a>
        <a id="AddMembers2" title="Add Family Member" href="/SearchAdd/Index/@Model.familyid?type=family" class="bt">Add Member(s)</a>
        </td>
    </tr>
    <tr><td colspan="2">
        <h2>Family Relations</h2>
        <table cellspacing="5">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
@foreach (var r in Model.RelatedFamilies())
{
        <tr>
            <td><a href="/Person/Index/@r.PeopleId">@r.Name</a></td>
            <td><span id="e.@r.Id1.@r.Id2" class="clickEdit">@Html.Raw(r.Description)</span></td>
            <td><a id="d.@r.Id1.@r.Id2.@r.Id" href="#" confirm="Are you sure?" class="delete">delete</a></td>
        </tr>
}
        </table>
    </td></tr>
    <tr><td align="right">
        <a id="AddRelatedFamily2" title="Add related family" href="/SearchAdd/Index/@Model.familyid?type=relatedfamily" class="bt">Add Related Family</a>
        </td>
    </tr>
</table>
<div id="memberDialog">
<iframe id="memberDialogiframe" style="width:100%;height:99%;border-size:0px;"></iframe>
</div>
