@model CmsWeb.Models.PersonPage.DuplicatesModel
<table class="grid" cellpadding="3">
<thead>
    <tr>
        <th class="left top">First<br />Nick<br />Middle</th>
        <th class="left top">Last<br />Maiden</th>
        <th class="left top">BirthDay</th>
        <th class="left top">Email<br />Member Status</th>
        <th class="left top">FamAddr<br />PerAddr</th>
    </tr>
</thead>
<tbody>
@{  var list = Model.person.PossibleDuplicates2(); }
    <tr><td colspan="9"><span style="font-weight:bold">this person</span></td></tr>
      @Html.Partial("DuplicateRow", list[0])  
    <tr><td colspan="9"><span style="font-weight:bold">Last and 3 of (first, email, bday, phone, addr)</span></td></tr>
@foreach (var d in Model.person.PossibleDuplicates()) {
        @Html.Partial("DuplicateRow", d) }
    <tr><td colspan="9"><span style="font-weight:bold">first and partial birthday</span></td></tr>
@foreach (var d in list.Where(d => d.s1 == true)) {
        @Html.Partial("DuplicateRow", d)  }
    <tr><td colspan="9"><span style="font-weight:bold">first and birthday</span></td></tr>
@foreach (var d in list.Where(d => d.s2 == true)) {
        @Html.Partial("DuplicateRow", d)  }
    <tr><td colspan="9"><span style="font-weight:bold">first and last and no birthday</span></td></tr>
@foreach (var d in list.Where(d => d.s3 == true)) {
        @Html.Partial("DuplicateRow", d)  }
    <tr><td colspan="9"><span style="font-weight:bold">first and address</span></td></tr>
@foreach (var d in list.Where(d => d.s4 == true)) {
        @Html.Partial("DuplicateRow", d)  }
    <tr><td colspan="9"><span style="font-weight:bold">first and email</span></td></tr>
@foreach (var d in list.Where(d => d.s5 == true)) {
        @Html.Partial("DuplicateRow", d)  }
    <tr><td colspan="9"><span style="font-weight:bold">last and birthday</span></td></tr>
@foreach (var d in list.Where(d => d.s6 == true)) {
        @Html.Partial("DuplicateRow", d) }
</tbody>
</table>
