@using UtilityExtensions
@model CmsWeb.Models.MemberDirectoryModel
<table id="results" class="grid">
<thead>
    <tr><td colspan="6">
Count: @Model.Count().ToString("n0") @(Model.Sort == "Birthday" ? "people" : "families")
 @Html.Partial("Pager2", Model) 
    </td></tr>
    <tr>
        <th><a href="#" class="sortable">Family</a></th>
        <th>Name</th>
        <th><a href="#" class="sortable">Birthday</a></th>
        <th>Address</th>
        <th>Phones</th>
        <th>Email</th>
    </tr>
</thead>
    <tbody>
        @{ 
            var fid = 0;
            var alt = "alt";
        }
        @foreach (var m in Model.MemberList())
        {
            if (fid != m.FamilyId)
            {
                alt = (alt == "alt" ? "" : "alt");
                fid = m.FamilyId;
            }    
    
            <tr class="@alt">
                <td>@m.Family</td>
                <td>@(m.Name + (m.Suffix.HasValue() ? ", " + m.Suffix : ""))</td>
                <td>@m.Birthday</td>
                <td>
                    @Model.AddDiv(m.Address)
                    @Model.AddDiv(m.Address2)
                    @Model.AddDiv(m.CityStateZip)
                </td>
                <td>
                    @if (m.DoNotPublishPhones != true)
                    {
                        @Model.AddDiv(m.Home)
                        @Model.AddDiv(m.Cell)
                    }
                </td>
                <td>
                    @Model.AddEmailDiv(m.Email)
                    @Model.AddEmailDiv(m.Email2)
                </td>
            </tr>
        }
    </tbody>
<tfoot>
    <tr><td colspan="6">
 @Html.Partial("Pager2", Model) 
    </td></tr>
</tfoot>
</table>
