@using CmsData;
@using CmsWeb.Areas.Manage.Controllers;
@model CmsWeb.Areas.Main.Models.MassEmailer

@{
	ViewBag.Title = "Compose";
	Layout = "~/Views/Shared/SiteLayout.cshtml";
	int tID = ViewBag.templateID;

	var t = from e in DbUtil.Db.Contents
			  where e.Id == tID
			  select e;
	var c = t.FirstOrDefault();
}

<h2 style="margin-bottom:5px;">Compose e-Mail for @Model.Count @( Model.Count > 1 ? "People" : "Person") @( ViewBag.parents ? " including Parents" : "")</h2>
<font color="red"><b>NOTE:</b></font> Your recipient list will change if use another tab in your browser to visit another organization or person or run another query.<br />
<br />
<form id="SendEmail" method="post">
	@Html.Hidden("QBId")
   @Html.Hidden("Host")
   @Html.Hidden("CmsHost")
   @Html.Hidden("Count", Model.Count)
   @Html.Hidden("wantParents", Model.wantParents)
	@Html.Hidden("roleid", c.RoleID)
	<input type="hidden" name="saveid" value="@(c.TypeID == DisplayController.TYPE_EMAIL_TEMPLATE ? 0 : c.Id )" />
	<input type="hidden" id="body" name="body" />
	<input type="hidden" id="name" name="name" value="@c.Name" />

	<table cellspacing="10">
	<tr>
		<td colspan="3">
			From: @Html.DropDownList("FromAddress", Model.EmailFroms())
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<label>Subject:</label>
			<input name="Subject" size="75" value="@(c.TypeID == DisplayController.TYPE_EMAIL_TEMPLATE ? "" : c.Title)" /> &nbsp;&nbsp @Html.CheckBox("PublicViewable") Publicly viewable?
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="tempateBody">
				@Html.Raw(c.Body)
			</div>
		</td>
	</tr>
	<tr>
		<td width="33%" valign="top">
			<input type="button" id="TestSend" class="bt" value="Test (Send To Yourself)" />
		</td>
		<td width="33%" valign="top" align="center">
			<input type="button" id="SaveDraft" class="bt" savetype="@( c.TypeID == DisplayController.TYPE_EMAIL_TEMPLATE ? 0 : 1 )" value="@( c.TypeID == DisplayController.TYPE_EMAIL_TEMPLATE ? "Save As Draft" : "Save Current Draft" )" />
		</td>
		<td width="33%" align="right">
			<input type="button" id="Send" value="Send" class="bt" /><br />
			<br />
			@if( c.TypeID == DisplayController.TYPE_SAVED_DRAFT ) {
				@:Keep Draft:<input type="checkbox" name="keepdraft" /><br />
			}
			@if ((User.IsInRole("ScheduleEmails") || User.IsInRole("Edit")) && System.Web.Configuration.WebConfigurationManager.AppSettings["UseEmailScheduler"] == "true")
			{ 
				@:Scheduled Date and Time (Optional)<br />
				@:(mm/dd/yy h:mm AM|PM)<br />
				@Html.TextBox("Schedule", Model.Schedule, new { style = "width:120px" })<br />
				@:<font color="red">Note</font>: Time is Central Time
			}
		</td>
	</tr>
	</table>
</form>
<!-- public ActionResult SaveDraft( int queryid, bool parents, int saveid, string newName, string subject, string body, int roleid ) -->
<div id="progress">
<h2>Working...</h2>
</div>
<div id="popupeditor">
	<form action="javascript:updateDiv();">
		<textarea id="htmleditor"></textarea>
		<input type="submit" value="Save" />
	</form>
</div>
<div id="askName" style="display:none">
	<br />
	<center>
	<b>Save Draft</b>
	<form action="javascript:void(0);" onsubmit="javascript:$('#SaveDraftButton').click()">
	<table cellspacing="10">
	<tr>
		<td align="right">FileName:</td>
		<td align="left"><input id="newName" name="newName" size="25" /></td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<input id="SaveDraftButton" type="button" class="bt" value="Submit" /> &nbsp;&nbsp; <input type="button" class="bt" onclick="$('#askName').dialog('close')" value="Cancel" />
		</td>
	</tr>
	</table>
	</form>
	</center>
	<br />
</div>
@section head
{
	<style>
		div.ti { border: #0000ff dashed 1px; min-height:20px }
		div.ti:hover { background:#eeeeff; }
	</style>
}

@section scripts
{
	<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
	<script src="/Content/js/jquery-ui-dialog-patch.js" type="text/javascript"></script>
	<script>
		CKEDITOR.config.jqueryOverrideVal = true;
		CKEDITOR.config.fullPage = false;
		CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
	</script>
	<script src="/ckeditor/adapters/jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		var currentDiv = null;
		var editor_large = { autoParagraph: false, filebrowserUploadUrl: '/Account/CKEditorUpload/', filebrowserImageUploadUrl: '/Account/CKEditorUpload/',
			toolbar_Full: [
					['Save'], ['Source'],
					['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'SpellChecker', 'Scayt'],
					['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat'],
					'/',
					['Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript', 'Superscript'],
					['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote', 'CreateDiv'],
					['JustifyLeft', 'JustifyCenter', 'JustifyRight'],
					['Link', 'Unlink', 'Anchor'],
					['Image', 'Table', 'SpecialChar'],
					'/',
					['Styles', 'Format', 'Font', 'FontSize'],
					['TextColor', 'BGColor'],
					['Maximize', 'ShowBlocks', '-', 'About']
					]
		};

		$(document).ready(
			function () {
				$('div[bvedit]').bind('click', hClick).addClass("ti");
				$('#htmleditor').ckeditor(editor_large);
			}
		);

		$("#progress").dialog(
			{ autoOpen: false, modal: true, close: function () {
				$('#progress').html("<h2>Working...</h2>");
			}
			});

		$("#popupeditor").dialog({ autoOpen: false, modal: true, closeOnEscape: true, title: "Edit Template Section", minWidth: 600, minHeight: 400 });
		$("#askName").dialog({ autoOpen: false, modal: true, closeOnEscape: true, title: "Save Draft", resizable: false, width: 'auto' });

		$("#Send").click(function () {
			var d = $("#progress");
			d.dialog('open');

			$('#body').val($("#tempateBody").html());
			var q = $("#SendEmail").serialize();

			$.post('/Email/QueueEmails', q, function (ret) {
				if (ret == "timeout") {
					window.location = "/Email/Timeout";
					return;
				}
				var taskid = ret.id;
				if (taskid == 0) {
					d.html(ret.content);
				}
				else {
					var intervalid = window.setInterval(function () {
						$.post('/Email/TaskProgress/' + taskid, null, function (ret) {
							if (ret.substr(0, 20).indexOf('<!--completed-->') >= 0)
								window.clearInterval(intervalid);
							d.html(ret);
						});
					}, 3000);
				}
			});
		});

		$("#SaveDraft").click(function () {
			if ($(this).attr("saveType") == "0") {
				var d = $("#askName");
				d.dialog('open');
			}
			else {
				$("div[bvedit]").removeClass();
				$("#body").val($("#tempateBody").html());
				$("#name").val($("#newName").val());
				$("div[bvedit]").addClass("ti");

				$("#SendEmail").attr("action", "/Email/SaveDraft");
				$("#SendEmail").submit();
			}
		});

		$("#SaveDraftButton").click(function () {
			$("div[bvedit]").removeClass();
			$("#body").val($("#tempateBody").html());
			$("#name").val($("#newName").val());
			$("div[bvedit]").addClass("ti");

			$("#SendEmail").attr("action", "/Email/SaveDraft");
			$("#SendEmail").submit();
		});

		$("#TestSend").click(function () {
			var d = $("#progress");
			d.dialog('open');

			$("div[bvedit]").removeClass();
			$("#body").val($("#tempateBody").html());
			$("div[bvedit]").addClass("ti");
			var q = $("#SendEmail").serialize();

			$.post('/Email/TestEmail', q, function (ret) {
				if (ret == "timeout") {
					window.location = "/Email/Timeout";
					return;
				}
				d.html(ret);
			});
		});

		function hClick(e) {
			currentDiv = this;
			$('#htmleditor').ckeditorGet().setData($(this).html());
			$('#popupeditor').dialog("open");
		}

		function updateDiv() {
			$(currentDiv).html($('#htmleditor').ckeditorGet().getData());
			$('#popupeditor').dialog("close");
		}

		CKEDITOR.on('dialogDefinition', function (ev) {
			var dialogName = ev.data.name;
			var dialogDefinition = ev.data.definition;
			if (dialogName == 'link') {
				var advancedTab = dialogDefinition.getContents('advanced');
				advancedTab.label = "SpecialLinks";
				advancedTab.remove('advCSSClasses');
				advancedTab.remove('advCharset');
				advancedTab.remove('advContentType');
				advancedTab.remove('advStyles');
				advancedTab.remove('advAccessKey');
				advancedTab.remove('advName');
				advancedTab.remove('advLangCode');
				advancedTab.remove('advTabIndex');

				var relField = advancedTab.get('advRel');
				relField.label = "SmallGroup";
				var titleField = advancedTab.get('advTitle');
				titleField.label = "Message";
				var idField = advancedTab.get('advId');
				idField.label = "OrgId/MeetingId";
				var langdirField = advancedTab.get('advLangDir');
				langdirField.label = "Confirmation";
				langdirField.items[1][0] = "Yes, send confirmation";
				langdirField.items[2][0] = "No, do not send confirmation";
			}
		});
		</script>
}