@model CmsWeb.Areas.Main.Models.MassEmailer
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Email";
}
@section head 
{
<style type="text/css">
fieldset label {
    display: block;
}
</style>
}
<div>
<span class="style1">Please Note</span>: 
You can include a file, image, mp3 or whatever you like in your email. 
<a href="http://www.bvcms.com/Doc/EmailFileUpload">Read this article for instructions</a>.
@using (Html.BeginForm("QueueEmails", "Email"))
{ 
   <div>
   <fieldset>
   @Html.Hidden("QBId")
   @Html.Hidden("Host")
   @Html.Hidden("CmsHost")
   @Html.Hidden("Count", Model.Count)
   @Html.Hidden("wantParents", Model.wantParents)
   <p>Number of Emails: @Model.Count @ViewData["parentsof"]</p>
   <p>
        <input type="button" id="Send" value="Send" class="bt" style="width:62px;height: 42px" />
        @if (User.IsInRole("Edit") && System.Web.Configuration.WebConfigurationManager.AppSettings["UseEmailScheduler"] == "true")
        { 
        @:Scheduled Date and Time (mm/dd/yy h:mm AM|PM)@Html.TextBox("Schedule", Model.Schedule, new { style = "width:120px" }) (Optional, note: this is Central Time)</p>
        } 
   <p>From: @Html.DropDownList("FromAddress", Model.EmailFroms())
    <input type="button" id="TestSend" class="bt" value="Test (Send To Yourself)" />
    &nbsp;&nbsp;Should this email be publicly viewable? 
    @Html.CheckBox("PublicViewable")
    </p>
    <p><label>Subject:</label>
    @Html.TextBox("Subject", Model.Subject, new { style = "width:90%" })
    </p>
    <p><label>Body:</label>
    @Html.TextArea("Body", Model.Body, new { @class = "editor", rows="16", cols="20" })
    </p>
    </fieldset>
    </div>
} 
@using (Html.BeginForm("VoteTag", "Email"))
{ 
    <h4>VoteTag</h4>
    <table>
      <tr><td>OrgId:</td><td>@Html.TextBox("orgid")</td></tr>
      <tr><td>Confirm:</td><td>@Html.CheckBox("confirm")</td></tr>
      <tr><td>SmallGroup:</td><td>@Html.TextBox("smallgroup")</td></tr>
      <tr><td>Message:</td><td>@Html.TextBox("message")</td></tr>
      <tr><td>Text:</td><td>@Html.TextBox("text")</td></tr>
    </table>
    @Html.TextArea("votetagcontent", new { @class = "smalleditor", rows = 4 })
    <input type="button" id="CreateVoteTag" class="bt" value="Create VoteTag" />
    <pre id="VoteTag">
    </pre>
}
</div>
<script src="/Scripts/Email.js?v=2" type="text/javascript"></script>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="/scripts/Edit.js"></script>
<div id="progress">
<h2>Working...</h2>
</div>