@model CmsWeb.Areas.Main.Models.MassEmailer
@using System.Web.Optimization
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Email";
}
@section head 
{
<style type="text/css">
fieldset label {
    display: block;
}
</style>
}
@section scripts
{
    <script src="/ckeditor/ckeditor.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/edit-js")
    @Scripts.Render("~/bundles/single/email-js")
}
<div>
<span class="style1">Please Note</span>: 
You can include a file, image, mp3 or whatever you like in your email. 
<a href="http://www.bvcms.com/Doc/EmailFileUpload">Read this article for instructions</a>.
@using (Html.BeginForm("QueueEmails", "Email"))
{
   <div>
   <fieldset>
   @Html.Hidden("QBId")
   @Html.Hidden("Host")
   @Html.Hidden("CmsHost")
   @Html.Hidden("Count", Model.Count)
   @Html.Hidden("wantParents", Model.wantParents)
   	<p>Number of Emails: @Model.Count @ViewData["parentsof"] 
		<em style="display:inline-block"><span style="color: blue;font-size: 120%;">Please Note</span>: 
        Your recipient list will change if use another tab in your browser to visit another organization or person or run another query.</em></p>
   <p>
        <input type="button" id="Send" value="Send" class="bt" style="width:62px;height: 42px" />
        @if ((User.IsInRole("ScheduleEmails") || User.IsInRole("Edit")) && System.Web.Configuration.WebConfigurationManager.AppSettings["UseEmailScheduler"] == "true")
        { 
        @:Scheduled Date and Time (mm/dd/yy h:mm AM|PM)@Html.TextBox("Schedule", Model.Schedule, new { style = "width:120px" }) (Optional, note: this is Central Time)</p>
        } 
   <p>From: @Html.DropDownList("FromAddress", Model.EmailFroms())
    <input type="button" id="TestSend" class="bt" value="Test (Send To Yourself)" />
    &nbsp;&nbsp;Should this email be publicly viewable? 
    @Html.CheckBox("PublicViewable")
    </p>
    <p><label>Subject:</label>
    @Html.TextBox("Subject", Model.Subject, new { style = "width:90%" })
    </p>
    <p><label>Body:</label>
    @Html.TextArea("Body", Model.Body, new { @class = "editor", rows="16", cols="20" })
    </p>
    </fieldset>
    </div>
} 
    <h4>VoteTag</h4>
    <p>You can now use votelinks and votetags by highlighting any of your text or an image, 
    and then clicking on the hyperlink icon in the toolbar (looks like the world with a chain link). 
    Then put the word votelink in the URL field and fill out the Special Links tab.</p>
</div>
<div id="progress">
<h2>Working...</h2>
</div>