@using CmsWeb
@using UtilityExtensions
@model CmsWeb.Areas.Main.Models.EmailTemplatesModel
@{
    ViewBag.Title = "SelectTemplate";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
	 const int WRAP_COUNT = 3;
	 var wrapAt = WRAP_COUNT;
}
@section scripts
{
    <script type="text/javascript">
	     $(document).ready(function () {
	         $("body").on("click", '[bvtemplate]', function (e) {
	             $("#templateID").val($(this).attr("template"));
	             $("#selectTemplate").submit();
	         });
	     });
	</script>
}
@section head {
	<style type="text/css">
		div.templateItem { width:100px; height:150px; border:1px solid black; overflow:hidden; margin:auto; }
		div.templateItem:hover { border-color:#0000ff; }
	</style>
}
<h2>Select An Email Option</h2>
<table width="100%" cellspacing="10">
<tr>
	<td width="20%" class="top">

		<center>
		<b>Use Blank</b>
		<hr />
		<table width="100%" cellspacing="20">
		<tr>
			<td class="center">
				Blank<br />
				<div bvtemplate class="templateItem" template="0">
                    <img alt="portrait" border="0" width="100" height="150" src="/Image.aspx?id=0" />
				</div>
				<br />
				<font color="blue"><b>Use this option to compose an email in the old way.</b></font>
			</td>
		</tr>
		</table>
		</center>

	</td>
	<td width="50%" class="top">

		<center>
		<b>Use a Template</b>
		<hr />
		</center>
	    <form id="selectTemplate" action="/Email/Index/@Model.queryid" method="post">
	        @Html.Hidden("templateID", "0")
	        @Html.Hidden("parents", @Model.wantparents)
	    </form>
		<table width="100%" cellspacing="20">
		<tr>
		@foreach (var t in Model.fetchTemplates())
		{
			<td width="@( 100/WRAP_COUNT )%" class="center">
				@t.Name<br />
				<div bvtemplate class="templateItem" template="@t.Id">
					<img alt="portrait" border="0" width="100" height="150" src="/Image.aspx?id=@t.ThumbID" />
				</div>
			</td>
			wrapAt--;
			if( wrapAt == 0 ) {
				wrapAt = WRAP_COUNT;
				@:</tr><tr>
			}
		}
		@for (var i = 0; i < wrapAt; i++)
		{
			<td>&nbsp;</td>
		}
		</tr>
		</table>

	</td>
	<td class="top" style="text-align:center;">
        <b>My Saved Drafts</b>
        <hr />                    		
		<table width="100%">
		    @{
                bool mine = true;
		        foreach (var t in Model.fetchDrafts())
		        {
                    if( t.OwnerID != Util.UserId && mine == true )
                    {
                        mine = false;
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td style="text-align:center;">
                                <b>Saved Drafts By Others</b>
                                <hr />                  
                            </td>
                        </tr>
                    }
		            <tr>
			            <td style="padding:3px !important;">
				            <a href="#" bvtemplate template="@t.Id">@t.Name</a>
			            </td>
		            </tr>
		        }
            }
		</table>


	</td>
</tr>
</table>