@model CmsWeb.Code.StandardExtraValues.Field
<tr>
    <td>@Model.name</td>
@switch(Model.type)
{
    case "Code":
        if (Model.nonstandard)
        {
    <td><span id="s-@Model.name.@Model.peopleid" class="clickEdit">@Model.ToString()</span></td>
        }
        else
        {
    <td><span id="s-@Model.name.@Model.peopleid" field="@Model.name" class="clickSelect @Model.name">@Model.ToString()</span></td>
        }
        break;
    case "Data":
    <td><pre id="t-@Model.name.@Model.peopleid" class="editarea" style="font-family:Verdana">@Model.ToString()</pre></td>
        break;
    case "Date":
    <td><span id="d-@Model.name.@Model.peopleid" class="clickEdit">@Model.ToString()</span></td>
        break;
    case "Int":
    <td><span id="i-@Model.name.@Model.peopleid" class="clickEdit">@Model.ToString()</span></td>
        break;
}
    <td>
    @if(Model.nonstandard)
    {
        <a href="#" class="deleteextra" field="@Model.name"><img src="/images/delete.gif" /></a>
    }
    </td>
</tr>