@using CmsData.Codes
@using UtilityExtensions
@model CmsWeb.Areas.Finance.Models.BundleModel
<table id="bundle" cellspacing="5">
    <tr>
        <th></th>
    </tr>
    <tr>
        <th>Bundle Status</th>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <th>Contribution Date</th>
        <td>@Model.Bundle.ContributionDate.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Bundle Type</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Deposit Date</th>
        <td>@Model.Bundle.DepositDate.FormatDate()</td>
    </tr>
    <tr>
        <th>Total Cash</th>
        <td>@Model.Bundle.TotalCash.ToString2("n2")</td>
    </tr>
    <tr>
        <th>Total Checks</th>
        <td>@Model.Bundle.TotalChecks.ToString2("n2")</td>
    </tr>
    <tr>
        <th>Total Coin</th>
        <td>@Model.Bundle.TotalEnvelopes.ToString2("n2")</td>
    </tr>
    <tr>
        <th>Default Fund</th>
        <td><a href="/PostBundle/FundTotals/@Model.BundleId">@Model.DefaultFund</a></td>
    </tr>
    <tr>
        <th>Total Header</th>
        <td>@Model.TotalHeader().ToString("c")</td>
    </tr>
    <tr>
        <th>Total Items</th>
        <td>@Model.TotalItems().ToString("c")</td>
    </tr>
    <tr>
        <th colspan="2">
            @if (Model.IsAdmin || Model.IsOpen)
            {
                <a id="delete" href="/Bundle/Delete/@Model.BundleId" class="bt red">Delete</a>
            }
            @if(Model.CanEdit)
            {
            <a href="/Bundle/Edit/@Model.BundleId" id="edit" class="bt displayedit">Edit Bundle Header</a>
            }
            @if (Model.IsOpen)
            {
                <a href="/PostBundle/Index/@Model.BundleId" class="bt">PostBundle/Edit</a>
            }
            <a href="/Bundles/NewBundle/" class="bt">New Bundle</a>
        </th>
    </tr>
</table>