@using CmsWeb
@model CmsWeb.Models.SearchPersonModel
    <tr>
        <td>Home Phone<span class="red">*</span></td>
        <td><input type="text" name="m.List[@Model.index].homephone" value="@Model.homephone" />
		    <span>@Html.ValidationMessage("homephone")</span>
        </td>
    </tr>
    <tr>
        <td>Address<span class="red">*</span></td>
        <td><input id="address" type="text" name="m.List[@Model.index].address" value="@Model.address" />
		    <span>@Html.ValidationMessage("address")</span>
        </td>
    </tr>
    <tr>
        <td>Address line 2<span class="white">*</span></td>
        <td><input id="address2" type="text" name="m.List[@Model.index].address2" value="@Model.address2" />
		    <span>@Html.ValidationMessage("address2")</span>
        </td>
    </tr>
    <tr>
        <td>City<span class="white">*</span></td>
        <td><input id="city" type="text" name="m.List[@Model.index].city" value="@Model.city" />
		    <span>@Html.ValidationMessage("city")</span>
        </td>
    </tr>
    <tr><td>State<span class="white">*</span></td>
        <td><input id="state" type="text" name="m.List[@Model.index].state", value="@Model.state" /> (or Province/Region)
		    <span>@Html.ValidationMessage("state")</span>
        </td>
    </tr>
    <tr>
        <td>Zip<span class="red">*</span></td>
		<td><input id="zip" type="text" name="m.List[@Model.index].zip" value="@Model.zip" />
		    <span>@Html.ValidationMessage("zip")</span>
		</td>
    </tr>
    <tr>
        <td>Country<span class="white">*</span></td>
        <td>@Html.DropDownList3("country", "m.List[" + Model.index + "].country", Model.Countries(), Model.country)</td>
    </tr>


