@using CmsWeb
@model CmsWeb.Models.SearchPersonModel
    <tr>
        <td><label for="homephone">Home Phone</label></td>
        <td><input type="text" name="m.List[@Model.index].homephone" value="@Model.homephone" /></td>
		<td>@Html.ValidationMessage("homephone")</td>
    </tr>
    <tr>
        <td><label for="address">Address</label></td>
        <td><input id="address" type="text" name="m.List[@Model.index].address" value="@Model.address" /></td>
		<td>@Html.ValidationMessage("address")</td>
    </tr>
    <tr>
        <td><label for="address2">Address line 2</label></td>
        <td><input id="address2" type="text" name="m.List[@Model.index].address2" value="@Model.address2" /></td>
		<td>@Html.ValidationMessage("address2")</td>
    </tr>
    <tr>
        <td><label for="city">City</label></td>
        <td><input id="city" type="text" name="m.List[@Model.index].city" value="@Model.city" /></td>
		<td>@Html.ValidationMessage("city")</td>
    </tr>
    <tr><td><label for="state">State/Province/Region</label></td>
        <td><input id="state" type="text" name="m.List[@Model.index].state", value="@Model.state" /></td>
		<td>@Html.ValidationMessage("state")</td>
    </tr>
    <tr>
        <td><label for="zip">Zip</label></td>
		<td><input id="zip" type="text" name="m.List[@Model.index].zip" value="@Model.zip" /></td>
		<td>@Html.ValidationMessage("zip")</td>
    </tr>
    <tr>
        <td><label for="country">Country</label></td>
        <td colspan="2">@Html.DropDownList3("country", "m.List[" + Model.index + "].country", Model.Countries(), Model.country)</td>
    </tr>


