@model CmsWeb.Models.SearchModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Helper.IncludeCss()
    <style>
        table.form > tbody > tr > td:nth-child(1) {
            text-align: right;
            white-space: nowrap;
        }
    </style>
    @Helper.IncludeJs()
    @Html.Partial("DatePickerDefaults")
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Dialog/SearchAdd.js")"></script>
</head>

<body>
    <form action="/SearchAdd/Complete/" method="post" class="DisplayEdit">
        @Html.Partial("SearchPerson", Model) 
    </form>
</body>
</html>
