@model CmsWeb.Models.SearchModel
@using System.Web.Optimization
@using CmsWeb
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @Styles.Render("~/Content/styles/css")
</head>

<body>
    @Scripts.Render("~/bundles/js")
    @Html.Partial("DatePickerDefaults")
    @Scripts.Render("~/bundles/SearchAdd-js")
<form action="/SearchAdd/Complete/" method="post" class="DisplayEdit">
 @Html.Partial("SearchPerson", Model) 
</form>
</body>
</html>
