@model CmsWeb.Models.SearchModel
<input type="hidden" name="m.type" value="@Model.type" />
<input type="hidden" name="m.typeid" value="@Model.typeid" />
<input type="hidden" name="m.from" value="@Model.from" />
<input type="hidden" name="m.name" value="@Model.name" />
<input type="hidden" name="m.dob" value="@Model.dob" />
<input type="hidden" name="m.address" value="@Model.address" />
<input type="hidden" name="m.phone" value="@Model.phone" />
<input type="hidden" name="m.CampusId" value="@Model.CampusId" />
<input type="hidden" name="m.EntryPointId" value="@Model.EntryPointId" />

<h4>Pending Selection List</h4>
<a class="helplink" target="_blank" href='@Model.HelpLink("List")'>help</a>
<table id="people" width="100%" class="grid">
<thead>
<tr class="headrow">
    <th>Name</th>
    <th>Address</th>
    <th>CityStateZip</th>
    <th>Age</th>
    <th></th>
</tr>
</thead>
<tbody>
@{CmsWeb.Models.SearchPersonModel p = null;}
@for (var n=0; n < Model.List.Count; n++ )
{
    p = Model.List[n];
    p.index = n;
    @Html.Partial("PersonDisplay", p)
    @Html.Partial("HiddenPerson", p)
}
</tbody>
</table>
<p> 
<a href="/SearchAdd/Complete/@Model.typeid" class="bt formlink default blue">Commit and Add</a>
@if(!Model.OnlyOne)
{
@:or <a href="/SearchAdd/SearchPerson/" class="bt formlink">Another Search</a>
    if (Model.CanAdd)
    { 
@:or <a href="/SearchAdd/FormAbbreviated/@p.FamilyId" class="bt formlink">Add to Last Family</a>
    } 
}
</p> 
