@model CmsWeb.Models.SearchModel
<input type="hidden" name="m.type" value="@Model.type" />
<input type="hidden" name="m.typeid" value="@Model.typeid" />
<input type="hidden" name="m.from" value="@Model.from" />
<table class="searchenter roundbox" width="100%" cellspacing="5">
    <tr>
        <td nowrap="nowrap"><b>Search for Person</b></td>
        <td align="right" valign="top">
            <a class="helplink" target="_blank" href='@Model.HelpLink("SearchPerson")'>help</a></td>
    </tr>
    <tr>
        <td align="right"><label for="name">Name</label></td>
        <td width="100%"><input id="name" type="text" name="m.name" value="@Model.name" /> Starting letters of First<space>Last or just Last</td>
    </tr>
    <tr>
        <td align="right"><label for="phone">Email/Phone</label></td>
        <td><input id="phone" type="text" name="m.phone" value="@Model.phone" /> Any part of any phone or email</td>
    </tr>
    <tr>
        <td align="right"><label for="address">Address</label></td>
        <td><input id="address" type="text" name="m.address" value="@Model.address" /> Any part of the address, city or zip</td>
    </tr>
     <tr>
        <td align="right"><label for="dob">Date of Birth</label></td>
        <td><input id="dob" type="text" name="m.dob" value="@Model.dob" class="dob" /> YYYY or MM or MM/DD or MM/DD/YY</td>
    </tr>
    <tr><td colspan="2" align="right">
<a href="/SearchAdd/Results/" class="bt formlink default">Search</a>
@if (Model.type == "family")
{ 
    <a href="/SearchAdd/FormAbbreviated/@Model.typeid" class="bt formlink" title="Use this only if you are certain the record is not already added">Skip Search, Add New</a>
}
else
{ 
    <a href="/SearchAdd/FormFull/" class="bt formlink" title="Use this only if you are certain the record is not already added">Skip Search, Add New</a>
} 
    <a href="/SearchAdd/SearchCancel/" class="bt formlink" title="@(Model.List.Count > 0 ? "back to selections" : "quit the dialog")">@(Model.List.Count > 0 ? "Go back" : "Close")</a>
    <a href="#" class="clear bt">Clear</a></td>
    </tr>
</table>
@{ 
    int n = 0;
    foreach (var p in Model.List)
    {
        p.index = n++;
        @Html.Partial("HiddenPerson", p)
    }
}
<ol id="homeTut" style="display:none">
  <li data-id="name">Name<br /><br /></li>
  <li data-id="phone">Phone<br /><br /></li>
  <li data-id="address">Address<br /><br /></li>
  <li data-id="dob" data-text="Finish">Birthday<br /><br /></li>
</ol>