@using UtilityExtensions
@model CmsData.Registration.AskCheckboxes.CheckboxItem
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li>@Html.Raw(ci.hiddenindex)
		<ul>
			<li><div class="sgfee">Description:</div> @Html.TextBoxFor(m => m.Description, new {@class = "long"})
				<a class="del" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></li>
			<li><div class="sgfee">SmallGroup:</div> @Html.TextBoxFor(m => m.SmallGroup) </li>
			<li><div class="sgfee">Fee:</div> @Html.TextBoxFor(m => m.Fee) </li>
			<li><div class="sgfee">Limit:</div> @Html.TextBoxFor(m => m.Limit) </li>
		    <li><div class="sgfee">DateTime:</div> @Html.TextBoxFor(m => m.MeetingTimeString, new { @class = "datetimepicker" })</li>
		</ul>
	</li>
}
