@using CmsWeb
@model CmsWeb.Models.OrganizationPage.ScheduleInfo
@using (var ci = Html.BeginCollectionItem("schedules")) 
{
<li>@Html.Raw(ci.hiddenindex)
    @Html.HiddenFor(m => m.Id, new { @class = "renumberMe" } )
    @Html.DropDownListFor(m => m.SchedDay, Model.DaysOfWeek())
    @Html.TextBoxFor(m => m.Time, new {style="width:5em;", @class="timepicker"})
    @Html.DropDownListFor(m => m.AttendCreditId, Model.AttendCredits())
    <a href="#" class="deleteschedule"><img src="/images/delete.gif" /></a>
</li>
}