@model CmsData.RegSettings
@using CmsWeb
@using CmsWeb.Models.OrganizationPage
@using UtilityExtensions
    <li><span class="keyword big tip" title="Registration Type
        |JoinOrganization: for a single organization registration
        |AttendMeeting: NOT WORKING YET
        |UserSelectsOrganization: good for a single registration for multiple orgs (classes)
        |UserSelectsOrganization (div style): same as above but deprecated
        |ComputeOrganizationByAge: good for recreation leagues. Uses Birthday and Gender
        |ManageSubscriptions: allows to select multiple organizations
        |OnlineGiving: creates contribution records
        |OnlinePledge: allows making pledges and checking on pledge status, increasing pledge too.">
        Registration Type:</span>
        <span>@Html.DropDownList("org.RegistrationTypeId", OrganizationModel.RegistrationTypes())</span>
    </li>
    <li><span class="keyword big tip" title="Class Filled
        |You should use this when you want your organization
        |to display the 'sorry' message
        |it will also remove an organization
        |from the available org dropdown">
        Class Filled:</span>
        <span>@Html.CheckBox("org.ClassFilled")</span>
    </li>
    <li><span class="keyword big tip" title="Registration Closed
        |You should use this when you need to manually end your registration.
        |This is the preferred way
        |instead of changing the Registration Type">
        Registration Closed:</span>
        <span>@Html.CheckBox("org.RegistrationClosed")</span>
    
    </li>
    <li><span class="keyword big tip" title="Registration Start Date
        |Your registration will become available on this date">
		Registration Start Date:</span>
		<span>@Html.TextBox("org.RegStart", Model.org.RegStart.ToString2("MM/dd/yyyy hh:mm tt"), new { @class = "datetimepicker" })</span>
    </li>
    <li><span class="keyword big tip" title="Registration End Date
        |Your registration will become unavailable on this date">
		Registration End Date:</span>
		<span>@Html.TextBox("org.RegEnd", Model.org.RegEnd.ToString2("MM/dd/yyyy hh:mm tt"), new { @class = "datetimepicker" })</span>
    </li>
    <li>
        <span class="text big tip" title="Organization Pick List
        |This is used on the master organization 
        |and will become the dropdown for 'User Chooses Organization'">
        Organization Pick List:</span>
        <div id="orgpickdiv" class="block border">
        @Html.Partial("OrgPickList2", Model)
        </div>
    </li>
    <li><span class="keyword big tip" title="Max Limit
        |This will cause the class to go into a 'class filled' state 
        |when the number of members reaches this point.">
        Max Limit:</span>
        <span>@Html.TextBox("org.Limit")</span>
    </li>
    <li> <span class="keyword big tip" title="Validate Orgs
        |A registrant must be in one of these organizations before registering.
        |Use a comma separated list of OrgIds">
        ValidateOrgs:</span> @Html.TextBox("ValidateOrgs", string.Join(",", Model.ValidateOrgs))
    </li>
    <li><div class="text big tip" title="AgeGroups
        |This will put registrant in a small group based on their age, 
        |with an optional age-based fee">
        AgeGroups:</div>
        <ul id="AgeGroups" class="sort">
        @foreach(var i in Model.AgeGroups)
        {
            @Html.EditorFor(m => i)
        }
        </ul>
        <div class="newitem"><a href="/Organization/NewAgeGroup"><img src="/images/plus1.png" /> Add Item</a></div>
    </li>
    <li><span class="keyword big tip" title="GradeOptions
        |This allows you to specify the grade being registered for">
        GradeOptions:</span> 
        <ul>
            <li><span class="keyword2">Label:</span>
            @Html.TextBox("GradeOptionsLabel", Model.GradeOptionsLabel, new { @class = "long" })
            <ul id="GradeOptions" class="sort">
            @foreach(var i in Model.GradeOptions.OrderBy(cc => cc.Id))
            {
                @Html.EditorFor(m => i)
            }
            </ul>
            <div class="newitem"><a href="/Organization/NewGradeOption"><img src="/images/plus1.png" /> Add Item</a></div>
            </li>
        </ul>
    </li>
    <li><span class="keyword big tip" title="Shell
        |Enter the name of the HTML shell for this registration 
        |(stored in Special Content)">
        Shell<text>:</text></span> @Html.TextBox("Shell", Model.Shell)
    </li>
    <li> <span class="keyword big tip" title="AllowOnlyOne
        |Does not offer the 'Add other Registrations' option">
        AllowOnlyOne:</span> @Html.CheckBox("AllowOnlyOne", Model.AllowOnlyOne)
    </li>
    <li> <span class="keyword big tip" title="AllowReRegister
        |Allows a person to be a member of Organization and register again.">
        AllowReRegister:</span> @Html.CheckBox("AllowReRegister", Model.AllowReRegister)
    </li>
    <li> <span class="keyword big tip" title="MemberOnly
        |You must be a member of the church to register">
        MemberOnly:</span> @Html.CheckBox("MemberOnly", Model.MemberOnly)
    </li>
    <li><span class="keyword big tip" title="GroupToJoin
        |Joins registrant to another organization at the same time">
        GroupToJoin:</span> @Html.TextBox("GroupToJoin", Model.GroupToJoin)
    </li>
    <li> <span class="keyword big tip" title="GiveOrgMembAccess
        |Gives the person OrgMemberOnly role when creating an account">
        GiveOrgMembAccess:</span> @Html.CheckBox("GiveOrgMembAccess", Model.GiveOrgMembAccess)
        <div><i><br />These relax requirements when checked, (good for when you need only a name and email address)</i></div>
    </li>
    <li> <span class="keyword big">NotReqDOB:</span> @Html.CheckBox("NotReqDOB", Model.NotReqDOB) </li>
    <li> <span class="keyword big">NotReqAddr:</span> @Html.CheckBox("NotReqAddr", Model.NotReqAddr) </li>
    <li> <span class="keyword big">NotReqZip:</span> @Html.CheckBox("NotReqZip", Model.NotReqZip) </li>
    <li> <span class="keyword big">NotReqPhone:</span> @Html.CheckBox("NotReqPhone", Model.NotReqPhone) </li>
    <li> <span class="keyword big">NotReqGender:</span> @Html.CheckBox("NotReqGender", Model.NotReqGender) </li>
    <li> <span class="keyword big">NotReqMarital:</span> @Html.CheckBox("NotReqMarital", Model.NotReqMarital) </li>