@model CmsData.RegSettings
@using CmsWeb
@using CmsData
@using UtilityExtensions
  <li>
    <div class="text big tip" title="Confirmation
    |This is the email that is sent as a confirmation of a successful registration.">
    Confirmation: </div>
    <ul>
      <li> <span class="keyword2">Subject:</span> @Html.TextBox("Subject", Model.Subject, new { @class = "long" }) </li>
      <li>
        <div class="text"><span class="keyword2"> Body:</span>
        @Html.EditorFor(m => m.Body, "Html")
        </div>
      </li>
    </ul>
  </li>
  <li>
    <span class="text big tip" title="Online Notify Persons
    |These are the users that will be notified when a registration occurs.
    |The top most user will be the 'sender' of the confirmation email.">
    Online Notify Persons:</span>
        @Html.Partial("NotifyList2", Model)
  </li>
@*  <li>
    <div class="text big tip" title="VoteTags
    |These will let you create votetags (votelinks) 
    |You can display these from the Organization Management menu.
    |They will not be displayed on the registration screen 
    |but are intended to be used in an email.">
    VoteTags: </div>
    <ul id=VoteTags" class="sort">
    @foreach(var i in Model.VoteTags.OrderBy(cc => cc.Id))
    {
        @Html.EditorFor(m => i);
    }
    </ul>
    <div class="newitem"><a href="/Organization/NewVoteTag"><img src="/images/plus1.png" /> Add Item</a></div>
  </li>*@
  <li>
    <span class="keyword big tip" title="Instructions
    |These are for special instructions that will show up
    |at the top of the registration in the appropriate context">
    Instructions:</span>
      <ul>
      <li>
        <span class="keyword2 tip" title="Login
        |Displays instructions on the Login page">Login:</span>
        @Html.EditorFor(m => m.InstructionLogin, "Html")
      </li>
      <li>
        <span class="keyword2 tip" title="Select
        |This is displayed when you login 
        |and are selecting a family member to be registered">
        Select:</span>
        @Html.EditorFor(m => m.InstructionSelect, "Html")
      </li>
      <li>
        <span class="keyword2 tip" title="Find
        |When you are searching for a person.
        |Either when you are not logged in, or adding a guest.">
        Find:</span>
        @Html.EditorFor(m => m.InstructionFind, "Html")
      </li>
      <li>
        <span class="keyword2 tip" title="Options
        |Allows you to further explain the questions, dropdowns, checkboxes etc.">
        Options:</span>
        @Html.EditorFor(m => m.InstructionOptions, "Html")
      </li>
      <li>
        <span class="keyword2 tip" title="Special
        |For Managed Giving, Manage Subscribtions etc.">
        Special:</span>
        @Html.EditorFor(m => m.InstructionSpecial, "Html")
      </li>
      <li class="no6">
        <span class="keyword2 tip" title="Submit
        |For when you have the choice to register another or continue the registration.">
        Submit:</span>
        @Html.EditorFor(m => m.InstructionSubmit, "Html")
      </li>
      <li class="no6"> 
        <span class="keyword2 tip" title="Sorry
        |For when the Max Limit is reached or a Class is filled.
        |Good for giving them a link to join a waiting list.">
        Sorry:</span>
        @Html.EditorFor(m => m.InstructionSorry, "Html")
        </li>
    </ul>
  </li>
  <li class="no6">
    <span class="keyword2 big tip" title="Terms
    |Some registrations like a camp, or sports team, or a trip
    |require you to agree to terms (indemnification).
    |They would have to click an 'Agree to terms' checkbox to complete the registration.
    |You could also include a link to a PDF file in the Confirmation email">
    Terms:</span>
    @Html.EditorFor(m => m.Terms, "Html")
  </li>
  <li>
    <div class="text big tip" title="Reminder
    |This is the email that is sent as a reminder for members of an event.">
    Reminder: </div>
    <ul>
      <li> <span class="keyword2">Subject:</span> @Html.TextBox("ReminderSubject", Model.ReminderSubject, new { @class = "long" }) </li>
      <li>
        <div class="text"><span class="keyword2"> Body:</span>
        @Html.EditorFor(m => m.ReminderBody, "Html")
        </div>
      </li>
    </ul>
  </li>
@*  <li><span class="keyword big tip" title="Messages for Divsion
    |Edit Online Reg Messages For Division type Registrations">
    Messages for Division:</span>
    <div class="block">
        <div><a href="/Display/OrgContent/@Model.OrgId?what=message&div=true">
            Confirmation</a></div>
        <div><a href="/Display/OrgContent/@Model.OrgId?what=instructions&div=true">
            Instructions</a></div>
        <div><a href="/Display/OrgContent/@Model.OrgId?what=terms&div=true">
            Terms</a></div>
    </div>
  </li>*@