@using UtilityExtensions
@using CmsData
@model CmsWeb.Models.PersonPage.AddressInfo
<table class="Design2" cellspacing="5">
    <tr>
        <th>Address:</th>
        <td><input type="text" name="Address1" value="@Model.Address1" />
            @Html.ValidationMessage("address1")</td>
    </tr>
    <tr>
        <th>Address2:</th>
        <td><input type="text" name="Address2" value="@Model.Address2" />
            @Html.ValidationMessage("address2")</td>
    </tr>
    <tr>
        <th>City:</th>
        <td><input type="text" name="City" value="@Model.City" />
            @Html.ValidationMessage("city")</td>
    </tr>
    <tr>
        <th>State/Province/Region:</th>
        <td><input type="text" name="State" value="@Model.State" />
            @Html.ValidationMessage("state")</td>
    </tr>
    <tr>
        <th>Zip:</th>
        <td><input type="text" name="Zip" value="@Model.Zip.FmtZip()" />
            @Html.ValidationMessage("zip")</td>
    </tr>
    <tr>
        <th>Country:</th>
        <td>@Html.DropDownList("Country", CmsWeb.Models.PersonPage.AddressInfo.Countries())</td>
    </tr>
@if (Model.person.CanUserEditAll)
{ 
    <tr>
        <th>Resident Code:</th>
        <td>@Html.DropDownList("ResCodeId", CmsWeb.Models.PersonPage.AddressInfo.ResCodes())</td>
    </tr>
    <tr>
        <th>Bad Address Flag:</th>
        <td>@Html.CheckBox("BadAddress")</td>
    </tr>
    <tr>
        <th style="vertical-align: top">Effective Dates:</th>
        <td>
            <table class="Design2">
                <tr>
                    <th>From:</th>
                    <td>@Html.TextBox("FromDt", Model.FromDt.FormatDate())</td>
                </tr>
                <tr>
                    <th>To:</th>
                    <td>@Html.TextBox("ToDt", Model.ToDt.FormatDate())</td>
                </tr>
            </table>
        </td>
    </tr>
} 
    <tr>
        <th>Preferred Address</th>
        <td>@Html.CheckBox("Preferred", Model.Preferred, Model.Preferred ? new { disabled = "disabled" } : null)</td>
    </tr>
    <tr><td class="right" colspan="2">
            <a class="displayedit bt" href="/Person/AddressDisplay/@Model.PeopleId?type=@Model.Name">Cancel</a>
            <a href="/Person/AddressUpdate/@Model.PeopleId?type=@Model.Name" class="submitbutton bt blue">Save Changes</a>
            <div>@Html.ValidationMessage("error")</div>
            </td></tr>
</table>

