@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.AddressInfo
<div id="addressDialog" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button" aria-hidden="true"></button>
        <h3>@Model.Display</h3>
    </div>
    <div class="modal-body">
        <form id="addressForm" class="form-horizontal onecol">
            <fieldset class="display">
                @Html.Hidden("type", Model.Name)
                @Html.EditorFor(m => m.Address1)
                @Html.EditorFor(m => m.Address2)
                @Html.EditorFor(m => m.City)
                @Html.EditorFor(m => m.State)
                @Html.EditorFor(m => m.Country)
                @Html.EditorFor(m => m.Zip)
                @Html.EditorFor(m => m.ResCode)
                @Html.EditorFor(m => m.FromDt)
                @Html.EditorFor(m => m.ToDt)
                @Html.EditorFor(m => m.Preferred)
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div id="addressFormAlertBox"></div>
        <button class="btn" data-dismiss="modal">Close</button>
        <button id="saveAddress" data-action="/Person2/AddressUpdate/@Model.PeopleId" class="btn btn-primary">Save changes</button>
    </div>
</div>
