@using CmsWeb
@model CmsWeb.Areas.Main.Models.Report.ChurchAttendance2Model
@{
    Layout = "/Views/Shared/Reports.cshtml";
    ViewBag.Title = "AvgChurchAttendanceReport";
}
@section head {
    <style type="text/css">
        body
        {
            font-size: 100%;
        }
        .totalrow td
        {
            border-top: 2px solid black;
            font-weight: bold;
            text-align: right;
        }
        .headerrow th
        {
            border-bottom: 2px solid black;
            text-align: center;
        }
        input#SundayDate
        {
            width: 100px;
            font-size: 100%;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $(".datepicker").datepicker();
        });
    </script>
}
    <div style="text-align: center">
        <h1>
            Church Attendance</h1>
        <form action="/Reports/ChurchAttendance2/" method = "post">
        Start Date:
        @Html.DatePicker("Dt1") End Date: @Html.DatePicker("Dt2")<br />
        Skip Dates (optional, comma separated sundays): @Html.TextBox("skipweeks")
        <input type="submit" class="bt" name="Submit" value="Run" />
        </form> 
       <hr />
@foreach (var p in Model.FetchInfo())
{ 
        <div>
        <table cellpadding="2" style="margin-left:auto;margin-right:auto;">
        <thead>
           <tr>
               <th colspan="@(p.Cols.Count+4)">@p.Name</th>
           </tr>
           <tr>
                <th colspan="@p.Cols.Count+2"></th>
           </tr>
           <tr class="headerrow">
               <td></td>
    @foreach (var c in p.Cols)
    { 
               <th>@c.Heading</th>
    } 
               <th>Average</th>
               <th>Count</th>
               <th>Weeks</th>
           </tr>
        </thead>
    @foreach (var d in p.Divs)
    { 
           <tr>
           <td class="left">@d.Name</td>
        @foreach (var c in p.Cols)
        {
            var a = d.Column(c);
           <td class="right" title='@a.totalpeople / @a.totalmeetings'>@a.avg.ToString("n0")</td>
        }
        @{var ta = d.Total();}
           <td class="right" title='@ta.totalpeople / @ta.totalmeetings'>@ta.avg.ToString("n0")</td>
           <td class="right">@ta.totalpeople.ToString("n0")</td>
           <td class="right">@ta.totalmeetings.ToString("n0")</td>
           </tr>
    } 
           <tr class="totalrow">
           <td class="left">Total</td>
    @foreach (var c in p.Cols)
    {
        var a = p.Column(c);
           <td title='@a.totalpeople / @a.totalmeetings'>@a.avg.ToString("n0")</td>
    }
    @{ var tta = p.Total(); }
           <td title='@tta.totalpeople / @tta.totalmeetings'>@tta.avg.ToString("n0")</td>
           <td>@tta.totalpeople.ToString("n0")</td>
           <td>@tta.totalmeetings.ToString("n0")</td>
           </tr>
        </table>
        </div>
        <div>&nbsp;</div>
}
    </div>


