@model System.Data.SqlClient.SqlDataReader
@using CmsData
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "ExtraValuesGrid";
    var target = Util2.TargetLinkPeople ? "target='people'" : "";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Fingerprint.Css("/content/css/new2css.css")
    @Fingerprint.Css("/content/css/main.css")
    <link href="/Content/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/css/demo_page.css" rel="stylesheet" />
    <link href="~/Content/css/demo_table.css" rel="stylesheet" />
    <style>
        tbody tr:hover td {
            background-color: inherit !important;
        }

        tr td {
            white-space: nowrap;
        }

        body {
            padding-top: 0;
        }

        .FixedHeader_Cloned th {
            background-color: white;
        }

        th, td {
            height: 30px;
        }

        .edit-inline:after {
            content: none;
        }

        div.FixedHeader_Left {
            padding-top: 6px;
        }

        .left_cell {
            background-color: white !important;
            border-right: 1px solid black !important;
            text-align: center;
        }

        .right_cell {
            background-color: white !important;
            border-left: 1px solid black;
            text-align: center;
        }

        #info {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 300px;
            background-color: white;
            border: 1px solid blue;
            z-index: 50;
            padding: 20px;
        }
    </style>
    @Helper.IncludeJs2()
    @Html.Partial("DatePickerDefaults2")
    <script src="/Scripts/jQuery/jquery.dataTables.js"></script>
    <script src="/Scripts/jQuery/FixedHeader.js"></script>
    <script src="/Scripts/jQuery/jquery.jeditable.js"></script>
    <script src="/Scripts/js/ExtraValuesGrid2.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <h2>ExtraValuesGrid</h2>
            <div id="scroller">
                <table id="extragrid" class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            @for (var c = 1; c < Model.FieldCount; c++)
                            {
                                <th><a href="/Reports/ExtraValuesGrid2/@(ViewBag.queryid + "?sort=" + Model.GetName(c))">@Model.GetName(c)</a></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @while (Model.Read())
                        {
                            <tr>
                                <td><a class="target" href="/Person/Index/@Model.GetValue(0)" @target>@Model.GetValue(1)</a></td>
                                @for (var c = 2; c < Model.FieldCount; c++)
                                {
                                    var v = Model.GetValue(c).ToString();
                                    <td id="@Model.GetName(c)~~@Model.GetValue(0)">
                                        @(v.HasValue() ? Html.Raw(v) : Html.Raw("&nbsp;"))
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <img src="/images/ajax-loader.gif" id="loading-indicator" style="display: none" />
        </div>
    </div>
</body>
</html>
