@model CmsWeb.Areas.Main.Models.Report.MeetingsModel
@using UtilityExtensions
@using CmsWeb
@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Meeting/meetings.js")"></script>
}
<h2>Meetings</h2>
<form id="meetingsform" action="/Reports/Meetings" method="POST">
    Meeting Dates:
    @if (!Model.FromWeekAtAGlance)
    {
        @:Start: <input type = "text" id = "Dt1" name = "Dt1" value="@Model.Dt1.ToString2("g")" style = "width: 200px; font-size: 110%" class="datepicker" />
        @:End: <input type = "text" id = "Dt2" name = "Dt2" value="@Model.Dt2.ToString2("g")" style = "width: 200px; font-size: 110%" class="datepicker" />
    }
    else
    {
        @:Start: @Model.Dt1.FormatDateTm()
        @:End: @Model.Dt2.FormatDateTm()
        @Html.HiddenFor(m => m.Dt1)
        @Html.HiddenFor(m => m.Dt2)
    }
    No Zero Meetings: @Html.CheckBox("NoZero")
    @Html.HiddenFor(m => m.FromWeekAtAGlance)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.StatusId)
    @Html.HiddenFor(m => m.ProgramId)
    @Html.HiddenFor(m => m.DivisionId)
    @Html.HiddenFor(m => m.ScheduleId)
    @Html.HiddenFor(m => m.CampusId)
    @Html.HiddenFor(m => m.OnlineReg)
    @Html.HiddenFor(m => m.MainFellowship)
    @Html.HiddenFor(m => m.Sort)
    @Html.HiddenFor(m => m.Direction)
</form>
<hr />
<table class="grid" cellspacing="3">
    <thead>
        <tr>
            <th> <a href="#" class="sortable">Time</a> </th>
            <th> <a href="#" class="sortable">Attended</a> </th>
            <th> </th>
            <th> <a href="#" class="sortable">Division</a> </th>
            <th> <a href="#" class="sortable">Organization</a> </th>
            <th> <a href="#" class="sortable">Leader</a> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var m in Model.MeetingsForDate())
{
        <tr style="background-color: @(m.Inactive?"#eee":"#fff")">
        @if (!m.MeetingId.HasValue)
        {
            <td colspan="2">(no meeting)</td>
        }
        else
        {
            <td><a href="/Meeting/Index/@m.MeetingId">@m.Time.ToString2("h:mm tt")</a></td>
            <td class="right">@m.Attended</td>
        }
            <td class="right">@(m.OtherAttends > 0 ? "*" : "")</td>
            <td> <span title="@m.Program">@m.Division</span> </td>
            <td> <a title="@m.Tracking" href="/Organization/Index/@m.OrganizationId">@m.Organization</a> </td>
            <td>@m.Leader</td>
            <td>@m.Description</td>
        </tr>
}
    </tbody>
    <tfoot>
    <tr><td colspan="7"><hr /></td></tr>
        <tr>
            <td class="right">Total Meetings</td>
            <td class="right">@Model.MeetingsCount.ToString("N0")</td>
            <td colspan="4"> </td>
        </tr>
        <tr>
            <td class="right"> Total Attends </td>
            <td class="right">@Model.TotalAttends.ToString("N0")</td>
            <td colspan="4"> </td>
        </tr>
        <tr>
            <td class="right"> Other Attends </td>
            <td class="right">@Model.OtherAttends.ToString("N0")</td>
            <td>*</td>
            <td colspan="3"> </td>
        </tr>
        <tr>
            <td class="right"> Total People </td>
            <td class="right">@Model.TotalPeople.ToString("N0")</td>
            <td colspan="4"> </td>
        </tr>
    </tfoot>
</table>
