@model CmsWeb.Models.VolunteerCommitmentsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Volunteer Calendar";
}
@section head
{
<style type="text/css">
#container { margin: 3em auto  0 3em; padding-bottom: 3em; background-color: #fff; }
#month { border-collapse: collapse; margin-left: 2em; }
#month th, #month td { border: 1px solid #000; }
#month thead { background-color:#9c9; }
#month td { min-width: 7em; padding: .2em; vertical-align: top; overflow: auto; }
#month td .day { min-width: 7em; min-height: 3em; margin-top: .5em; }
#month thead th { font: 150% bold Arial, Helvetica, sans-serif; padding: .2em; }
</style>
}
@section scripts
{
<script language="javascript">
    $(function() {
        $(".reminder").click(function(ev) {
            ev.preventDefault();
            window.location = "/Volunteers/EmailReminders/" + $(this).attr("mid");
        });
    });
</script>
}

<h2>Volunteer Calendar for @Model.OrgName</h2>



<table id="month">
	<thead>
		<tr>
			<th>Week</th>
@foreach (var t in Model.times)
{ 
            <th>@t</th>
}
        </tr>
    </thead>
    <tbody>
@foreach (var w in Model.weeks)
{ 
        <tr>
            <td valign="top"><span class="date">@w</span><div class="day"></div></td>
    @foreach (var t in Model.times)
    {
        var cell = Model.details.FirstOrDefault(c => c.Sunday == w && c.DayHour == t);
            <td>
        @if (cell != null)
        {
                <span class="date"><a href="#" class="reminder" mid="@cell.MeetingId">Email Reminders(@cell.Persons.Count())</a></span><br />
                <span class="date"><a href="/Reports/Rollsheet/?meetingid=@cell.MeetingId">Rollsheet Report</a></span>
                <div class="day"><p>
            @foreach (var p in cell.Persons)
            { 
                <a href="/Person/Index/@p.PeopleId">@p.Name</a><br />
            }
                </p></div>
        } 
            </td>
    } 
        </tr>
}
    </tbody>
</table>