@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.VolunteerCommitmentsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Volunteer Calendar";
    const string DayHourFmt = "ddd h:mm tt";
}
@section head
{
<style type="text/css">
#container { margin: 3em auto  0 3em; padding-bottom: 3em; background-color: #fff; }
#month { border-collapse: collapse; margin-left: 2em; }
#month th, #month td { border: 1px solid #000; }
#month thead { background-color:#9c9; }
#month td { min-width: 7em; padding: .2em; vertical-align: top; overflow: auto; }
#month td .day { min-width: 7em; min-height: 3em; margin-top: .5em; }
#month thead th { font: 150% bold Arial, Helvetica, sans-serif; padding: .2em; }
.wk-1 { background-color: #B1ECB1; }
.wk-2 { background-color: #E0E0FF; } 
.wk-3 { background-color: #FFE1E1; }
.wk-4 { background-color: #FFFFDB; }
.wk-5 { background-color: #E1E1E1; }
.drag { cursor: move; color:Blue; }
</style>
}
@section scripts
{
@Html.Script("/Scripts/Calendar.js")
}

@Html.Hidden("OrgId", Model.OrgId)
@Html.Hidden("SortByWeek", Model.SortByWeek)
<h2>Volunteer Calendar for <a href="/Organization/Index/@Model.OrgId">@Model.OrgName</a></h2>
<table id="month" class="floatleft" style="margin-right:2em">
	<thead>
		<tr>
			<th>Week</th>
@foreach (var t in Model.times)
{ 
            <th>@t.ToString(DayHourFmt)</th>
}
        </tr>
    </thead>
    <tbody>
@for (var wk = 1; wk <= 5; wk++)
{
    <tr>
        <td align="center">Week @wk</td>
    @foreach (var t in Model.times)
    {
        <td><div class="drop day" week="@wk" time="@t">Drop here</div></td>
    }
    </tr>
}
    <thead>
        <tr>
            <th> <a id="SortIt" href="#">@(Model.SortByWeek ? "Sort by Date" : "Sort by Week #")</a> </th>
@foreach (var t in Model.times)
{ 
            <th>@t.ToString(DayHourFmt)</th>
}
        </tr>
    </thead>
@foreach (var w in Model.FetchSlotWeeks())
{ 
        <tr class="wk-@w[0].Week">
            <td valign="top" align="center">
                <p><span class="date">@w[0].Sunday.ToShortDateString()<br />
                    Week @w[0].Week</span>
                </p><div class="day"></div></td>
    @foreach (var t in w)
    {
            <td>
        @if (t.MeetingId > 0)
        {
                <p class="date"><a href="/Reports/Rollsheet/?meetingid=@t.MeetingId" target="_blank">Rollsheet Report (@t.Persons.Count/@t.Limit)</a></p>
                <div class="day"><p>
            @foreach (var p in t.Persons)
            {
                if (Model.IsLeader)
                {
                <a href="/OnlineReg/ManageVolunteer/@Model.OrgId/@p.PeopleId" pid="@p.PeopleId" mid="@t.MeetingId" class="drag" target="managevolunteer">@p.Name</a><br />
                }
                else
                {
                <a href="/Person/Index/@p.PeopleId">@p.Name</a><br />
                }
            }
                </p></div>
        }
            </td>
    } 
        </tr>
}
    </tbody>
</table>
<div class="floatleft">
    <p><a id="sendreminders" class="bt" href="/Organization/Reminders/@Model.OrgId">Email Reminders</a> </p>
    <p>Small Group Filters<br />
        @Html.DropDownList("sg1", Model.SmallGroups(), new { @class="smallgroup" })<br />
        @Html.DropDownList("sg2", Model.SmallGroups(), new { @class="smallgroup" })
    </p>
    <div class="drop day" week="0" time="1-1-1000" style="padding:5px;height:2em;border:2px solid black;">Drop here to remove all commitments</div>
    <p><em>Drag items in blue below onto drop targets</em></p>
    <h3 class="drag" pid="all">Volunteers</h3>
@{
    var vlist = Model.Volunteers();
    <div class="volunteers">
    <h3 class="drag" pid="commits">With Commitments</h3>
    @foreach (var v in vlist.Where(vv => vv.commits > 0))
    {
    <p><span class="drag" pid="@v.PeopleId">@v.Name (@v.commits)</span> <a href="/OnlineReg/ManageVolunteer/@v.OrgId/@v.PeopleId" target="committments">registration page</a></p>
    }
    <h3 class="drag" pid="nocommits">With No Commitments</h3>
    @foreach (var v in vlist.Where(vv => vv.commits == 0))
    {
    <p><span class="drag" pid="@v.PeopleId">@v.Name (@v.commits)</span> <a href="/OnlineReg/ManageVolunteer/@v.OrgId/@v.PeopleId" target="committments">registration page</a></p>
    }
    </div>
}
</div>
<div class="floatclear">
</div>